$color__blue--dark: #186697;
$color__blue--light: #92bfec;
$color__blue: #2980ba;
$color__green--dark: #249b56;
$color__green: #27ae60;
$color__indigo: #34495e;
$color__neon-green: #01cf6b;
$color__orange: #ec8101;
$color__orange--dark: #c86d00;
$color__pale-yellow--dark: #e2dcbb;
$color__pale-yellow: #fcf8e3;
$color__pale-red--dark: #d48c84;
$color__pale-red: #ecc6c3;
$color__purple: #7f33a0;
$color__red--dark: #94261a;
$color__red: #c0392b;
$color__yellow: #ccaa00;

$color__white: #fff;
$color__black: #000;

$color__black--100: #f3f3f3;
$color__black--200: #dcdee0;
$color__black--300: #b6b8bb;
$color__black--400: #949597;
$color__black--500: #6f6e6e;
$color__black--600: #424242;
$color__black--700: #2c2d2e;
$color__black--800: #191a1b;
$color__black--900: #121315;

$color__theme--blue: #5382b1;
$color__theme--light: #ebedef;
$color__theme--yellow: $color__yellow;
$color__theme--green: $color__green;
