$color__pale-yellow--dark: #e2dcbb; // not sure
$color__pale-yellow: #fcf8e3; // not sure

// HDS Primary Palette
$color__carbon-black: #000000;
$color__spacesuit-white: #FFFFFF;
$color__nasa-red: #F64137;
$color__nasa-blue: #1C67E3;

// HDS Extended Palette
$color__nasa-red--tint: #FF5C52;
$color__nasa-red--shade: #B60109;
$color__nasa-blue--tint: #288BFF;
$color__nasa-blue--shade: #0B3D91;

// Neutrals 
$color__carbon--90: #17171B;
$color__carbon--80: #2E2E32;
$color__carbon--70: #444447;
$color__carbon--60: #58585B; // Text on white.
$color__carbon--50: #77777A;
$color__carbon--40: #959599;
$color__carbon--30: #B9B9BB;
$color__carbon--20: #D1D1D1;
$color__carbon--10: #E3E3E3;
$color__carbon--5: #F6F6F6;

// Additional Colors
$color__international-orange: #EA6F24;
$color__active-green: #47DA84;
