$color__brand--blue-light: #92bfec;
$color__brand--blue: #2980BA;
$color__brand--blue-dark: #315880;

$color__white: #fff;
$color__black: #000;

$color__black--100: #f5f5f7;
$color__black--200: #dcdee0;
$color__black--300: #b6b8bb;
$color__black--400: #949597;
$color__black--500: #6f6e6e;
$color__black--600: #424242;
$color__black--700: #2c2d2e;
$color__black--800: #191a1b;
$color__black--900: #121315;

$color__green--500: #30AB62;
