<template id="tmpl_master-overlay-panel">
  <section class="master-overlay-panel" data-bind="componentMasterOverlayPanel: true">
    <!-- ko template: { nodes: $componentTemplateNodes } --><!-- /ko -->
  </section>
</template>
