.collection-details-data-center {
  flex: 0 0 320px;
  flex: 0 0 calc(100% - .5rem);
  margin: 0px $spacer $spacer 0;
  font-size: 0.825rem;
  border: 1px solid $color__black--200;
  background-color: $color__black--100;

  .panels--sm & {
    flex: 0 0 calc(50% - .5rem);
  }

  &:nth-of-type(even) {
    margin-right: 0;
  }

  &__title {
    margin-bottom: 0.3125rem;
    font-size: 1em;
  }

  &__badge {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3125rem;
    margin-bottom: 0.3125rem;
  }

  &__description {
    margin-bottom: 0.3125rem;
  }

  &__email {
    display: block;
    margin-bottom: 0.3125rem;
  }

  &__contact {
    margin-bottom: 0;

    dt {
      display: inline-block;
      width: 40%;
      font-size: 0.75rem;
      font-weight: 700;
    }

    dd {
      display: inline-block;
      width: 60%;
      margin-bottom: 0;
      padding-left: $spacer/2;
    }
  }
}