.collection-details-header {
  &__primary {
    padding: 0.5rem 1rem;
  }

  &__title {
    display: inline;
    margin-right: 0.75rem;
    font-weight: 700;
    font-size: 1rem;
    vertical-align: middle;
  }

  &__title-link {
    position: relative;
    display: inline;
    white-space: nowrap;
    font-size: 0.875rem;
    vertical-align: middle;
  }

  &__short-name {
    font-size: 0.625rem;
    margin-right: $spacer/2;

    .panels--sm & {
      font-size: 0.6875rem;
    }
  }

  &__version-id {
    font-size: 0.625rem;
    background-color: $color__purple;

    .panels--sm & {
      font-size: 0.6875rem;
    }
  }
}
