@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.related-urls-modal {
  &__group {
    margin-bottom: bootstrap.$spacer*1.5;
  }

  &__group-title {
    padding-bottom: calc(bootstrap.$spacer / 2);
    font-size: 1rem;
    border-bottom: 1px solid utils.$color__carbon--20;
  }

  &__url {
    margin: 0;
    margin-bottom: calc(bootstrap.$spacer / 2);
    padding: 0;
    list-style: none;
  }

  &__link {
    word-break: break-all;
  }
}
