.variable-instance-information {
    &__direct-distribution-information-list {
      list-style-type: none;
      padding-left: .5rem;
    }

    &__list-item {
      overflow-y: hidden;
      list-style-position: inside;
      margin-left: 10px;
    }

    &__definition-list-container{
      margin-left: 1rem;
    }
    
    &__instance-field-title {
      font-weight: bold;  
      display:inline;
    }

    &__instance-field-list-title {
      font-weight: bold;
      display:inline;
      &:before {
        content: "• "
      }
    }

    &__instance-field{
      overflow: hidden;
    }
}
