.access-method-radio {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
  border: 1px solid $color__black--200;
  border-radius: 0.125rem;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
  color: $color__black--700;

  &--is-selected {
    box-shadow: 0 0.125rem 0.25rem 0.125rem rgba($color__black, 0.1);
    border: 1px solid darken($color__black--200, 10);
    background-color: $color__black--100;
    color: $color__black--800;
  }

  &__input {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  &__radio {
    position: absolute;
    top: $spacer;
    left: $spacer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    border: 1px solid $color__black--300;
    background-color: $color__white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    .access-method-radio--is-selected & {
      border: 1px solid $color__blue--dark;
      background-color: $color__blue;
    }
  }

  &__radio-icon {
    color: $color__white;
    width: 0.625rem;
    height: 0.625rem;
  }

  &__content {
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 0.8125*$spacer;
    margin-bottom: 0.875*$spacer;
    margin-right: $spacer;
    margin-left: 2.5*$spacer;
  }

  &__header-primary {
    vertical-align: baseline;
    margin-bottom: 0.25rem;
  }

  &__header-secondary {
    margin-bottom: 0.325rem;
  }

  &__header-tertiary {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: $color__black--700;
    font-size: 0.875rem;

    .access-method-radio--is-selected & {
      color: $color__black--800;
    }
  }

  &__subtitle {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    color: $color__black--500;
    font-size: 0.825rem;
  }

  &__description {
    margin: 0;
    padding: 0;
    font-size: 0.825rem;
  }


  &__more-info-button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 0.75rem;
    color: $color__black--500;
    background-color: transparent;

    &:hover {
      border: 0;
      color: $color__black--700;
    }

    &:focus {
      border: 0;
    }
  }

  &__more-info {
    flex: 1 100%;
    height: 0;
    border-top: 1px solid transparent;

    .access-method-radio__details,
    .access-method-radio__service-name {
      position: absolute;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      transition-delay: 0.1s;
    }
  }

  &__more-info-view-enter {
    display: block;
    margin: 0.75*$spacer;
    margin-top: 0.5*$spacer;
    visibility: hidden;
    height: 0;
    border-top: 1px solid $color__black--200;

    .access-method-radio__details,
    .access-method-radio__service-name {
      opacity: 1;
      position: relative;
    }
  }

  &__more-info-view-enter-active {
    padding: 1rem;
    height: auto;
    visibility: hidden;
    border-top: 1px solid $color__black--200;

    .access-method-radio__details,
    .access-method-radio__service-name {
      position: relative;
    }
  }

  &__more-info-view-enter-done {
    padding: 1rem;
    height: auto;
    visibility: visible;
    border-top: 1px solid $color__black--200;
    background: rgba($color__black, 0.05);

    .access-method-radio__details,
    .access-method-radio__service-name {
      opacity: 1;
      position: relative;
    }
  }

  &__more-info-view-exit {
    height: auto;
    visibility: hidden;
  }

  &__more-info-view-exit-active {
    transition: opacity 200ms;
    height: 0;
  }

  &__more-info-view-exit-done {
    height: 0;
    visibility: hidden;
  }

  &__details {
    display: block;
    font-size: 0.825rem;
  }

  &__service-name {
    display: block;
    margin-top: 0.75rem;
    font-size: 0.825rem;
  }
}