.access-method-radio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row;
  width: 100%;
  border: 1px solid $color__black--200;
  border-radius: 0.125rem;
  vertical-align: middle;
  transition: all 0.2s ease-in-out;
  color: $color__black--700;

  &--is-selected {
    box-shadow: 0 0.125rem 0.25rem 0.125rem rgba($color__black, 0.1);
    border: 1px solid darken($color__black--200, 10);
    background-color: $color__black--100;
    color: $color__black--800;
  }

  &--isHarmony {
    margin-bottom: 0;
    border-radius: 0;
  }

  &__input {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  &__radio {
    display: flex;
    margin-left: $spacer;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 0;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    border: 1px solid $color__black--300;
    background-color: $color__white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    .access-method-radio--is-selected & {
      border: 1px solid $color__blue--dark;
      background-color: $color__blue;
    }
  }

  &__radio-icon {
    color: $color__white;
    width: 0.625rem;
    height: 0.625rem;
  }

  &__content {
    display: inherit;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 0.8125*$spacer;
    margin-bottom: 0.875*$spacer;
    margin-right: $spacer;
    margin-left: $spacer;
    overflow: hidden;
  }

  &__header-primary {
    vertical-align: baseline;
    margin-bottom: 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  &__header-secondary {
    position: relative;
    top: -0.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color__black--200;
    color: $color__black--900;
    border-radius: 1rem;
    font-size: 0.625rem;
    font-weight: 700;
    margin-left: 1rem;
    padding: 0.075rem 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__header-content {
    margin-bottom: 0.325rem;
    max-width: 440px;
  }

  &__header-tertiary {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: $color__black--700;
    font-size: 0.875rem;

    .access-method-radio--is-selected & {
      color: $color__black--800;
    }
  }

  &__subtitle {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 0.5rem;
    color: $color__black--500;
    font-size: 0.825rem;
  }

  &__primary-titles {
    display: flex;
    align-items: baseline;
    flex-grow: 1;
  }

  &__description {
    margin: 0;
    padding: 0;
    font-size: 0.825rem;
  }

  &__service-name {
    display: block;
    font-size: 0.825rem;
    word-break: break-all;
  }
}
