@use '../../../../css/utils';

.legend-control {
  position: absolute;
  z-index: 10;
  right: 0.75rem;
  color: utils.$color__spacesuit-white;
  background-color: utils.$color__carbon--70;
  border: none;
  background-color: transparent;
  top: 52px;
  z-index: 100;
}
