.master-overlay-panel {
  align-self: flex-end;
  margin-top: auto;
  position: relative;
  width: 100%;
  height: 300px;
  z-index: 2;
  background: $color__white;

  &__tab {
    position: absolute;
    bottom: 100%;
    left: 0;
    background: $color__white;
  }

  &__tab-content {
    padding: 0.75rem 1rem;
  }

  &__tab-handle {
    position: absolute;
    top: 0;
    height: 10px;
    width: 100%;
    background: $color__white url('~Images/drag.png') no-repeat center 5px;
    cursor: row-resize;
  }

  &__tab-heading {
    display: inline-block;
    margin: 0;
    font-size: 1.1875rem;
    font-weight: 700;
    vertical-align: middle;
  }

  &__tab-toggle {
    margin: 0 $spacer/2;
    padding: 0;
    display: inline-block;
    color: $color__black--300;
    line-height: 1rem;
    font-size: 1.125rem;
    vertical-align: middle;

    &:hover {
      color: $color__black--400;
    }
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
  }

  &__header {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    border-bottom: 1px solid $border-color;
  }

  &__header-content {
    flex-grow: 1;
    padding: $spacer $spacer*1.25;
  }

  &__header-actions {
    flex-shrink: 0;
    width: 28%;
    padding: $spacer $spacer*1.25;
    border-left: 1px solid #e3e3e3;
    box-shadow: inset 10px 0px 15px -6px rgba(0,0,0,0.05);
  }

  &__body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    & > * {
      height: 100%;
      flex-grow: 1;
    }
  }
}
