# These values shouldn't need to change for local development, and are not being used for
# any secret values, so they do not need to be git ignored

AWS_REGION=us-east-1
IMAGE_CACHE_EXPIRE_SECONDS=84000
GEOCODE_CACHE_EXPIRE_SECONDS=2592000
GENERATE_NOTEBOOKS_BUCKET_NAME=earthdata-search-dev-generate-notebooks
NODE_ENV=development

USE_CACHE=false
USE_GEOCODER=false
USE_NLP_SEARCH=false
SKIP_SQS=true

# Change these values to enable geocoder and NLP search functionality for local development
AWS_ACCESS_KEY_ID=CHANGE-ME
AWS_SECRET_ACCESS_KEY=CHANGE-ME
