{
  // Let eslint know were working as a browser to allow the standard globals (document, window, etc.)
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  // Use AirBnb settings as a base
  "extends": [
    "@edsc"
  ],
  "rules": {
    // Allowing cyclic dependencies
    "import/no-cycle": "off",
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "^@edsc/earthdata-react-icons/.+"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.test.js"
      ],
      "rules": {
        "import/first": 0
      }
    },
    {
      "files": [
        "serverless/src/**/*"
      ],
      "rules": {
        "import/prefer-default-export": 0
      }
    },
    {
      "files": [
        "tests/**/*.js",
        "serverless/**/*",
        "static/src/js/components/**/[^_]*/*.jsx",
        "static/src/js/**/*.js"
      ],
      "rules": {
        "testing-library/await-async-events": "off",
        "testing-library/await-async-queries": "off",
        "testing-library/await-async-utils": "off",
        "testing-library/consistent-data-testid": "off",
        "testing-library/no-await-sync-events": "off",
        "testing-library/no-await-sync-queries": "off",
        "testing-library/no-container": "off",
        "testing-library/no-debugging-utils": "off",
        "testing-library/no-dom-import": "off",
        "testing-library/no-global-regexp-flag-in-query": "off",
        "testing-library/no-manual-cleanup": "off",
        "testing-library/no-node-access": "off",
        "testing-library/no-promise-in-fire-event": "off",
        "testing-library/no-render-in-lifecycle": "off",
        "testing-library/no-unnecessary-act": "off",
        "testing-library/no-wait-for-multiple-assertions": "off",
        "testing-library/no-wait-for-side-effects": "off",
        "testing-library/no-wait-for-snapshot": "off",
        "testing-library/prefer-explicit-assert": "off",
        "testing-library/prefer-find-by": "off",
        "testing-library/prefer-implicit-assert": "off",
        "testing-library/prefer-presence-queries": "off",
        "testing-library/prefer-query-by-disappearance": "off",
        "testing-library/prefer-query-matchers": "off",
        "testing-library/prefer-screen-queries": "off",
        "testing-library/prefer-user-event": "off",
        "testing-library/render-result-naming-convention": "off"
      }
    }
  ],
  // Define version settings
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.12.0"
    }
  }
}
