{
  // Let eslint know were working as a browser to allow the standard globals (document, window, etc.)
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "cypress/globals": true
  },
  "rules": {
    // Allowing cyclic dependancies
    "import/no-cycle": "off"
  },

  "overrides": [
    {
      "files": [
        "*.test.js"
      ],
      "rules": {
        "import/first": 0
      }
    },
    {
      "files": [
        "serverless/src/**/*"
      ],
      "rules": {
        "import/prefer-default-export": 0
      }
    }
  ],

  // Use AirBnb settings as a base
  "extends": [
    "@edsc"
  ],

  // Define version settings
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.12.0"
    }
  }
}
