[submodule "edsc/timeline"]
	path = edsc/timeline
	url = https://github.com/nasa/edsc-timeline.git
[submodule "edsc/echoforms"]
	path = edsc/echoforms
	url = https://github.com/nasa/edsc-echoforms.git
