# Project build files
.esbuild
.dockerignore
.DS_Store
.serverless
coverage
dist
Dockerfile
node_modules
secret.config.json
tmp

# VSCode Settings
.vscode

overrideStatic.config.json
.nyc_output

/test-results/
/playwright-report/
/playwright/.cache/
playwright-coverage
/test-results/
/playwright-report/
/playwright/.cache/
portals/availablePortals.json

elasticmq.conf

*bundle-size*
