# Project build files
.dockerignore
.DS_Store
.serverless
coverage
dist
Dockerfile
node_modules
secret.config.json
tmp

# VSCode Settings
.vscode

cypress/screenshots
cypress/videos
overrideStatic.config.json
cypress-coverage
.nyc_output
