language: ruby
dist: trusty
cache:
  bundler: true
  directories:
    - node_modules
sudo: required
# Uncomment to have screenshots dumped to S3
# You will need to provide S3 information to travis as we do not have one for EDSC
addons:
  artifacts:
    debug: true
    paths:
      - capybara
    target_paths: $TRAVIS_BUILD_NUMBER
    working_dir: tmp/
    bucket: $ARTIFACTS_BUCKET
    s3_region: us-east-1
  chrome: stable

# https://blog.travis-ci.com/2017-08-29-trusty-image-updates
# group: deprecated-2017Q3
# before_install:
#   - sudo apt-get install qt5-default libqt5webkit5-dev qtdeclarative5-dev gstreamer1.0-plugins-base gstreamer1.0-tools gstreamer1.0-x
#   - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#   - qmake -version
before_install:
  - # start your web application and listen on `localhost`
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

script:
  - bundle exec bin/setup_travis
  - bundle exec rake travis:ci
env:
  global:
    - CI_NODE_TOTAL=9
  matrix:
    - CI_NODE_INDEX=0
    - CI_NODE_INDEX=1
    - CI_NODE_INDEX=2
    - CI_NODE_INDEX=3
    - CI_NODE_INDEX=4
    - CI_NODE_INDEX=5
    - CI_NODE_INDEX=6
    - CI_NODE_INDEX=7
    - CI_NODE_INDEX=8
    - JASMINE=true
branches:
  only: # Only build master and e2e-services. All pull requests also get built
    - master
    - e2e-services
deploy:
  provider: script
  script: bin/ecc-sync
  on:
    branch: master
    repo: nasa/earthdata-search
