{
  "environment": {
    "development": {
      "dbUsername": "",
      "dbPassword": ""
    },
    "production": {}
  },
  "earthdata": {
    "sit": {
      "clientId": "URS_CLIENT_ID",
      "password": "URS_PASSWORD",
      "secret": "JWT_SIGNING_SECRET_KEY"
    },
    "uat": {
      "clientId": "URS_CLIENT_ID",
      "password": "URS_PASSWORD",
      "secret": "JWT_SIGNING_SECRET_KEY"
    },
    "prod": {
      "clientId": "URS_CLIENT_ID",
      "password": "URS_PASSWORD",
      "secret": "JWT_SIGNING_SECRET_KEY"
    }
  },
  "cypress": {
    "user": {
      "id": 1,
      "username": "your username here"
    },
    "ursProfile": {
      "first_name": "First Name here"
    }
  }
}
