{
  "environment": {
    "development": {
      "dbUsername": "",
      "dbPassword": ""
    },
    "production": {}
  },
  "earthdata": {
    "sit": {
      "clientId": "URS_CLIENT_ID",
      "password": "URS_PASSWORD",
      "secret": "JWT_SIGNING_SECRET_KEY"
    },
    "uat": {
      "clientId": "URS_CLIENT_ID",
      "password": "URS_PASSWORD",
      "secret": "JWT_SIGNING_SECRET_KEY"
    },
    "prod": {
      "clientId": "URS_CLIENT_ID",
      "password": "URS_PASSWORD",
      "secret": "JWT_SIGNING_SECRET_KEY"
    }
  },
  "cypress": {
    "user": {
      "id": 1, // This should match the ID of your user in the 'users' database table
      "username": "your username here" // Replace with the urs_id field of your user in the 'users' database table
    }
  }
}
