.custom-toggle {
  &:after {
    display: none;
  }

  &--icon {
    background-color: transparent;
    border: 0;
    outline: 0;
  }
  
  // #edsc-icon-wrapper {
  //   display: none;
  //   visibility: hidden;
  //   border: 1px solid blue;
  // }
  
  // .panels--sm & {
  //   // #edsc-icon-test {
  //   //   display: none;
  //   //   border: 1px solid green;

  //   // }

  //   // .custom-toggle__icon {
  //   //   display: none;
  //   //   border: 1px solid blue;
  //   // }
  //   .d-inline-flex {
  //     display: none;
  //   }
  //   .edsc-icon.custom-toggle__icon {
  //     border: 1px solid blue;
  //     display: none;
  //     // visibility: hidden;
  //   }
  // }
}
