.radio-setting-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color__black--400;
  font-size: 1.125rem;

  &__label {
    position:absolute;
    left: -10000px;
    top: auto;
    width: 0px;
    height: 0px;
    overflow: hidden;
    font-size: 0.875rem;
    color: $color__black--800;
    margin-left: $spacer/4;
    text-indent: -10000px;

    .panels--sm & {
      position: relative;
      top: 0;
      left: 0;
      visibility: visible;
      width: auto;
      height: auto;
      text-indent: 0px;
    }
  }
}
