.filter-stack-contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;

  &:not(:first-child) {
    margin-left: 1rem;
  }

  &__label {
    margin-right: $spacer/4;
    font-weight: 700;
  }

  &__body {
    flex-grow: 1;
    font-size: 0.925rem;
  }
}
