.filter-stack {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $color__white;
  border-top: 1px solid $color__black--200;
  border-bottom: 1px solid $color__black--200;
  color: $color__black--900;
  visibility: hidden;

  &--is-open {
    height: auto;
    width: 100%;
    visibility: visible;
  }
}
