.filter-stack-contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;

  .filter-stack-item--naked & {
    width: 100%;
  }

  &__label {
    margin-right: $spacer/4;
    font-weight: 700;
    visibility: hidden;
    height: 0;
    width: 0;

    &--visible {
      height: auto;
      width: auto;
      visibility: visible;
      margin-top: 0.25rem;
    }
  }

  &__body {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    flex-grow: 1;

    .filter-stack-contents--label-visible & {
      display: inline-block;
      width: auto;
    }

    .filter-stack-item--naked & {
      margin-top: 0;
    }
  }
}
