@use '../utils/variables';

.bg {
  &--purple {
    color: variables.$color__spacesuit-white;
    background-color: variables.$color__international-orange;
  }
}

.bg-info {
  background-color: variables.$color__nasa-blue;
}
