.dropdown-menu {
  padding: .25rem 0;
  overflow: visible !important;

  &--auto-width {
    min-width: auto;
  }

  &--carat {
    @include carat('center');
  }

  &--carat-right {
    @include carat('topright');
  }

  &--carat-bottom-left {
    @include carat('bottomleft');
    bottom: 0.425rem !important;
  }
}

.dropdown-header {
  font-weight: 700;
  color: $color__carbon--50;

  .dropdown-menu--condensed & {
    padding: .25rem .75rem;
    padding-bottom: 0;
    font-size: 0.625rem;
  }
}

.dropdown-item {
  color: $color__carbon--80;
  font-size: 0.875rem;

  &:hover {
    background-color: lighten($color__carbon--20, 5%);
    color: $color__carbon--70;
  }

  .dropdown-menu--condensed & {
    padding: .25rem .75rem;
    font-size: 0.75rem;
  }
}

.dropdown-toggle {
  &:after {
    vertical-align: middle;
  }
}