@font-face {
	font-family: 'edsc';
	src: url('~Fonts/edsc.eot');
	src: url('~Fonts/edsc.eot') format('embedded-opentype'),
		 url('~Fonts/edsc.woff') format('woff'),
		 url('~Fonts/edsc.ttf') format('truetype'),
		 url('~Fonts/edsc.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="edsc-icon-"], [class*=" edsc-icon-"] {
	font-family: 'edsc';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.edsc-icon-globe-grid:before {
	content: "\e604";
}
.edsc-icon-rect-open:before {
	content: "\e603";
}
.edsc-icon-poly-open:before {
	content: "\e602";
}
.edsc-icon-rect:before {
	content: "\e600";
}
.edsc-icon-poly:before {
	content: "\e601";
}
