.keyboard-shortcut {
  position: relative;
  top: -0.0625em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.75em;
  height: 1.75em;
  padding: 0;
  margin-left: 0.75em;
  font-size: 0.825em;
  font-weight: 700;
  color: $color__white;
  border-radius: 0.125rem;
  border: 1px solid $color__black--500;
  background-color: $color__black--600;
  overflow: hidden;
}