.link, a {
  color: $color__carbon-black;
  text-underline-offset: 0.25rem;
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  text-decoration-color: inherit;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: none;
    outline: 1px dashed $color__carbon-black;
    outline-offset: 0.125rem;
  }

  &:disabled {
    color: $color__nasa-blue--tint;
  }

  &--separated {
    &:before {
      display: inline-block;
      margin-left: calc($spacer / 2);
      content: '|';
      color: transparent;
      border-left: 1px solid $color__carbon--30;
    }

    &:first-child:before {
      display: none;
    }
  }

  &--external {
    &:after {
      display: inline-block;
      padding-left: 0.3rem;
      content: "\f111";
      font-size: 0.6rem;
      font-family: "EUI-Icon-Library";
      color: $color__carbon--30;
    }

    &:hover {
      &:after {
        color: $color__carbon--40;
      }
    }
  }
}
