@use '../utils/variables';
@use '../vendor/bootstrap/configuration' as bootstrap;

.link,
a {
  color: variables.$color__carbon-black;
  text-underline-offset: 0.25rem;
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  text-decoration-color: inherit;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: none;
    outline: 1px dashed currentColor;
    outline-offset: 0.125rem;
  }

  &:disabled {
    color: variables.$color__nasa-blue--tint;
  }

  &--light {
    color: variables.$color__spacesuit-white;

    &:hover {
      color: variables.$color__spacesuit-white;
    }
  }

  &--separated {
    &:after {
      display: inline-block;
      margin-left: calc(bootstrap.$spacer / 2);
      // -0.25rem is used here to remove the extra space between the separator and the link due to
      // the trailing space added to inline-block elements.
      padding-left: calc(bootstrap.$spacer  / 2 - 0.25rem);
      content: '|';
      color: transparent;
      border-left: 1px solid variables.$color__carbon--30;
    }

    &:last-child:after {
      display: none;
    }
  }

  &--external {
    border-bottom: 1px dashed currentColor;
    line-height: 1.125em;
    text-decoration: none !important;

    &:hover {
      border-bottom: 1px solid currentColor;

      &:after {
        border-bottom: 1px solid currentColor;
        color: variables.$color__carbon--40;
      }
    }
  }
}
