.link, a {
  color: $color__carbon-black;
  text-underline-offset: 0.25rem;
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  text-decoration-color: inherit;

  &:hover {
  text-decoration: none;
  }

  &:focus {
    text-decoration: none;
    outline: 1px dashed $color__carbon-black;
    outline: 1px dashed currentColor;
    outline-offset: 0.125rem;
  }

  &:disabled {
    color: $color__nasa-blue--tint;
  }

  &--separated {
    &:before {
      display: inline-block;
      margin-left: calc($spacer / 2);
      padding-left: calc($spacer / 2);
      content: '|';
      color: transparent;
      border-left: 1px solid $color__carbon--30;
    }

    &:first-child:before {
      display: none;
    }
  }

  &--external {
    border-bottom: 1px dashed currentColor;
    line-height: 1.125em;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid currentColor;

      &:after {
        color: $color__carbon--30;
      }
    }
  }
}
