.link, a {
  color: $color__blue--dark;
  // THIS IS AFTER
  // border-bottom: 1px dashed currentColor;
  // line-height: 1.125em;
  // text-decoration: none;

  // THIS IS BEFORE
  text-underline-offset: 0.25rem;
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  text-decoration-color: inherit;

  &:hover {
    text-decoration: none;
    // border-bottom: 1px solid currentColor;
    text-decoration: underline;
  }

  &:focus {
    text-decoration: none;
    outline: 1px dashed currentColor;
    outline-offset: 0.125rem;
  }

  &:disabled {
    color: $color__blue--light;
  }

  &--separated {
    &:before {
      display: inline-block;
      margin-left: calc($spacer / 2);
      padding-left: calc($spacer / 2);
      content: '|';
      color: transparent;
      border-left: 1px solid $color__black--300;
    }

    &:first-child:before {
      display: none;
    }
  }
  // TODO fix all the external link icons?
  &--external {
    border-bottom: 1px dashed currentColor;
    line-height: 1.125em;
    text-decoration: none;

    &:hover {
      &:after {
        text-decoration: none;
        border-bottom: 1px solid currentColor;
        color: $color__black--400;
      }
    }
  }
}
