.table {
  thead {
    th {
      font-size: 0.825rem;
      color: $color__black--500;
      border-bottom: 0;
      border-top: 0;
    }
  }

  td {
    vertical-align: middle;
  }

  td,
  th {
    padding: .625rem 1rem;
  }
}
