@use '../utils/variables';

.table {
  thead {
    th {
      font-size: 0.825rem;
      color: variables.$color__carbon--60;
    }
  }

  td {
    vertical-align: middle;
  }

  td,
  th {
    padding: .625rem 1rem;
  }

  &--small {
    thead {
      th {
        font-size:  0.75rem;
        padding: 0.5rem;
      }
    }

    td {
      padding: 0.5rem;
      font-size: 0.75rem;
    }
  }
}
