@use '../utils/variables';

.tooltip {
  .tooltip-inner {
    background-color: variables.$color__carbon-black;
    border: 1px solid variables.$color__carbon--60;
  }

  &--ta-left {
    .tooltip-inner {
      text-align: left;
    }
  }

  &--wide {
    .tooltip-inner {
      max-width: 400px;
    }
  }

  &--auto {
    .tooltip-inner {
      max-width: inherit;
    }
  }

  &--nowrap {
    .tooltip-inner {
      width: auto;
      max-width: initial;
      white-space: nowrap;
    }
  }

  &__tooltip-heading {
    font-size: 0.825rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0.325rem;
    padding-bottom: 0.325rem;
    border-bottom: 1px solid rgba(variables.$color__spacesuit-white, 0.15);
  }

  &__secondary-text {
    font-size: 0.675rem;
    color: variables.$color__carbon--30;
    display: block;
  }
}

/* Account for the addition of the 1px border on tooltip content */
.bs-tooltip-top .arrow,
.bs-tooltip-auto[x-placement^="top"] .arrow {
  bottom: 1px;
}

.bs-tooltip-bottom .arrow,
.bs-tooltip-auto[x-placement^="bottom"] .arrow {
  top: 1px;
}

.bs-tooltip-left .arrow,
.bs-tooltip-auto[x-placement^="left"] .arrow {
  right: 1px;
}

.bs-tooltip-right .arrow,
.bs-tooltip-auto[x-placement^="right"] .arrow {
  left: 1px;
}
