@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.temporal-selection-dropdown-menu {
  width: 36rem;
  margin-top: -0.5rem;
  padding: bootstrap.$spacer;
  box-shadow: utils.$shadow__panel;

  &__actions {
    display: flex;
  }

  &__button {
    margin-right: 0.5rem;
  }
}
