.temporal-selection-dropdown-menu {
  width: 27.25rem;
  margin-top: -0.5rem;
  padding: $spacer;
  box-shadow: $shadow__panel;

  @include media-breakpoint-up(xl) {
    width: 29.25rem;
  }

  &__button {
    margin-right: 0.5rem;
  }
}
