$color_loading_light: rgba($color__black--800, 0.0625);
$color_loading_dark: rgba($color__black--300, 0.45);

.skeleton {
  position: relative;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__item {
    position: absolute;
    overflow: hidden;
  }

  &__item-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(90deg, $color_loading_dark 30%, $color_loading_light 50%, $color_loading_dark 70%);
      background-size: 400% 400%;
      animation: pulse 4s ease-in-out infinite;
      will-change: background-position;

      @keyframes pulse {
        0% {
          background-position:100% 50%
        }
        100% {
          background-position:0% 50%
        }
      }
    }
  }
}

