$color-loading-light__dark: rgba($color__black--800, 0.0625);
$color-loading-dark__dark: rgba($color__black--300, 0.45);
$color-loading-light__light: rgba($color__black--200, 0.0625);
$color-loading-dark__light: rgba($color__black--900, 0.45);

.skeleton {
  position: relative;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__item {
    position: absolute;
    overflow: hidden;
  }

  &__item-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(90deg, $color-loading-dark__dark 30%, $color-loading-light__dark 50%, $color-loading-dark__dark 70%);
      background-size: 400% 400%;
      animation: pulse 4s ease-in-out infinite;

      @keyframes pulse {
        0% {
          background-position:100% 50%
        }
        100% {
          background-position:0% 50%
        }
      }

      .skeleton--light {
        background: linear-gradient(90deg, $color-loading-dark__light 30%, $color-loading-light__light 50%, $color-loading-dark__light 70%);
      }
    }
  }
}

