<style type="text/css">
  html,
  body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  body {
    display: block;
    display: flex;
    flex-direction: column;
    background-color: #000;
    overflow: hidden;
  }

  .th-wrapper {
    width: 100%;
    z-index: 1000;
    height: 34px;
  }

  .root {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .root__app {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .root__loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: black;
    transition: opacity 0.15s ease-out;
  }

  .root--loading .root__loading {
    display: block;
  }

  .root--loading-fade .root__loading{
    opacity: 0;
  }

  .root__spinner {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

  .fallback-page,
  .fallback-page__wrapper--no-js,
  .fallback-page__wrapper--unsupported-browser {
    display: none;
  }

  .fallback-page {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0px;
    background-color: #191a1b;
  }

  .fallback-page__wrapper {
    height: 100%;
  }

  .fallback-page__content {
    position: relative;
    top: 150px;
    margin: 0 auto;
    max-width: 700px;
    padding: 1rem;
    text-align: center;
    color: white;
    background-color: #121315;
    border-radius: 4px;
    border-radius: 0.25rem;
  }

  .fallback-page__wrapper--unsupported-browser .fallback-page__content {
    max-width: 850px;
  }

  .lt-ie8 .fallback-page__heading {
    margin-top: 16px;
  }

  .fallback-page__note--last {
    margin-bottom: 0;
  }

  .footer.fallback-page__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .lt-ie8 .footer__info--right {
    float: right;
    margin: 10px;
  }

  .lt-ie8 .footer__info--left {
    float: left;
    margin: 10px;
  }

  .no-js .fallback-page,
  .no-js .fallback-page__wrapper--no-js {
    display: block;
  }

  .unsupported-browser .fallback-page,
  .unsupported-browser .fallback-page__wrapper--unsupported-browser {
    display: block;
  }

  .no-js .root,
  .unsupported-browser .root {
    display: none;
  }

  .no-js .th-wrapper,
  .unsupported-browser .th-wrapper {
    display: none;
  }

  .lt-ie11 .unsupported-browser {
    display: block;
  }

  .browser-icons {
    margin-top: 2em;
    margin-top: 2rem;
    padding: 0;
    list-style-type: none;
  }

  .browser-icons__item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    cursor: pointer;
    width: 120px;
    height: 122px;
    margin: 0px 10px 10px 10px;
  }

  .browser-icons__icon {
    display: block;
    width: 100px;
    height: 100px;
    margin: 1px auto;
    background-attachment: scroll;
    background-color: transparent;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
  }

  .browser-icons__icon--chrome {
    background-image: url('images/browsers/browser_chrome.gif');
  }

  .browser-icons__icon--firefox {
    background-image: url('images/browsers/browser_firefox.gif');
  }

  .browser-icons__icon--safari {
    background-image: url('images/browsers/browser_safari.gif');
  }

  .browser-icons__icon--opera {
    background-image: url('images/browsers/browser_opera.gif');
  }

  .browser-icons__icon--ie {
    background-image: url('images/browsers/browser_ie.gif');
  }

  .browser-icons__name {
    display: block;
    margin: 8px auto 0;
    margin: 0.5rem auto 0;
    width: 118px;
    color: rgb(128, 128, 128);
    font-size: 0.8em;
    height: 18px;
    line-height: 17px;
    text-align: center;
  }
</style>
<noscript>
  <style>
    [data-simplebar] {
      overflow: auto;
    }
  </style>
</noscript>
