@use '../../../css/utils';

.meta-icon {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  flex-shrink: 0;
  font-size: 0.825rem;
  font-weight: 500;
  color: utils.$color__carbon--80;
  letter-spacing: 0.01em;

  &__icon {
    grid-area: 1 / 1 / 2 / 2;
    color: utils.$color__carbon--50;
    font-size: 0.75rem;

    .meta-icon:hover & {
      color: utils.$color__carbon--60;
    }
  }

  &__icon-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    place-items: center;
  }

  &__metadata {
    margin-left: 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    background-color: utils.$color__carbon--10;
    color: utils.$color__carbon--80;
    font-size: 0.625rem;
    font-weight: 700;
    display: flex;
  }
}
