.meta-icon {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  flex-shrink: 0;
  font-size: 0.825rem;
  font-weight: 500;
  color: $color__carbon--70;
  letter-spacing: 0.01em;

  &__accessMethod {
    position: absolute;
    top: $spacer*0.75;
    right: $spacer*0.25
  }

  &__icon {
    color: $color__carbon--50;
    font-size: 0.75rem;

    .meta-icon:hover & {
      color: $color__carbon--60;
    }
  }

  &__metadata{
    margin-left: 0.25rem;
    padding: 0.075rem 0.5rem;
    border-radius: 1rem;
    background-color: $color__carbon--20;
    color: $color__carbon--60;
    font-size: 0.625rem;
    font-weight: 700;

    .meta-icon:hover & {
      background-color: $color__carbon--30;
      color: $color__carbon--90;
    }
  }
}
