
.edsc-tabs {
  &__tabs {
    border-bottom: 1px solid $color__black--300;

    .nav-link {
      border-radius: 0;
      background-color: transparent;
      border: 0;
      border-bottom: 4px solid transparent;
      color: $color__black--500;

      &:hover {
        border-bottom: 4px solid $color__black--300;
      }
    }

    > .nav-link.active {
      border: 0;
      border-bottom: 4px solid $color__blue--dark;
      background-color: transparent;
      color: $color__black--700;
    }
  }

  .nav-item:focus {
    outline: none;
    box-shadow: none;
  }

  .tab-content {
    padding: $spacer;
  }

  &--no-padding {
    .tab-content {
      padding: 0;
    }
  }
}