
.edsc-tabs {
  &__tabs {
    .nav-link {
      border-radius: 0;
      background-color: transparent;
      border: 0;
      border-bottom: 4px solid transparent;
      color: $color__black--500;

      &:hover {
        border-bottom: 4px solid $color__black--300;
      }
    }

    > .nav-link.active {
      border: 0;
      border-bottom: 4px solid $color__blue;
      background-color: transparent;
      color: $color__black--700;
    }
  }

  .tab-content {
    margin-bottom: $spacer;
    padding: $spacer;
    background-color: $color__black--200;
    border: 1px solid $color__black--200;
  }
}