.edsc-tabs {
  &__tabs {
    border-bottom: 1px solid $color__carbon--30;

    .nav-link {
      border-radius: 0;
      background-color: transparent;
      border: 0;
      border-bottom: 4px solid transparent;
      color: $color__carbon--60;

      &:hover {
        border-bottom: 4px solid $color__carbon--60;
      }
    }

    > .nav-link.active {
      border: 0;
      border-bottom: 4px solid $color__nasa-blue--shade;
      background-color: transparent;
      color: $color__carbon--70;
    }
  }

  .nav-item:focus {
    outline: none;
    box-shadow: none;
  }

  .tab-content {
    padding: $spacer;
  }

  &--no-padding {
    .tab-content {
      padding: 0;
    }
  }
}
