.sidebar {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  width: 19rem;
  z-index: 3;

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    z-index: 1;
    background: darken($color__black--100, 5);
    overflow: hidden;

    .route-wrapper--search & {
      border-right: 1px solid $color__black--200;
    }
  }

  &__section-title {
    color: $color__white;
  }

  &--hidden {
    display: none;
  }

  &__content {
    overflow-x: hidden;
    min-height: 0;
    flex: 0 1 100%;
  }

  .simplebar-scrollbar:before {
    background-color: $color__black--300;
  }
}
