.sidebar-filters-item {
  &__heading {
    padding: 0.625rem 0.75rem 0rem;
    margin: 0;
    font-size: 0.825rem;
    font-weight: 700;
    letter-spacing: 0.005rem;
    color: $color__black--500;
  }

  &__body {
    padding: 0.75rem 0.75rem 1rem;
    border-bottom: 1px solid $color__black--200;

    .sidebar-filters-item--no-padding & {
      padding: 0;
    }

    > .form-group {
      > .form-control {
        /* Target only direct descendants of a form-group, as is the case with the temporal selection */
        background-color: transparent;
        border: none;
      }
    }
  }

  &__description {
    padding: 0.5rem 0.75rem 0;
    font-size: 0.800rem;
    margin-bottom: 0;
    color: $color__black--600;
  }
}
