<div class="modal fade variables" id="active-filters-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#"><span aria-hidden="true" data-bind="event: {click: getMeasurements}">Add Another Measurement</span></a>
        <h4 class="modal-title" id="active-filters-modal-label">Active Subset Filters</h4>
      </div>
      <div class="modal-body">
        <ul data-bind="foreach: activeFilters">
          <li>
            <div><!-- ko text: name --><!-- /ko --> (<!-- ko text: count --><!-- /ko --> Variables)</div>
            <div data-bind="text: value"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
