<!-- ko if: $root.ui.collectionsList.selected() -->
<section id="collection-details" class="details master-overlay-no-min">
  <nav class="master-overlay-nav">
    <a href="#" class="master-overlay-back" data-bind="click: ui.collectionsList.hideCollectionDetails">
      <i class="fa fa-arrow-circle-left"></i> <span class="master-overlay-breadcrumb">Back to Collections</span>
    </a>
  </nav>
  <!-- ko if: $root.ui.collectionsList.selected() -->
  <header >
    <h2 data-bind="ifnot: $root.ui.collectionsList.selected().detailsLoaded" class="loading">Details Loading...</h2>
    <!-- ko if: $root.ui.collectionsList.selected().detailsLoaded -->
      <h4 data-bind="with: $root.ui.collectionsList.selected()"><!-- ko text: dataset_id --><!-- /ko -->
        <!-- ko if: details().version_id -->
          <small class="version-label"> VERSION <!-- ko text: details().version_id --><!-- /ko --></small>
        <!-- /ko -->
      </h4>
    <!-- /ko -->
  </header>

  <!-- /ko -->
  <!-- ko if: $root.ui.collectionsList.selected() && $root.ui.collectionsList.selected().detailsLoaded -->
  <!-- ko with: $root.ui.collectionsList.selected().details -->

  <div class="master-overlay-info">
    <div class="tab-pane" id="collection-information">

      <div class="master-overlay-content" data-bind="ifnot: $parent.detailsLoaded">
        <!-- first row: mini map | spatial/temporal -->
        <div class="row">
          <div class="flex-column">
            <div id="image-map" data-bind="event: {onload: new edsc.map.ImageMap().loadImageMap() }"></div>
          </div>
          <dl class="flex-column">
              <dt>Spatial Coordinates:</dt>
              <dd>
                <!--ko foreach: $data.spatial -->
                <span data-bind="text: $data"></span><br/>
                <!--/ko-->
              </dd>
              <dt>Temporal Extent:</dt>
              <dd>
                <!--ko foreach: $data.temporal -->
                <span data-bind="text: $data"></span><br/>
                <!--/ko-->
              </dd>
              <dt>GIBS Imagery Projection Availability:</dt>
              <dd>
                <!-- ko with: $root.ui.collectionsList.selected() -->
                <span data-bind="text: gibsLayers()"></span>
                <!-- /ko -->
              </dd>
          </dl>
        </div>
        <!-- end of first row -->

        <!-- second row: metadata links | api endpionts | relative urls-->
        <div class="row">
          <div class="dropdown detail-dropdown">
            <a href="#" data-toggle="dropdown" class="button dropdown-button" aria-expanded="false">Metadata Formats <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
              <!-- ko with: $root.ui.collectionsList.selected() -->
              <li><a href='#' class="dropdown-link" data-bind="click: metadata_url">HTML</a></li>
              <li><a href='#' class="dropdown-link" data-bind="click: metadata_url">Native</a></li>
              <li><a href='#' class="dropdown-link" data-bind="click: metadata_url">ATOM</a></li>
              <li><a href='#' class="dropdown-link" data-bind="click: metadata_url">ECHO10</a></li>
              <li><a href='#' class="dropdown-link" data-bind="click: metadata_url">ISO19115</a></li>
              <!-- ko if: $data.smap_iso_url -->
              <li><a href='#' class="dropdown-link" data-bind="click: metadata_url">SMAP ISO</a></li>
              <!-- /ko -->
              <li><a href='#' class="dropdown-link" data-bind="click: metadata_url">DIF</a></li>
              <!--/ko-->
            </ul>
          </div>
          <div class="dropdown detail-dropdown">
            <a href="#" data-toggle="dropdown" class="button dropdown-button" aria-expanded="false">API Endpoints <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
              <!-- ko with: $root.ui.collectionsList.selected() -->
              <!-- ko if: granuleDatasourceName() == "cmr" -->
              <li><a data-bind="attr: {href: echoGranulesUrl}" target="_blank">CMR</a></li>
              <!-- /ko -->

              <!-- ko foreach: gibs() -->
              <li><a data-bind="attr: {href: 'http://map1.vis.earthdata.nasa.gov/wmts-geo/' + $data.product + '/default/{Time}/EPSG4326_' + $data.resolution + '/{ZoomLevel}/{TileRow}/{TileCol}.png'}" target="_blank">GIBS</a></li>
              <!-- /ko -->

              <!-- ko if: opendap_url() -->
              <li><a data-bind="attr: {href: opendap_url()}" target="_blank">OPeNDAP</a></li>
              <!-- /ko -->

              <!-- ko if: modaps() -->
              <li><a data-bind="attr: {href: modaps().get_capabilities}" target="_blank">MODAPS WCS</a></li>
              <!-- /ko -->

              <!-- ko if: osddUrl() -->
              <li><a data-bind="attr: { href: osddUrl() }" target="_blank">OSDD</a></li>
              <!-- /ko -->
              <!-- /ko -->
            </ul>
          </div>

          <dl class="flex-column">
            <!-- ko if: $data.related_urls.length > 0 -->
            <dt>Related URLs:</dt>
            <dd>
              <!-- ko foreach: $data.highlighted_urls -->
              <a data-bind="attr: {href: $data.url}, text: $data.name" target="_blank"></a> |
              <!-- /ko -->
              <a href="#" data-bind="click: $root.ui.projectList.showRelatedUrls">View All Related URLs</a>
            </dd>
            <!-- /ko -->
          </dl>
        </div>
        <!-- end of second row -->

        <!-- description -->
        <div class="long-paragraph collapsed" data-bind="text: $data.description"></div>
        <!-- ko if: $root.ui.collectionsList.selected().detailsLoaded -->
        <div class="description-toggle">
          <i class="fa fa-chevron-down"></i>
        </div>
        <!-- /ko -->
        <!-- end of description -->

        <!-- third row: misc info -->
        <div class="row">
          <dl class="flex-column">
            <dt>Processing Center:</dt>
            <dd data-bind="text: $data.processing_center"></dd>
            <dt>Archive Center:</dt>
            <dd data-bind="text: $data.archive_center"></dd>
            <dt>Short Name:</dt>
            <dd data-bind="text: $data.short_name"></dd>
          </dl>
          <dl class="flex-column">
            <dt>Contacts:</dt>
            <dd data-bind="foreach: $data.contacts">
              <div class="contact-content">
                <div data-bind="text: name"></div>
                <div data-bind="foreach: contact_mechanisms">
                  <span data-bind="text: $data"></span><br />
                </div>
              </div>
            </dd>
            <!-- ko foreach: $data.online_access_urls -->
            <dt><i class="fa fa-arrow-circle-down"></i> <a data-bind="attr: {href: $data}" target="_blank">Download Page</a></dt>
            <!-- /ko -->
          </dl>
        </div>
        <!-- end of third row -->

        <!-- fourth row: science keywords -->
        <div class="row">
          <dl>
            <dt>Science Keywords:</dt>
            <!-- ko if: $data.science_keywords.length == 0 -->
            <dd>Not Available</dd>
            <!-- /ko -->
            <!-- ko if: $data.science_keywords.length > 0 -->
            <dd data-bind="foreach: $data.science_keywords">
              <div class="arrow-tag-group">
                <ul class="arrow-tag-group-list">
                  <!-- ko foreach: $data -->
                  <li class="arrow-tag-group-item" data-bind="text: $data"></li>
                  <!-- /ko -->
                </ul>
              </div>
            </dd>
            <!-- /ko -->
          </dl>
        </div>
        <!-- end of fourth row -->
      </div>
    </div>
  </div>
  <!-- /ko -->

  <!-- /ko -->
</section>
<!-- /ko -->
