<!-- ko if: $root.ui.collectionsList.selected() -->
<section id="collection-details" class="details master-overlay-no-min">
  <nav class="master-overlay-nav">
    <a href="#" class="master-overlay-back" data-bind="click: ui.collectionsList.hideCollectionDetails">
      <i class="fa fa-arrow-circle-left"></i> <span class="master-overlay-breadcrumb">Back to Collections</span>
    </a>
  </nav>
  <!-- ko if: $root.ui.collectionsList.selected() -->
  <header >
    <h2 data-bind="ifnot: $root.ui.collectionsList.selected().detailsLoaded" class="loading">Details Loading...</h2>
    <!-- ko if: $root.ui.collectionsList.selected().detailsLoaded -->
      <h4 data-bind="with: $root.ui.collectionsList.selected()"><!-- ko text: dataset_id --><!-- /ko -->
        <!-- ko if: details().version_id -->
          <small class="version-label"> VERSION <!-- ko text: details().version_id --><!-- /ko --></small>
        <!-- /ko -->
      </h4>
    <!-- /ko -->
  </header>

  <!-- /ko -->
  <!-- ko if: $root.ui.collectionsList.selected() && $root.ui.collectionsList.selected().detailsLoaded -->
  <!-- ko with: $root.ui.collectionsList.selected().details -->

  <div class="master-overlay-info">
    <div class="tab-pane" id="collection-information">

      <div class="master-overlay-content" data-bind="ifnot: $parent.detailsLoaded">
        <!-- first row: mini map | spatial/temporal -->
        <div class="row">
          <div class="flex-column">
            <div id="image-map" data-bind="event: {onload: new edsc.map.ImageMap().loadImageMap() }"></div>
          </div>
          <dl class="flex-column">
              <dt>Spatial Coordinates:</dt>
              <dd>
                <!--ko foreach: $data.spatial -->
                <span data-bind="text: $data"></span><br/>
                <!--/ko-->
              </dd>
              <dt>Temporal Extent:</dt>
              <dd>
                <!--ko foreach: $data.temporal -->
                <span data-bind="text: $data"></span><br/>
                <!--/ko-->
              </dd>
              <dt>GIBS Imagery Projection Availability:</dt>
              <dd>
                <!-- ko with: $root.ui.collectionsList.selected() -->
                <span data-bind="text: gibsLayers()"></span>
                <!-- /ko -->
              </dd>
          </dl>
        </div>
        <!-- end of first row -->

        <!-- second row: metadata links | api endpionts | relative urls-->
        <div class="row">
          <div class="dropdown detail-dropdown">
            <a href="#" data-toggle="dropdown" class="button dropdown-button" aria-expanded="false">Metadata Formats <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
              <!-- ko with: $root.ui.collectionsList.selected() -->
              <li><a href='#' class="dropdown-link" data-bind="click: metadata_url">HTML</a></li>
              <li><a href='#' class="dropdown-link" data-bind="click: metadata_url">Native</a></li>
              <li><a href='#' class="dropdown-link" data-bind="click: metadata_url">ATOM</a></li>
              <li><a href='#' class="dropdown-link" data-bind="click: metadata_url">ECHO10</a></li>
              <li><a href='#' class="dropdown-link" data-bind="click: metadata_url">ISO19115</a></li>
              <!-- ko if: $data.smap_iso_url -->
              <li><a href='#' class="dropdown-link" data-bind="click: metadata_url">SMAP ISO</a></li>
              <!-- /ko -->
              <li><a href='#' class="dropdown-link" data-bind="click: metadata_url">DIF</a></li>
              <!--/ko-->
            </ul>
          </div>
          <div class="dropdown detail-dropdown">
            <a href="#" data-toggle="dropdown" class="button dropdown-button" aria-expanded="false">API Endpoints <i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu">
              <!-- ko with: $root.ui.collectionsList.selected() -->
              <!-- ko if: granuleDatasourceName() == "cmr" -->
              <li><a data-bind="attr: {href: echoGranulesUrl}" target="_blank">CMR</a></li>
              <!-- /ko -->

              <!-- ko foreach: gibs() -->
              <li><a data-bind="attr: {href: 'http://map1.vis.earthdata.nasa.gov/wmts-geo/' + $data.product + '/default/{Time}/EPSG4326_' + $data.resolution + '/{ZoomLevel}/{TileRow}/{TileCol}.png'}" target="_blank">GIBS</a></li>
              <!-- /ko -->

              <!-- ko if: opendap_url() -->
              <li><a data-bind="attr: {href: opendap_url()}" target="_blank">OPeNDAP</a></li>
              <!-- /ko -->

              <!-- ko if: modaps() -->
              <li><a data-bind="attr: {href: modaps().get_capabilities}" target="_blank">MODAPS WCS</a></li>
              <!-- /ko -->

              <!-- ko if: osddUrl() -->
              <li><a data-bind="attr: { href: osddUrl() }" target="_blank">OSDD</a></li>
              <!-- /ko -->
              <!-- /ko -->
            </ul>
          </div>
        </div>
        <!-- end of second row -->

        <!-- description -->
        <div class="long-paragraph collapsed" data-bind="text: $data.description"></div>
        <!-- ko if: $root.ui.collectionsList.selected().detailsLoaded -->
        <div class="description-toggle">
          <i class="fa fa-chevron-down"></i>
        </div>
        <!-- /ko -->
        <!-- end of description -->

        <!--third row: data centers-->

        <ul class="data-centers-cards cards">
          <li class="card">
            <div class="card-header">
              <h5 itemprop="provider" class="card-header-title" title="ORNL_DAAC">
                ORNL_DAAC
              </h5>
              <!-- Data Center Roles -->
              <!-- Show multiple roles in a popover -->
              <a href="javascript:void(0)" class="webui-popover-link card-header-badge">Multiple Roles <i class="fa fa-plus"></i></a>
              <div class="webui-popover-content">
                <p>ARCHIVER</p>
                <p>DISTRIBUTOR</p>
                <p>ORIGINATOR</p>
                <p>PROCESSOR</p>
              </div>

            </div>
            <div class="card-body active">
              <div class="card-body-details">
                <h6>THE OAK RIDGE NATIONAL LABORATORY (ORNL) DISTRIBUTED ACTIVE ARCHIVE CENTER (DAAC)</h6>
                <p>
                  5700 Rivertech Ct<br>
                  Suite 300<br>
                  Riverdale,
                  Maryland
                  20737
                </p>
              </div>
              <div class="card-body-aside">
                <h6>08:00 to 17:00 Mon - Fri</h6>
                <ul>
                  <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:bo.sun@nasa.gov" title="bo.sun@nasa.gov">Email</a>
                  </li>
                  <li>
                    <i class="fa fa-phone-square"></i>
                    301-851-8435
                  </li>
                </ul>
              </div>
            </div>
            <div class="card-body">
              <div class="card-body-details-full">
                <h6>Additional Address</h6>
                <p>
                  1234 Another St<br>
                  Another City,
                  Maryland
                  20123
                </p>
              </div>
            </div>
            <div class="card-body">
              <div class="card-body-details-full">
                <h6>Additional Address</h6>
                <p>
                  3rd Address St<br>
                  Third City,
                  Maryland
                  20123
                </p>
              </div>
            </div>
            <div class="card-body">
              <div class="card-body-details-full">
                <h6>Contact Details</h6>
                <p>This is a piece of sample contact instruction.</p>
              </div>
            </div>
            <div class="card-body ">
              <div class="card-body-details-full">
                <p>Data Center Related URL 1</p>
                <a href="https://daac.ornl.gov/" itemprop="url">https://daac.ornl.gov/</a><br>
                <ul class="arrow-tag-group-list">
                  <li itemprop="keyword" class="arrow-tag-group-item">
                    Home Page
                  </li>
                </ul>
              </div>
            </div>

            <div class="card-body ">
              <div class="card-body-details-full">
                <p>Data Center Related URL 2</p>
                <a href="https://search.sit.earthdata.nasa.gov" itemprop="url">https://search.sit.earthdata.nasa.gov</a><br>
                <ul class="arrow-tag-group-list">
                  <li itemprop="keyword" class="arrow-tag-group-item">
                    Home Page
                  </li>
                </ul>
              </div>
            </div>

            <div class="card-body ">
              <div class="card-body-details-full">
                <p>Hey, Last one</p>
                <a href="https://search.sit.earthdata.nasa.gov" itemprop="url">https://search.sit.earthdata.nasa.gov</a><br>
                <ul class="arrow-tag-group-list">
                  <li itemprop="keyword" class="arrow-tag-group-item">
                    Home Page
                  </li>
                </ul>
              </div>
            </div>

            <div class="card-navigation">
              <ul>
                <li class="card-navigation-control">
                  <a href="" class="card-navigation-control-back">
                    <i class="fa fa-chevron-left"></i>
                  </a>
                </li>
                <li class="card-navigation-pagination">
                  <i class="fa fa-circle"></i>
                  <i class="fa fa-circle-o"></i>
                  <i class="fa fa-circle-o"></i>
                  <i class="fa fa-circle-o"></i>
                  <i class="fa fa-circle-o"></i>
                  <i class="fa fa-circle-o"></i>
                  <i class="fa fa-circle-o"></i>
                </li>
                <li class="card-navigation-control">
                  <a href="" class="card-navigation-control-forward">
                    <i class="fa fa-chevron-right"></i>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>


        <!--ko foreach: data_centers-->
        <div data-bind="text: shortname_roles" class="field-title"></div>
        <ul class="field-content-list">
          <!--ko foreach: $data.contact_groups-->
            <li class="field-content-item">
              <%= render 'data_center_details' %>
            </li>
          <!--/ko-->
          <!--ko foreach: $data.contact_persons-->
          <li class="field-content-item">
            <%= render 'data_center_details' %>
          </li>
          <!--/ko-->
          <!--ko if: $data.contact_information-->
          <li class="field-content-item">
            <!--ko with: $data.contact_information-->
              <%= render 'data_center_details' %>
            <!--/ko-->
          </li>
          <!--/ko-->
          <!--ko if: contact_groups == null && contact_persons == null && contact_information == null -->
          <li class="field-content-item">
            No contact information for this data center.
          </li>
          <!--/ko-->
        </ul>
        <!--/ko-->

        <!--end of third row-->

        <!-- fourth row: misc info -->
        <div class="row">
          <dl class="flex-column">
            <!-- ko if: $data.related_urls.length > 0 -->
            <dt>Related URLs:</dt>
            <dd>
              <!-- ko foreach: $data.highlighted_urls -->
              <a data-bind="attr: {href: $data.url}, text: $data.name" target="_blank"></a> |
              <!-- /ko -->
              <a href="#" data-bind="click: $root.ui.projectList.showRelatedUrls">View All Related URLs</a>
            </dd>
            <!-- /ko -->
          </dl>
          <dl class="flex-column">
            <dt>Short Name:</dt>
            <dd data-bind="text: $data.short_name"></dd>
          </dl>
          <dl class="flex-column">
            <!-- ko foreach: $data.online_access_urls -->
            <dt><i class="fa fa-arrow-circle-down"></i> <a data-bind="attr: {href: $data}" target="_blank">Download Page</a></dt>
            <!-- /ko -->
          </dl>
        </div>
        <!-- end of fourth row -->

        <!-- fifth row: science keywords -->
        <div class="row">
          <dl>
            <dt>Science Keywords:</dt>
            <!-- ko if: $data.science_keywords.length == 0 -->
            <dd>Not Available</dd>
            <!-- /ko -->
            <!-- ko if: $data.science_keywords.length > 0 -->
            <dd data-bind="foreach: $data.science_keywords">
              <div class="arrow-tag-group">
                <ul class="arrow-tag-group-list">
                  <!-- ko foreach: $data -->
                  <li class="arrow-tag-group-item" data-bind="text: $data"></li>
                  <!-- /ko -->
                </ul>
              </div>
            </dd>
            <!-- /ko -->
          </dl>
        </div>
        <!-- end of fifth row -->
      </div>
    </div>
  </div>
  <!-- /ko -->

  <!-- /ko -->
</section>
<!-- /ko -->
