<div id="custom-resample-container" class="custom-resample-container">
  <p  data-bind="visible: chosenResampleDimension">
    <label for="custom-resample-dimension">Resample:  </label>
    <span id="custom-resample-dimension" data-bind="text: chosenResampleDimension"></span>
    <a href="#" data-bind="event: {click: clearResampleDimension}">x</a>
  </p>
</div>


