<div id="custom-interpolation-container" class="custom-interpolation-container">
  <p  data-bind="visible: chosenInterpolationMethod">
    <label for="custom-interpolation-method">Interpolation:  </label>
    <span id="custom-interpolation-method" data-bind="text: chosenInterpolationMethod"></span>
    <a href="#" data-bind="event: {click: clearInterpolationMethod}"><i class="fa fa-times-circle"></i></a>
  </p>
</div>
