<div id="custom-reprojection-container" class="custom-reprojection-container">
  <p  data-bind="visible: chosenReprojectionOption">
    <label for="custom-reprojection-option">Reprojection:  </label>
    <span id="custom-reprojection-option" data-bind="text: chosenReprojectionOption"></span>
    <a href="#" data-bind="event: {click: clearReprojectionOption}"><i class="fa fa-times-circle"></i></a>
  </p>
</div>
