<div class="modal fade customize-data" id="customizeDataModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></a>
        <h4 class="modal-title" id="customizeDataModalLabel"><i class="fa fa-sliders"></i> Customize Data</h4>
      </div>
      <div class="modal-body">
        <p class="customize-block">
          <label for="output-file-formats">Output File Formats</label>
          <select id="output-file-formats" data-bind="options: outputFileFormats, value: chosenOutputFileFormat, event: {change: updateCustomizeOptionsQuery}, optionsCaption: 'No Reformatting', valueAllowUnset: true">
          </select>
        </p>
        <p class="customize-block">
          <label for="reprojection-options">Re-projections Options</label>
          <select id="reprojection-options" data-bind="options: reprojectionOptions, value: chosenReprojectionOption, event: {change: updateCustomizeOptionsQuery}, optionsCaption: 'No Change', valueAllowUnset: true">
          </select>
          <div id="reprojection-params"></div>
        </p>
        <p class="customize-block">
          <label for="resample-dimensions">Resample Dimensions</label>
          <select id="resample-dimensions" data-bind="options: resampleDimensions, value: chosenResampleDimension, event: {change: updateCustomizeOptionsQuery}, optionsCaption: 'No Resampling', valueAllowUnset: true">
          </select>
        <div id="resample-params"></div>
        </p>
        <!-- ko if: chosenReprojectionOption -->
        <p class="customize-block">
          <label for="interpolation-methods">Interpolation Methods</label>
          <select id="interpolation-methods" data-bind="options: interpolationMethods, value: chosenInterpolationMethod, event: {change: updateCustomizeOptionsQuery}, optionsCaption: 'Select...', valueAllowUnset: true">
          </select>
        </p>
        <!-- /ko -->
      </div>
      <div class="modal-footer">
        <a class="button text-button" data-dismiss="modal" href="#">Close</a>
      </div>
    </div>
  </div>
</div>
