<div id="custom-data-format-container" class="custom-data-format-container">
  <p  data-bind="visible: chosenOutputFileFormat">
    <label for="custom-data-format">Data Format:  </label>
    <span id="custom-data-format" data-bind="text: chosenOutputFileFormat"></span>
    <a href="#" data-bind="event: {click: clearOutputfileFormat}">x</a>
  </p>

</div>


