<div class="modal fade customize-data" id="customizeDataModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title" id="customizeDataModalLabel">Customize Data</h4>
      </div>
      <div class="modal-body">
        <p>Do a bunch of things</p>
        <select id="output-file-formats" data-bind="options: outputFileFormats,   value: chosenOutputFileFormat, event: {change: updateCustomizeOptionsQuery}, optionsCaption: 'Select...'"/>
      </div>
      <div class="modal-footer">
        <a class="button text-button" data-dismiss="modal" href="#">Close</a>
      </div>
    </div>
  </div>
</div>
