            <li data-bind="click: $root.ui.datasetsList.focusDataset, css: {'master-overlay-forward': has_granules(), 'master-overlay-hide-parent': has_granules()}"
                class="panel-list-item panel-list-item-with-thumb">
              <div class="panel-list-thumbnail-container">
              <!-- ko if: thumbnail -->
              <img class="panel-list-thumbnail" data-bind="attr: {src: thumbnail, alt: dataset_id}">
              <!-- /ko -->
              <!-- ko ifnot: thumbnail -->
              <div class="panel-list-thumbnail panel-list-thumbnail-placeholder">
                <i class="fa fa-camera"></i><br />No image available
              </div>
              <!-- /ko -->
              <!-- ko if: gibs -->
              <span class="badge badge-gibs"></span>
              <!-- /ko -->
              </div>
              <h3 data-bind="text: dataset_id"></h3>
              <div class="panel-list-item-actions">
                <!-- ko if: $root.query.canQueryDatasetSpatial($data) -->
                <a href="#" class="button icon-button" title="Search using this dataset's location"
                   data-bind="css: {'button-active': $root.query.spatial() == spatial_constraint()}, click: $root.query.toggleQueryDatasetSpatial">
                  <i class="edsc-icon-location"></i>
                </a>
                <!-- /ko -->
                <!-- ko if: has_granules() -->
                <a href="#" class="button icon-button" title="View dataset" data-bind="visible: !visible(), click: $root.datasets.toggleVisibleDataset">
                  <i class="edsc-icon-eye"></i>
                </a>
                <a href="#" class="button icon-button button-active" title="Hide dataset" data-bind="visible: visible(), click: $root.datasets.toggleVisibleDataset">
                  <i class="edsc-icon-eye"></i>
                </a>
                <!-- /ko -->
                <a href="#" class="button icon-button master-overlay-forward" data-master-overlay-forward="Datasets" data-bind="click: $parent.ui.datasetsList.showDatasetDetails" title="View details">
                  <i class="edsc-icon-info"></i>
                </a>
                <% if is_project %>
                  <a href="#" class="button icon-button" title="Retrieve data" data-bind="click: $root.ui.projectList.loginAndDownloadDataset">
                    <i class="edsc-icon-download"></i>
                  </a>
                  <!-- ko if: has_granules -->
                  <a href="#" data-bind="visible: !$root.project.isSearchingGranules($data), click: $root.project.searchGranules, css: {'button-highlighted': granuleFiltersApplied()}" class="button icon-button master-overlay-hide-parent master-overlay-show-secondary" title="Show granule filters">
                    <i class="edsc-icon-compose"></i>
                  </a>
                  <a href="#" data-bind="visible: $root.project.isSearchingGranules($data), click: $root.project.clearSearchGranules, css: {'button-highlighted': granuleFiltersApplied()}" class="button icon-button button-active master-overlay-hide-parent master-overlay-hide-secondary" title="Hide granule filters">
                    <i class="edsc-icon-compose"></i>
                  </a>
                  <!-- /ko -->
                  <!-- ko ifnot: has_granules -->
                  <a href="#" class="button icon-button button-disabled" title="No granules">
                    <i class="edsc-icon-compose"></i>
                  </a>
                  <!-- /ko -->
                <% end %>
                <a href="#" class="button icon-button" data-pulse="#project-count" title="Add dataset to the current project"
                   data-bind="visible: !$root.project.hasDataset($data), click: $root.ui.projectList.toggleDataset">
                  <i class="edsc-icon-plus"></i>
                </a>
                <a href="#" class="button icon-button button-active" data-pulse="#project-count" title="Remove dataset from the current project"
                   data-bind="visible: $root.project.hasDataset($data), click: $root.ui.projectList.toggleDataset">
                  <i class="edsc-icon-minus"></i>
                </a>
              </div>
              <p class="panel-list-details">
              <span data-bind="text: short_name"></span>
              <!-- ko if: version_id() != 'Undefined' -->
              v<span data-bind="text: version_id"></span>
                <!-- /ko -->
              - <span data-bind="text: archive_center"></span>
              </p>
              <p class="dataset-granules-info" data-bind="if: granulesModel.isLoaded() && has_granules()">
                <span data-bind="text: $root.pluralize(granulesModel.hits(), 'Granule', 'Granules')"></span>
                <span data-bind="if: granulesModel.loadTime() !== null" class="panel-list-muted">
                  in <span data-bind="text: granulesModel.loadTime">0.000</span>s
                </span>
              </p>
              <p data-bind="ifnot: has_granules()">
                Dataset only
              </p>
            </li>
