<p class="meta-info" data-bind="text: $data.name, visible: $data.name"></p>
<p class="meta-info" data-bind="text: $parent.longname, visible: $data.name"></p>
<!--ko if: $data.contact_information-->
  <!-- ko with: $data.contact_information -->
    <!-- ko if: $data.ContactInstruction -->
    <p class="meta-info" data-bind="text: $data.ContactInstruction"></p>
    <!-- /ko -->
  <!--/ko-->

  <!-- ko with: $data.contact_information -->
    <dl class="contact-mechanisms">
    <!--ko foreach: $data.ContactMechanisms-->
      <!--ko if: $data.Type == 'Email'-->
      <dt><b data-bind="text: $data.Type + ':'"></b></dt> <dd><a data-bind="attr: {href: 'mailto:' + $data.Value, title: $data.Value}">View Address</a></dd>
      <!--/ko-->
      <!--ko if: $data.Type == 'Facebook'-->
      <dt><b data-bind="text: $data.Type + ':'"></b></dt> <dd><a data-bind="attr: {href: 'mailto:' + $data.Value, title: $data.Value}">Profile link</a></dd>
      <!--/ko-->
      <!--ko ifnot: $data.Type == 'Email' || $data.Type == 'Facebook'-->
      <dt><b data-bind="text: $data.Type + ':'"></b></dt> <dd data-bind="text: $data.Value"></dd>
      <!--/ko-->
    <!--/ko-->
    </dl>
  <!--/ko-->
<!--/ko-->

<!--ko ifnot: $data.contact_information -->
<p>No contact information for this data center.</p>
<!--/ko-->
