<!-- ko if: $root.ui.datasetsList.selected() -->
<section id="dataset-details" class="details">
  <a class="master-overlay-close master-overlay-hide" href="#" title="close"><i class="fa fa-times-circle"></i></a>
  <nav class="master-overlay-nav">
    <a href="#" class="master-overlay-back" data-bind="click: ui.datasetsList.hideDatasetDetails">
      <i class="fa fa-arrow-circle-left"></i> <span class="master-overlay-breadcrumb">Back to Datasets</span>
    </a>
  </nav>
  <!-- ko if: $root.ui.datasetsList.selected() -->
  <header >
    <h2 data-bind="ifnot: $root.ui.datasetsList.selected().detailsLoaded" class="loading">Details Loading...</h2>
    <!-- ko if: $root.ui.datasetsList.selected().detailsLoaded -->
      <h4 data-bind="with: $root.ui.datasetsList.selected()"><!-- ko text: dataset_id --><!-- /ko -->
        <!-- ko if: details().version_id -->
          <small class="version-label"> VERSION <!-- ko text: details().version_id --><!-- /ko --></small>
        <!-- /ko -->
      </h4>
    <!-- /ko -->
  </header>

  <!-- /ko -->
  <!-- ko if: $root.ui.datasetsList.selected() && $root.ui.datasetsList.selected().detailsLoaded -->
  <!-- ko with: $root.ui.datasetsList.selected().details -->

  <div class="master-overlay-info">
    <div class="tab-pane" id="dataset-information">

      <div class="master-overlay-content" data-bind="ifnot: $parent.detailsLoaded">
        <div class="row">
          <div class="first-col col-md-6 col-sm-12">
            <div id="image-map" class="image-map" data-bind="event: {onload: new edsc.map.ImageMap().loadImageMap() }"></div>
          </div>
          <div class="second-col col-md-6 col-sm-12">
              <dt>Spatial Coordinates</dt>
              <dd>
                <p><span data-bind="text: $data.spatial[0]"></span>
                  <span data-bind="text: $data.spatial.length > 1 ? ' ...' : ''"></span></p>
              </dd>
              <dt>Temporal Extent</dt>
              <dd data-bind="text: $data.temporal"></dd>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <dt>Metadata Formats</dt>
            <dd><a data-bind="attr: { href: $data.native_url }">Native</a>
              | <a data-bind="attr: { href: $data.atom_url }">ATOM</a>
              | <a data-bind="attr: { href: $data.echo10_url }">ECHO10</a>
              | <a data-bind="attr: { href: $data.iso19115_url }">ISO19115</a>
              <!-- ko if: $data.smap_iso_url -->
                | <a data-bind="attr: { href: $data.smap_iso_url }">SMAP ISO</a>
              <!-- /ko -->
              | <a data-bind="attr: { href: $data.dif_url }">DIF</a></dd>
          </div>
          <div class="second-col col-md-6 col-sm-12">
            <dt>API Endpoints</dt>
            <dd>
            <!-- ko with: $root.ui.datasetsList.selected() -->
              <!-- ko if: has_granules -->
                <a class="navy-label" data-bind="attr: {href: echoGranulesUrl}" target="_blank">CMR</a>
              <!-- /ko -->

              <!-- ko foreach: gibs() -->
                <a class="navy-label" data-bind="attr: {href: 'http://map1.vis.earthdata.nasa.gov/wmts-geo/' + $data.product + '/default/{Time}/EPSG4326_' + $data.resolution + '/{ZoomLevel}/{TileRow}/{TileCol}.png'}" target="_blank">GIBS</a>
              <!-- /ko -->

              <!-- ko if: opendap() -->
                <a class="navy-label" data-bind="attr: {href: opendap()}" target="_blank">OPeNDAP</a>
              <!-- /ko -->

              <!-- ko if: modaps() -->
              <a class="navy-label" data-bind="attr: {href: modaps().get_capabilities}" target="_blank">MODAPS WCS</a>
              <!-- /ko -->
            <!-- /ko -->
            </dd>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /ko -->

  <!-- /ko -->
</section>
<!-- /ko -->
