<!-- ko if: $root.ui.datasetsList.selected() -->
<section id="dataset-details" class="details">
  <a class="master-overlay-close master-overlay-hide" href="#" title="close"><i class="fa fa-times-circle"></i></a>
  <nav class="master-overlay-nav">
    <a href="#" class="master-overlay-back" data-bind="click: ui.datasetsList.hideDatasetDetails">
      <i class="fa fa-arrow-circle-left"></i> <span class="master-overlay-breadcrumb">Back to Datasets</span>
    </a>
  </nav>
  <!-- ko if: $root.ui.datasetsList.selected() -->
  <header >
    <h2 data-bind="ifnot: $root.ui.datasetsList.selected().detailsLoaded" class="loading">Details Loading...</h2>
    <!-- ko if: $root.ui.datasetsList.selected().detailsLoaded -->
    <h2 data-bind="text: $root.ui.datasetsList.selected().dataset_id"></h2>
    <!-- /ko -->
  </header>
  <div class="master-overlay-info">
    <p class="panel-list-meta">
    <% if Rails.configuration.feedback_url.present? %>
      <a href="javascript:void(0)" data-bind="click: $root.ui.feedback.showFeedback.bind($data, 'Dataset Details', $root.ui.datasetsList.selected().id)" class="button feedback-button" title="Leave metadata feedback">
        <i class="fa fa-exclamation-circle"></i>
        Report a metadata problem
      </a>
    <% end %>
    </p>
  </div>
  <!-- /ko -->
  <!-- ko if: $root.ui.datasetsList.selected() && $root.ui.datasetsList.selected().detailsLoaded -->
  <!-- ko with: $root.ui.datasetsList.selected().details -->
  <ul id="dataset-details-nav" class="nav nav-tabs">
    <li class="active"><a href="#dataset-information" data-toggle="tab">Information</a></li>
    <li><a href="#dataset-metadata" data-toggle="tab">Metadata</a></li>
    <li><a href="#dataset-api" data-toggle="tab">API Endpoints</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="dataset-information">
      <dl class="master-overlay-content" data-bind="ifnot: $parent.detailsLoaded">
        <dt>Download Page:</dt>
        <dd data-bind="foreach: $data.online_access_urls">
          <p><a data-bind="attr: {href: URL}, text: edsc.util.string.capitalize(URLDescription)" target="_blank"></a></p>
        </dd>
        <dt>Description:</dt>
        <dd data-bind="text: $data.description"></dd>
        <dt>Archive Center:</dt>
        <dd data-bind="text: $data.archive_center"></dd>
        <dt>Processing Center:</dt>
        <dd data-bind="text: $data.processing_center"></dd>
        <dt>Short Name:</dt>
        <dd data-bind="text: $data.short_name"></dd>
        <dt>Version:</dt>
        <dd data-bind="text: $data.version_id"></dd>
        <dt>Contacts:</dt>
        <dd data-bind="foreach: $data.contacts">
          <p data-bind="text: name"></p>
           <p data-bind="foreach: phones">
            <span data-bind="text: $data"></span><br />
          </p>
          <p data-bind="text: email"></p>
        </dd>
        <dt>Spatial Extent:</dt>
        <dd data-bind="foreach: $data.spatial">
          <p data-bind="text: $data"></p>
        </dd>
        <dt>Temporal Extent:</dt>
        <dd data-bind="with: $data.temporal">
          <p data-bind="text: $data"></p>
        </dd>
        <dt>Science Keywords:</dt>
        <dd data-bind="foreach: $data.science_keywords">
          <p data-bind="text: $data"></p>
        </dd>
        <dt>Online Resources:</dt>
        <!-- ko foreach: $data.online_resources -->
        <dd><a data-bind="attr: {href: URL}, text: Description" target="_blank"></a></li></dd>
        <!-- /ko -->
        <dt>Browse Products:</dt>
        <dd data-bind="foreach: $data.browse_images">
          <a data-bind="attr: {href: URL}" target="_blank">
            <img data-bind="attr: {src: URL}" style="height: 150px;"/>
          </a>
        </dd>
        <dt>GCMD DIF Record:</dt>
        <dd data-bind="with: $data.associated_difs">
          <a data-bind="attr: { href: url }, text: id" target="_blank"></a>
        </dd>
      </dl>
    </div>
    <div class="tab-pane" id="dataset-metadata">
      <dl class="master-overlay-content">
        <dt>Download Metadata:</dt>
        <dd><a data-bind="attr: { href: $data.native_url }">Native</a></dd>
        <dd><a data-bind="attr: { href: $data.atom_url }">ATOM</a></dd>
        <dd><a data-bind="attr: { href: $data.echo10_url }">ECHO 10</a></dd>
        <dd><a data-bind="attr: { href: $data.iso19115_url }">ISO 19115</a></dd>
        <dd data-bind="if: $data.smap_iso_url"><a data-bind="attr: { href: $data.smap_iso_url }">SMAP ISO</a></dd>
      </dl>
    </div>
    <div class="tab-pane" id="dataset-api">
      <dl class="master-overlay-content">
        <!-- ko with: $root.ui.datasetsList.selected() -->
        <!-- ko if: has_granules -->
        <dt>ECHO</dt>
        <dd><a data-bind="attr: { href: echoGranulesUrl }, text: echoGranulesUrl" target="_blank">Granules</a></dd>
        <dd><a href="https://api.echo.nasa.gov/catalog-rest/catalog-docs/index.html" target="_blank">ECHO Documentation</a></dd>
        <!-- /ko -->
        <!-- ko if: gibs() -->
        <dt>GIBS</dt>
        <!-- ko foreach: gibs() -->
        <dd>
          <p class="gibs-endpoint" data-bind="text: 'http://map1.vis.earthdata.nasa.gov/wmts-geo/' + $data.product + '/default/{Time}/EPSG4326_' + $data.resolution + '/{ZoomLevel}/{TileRow}/{TileCol}.png'"></p>
        </dd>
        <!-- /ko -->
        <dd><a href="https://wiki.earthdata.nasa.gov/display/GIBS/GIBS+API+for+Developers#GIBSAPIforDevelopers-GenericXYZTileAccess" target="_blank">GIBS Documentation</a></dd>
        <!-- /ko -->
        <!-- ko if: opendap() -->
        <dt>OPeNDAP</dt>
        <dd><a data-bind="attr: { href: opendap() }, text: opendap" target="_blank">OPeNDAP</a></dd>
        <dd><a href="http://acdisc.gsfc.nasa.gov/opendap/docs/" target="_blank">OPeNDAP Documentation</a></dd>
        <!-- /ko -->

        <!-- ko if: modaps() -->
        <dt>MODAPS Web Coverage Service (WCS)</dt>
        <dd>GetCapabilities: <a data-bind="attr: { href: modaps().get_capabilities }, text: modaps().get_capabilities" target="_blank"></a></dd>
        <dd>DescribeCoverage: <a data-bind="attr: { href: modaps().describe_coverage }, text: modaps().describe_coverage" target="_blank"></a></dd>
        <dd>GetCoverage: <a data-bind="attr: { href: modaps().get_coverage }, text: modaps().get_coverage" target="_blank"></a></dd>
        <dd><a href="http://modwebsrv.modaps.eosdis.nasa.gov/wcs/" target="_blank">MODAPS WCS Documentation</a></dd>
        <!-- /ko -->

        <!-- /ko -->
      </dl>
    </div>
  </div>
  <!-- /ko -->

  <!-- /ko -->
</section>
<!-- /ko -->
