<!-- ko with: $root.ui.fullFacetsList -->
<!-- ko if: selectedFacetCategory() -->
<div class="modal modal-has-content-header fade" id="all-facets-modal" data-bind="showModal: selectedFacetCategory()" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-full">
      <div class="modal-header">
        <a href="#" class="close modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></a>
        <h4 class="modal-title">Filter collections by <span data-bind="text: selectedFacetCategory().title"></span></h4>
      </div>
      <section class="modal-content-header">
        <span class="modal-content-header-label">Jump:</span>
        <nav class="modal-content-header-alpha" data-bind="foreach: facetsForSelectedCategory()">
          <!-- ko if: facets.length -->
          <a class="modal-content-header-alpha-item modal-content-header-alpha-item-link"
            href="#"
            data-bind="text: letter, attr: {href: '#facets-view-all-' + letter}"></a>
          <!-- /ko -->
          <!-- ko ifnot: facets.length -->
          <span class="modal-content-header-alpha-item"
            data-bind="text: letter"></span>
          <!-- /ko -->
        </nav>
      </section>
      <div class="modal-body modal-body-view-all-facets modal-body-trim" data-bind="css: {busy: facetsForSelectedCategory() == null}">
        <div class="facets facets-light facets-modal" data-bind="foreach: facetsForSelectedCategory()">
          <!-- ko if: facets.length -->
          <section class="facets-modal-section" data-bind="attr: {id: 'facets-view-all-' + letter}">
            <header class="facets-modal-divider" data-bind="text: letter"></header>
            <!-- ko foreach: facets -->
            <label class="facets-item" title="Item Name" data-bind="attr: {title: title}">
              <input type="checkbox" data-bind="checked: isChecked(), click: $parents[1].collections.facets.toggleFacet">
              <span class="facet-title" data-bind="text: title"></span>
              <span class="facet-item-collection-count" data-bind="text: count"></span>
            </label>
            <!-- /ko -->
          </section>
          <!-- /ko -->
        </div>
      </div>
      <div class="modal-footer">
        <span class="modal-footer-status pull-left"><span data-bind="text: collections.hits">0</span> Matching Collections</span>
        <a class="button text-button" data-dismiss="modal" href="#">Close</a>
        <a class="button text-button" data-dismiss="modal" href="#" data-bind="click: applyFacetsToSearch">Apply</a>
      </div>
    </div>
  </div>
</div>
<!-- /ko -->
<!-- /ko -->
