      <section id="granule-list" data-bind="visible: ui.datasetsList.focused()">
        <a class="master-overlay-close master-overlay-hide" href="#" title="close"><i class="fa fa-times-circle"></i></a>
        <nav class="master-overlay-nav">
          <a class="master-overlay-back master-overlay-hide-secondary" href="#" data-bind="click: ui.datasetsList.unfocusDataset">
            <i class="edsc-icon-arrow-left"></i> Back to Datasets
          </a>
        </nav>
        <!-- ko if: ui.datasetsList.focused() -->
        <!-- ko with: ui.datasetsList.focused() -->
        <header class="with-options">
          <h2 data-bind="text: dataset.title"></h2>
          <!-- ko with: dataset -->
          <div class="master-overlay-global-actions actions">
            <a href="#" class="button icon-button master-overlay-forward" data-master-overlay-forward="Granules" data-bind="click: $root.ui.datasetsList.showDatasetDetails" title="View details">
              <i class="edsc-icon-info"></i>
            </a>
            <a href="#" class="button icon-button" title="Retrieve data" data-bind="click: $root.ui.projectList.loginAndDownloadDataset">
              <i class="edsc-icon-download"></i>
            </a>
            <!-- ko if: has_granules -->
            <a href="#" data-bind="visible: !$root.project.isSearchingGranules($data), click: $root.ui.projectList.showFilters, css: {'button-highlighted': granuleFiltersApplied()}" class="button icon-button master-overlay-hide-parent master-overlay-show-secondary" title="Filter granules">
              <i class="edsc-icon-compose"></i>
            </a>
            <a href="#" data-bind="visible: $root.project.isSearchingGranules($data), click: $root.ui.projectList.hideFilters, css: {'button-highlighted': granuleFiltersApplied()}" class="button icon-button button-active master-overlay-hide-parent master-overlay-hide-secondary" title="Hide granule filters">
              <i class="edsc-icon-compose"></i>
            </a>
            <!-- /ko -->
          </div>
          <!-- /ko -->
        </header>
        <div class="master-overlay-info">
          <!-- ko if: granules.isLoaded() -->
          <p>
            Showing <span data-bind="text: granules.results().length"></span> of
            <span data-bind="if: granules.hitsEstimated() && granules.hasNextPage()">about</span>
            <span data-bind="text: granules.hits() == 1 ? '1 matching granule' : granules.hits() + ' matching granules'"></span>
            <!-- ko if: granules.parentQuery.focusedInterval() -->
            for the selected <span data-bind="text: granules.parentQuery.focusedInterval"></span>.
            (<a href="#" data-bind="click: $root.ui.granuleTimeline.clear">Show All</a>)
            <!-- /ko -->
          </p>
          <p data-bind="if: granules.loadTime() !== null" class="panel-list-meta">
            Search Time: <span data-bind="text: granules.loadTime">0.000</span>s
          </p>
          <!-- /ko -->
          <div data-bind="visible: $root.ui.projectList.datasetHasDQS(dataset), css: {'message-info': $root.ui.projectList.dqsAccepted(dataset), 'message-warning': !$root.ui.projectList.dqsAccepted(dataset)}"
               class="dqs-message message">
            Some of the datasets in your project have data quality information. You must
            <a data-bind="click: $root.ui.projectList.showDataQualitySummary.bind(dataset, [dataset])" class="alert-link" href="#">
              read and accept
            </a>
            these summaries before you can download project data.
          </div>
        </div>
        <div class="master-overlay-content panel-list" data-bind="event: {scroll: scrolled}">
          <ul id="project-datasets-list" class="panel-list-list" data-bind="foreach: granules.results()">

            <li class="panel-list-item" data-bind="css: {'panel-list-item-with-thumb': browse_flag === 'true', 'panel-list-focused': $parent.focused() === $data, 'panel-list-selected': $parent.isStickied($data)}, event: { mouseenter: $parent.onGranuleMouseover, mouseleave: $parent.onGranuleMouseout, click: $parent.toggleStickyFocus}">

              <!-- ko if: browse_flag === 'true' -->
                <a class="panel-list-thumbnail-container" data-bind="attr: {href: edsc_full_browse_url()}" target="_blank" title="View full image">
                  <img class="panel-list-thumbnail" data-bind="attr: {src: edsc_browse_url(65)}" alt="Browse Image">
                </a>
              <!-- /ko -->
              <a class="todo panel-list-remove panel-list-when-selected" href="#" title="remove"><i class="fa fa-times"></i></a>

              <h3 data-bind="text: title"></h3>
              <span data-bind="text: getTemporal()"></span>
            </li>
          </ul>
          <p class="busy panel-list-load-more" data-bind="visible: granules.isLoading()">
            Loading granules...
          </p>
        </div>
        <!-- /ko -->
        <!-- /ko -->
      </section>
