<div class="master-overlay-content" data-bind="with: project.searchGranulesDataset().granuleQuery">
  Filters
  <dl>
    <dt>Granule ID</dt>
    <dd class="granule-id-search" data-bind="css: {'search-single': searchSingleGranuleID, 'search-multiple': searchMultipleGranuleIDs}">
      <section class="single-granule-id-search">
        <input data-bind="value: granule_ids" id="granule_id" type="text" placeholder="Search Granule IDs..." />
        or 
        <a href="#" data-bind="click: toggleSearchMultiple">Search Multiple</a>
      </section>
      <section class="multiple-granule-id-search">
        <p>
          <input data-bind="checked: granuleIdsSelectedOptionValue" type="radio" id="granule_ur" name="granule_id_search" value="granule_ur"><label for="granule_ur" class="access-method-radio-label">Search by Granule UR</label>
        </p>
        <p>
          <input data-bind="checked: granuleIdsSelectedOptionValue" type="radio" id="producer_granule_id" name="granule_id_search" value="producer_granule_id"><label for="producer_granule_id" class="access-method-radio-label">Search by Local Granule ID</label>
        </p>
        <p>
          Enter one ID or pattern per line. Wildcards % (0 or more characters) and _ (exactly one character) indicate a pattern. Use \ to escape any wildcards in an ID.
        </p>
        <textarea data-bind="value: granule_ids" id="granule_id_field" name="Text1" cols="60" rows="5" ></textarea>
        <p>
          <a href="#" data-bind="click: toggleSearchMultiple">Search One</a>
        </p>
      </section>
    </dd>
    <dt>Temporal</dt>
    <dd>Temporal stuff goes here</dd>
    <dt>Day / Night Flag</dt>
    <dd>
      <p>Find granules captured during the day, night or anytime.</p>
      <select id="day-night-select" data-bind="options: day_night_flag_options, optionsText: 'name', optionsValue: 'value', value: day_night_flag"></select>
    </dd>
    <dt>Data Access</dt>
    <dd>
      <p>
        <input data-bind="checked: browse_only" type="checkbox" id="browse_only" value="browse_only" /><label for="browse_only">Find only granules that have browse images.</label>
      </p>
      <p>
        <input data-bind="checked: online_only" type="checkbox" id="online_only" value="online_only" /><label for="online_only">Find only granules that are available online.</label>
      </p>
    </dd>
    <dt>Cloud Cover</dt>
    <dd>
      <p>Find granules by cloud cover percentage.</p>
      <p>
        <label for="cloud-cover-min">Minimum:</label><input id="cloud-cover-min" data-bind="value: cloud_cover_min" type="text" placeholder="Example: 1.2">
        <span data-bind="visible: !validateCloudCoverValue(cloud_cover_min())" class="error">Value must be between 0.0 and 100.0</span>
      </p>
      <p>
        <label for="cloud-cover-max">Maximum:</label><input id="cloud-cover-max" data-bind="value: cloud_cover_max" type="text" placeholder="Example: 4.2">
        <span data-bind="visible: !validateCloudCoverValue(cloud_cover_max())" class="error">Value must be between 0.0 and 100.0</span>
        <span data-bind="visible: !validateCloudCoverRange(cloud_cover_min(),cloud_cover_max())" class="error">Minimum must be less than Maximum</span>
      </p>
    </dd>
    <dt>Orbit Spatial Parameters</dt>
    <dd>Orbit Spatial Parameters stuff goes here</dd>
    <dt>Additional Attributes</dt>
    <dd>Additional Attributes stuff goes here</dd>
  </dl>

</div>