<!-- ko with: project.searchGranulesDataset() -->
<div class="master-overlay-content" data-master-overlay-pad="50">
  <dl>
    <dt>Granule ID</dt>
    <dd class="granule-id-search search-single">
      <section class="single-granule-id-search">
        <input data-bind="value: granuleQuery.granuleIds" id="granule_id" type="text" placeholder="Search Granule IDs..." />
        or
        <a href="#" class="search-granules-multiple button-small button-outline-light">
          Search Multiple <i class="edsc-icon-arrow-right"></i>
        </a>
      </section>
      <section class="multiple-granule-id-search">
        <p>
          <a href="#" class="search-granules-one button-small button-outline-light">
            <i class="edsc-icon-arrow-left"></i> Search One
          </a>
        </p>
        <p>
          <input data-bind="checked: granuleQuery.granuleIdsSelectedOptionValue" type="radio" id="granule_ur" name="granule_id_search" value="granule_ur"><label for="granule_ur" class="access-method-radio-label">Search by Granule UR</label>
        </p>
        <p>
          <input data-bind="checked: granuleQuery.granuleIdsSelectedOptionValue" type="radio" id="producer_granule_id" name="granule_id_search" value="producer_granule_id"><label for="producer_granule_id" class="access-method-radio-label">Search by Local Granule ID</label>
        </p>
        <p class="instructions">
          Enter one ID or pattern per line. Wildcards % (0 or more characters)<br />and _ (exactly one character) indicate a pattern. Use \ to escape any<br />wildcards in an ID.
        </p>
        <textarea data-bind="value: granuleQuery.granuleIds" id="granule_id_field" name="Text1" cols="60" rows="5" ></textarea>
      </section>
    </dd>


    <dt>Exclude Granule ID</dt>
    <dd class="granule-id-search search-single">
      <section class="single-granule-id-search">
        <input data-bind="value: granuleQuery.excludedGranuleIds" id="exclude_granule_id" type="text" placeholder="Search Granule IDs..." />
        or
        <a href="#" class="search-granules-multiple button-small button-outline-light">
          Exclude Multiple <i class="edsc-icon-arrow-right"></i>
        </a>
      </section>
      <section class="multiple-granule-id-search">
        <p>
          <a href="#" class="search-granules-one button-small button-outline-light">
            <i class="edsc-icon-arrow-left"></i> Exclude One
          </a>
        </p>
        <p class="instructions">
          Enter one ID per line or select a granule then select "Exclude this granule". Wildcards are not supported.
        </p>
        <textarea data-bind="value: granuleQuery.excludedGranuleIds" id="exclude_granule_id_field" name="Text1" cols="60" rows="5" ></textarea>
      </section>
    </dd>




    <dt>Temporal</dt>
    <dd>
      <!-- ko with: granulesModel.temporal.pending -->
      <%= render partial: 'temporal_template', locals: {prefix: 'granule', show_actions: false} %>
      <!-- /ko -->
    </dd>
    <dt>Day / Night Flag</dt>
    <dd>
      <p>Find granules captured during the day, night or anytime.</p>
      <select id="day-night-select" data-bind="options: granuleQuery.dayNightFlagOptions, optionsText: 'name', optionsValue: 'value', value: granuleQuery.dayNightFlag"></select>
    </dd>
    <dt>Data Access</dt>
    <dd>
      <p>
        <input data-bind="checked: granuleQuery.browseOnly" type="checkbox" id="browse_only" value="browse_only" /> <label for="browse_only">Find only granules that have browse images.</label>
      </p>
      <p>
        <input data-bind="checked: granuleQuery.onlineOnly" type="checkbox" id="online_only" value="online_only" /> <label for="online_only">Find only granules that are available online.</label>
      </p>
    </dd>
    <dt>Cloud Cover</dt>
    <dd>
      <p>Find granules by cloud cover percentage.</p>
      <p>
        <label for="cloud-cover-min">Minimum:</label><input id="cloud-cover-min" data-bind="value: granuleQuery.cloudCover.min" type="text" placeholder="Example: 1.2">
        <span data-bind="visible: !granuleQuery.validateCloudCoverValue(granuleQuery.cloudCover.min())" class="error">Value must be between 0.0 and 100.0</span>
      </p>
      <p>
        <label for="cloud-cover-max">Maximum:</label><input id="cloud-cover-max" data-bind="value: granuleQuery.cloudCover.max" type="text" placeholder="Example: 4.2">
        <span data-bind="visible: !granuleQuery.validateCloudCoverValue(granuleQuery.cloudCover.max())" class="error">Value must be between 0.0 and 100.0</span>
        <span data-bind="visible: !granuleQuery.validateCloudCoverRange(granuleQuery.cloudCover.min(),granuleQuery.cloudCover.max())" class="error">Minimum must be less than Maximum</span>
      </p>
    </dd>
  </dl>

</div>
<div class="granule-filter-actions">
  <button data-bind="click: $root.ui.projectList.applyFilters" id="granule-filters-submit" class="button submit" title="Apply your selections" type="button">Apply</button>
  <button id="granule-filters-clear" data-bind="click: granuleQuery.clearFilters" class="button low-priority" title="Clear your selections" type="button">Clear</button>
</div>
<!-- /ko -->
