<div class="master-overlay-content" data-bind="with: project.searchGranulesDataset().granuleQuery">
  Filters
  <dl>
    <dt>Temporal</dt>
    <dd>Temporal stuff goes here</dd>
    <dt>Day / Night Flag</dt>
    <dd>
      <p>Find granules captured during the day, night or anytime.</p>
      <select id="day-night-select" data-bind="options: day_night_flag_options, optionsText: 'name', optionsValue: 'value', value: day_night_flag"></select>
    </dd>
    <dt>Data Access</dt>
    <dd>Data Access stuff goes here</dd>
    <dt>Cloud Cover</dt>
    <dd>Cloud Cover stuff goes here</dd>
    <dt>Orbit Spatial Parameters</dt>
    <dd>Orbit Spatial Parameters stuff goes here</dd>
    <dt>Additional Attributes</dt>
    <dd>Additional Attributes stuff goes here</dd>
  </dl>

</div>