<!-- ko with: project.searchGranulesCollection() -->
<div class="master-overlay-content" data-master-overlay-pad="100">

  <!-- ko if: granuleQuery.excludedGranules().length == 1 -->
  <p class="message message-warning">
    1 granule has been removed from your results.
    <a data-bind="click: $root.ui.collectionsList.focused().clearExclusions" href="#">Add it back</a>
  </p>
  <!-- /ko -->
    <!-- ko if: granuleQuery.excludedGranules().length > 1 -->
    <p class="message message-warning">
      <span data-bind="text: granuleQuery.excludedGranules().length"></span> granules have been removed from your results.
      <a data-bind="click: $root.ui.collectionsList.focused().clearExclusions" href="#">Add them back</a>
    </p>
    <!-- /ko -->

  <dl>
      <dt>Temporal</dt>
      <dd>
        <!-- ko with: granuleDatasource().temporalModel().pending -->
        <%= render partial: 'temporal_template', locals: {prefix: 'granule', show_actions: false, cwic: true} %>
        <!--/ko-->
      </dd>
    <!--ko ifnot: cwic()-->

      <!-- ko if: availableFilters()['day_night_flag'] -->
      <dt>Day / Night Flag</dt>
      <dd>
        <p>Find granules captured during the day, night or anytime.</p>
        <select id="day-night-select" data-bind="options: granuleQuery.dayNightFlagOptions, optionsText: 'name', optionsValue: 'value', value: granuleQuery.dayNightFlag"></select>
      </dd>
      <!-- /ko -->
      <dt>Data Access</dt>
      <dd>
        <p>
          <input data-bind="checked: granuleQuery.browseOnly" type="checkbox" id="browse_only" value="browse_only" /> <label for="browse_only">Find only granules that have browse images.</label>
        </p>
        <p>
          <input data-bind="checked: granuleQuery.onlineOnly" type="checkbox" id="online_only" value="online_only" /> <label for="online_only">Find only granules that are available online.</label>
        </p>
      </dd>
      <!-- ko if: availableFilters()['cloud_cover'] -->
      <dt>Cloud Cover</dt>
      <dd>
        <p>Find granules by cloud cover percentage.</p>
        <p>
          <label for="cloud-cover-min">Minimum:</label><input id="cloud-cover-min" data-bind="value: granuleQuery.cloudCover.min" type="text" placeholder="Example: 10">
          <span data-bind="visible: !granuleQuery.validateCloudCoverValue(granuleQuery.cloudCover.min())" class="error">Value must be between 0.0 and 100.0</span>
        </p>
        <p>
          <label for="cloud-cover-max">Maximum:</label><input id="cloud-cover-max" data-bind="value: granuleQuery.cloudCover.max" type="text" placeholder="Example: 50">
          <span data-bind="visible: !granuleQuery.validateCloudCoverValue(granuleQuery.cloudCover.max())" class="error">Value must be between 0.0 and 100.0</span>
          <span data-bind="visible: !granuleQuery.validateCloudCoverRange(granuleQuery.cloudCover.min(),granuleQuery.cloudCover.max())" class="error">Minimum must be less than Maximum</span>
        </p>
      </dd>
      <!-- /ko -->
      <!-- ko if: availableFilters()['orbit_calculated_spatial_domains'] -->
      <dt>Orbit Spatial Parameters</dt>
      <dd>
        <p>Find granules with specific orbital spatial characteristics.</p>
        <p>
          <label for="orbit-number-min">Orbit Number Min:</label><br /><input id="orbit-number-min" data-bind="value: granuleQuery.orbitNumber.min" type="text" placeholder="Example: 30000">
          <span data-bind="visible: !granuleQuery.validateOrbitNumberValue(granuleQuery.orbitNumber.min())" class="error">Value must be a positive integer</span>
        </p>
        <p>
          <label for="orbit-number-max">Orbit Number Max:</label><br /><input id="orbit-number-max" data-bind="value: granuleQuery.orbitNumber.max" type="text" placeholder="Example: 30009">
          <span data-bind="visible: !granuleQuery.validateOrbitNumberValue(granuleQuery.orbitNumber.max())" class="error">Value must be a positive integer</span>
          <span data-bind="visible: !granuleQuery.validateOrbitNumberRange(granuleQuery.orbitNumber.min(),granuleQuery.orbitNumber.max())" class="error">Minimum must be less than Maximum</span>
        </p>
        <p>
          <label for="equatorial-crossing-longitude-min">Equatorial Crossing Longitude Min:</label><br /><input id="equatorial-crossing-longitude-min" data-bind="value: granuleQuery.equatorialCrossingLongitude.min" type="text" placeholder="Example: -45">
          <span data-bind="visible: !granuleQuery.validateEquatorialCrossingLongitudeValue(granuleQuery.equatorialCrossingLongitude.min())" class="error">Value must be within 0 to (+/–)180</span>
        </p>
        <p>
          <label for="equatorial-crossing-longitude-max">Equatorial Crossing Longitude Max:</label><br /><input id="equatorial-crossing-longitude-max" data-bind="value: granuleQuery.equatorialCrossingLongitude.max" type="text" placeholder="Example: -40">
          <span data-bind="visible: !granuleQuery.validateEquatorialCrossingLongitudeValue(granuleQuery.equatorialCrossingLongitude.max())" class="error">Value must be within 0 to (+/–)180</span>
          <span data-bind="visible: !granuleQuery.validateEquatorialCrossingLongitudeRange(granuleQuery.equatorialCrossingLongitude.min(),granuleQuery.equatorialCrossingLongitude.max())" class="error">Minimum must be less than Maximum</span>
        </p>
         
        <p>
          <label for="equatorial-crossing-date-min">Equatorial Crossing Date Start:</label>
          <div class="input-group">
            <input id="equatorial-crossing-date-min" data-bind="value: granuleQuery.equatorialCrossingDate.min" type="text" class="date datepicker orbitDatepickers" placeholder="YYYY-MM-DDT00:00:00">
          </div>
          <span data-bind="visible: !granuleQuery.validateEquatorialCrossingDateValue(granuleQuery.equatorialCrossingDate.min())" class="error">Value must be of the format 2015-01-24T00:00:00</span>
        </p>
        <p>
          <label for="equatorial-crossing-date-max">Equatorial Crossing Date End:</label><br /><input id="equatorial-crossing-date-max" data-bind="value: granuleQuery.equatorialCrossingDate.max" type="text" class="date datepicker orbitDatepickers" placeholder="YYYY-MM-DDT23:59:59">
          <span data-bind="visible: !granuleQuery.validateEquatorialCrossingDateValue(granuleQuery.equatorialCrossingDate.max())" class="error">Value must be of the format 2015-01-24T00:00:00</span>
          <span data-bind="visible: !granuleQuery.validateEquatorialCrossingDateRange(granuleQuery.equatorialCrossingDate.min(),granuleQuery.equatorialCrossingDate.max())" class="error">The start date must be before the end date</span>
        </p>
      </dd>
      <!-- /ko -->
      <!-- ko if: searchable_attributes && ($root.labs() || has_feature('attribute_search')) -->
      <dt>Collection-Specific Attributes</dt>
      <dd>
        <!-- ko foreach: searchable_attributes -->
        <div class="granule-filter-attribute">
          <label class="granule-filter-attribute-label" data-bind="text: name, attr: {for: 'collection_aa' + $index()}"></label>
          <!-- ko if: $data.description -->
          <p class="granule-filter-attribute-help" data-bind="text: description"></p>
          <!-- /ko -->
          <input type="text" data-bind="value: value, attr: {id: 'collection_aa' + $index(), placeholder: help}">
          <span data-bind="visible: error, text: error" class="error"></span>
        </div>
        <!-- /ko -->
      </dd>
      <!-- /ko -->
    <!-- /ko -->
  </dl>
</div>
<div class="granule-filter-actions">
  <button data-bind="click: $root.ui.projectList.applyFilters" id="granule-filters-submit" class="button submit" title="Apply your selections" type="button">Apply</button>
  <!--ko ifnot: cwic()-->
  <button id="granule-filters-clear" data-bind="click: granuleDatasource().clearFilters" class="button low-priority" title="Clear your selections" type="button">Clear</button>
  <!--/ko-->
  <!--ko if: cwic()-->
  <button id="granule-filters-clear" data-bind="click: granuleDatasource().clearFilters" class="button low-priority" title="Clear your selections" type="button">Clear</button>
  <!--/ko-->
</div>
<!-- /ko -->
