<!-- ko if: $root.ui.collectionsList.focused() -->
<!-- ko if: $root.ui.collectionsList.focused().selected() -->
<!-- ko with: $root.ui.collectionsList.focused() -->
<section id="granule-details" class="master-overlay-content-wrapper details master-overlay-no-min">
  <header class="master-overlay-header">
    <nav class="master-overlay-nav">
      <div class="master-overlay-tab">
        <span class="master-overlay-tab-handle"></span>
        <a class="master-overlay-tab-title master-overlay-back master-overlay-hide-secondary" data-bind="click: hideGranuleDetails">
          <i class="fa fa-chevron-circle-left"></i> <span class="master-overlay-breadcrumb">Back to Granules</span>
        </a>
      </div>
    </nav>
    <div class="master-overlay-header-info">
      <div class="master-overlay-info">
        <div class="master-overlay-info-panel master-overlay-info-collection-panel">
          <div class="master-overlay-info-collection-header" >
            <!-- ko if: selected() -->
              <!-- ko if: selected().detailsLoaded -->
                <h2 class="master-overlay-header-heading master-overlay-header-title" data-bind="text: selected().title"></h2>
              <!-- /ko -->
              <!-- ko ifnot: selected().detailsLoaded -->
                <h2 class="master-overlay-header-heading master-overlay-info-collection-loading" data-bind="text: selected().title">Details Loading...</h2>
              <!-- /ko -->
            <!-- /ko -->
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="master-overlay-content">
    <ul id="granule-details-nav" class="nav nav-tabs">
      <li class="active" title="Granule information"><a href="#granule-information" data-toggle="tab">Information</a></li>
      <li><a href="#granule-metadata" data-toggle="tab" title="Granule metadata">Metadata</a></li>
    </ul>
    <!-- ko if: selected() -->
    <!-- ko with: selected().details() -->
    <div class="tab-content">
      <div class="tab-pane active" id="granule-information">
        <div data-bind="text: $data.xml" class="details-content"></div>

      </div>

      <div class="tab-pane" id="granule-metadata">
        <dl>
          <dt>Download Metadata:</dt>
          <dd><a data-bind="attr: { href: $data.native_url }, visible: $data.native_url">Native</a></dd>
          <dd><a data-bind="attr: { href: $data.umm_url }, visible: $data.umm_url">UMM-G</a></dd>
          <dd><a data-bind="attr: { href: $data.atom_url }, visible: $data.atom_url">ATOM</a></dd>
          <dd><a data-bind="attr: { href: $data.echo10_url }, visible: $data.echo10_url">ECHO 10</a></dd>
          <dd><a data-bind="attr: { href: $data.iso19115_url }, visible: $data.iso19115_url">ISO 19115</a></dd>
        </dl>
      </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
  </div>
</section>
<!-- /ko -->
<!-- /ko -->
<!-- /ko -->
