<div class="datetime-field equa-fields" id="equa_cross_start">
   <label for="equa-range-start">Start Date For the thing</label><br />
            <input data-bind="value: stop.humanDateString"
             id="equa-range-start"
             class="equa-datepicker"
             type="text" placeholder="YYYY-MM-DD"/>
          </div>
 