<section id="master-overlay-parent" class="master-overlay-parent">
  <header>
    <a class="master-overlay-close master-overlay-hide-parent" data-bind="click: hideParent" href="#" title="close"><i class="fa fa-times-circle"></i></a>
    <h2>Browse Collections</h2>
    </p>
  </header>
  <div class="master-overlay-content panel-group">
    <!-- ko if: collections.facets.isRelevant() -->
    <!-- ko foreach: collections.facets.results -->
    <!-- # Temporarily filter out 'Category Keyword' facet. Once CMR-1923 is implemented, the changes can be reverted. -->
    <!-- ko if: values().length > 0 && name != "Category Keyword" -->
    <div data-bind="css: class_name" class="panel panel-default">
      <div class="panel-heading">
        <h3 data-bind="click: toggleList" class="panel-title facet-title">
          <i data-bind="css: {'fa-chevron-down': closed(), 'fa-chevron-up': opened()}" class="fa pull-right panel-header-toggle"></i>
          <a data-bind="text: name, attr: {'data-target': '#collapse'+$index()}" href="#" ></a>
        </h3>
      </div>
      <div data-bind="attr: {id: 'collapse'+$index()}, css: {'facets-list-show': opened(), 'facets-list-hide': closed(), 'features-facet': name == 'Features'}">
        <div class="panel-body facets">
          <!-- ko foreach: values -->
          <p class="facets-item" data-bind="click: $root.collections.facets.toggleFacet, css: {selected: isSelected(), 'facets-child': isChild(), 'facets-ancestor': isAncestor(), 'facets-parent': isParent()}, attr: {title: term}">
            <!--ko if: isAncestor() && !isParent() -->
              <i class="fa fa-chevron-left"></i>
            <!--/ko-->

            <span data-bind="text: term" class="facet-term"></span>
            <i class="fa fa-times"></i>
            <!-- ko ifnot: $parent.name == 'Features' || isAncestor() -->
            <span class="facet-item-collection-count" data-bind="text: count"></span>
            <!-- /ko -->
            <!-- ko if: term == 'Subsetting Services' -->
            <span class="facet-badge badge-subsetting"></span>
            <!-- /ko -->
            <!-- ko if: term == 'Map Imagery' -->
            <span class="facet-badge badge-gibs"></span>
            <!-- /ko -->
            <!-- ko if: term == 'Near Real Time' -->
            <span class="facet-badge badge-nrt"></span>
            <!-- /ko -->
          </p>
          <!--/ko-->
        </div>
      </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
  </div>
</section>
