<section id="master-overlay-parent" class="master-overlay-parent">
  <header>
    <a class="master-overlay-close master-overlay-hide-parent" href="#" title="close"><i class="fa fa-times-circle"></i></a>
    <h2>Browse Datasets</h2>
    <p data-bind="if: datasets.loadTime() !== null" class="panel-list-meta">
      Search Time: <span data-bind="text: datasets.loadTime">0.000</span>s
    </p>
  </header>
  <div class="master-overlay-content panel-group">
    <!-- ko if: query.facets() && query.facets().length > 0 -->
    <div class="panel panel-default selected-facets-panel">
      <div class="panel-heading">
        <h3 class="panel-title facet-title">
          Values Selected
        </h3>
      </div>
      <div class="panel-body facets">
        <dl>
          <!-- ko foreach: datasetFacets.appliedFacets -->
              <dt data-bind="text: name" class="facet-title"></dt>
                <dd class="facets">
                  <!-- ko foreach: selectedValues -->
                  <span data-bind="click: $root.datasetFacets.removeFacet" class="facets-item selected">
                      <span data-bind="text: term" ></span>
                      <i class="fa fa-times"></i>
                    </span>
                    <span data-bind="if: $parent.selectedValues().indexOf($data) < $parent.selectedValues().length - 1"> and </span>
                  <!-- /ko -->
                </dd>
          <!-- /ko -->
        </dl>
      </div>
    </div>
    <!-- /ko -->
    <!-- ko if: datasetFacets.isRelevant() -->
    <!-- ko foreach: datasetFacets.results -->
    <!-- ko if: values().length > 0 -->
    <div data-bind="css: class_name" class="panel panel-default">
      <div class="panel-heading">
        <h3 data-bind="click: toggleList" class="panel-title facet-title">
          <i data-bind="css: {'fa-caret-down': closed(), 'fa-caret-up': opened()}" class="fa pull-right"></i>
          <a data-bind="text: name, attr: {'data-target': '#collapse'+$index()}" href="#" ></a>
        </h3>
      </div>
      <div data-bind="attr: {id: 'collapse'+$index()}, css: {'facets-list-show': opened(), 'facets-list-hide': closed()}">
        <div class="panel-body facets">
          <!-- ko foreach: values -->
          <p class="facets-item" data-bind="click: $root.datasetFacets.toggleFacet, css: {selected: isSelected}">
            <span data-bind="text: term"></span>
            (<span data-bind="text: count"></span>)
            <i class="fa fa-times"></i>
          </p>
          <!-- /ko -->
        </div>
      </div>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
  </div>
</section>
