<div id="related-urls-modal" class="modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Related URLs</h3>
      </div>
      <div class="modal-body">
        <ul id="related-urls-list">
        </ul>
      </div>
      <div class="modal-footer">
        <a class="button text-button" href="#" data-bind="click: $root.ui.projectList.hideRelatedUrls">Close</a>
      </div>
    </div>
  </div>
</div>
