<div class="modal fade sitetour" id="reverbRetirementModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h2 class="modal-title" id="reverbRetirementModalLabel">Reverb is Retiring - Welcome to Earthdata Search</h2>
      </div>
      <div class="modal-body modal-body-welcome">
        <p>Reverb is retiring.  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
      </div>
      <div class="modal-footer">
        <button class="button" data-bind="click: $root.ui.reverbRetirement.stayWithEDSC">Stay with EDSC <i class="fa fa-arrow-circle-left"></i></button>
        <button class="button" data-bind="click: $root.ui.reverbRetirement.returnToReverb">Return to Reverb <i class="fa fa-arrow-circle-right"></i></button>
      </div>
    </div>
  </div>
</div>
