<div class="modal fade sitetour" id="sitetourModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h2 class="modal-title" id="sitetourModalLabel">Welcome to Earthdata Search</h2>
      </div>
      <div class="modal-body modal-body-welcome">
        <p>This application allows you to search, discover, visualize, refine, and access NASA Earth Observation data. If you are new to this application, please follow the brief tour to get an overview of the features that will help you achieve your goals.</p>
      </div>
      <div class="modal-footer">
        <a class="button secondary" id="closeInitialTourModal" data-dismiss="modal" href="#">Close</a>
        <button class="button" data-bind="click: $root.ui.sitetour.startTour">Start Tour <i class="fa fa-arrow-circle-right"></i></button>
        <p class="pull-left">
          <label>
            <input class="toggleHideTour" id="toggleHideTour" type="checkbox" data-bind="click: $root.ui.sitetour.toggleHideTour" />
            Do not show again
          </label>
        </p>
      </div>
    </div>
  </div>
</div>
