<div class="wrap">
  <%= image_tag "nasa.png" %>
  <h1>We've Moved to UAT!</h1>
  <p>If you'd like to use Earthdata Search Client in the UAT environment, select the option below. We'll remember your choice so you don't have to do this again!</p>
  <p class="btn-ctr">
    <a class="button" title="Use the SIT environment" href="https://search.sit.earthdata.nasa.gov/">Use SIT Environment</a>
    <a class="button" title="Use the UAT environment" href="https://search.uat.earthdata.nasa.gov/">Use UAT Environment</a>
    <a class="button" title="Use the OPS environment" href="https://search.earthdata.nasa.gov/">Use OPS Environment</a>
  </p>
  <p><a data-bind="click: preferences.hideSplash" title="Use the <%= Rails.configuration.env_name %> environment" href="#">No thanks, I'll stay in <%= Rails.configuration.env_name %></a></p>
  <div class="earth">
    <div class="orbit"></div>
  </div>
</div>
