<div id="timeline" class="timeline" tabIndex="1">
  <div class="timeline-tools">
    <h1>Day</h1>
    <div class="timeline-tools-zoom">
      <a class="timeline-zoom-in" href="#"><i class="fa fa-plus-circle"></i></a>
      <a class="timeline-zoom-out" href="#"><i class="fa fa-minus-circle"></i></a>
    </div>
  </div>

  <div class="timeline-tooltip bottom">
    <div class="tooltip-arrow"></div>
    <div class="inner"></div>
  </div>
</div>
