<div id="timeline" class="timeline">
  <div class="timeline-tools">
    <h1>Day</h1>
    <div class="timeline-tools-zoom">
      <a href="#"><i class="fa fa-plus-circle"></i></a>
      <a href="#"><i class="fa fa-minus-circle"></i></a>
    </div>
  </div>
</div>
