<div class="modal fade variables" id="variables-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title" id="variabls-modal-label">Customize Measurements and Variables</h4>
      </div>
      <div class="modal-body">
        <p>Do a bunch of things</p>

      </div>
      <div class="modal-footer">
        <a class="button text-button" data-dismiss="modal" href="#">Close</a>
        <a class="button text-button" data-dismiss="modal" data-bind="event: {click: applyVariables}, visible: chosenMeasurement()" href="#">Add</a>
      </div>
    </div>
  </div>
</div>
