<div class="modal fade" id="whats-cwic-modal" tabindex="-1" role="dialog" aria-labelledby="whats-cwic-modal-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="whats-cwic-modal-title">What's Int'l / Interagency Data</h4>
      </div>
      <div class="modal-body">
        <p>CWIC is short for CEOS WGISS Integrated Catalog. WGISS (The Working Group on Information Systems and
          Services)
          is a subsidiary body supporting the Committee on Earth Observing Satellites (CEOS). WGISS promotes
          collaboration
          in the development of systems and services that manage and supply these observatory data.</p>
        <p>
        <div>Here are some places where you can find more information about CWIC and OpenSearch:</div>
        <ul>
          <li>
            <a href="http://ceos.org/wp-content/uploads/2014/12/CEOSOpenSearchBestPracticeDocument-PublicComment.pdf" target="_blank">CEOS
              OpenSearch Best Practice <i class="fa fa-file-pdf-o"></i></a></li>
          <li>
            <a href="http://ceos.org/document_management/Working_Groups/WGISS/Projects/CWIC/OpenSearch/CEOS%20Open%20Search%20Developer%20Guide.docx" target="_blank">CEOS
              OpenSearch Developer Guide <i class="fa fa-file-word-o"></i></a></li>
          <li><a href="https://wiki.earthdata.nasa.gov/display/CWIC/CWIC+Open+Search+Architecture" target="_blank">CWIC
            OpenSearch Architecture <i class="fa fa-external-link"></i></a></li>
        </ul>
        </p>
        <hr/>
        <p>The searches will be performed by external services which may vary in <em><b>performance</b></em> and
          <em><b>features</b></em>.</p>
        <div>
          <h4>Performance and Availability</h4>
          <p>Earthdata Search doesn’t have control over the code base, development cycle, and deployment/maintenance
            plans.
            Also, CWIC services are implemented in a way that a two-step searching ( is used in Earthdata Search to
            query
            for granules. As a result, the external backend may behave differently than other Earthdata Search backends
            (such as CMR(link)) in terms of response time, query speed, maximum payload, overall bandwidth, and error
            handling. The service may be come unavailable or degraded without prior notifications since it has different
            maintenance cycles from Earthdata Search and its backend services.</p>
          <h4>Feature Differences</h4>

          <h5>Spatial Searching</h5>
          <p>For CWIC data, only bounding box spatial searching is supported. In Earthdata Search, we expand the spatial
            types to include point and polygon searchings. A very small bounding box is used for point searching and the
            Minimum Bounding Rectangle (MBR) is used for polygon searching.</p>
          <h5>Temporal Searching</h5>
          <p>CWIC supports temporal constraints such as start time and end time. Recurring temporal searching is not
            supported. Therefore, if recurring parameters are specified, search results will show all granules from the
            start of the first temporal range to the end of the last.</p>
          <h5>Miscellaneous Differences</h5>
          <ul>
            <li>Granules cannot be excluded from the list.</li>
            <li>Granules cannot be sorted. As a result, the sort option is hidden for CWIC granules.</li>
            <li>Most of the granule filters are not available such as
              <ul>
                <li>Granule UR(s) or Local Granule ID(s)</li>
                <li>Day/Night Flag</li>
                <li>Data access options: browse-able and online accessible granules</li>
                <li>Cloud cover</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
