<% content_for :toolbar do %>
  <%= form_tag('/', method: 'get', class: 'auto-submit') do %>
    <p>
      <input id="keywords" name="keywords" data-bind="value: query.keywords, valueUpdate: 'keyup'" placeholder="Type any topic or dataset name" autofocus>
    </p>
  <% end %>
  <a href="#" class="button"><i class="fa fa-clock-o"></i> Temporal</a>
  <div class="dropdown" data-bind="with: ui.spatialType">
    <a href="#" class="button dropdown-button spatial-dropdown-button">
      <i class="fa" data-bind="css: icon"></i>
      <span class="dropdown-value" data-bind="text: name">Spatial</span>
      <i class="fa fa-caret-down dropdown-icon"></i>
    </a>
    <ul class="dropdown-links spatial-selection">
      <li><a href="#" class="dropdown-link select-polygon" data-bind="click: selectPolygon"><i class="fa fa-crop"></i> Polygon</a></li>
      <li><a href="#" class="dropdown-link select-rectangle" data-bind="click: selectRectangle"><i class="fa fa-crop"></i> Rectangle</a></li>
      <li><a href="#" class="dropdown-link select-point" data-bind="click: selectPoint"><i class="fa fa-crop"></i> Point</a></li>
    </ul>
  </div>
  <a href="#datasets-overlay" class="master-overlay-show button"><i class="fa fa-search"></i> Browse All Data</a>
  <a href="#" class="button" data-bind="event: {click: query.clearFilters}">Clear All Filters</a>
<% end %>

<div class="master-overlay homepage-search" id="datasets-overlay">
  <section class="master-overlay-parent">
    <header>
      <a class="master-overlay-close master-overlay-parent-close" href="#" title="close"><i class="fa fa-times-circle"></i></a>
      <h2>Browse Datasets</h2>
    </header>
  </section>
  <div class="master-overlay-main">
    <div class='master-overlay-main-content'>
      <section id="dataset-results">
        <header>
          <a class="master-overlay-close master-overlay-main-close" href="#" title="close"><i class="fa fa-times-circle"></i></a>
          <h2><strong data-bind="text: datasets.hits"></strong> Matching Datasets</h2>
          <p>
            <a href="#" class='master-overlay-show-parent'>Show Facets</a>
          </p>
        </header>
        <div class="master-overlay-content panel-list" data-bind="event: {scroll: datasetsList.scrolled}">
          <ul class="panel-list-list knockout-template"
              data-bind="foreach: datasets.results, css: { 'knockout-template': !bindingsLoaded }">
            <li data-bind="click: $parent.datasets.showDataset" class="panel-list-item">
              <div class="panel-list-thumbnail panel-list-thumbnail-placeholder">
                No image available
              </div>
              <h3 data-bind="text: dataset_id"></h3>
              <p class="panel-list-details">
              <span data-bind="text: short_name"></span>
              v<span data-bind="text: version_id"></span>
              - <span data-bind="text: archive_center"></span>
              </p>
            </li>
          </ul>
          <p class="panel-list-load-more" data-bind="visible: datasets.isLoading">
            Loading datasets...
          </p>
        </div>
      </section>
      <%= render partial: 'dataset_details' %>
    </div>
  </div>
</div>

<div id="map" class="map" style="height:100%; z-index:-1;">

</div>
