
$headerHeight: 2rem;

.map {
  position: absolute;
  top: $headerHeight;
  left: 0;
  bottom: 0;
  right: 0;
  height: calc(100% - #{$headerHeight});
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: auto;
  background: #FEFEFE;
  color: #DDD;
  font-weight: bold;
  z-index: 0;
  background: #000;

  .is-panels-dragging & {
    pointer-events: none;
  }
}
