@use '../../../css/utils';

.map {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-basis: auto;
  background: utils.$color__spacesuit-white;
  color: utils.$color__carbon--20;
  font-weight: bold;
  z-index: 0;
  background: utils.$color__carbon-black;

  .is-panels-dragging & {
    pointer-events: none;
  }
}
