.collapse-panel {
  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button-secondary-icon {
    width: 0.825rem;
    height: 0.825rem;
  }
}
