.facets-group {
  display: block;
  color: $color__white;

  &__heading {
    margin: 0;
    font-size: 1rem;
  }

  &__title {
    flex-grow: 0;
    flex-shrink: 1;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__heading-primary {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 1;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__selected-count {
    flex-shrink: 0;
    position: relative;
    top: 0.01rem;
    margin-left: 0.5rem;
    padding: 0.0625rem 0.5rem;
    background-color: $color__blue;
    color: $color__white;
    font-size: 0.725rem;
    font-weight: 400;
    border-radius: 1rem;
    line-height: 1rem;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-radius: 0;
    font-size: 0.875rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: $color__black--100;
    }

    &:focus {
      outline: 0;
      border-color: transparent;
    }

    &:disabled {
      background-color: #fff;
      cursor: not-allowed;
    }
  }

  &__action {
    align-self: flex-end;
    color: $color__black--300;

    .facets-group__button:disabled & {
      display: none;
    }
  }

  &__header {
    display: flex;
    padding: 0.2rem 0.5rem 0.325rem 0.7rem;
    background-color: $color__black--100;
    color:#fff;
  }

  &__meta {
    font-size: 0.8rem;
    color: $color__black--600;
    font-weight: 500;
  }

  &__view-all {
    margin-left: auto;
    padding: 0;
    font-size: 0.8rem;
    font-weight: 500;
    color: $color__blue;
    background: none;
    outline: none;
    border: 0;

    &:hover {
      color: $color__blue--dark;
    }

    &:focus {
      outline: 0;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    color: $color__black--400;

    svg {
      transform: translateY(-0.125rem)
    }
  }

  &__body {
    overflow: hidden;

    &:first-child {
      padding-top: 0.6rem;
    }
  }
}

