@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.facets-modal-nav {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  padding: bootstrap.$spacer;
  border-bottom: 1px solid utils.$color__carbon--10;

  &__heading {
    margin-right: calc(bootstrap.$spacer / 2);
    color: utils.$color__carbon--40;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__entry {
    padding: 0 0.125rem;
    font-weight: 700;

    &:active {
      color: utils.$color__nasa-blue--tint;
    }

    &--inactive {
      color: utils.$color__carbon--40;
    }
  }
}
