.facets-item {
  &__checkbox {
    margin-right: 0.7rem;
    border-radius: 4px;
    position: relative;
    vertical-align: top;
    opacity: 0.3;
    flex: none;
    transform: scale(1);

    &:checked {
      opacity: 1;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0.15rem 0.5rem 0.15rem 0.3rem;
    font-size: 0.875rem;
    vertical-align: middle;
    border-left: .2rem solid transparent;

    .facets-item--level-1 & {
      padding-left: 2rem;
    }

    .facets-item--level-2 & {
      padding-left: 3rem;
    }

    .facets-item--level-3 & {
      padding-left: 4rem;
    }

    .facets-item--level-4 & {
      padding-left: 5rem;
    }

    &:hover {
      background: $color__black--700;
      border-left: .2rem solid $color__green;
      cursor: pointer;
    }
  }

  &__title {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: $color__black--200;
    font-weight: 300;
    font-size: 0.875rem;

    .facets-list--light & {
      color: $color__black--600;
    }

    .facets-item:hover & {
      color: $color__white;

      .facets-list--light & {
        color: $color__black--900;
      }
    }
  }

  &__total {
    margin-left: auto;
    padding-left: 0.125rem;
    color: $color__black--400;
    font-size: 0.825rem;
  }
}

.facets__list {
  list-style: none;
  padding-left: 0;
}
