.facets-modal-nav {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  padding: $spacer;
  border-bottom: 1px solid $color__carbon--10;

  &__heading {
    margin-right: calc($spacer / 2);
    color: $color__carbon--40;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__entry {
    padding: 0 0.125rem;
    font-weight: 700;

    &:active {
      color: $color__nasa-blue--tint;
    }

    &--inactive {
      color: $color__carbon--40;
    }
  }
}
