@use '../../../css/utils';

.facets-group {
  display: block;
  color: utils.$color__spacesuit-white;

  &__heading {
    margin: 0;
    font-size: 1rem;
  }

  &__title {
    flex-grow: 0;
    flex-shrink: 1;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__heading-primary {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 1;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__selected-count {
    flex-shrink: 0;
    position: relative;
    top: 0.01rem;
    margin-left: 0.5rem;
    padding: 0.0625rem 0.5rem;
    background-color: utils.$color__nasa-blue;
    color: utils.$color__spacesuit-white;
    font-size: 0.725rem;
    font-weight: 400;
    border-radius: 1rem;
    line-height: 1rem;
  }

  &__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem;
    border-radius: 0;
    font-size: 0.875rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid utils.$color__carbon--10;

    &:hover {
      background: utils.$color__carbon--10;
    }

    &:focus {
      outline: 0;
      border-color: transparent;
    }

    &:disabled {
      background-color: utils.$color__spacesuit-white;
      cursor: not-allowed;
    }
  }

  &__action {
    align-self: flex-end;
    color: utils.$color__carbon--30;

    .facets-group__button:disabled & {
      display: none;
    }
  }

  &__header {
    display: flex;
    padding: 0.2rem 0.5rem 0.325rem 0.7rem;
    background-color: utils.$color__spacesuit-white;
    color: utils.$color__spacesuit-white;
  }

  &__meta {
    font-size: 0.8rem;
    color: utils.$color__carbon--80;
    font-weight: 500;
  }

  &__view-all {
    margin-left: auto;
    padding: 0;
    font-size: 0.8rem;
    font-weight: 500;
    color: utils.$color__carbon-black;
    background: none;
    outline: none;
    border: 0;

    &:hover {
      color: utils.$color__carbon-black;
    }

    &:focus {
      outline: 0;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    color: utils.$color__carbon--40;

    svg {
      transform: translateY(-0.125rem)
    }
  }

  &__body {
    overflow: hidden;

    &:first-child {
      padding-top: 0.6rem;
    }
  }
}
