---
http_interactions:
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edscbasic-access
  recorded_at: Tue, 19 Aug 2014 19:21:43 GMT
  digest: 1cbd4e6a78c1b324003422421b02adfe1c27b6e4
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders.json?id%5B%5D=B83E748F-BEEF-528A-0265-CA6DDA7A8A78
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edsc-access
  recorded_at: Wed, 07 May 2014 17:59:34 GMT
  digest: single_order
[...]
- request:
    method: delete
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders/E806E9C6-615E-2161-97D9-905D96D2F832
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edsc
  recorded_at: Wed, 07 May 2014 17:59:34 GMT
  digest: delete_order
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?page_size=20&page_num=1&include_tags=edsc.%2A%2Corg.ceos.wgiss.cwic.granules.prod&sort_key%5B%5D=has_granules&sort_key%5B%5D=score&has_granules=true&options%5Btemporal%5D%5Blimit_to_granules%5D=true&keyword=trigger500%2A&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
      Echo-ClientId:
      - EDSC
  recorded_at: Thu, 15 Jan 2015 14:31:35 GMT
  digest: trigger_500
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/users/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edscbasic-access
  recorded_at: Tue, 19 Aug 2014 20:12:08 GMT
  digest: edscbasic_current
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/users/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edsc-access:mUM6VJvn6dXjZfhdeSeBbA
  recorded_at: Wed, 06 Aug 2014 13:01:33 GMT
  digest: edsc_current_testbed
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?page_size=20&page_num=1&include_tags=edsc.%2A%2Corg.ceos.wgiss.cwic.granules.prod&sort_key%5B%5D=has_granules&has_granules=true&options%5Btemporal%5D%5Blimit_to_granules%5D=true&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
      Echo-Token:
      - invalid
  recorded_at: Mon, 08 Sep 2014 17:55:47 GMT
  digest: invalid_collections_logged_in
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?page_size=20&page_num=1&include_tags=edsc.%2A%2Corg.ceos.wgiss.cwic.granules.prod&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
      Echo-Token:
      - invalid
  recorded_at: Mon, 08 Sep 2014 17:55:47 GMT
  digest: invalid_collections_logged_in_non_hierarchical
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?page_size=20&page_num=1&include_tags=edsc.%2A%2Corg.ceos.wgiss.cwic.granules.prod&keyword=C179002986-ORNL_DAAC%2A&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
  recorded_at: Mon, 08 Sep 2014 20:32:45 GMT
  digest: invalid_collections_logged_out
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?page_size=20&page_num=1&exclude%5Btag_key%5D=edsc.%2A&options%5Btag_key%5D%5Bpattern%5D=true&keyword=C179002986-ORNL_DAAC%2A&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
  recorded_at: Wed, 21 Jan 2015 13:47:34 GMT
  digest: invalid_but_load_page
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?page_size=20&page_num=1&exclude%5Btag_key%5D=edsc.%2A&options%5Btag_key%5D%5Bpattern%5D=true&echo_collection_id%5B%5D=C1229626387-LANCEMODIS&echo_collection_id%5B%5D=C1219032686-LANCEMODIS&keyword=C179002986-ORNL_DAAC%2A&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
  recorded_at: Wed, 21 Jan 2015 13:47:34 GMT
  digest: on_collections_loaded_for_invalid_token
- request:
    method: get
    uri: http://n5eil01u.ecs.nsidc.org/ops/egi/request/5000000002756
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-EDSC-REQUEST:
      - '1'
  recorded_at: Wed, 20 May 2015 17:22:00 GMT
  digest: first_service_request
[...]
- request:
    method: post
    uri: http://n5eil01u.ecs.nsidc.org/ops/egi/request
    body:
      encoding: UTF-8
      string: FILE_IDS=SC%3AAE_5DSno.002%3A36009049%2CSC%3AAE_5DSno.002%3A35947209%2CSC%3AAE_5DSno.002%3A35949029%2CSC%3AAE_5DSno.002%3A35855069%2CSC%3AAE_5DSno.002%3A35799658%2CSC%3AAE_5DSno.002%3A35809205%2CSC%3AAE_5DSno.002%3A35726443%2CSC%3AAE_5DSno.002%3A35697931%2CSC%3AAE_5DSno.002%3A35654610%2CSC%3AAE_5DSno.002%3A35655847%2CSC%3AAE_5DSno.002%3A35604461%2CSC%3AAE_5DSno.002%3A35634912&CLIENT_STRING=To+view+the+status+of+your+request%2C+please+see%3A+https%3A%2F%2Fsearch.earthdata.nasa.gov%2Fdata%2Fretrieve%2F6895850043&INTERPOLATION=NN&FORMAT=%26&PROJECTION=%26&CLIENT=ESI&SUBAGENT_ID=HEG&REQUEST_MODE=async&INCLUDE_META=N&SUBSET_DATA_LAYERS=%2FAE_5DSno&EMAIL=patrick%2Bedsc%40element84.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  recorded_at: Wed, 20 May 2015 17:21:59 GMT
  digest: 0074182fcbff52d0a40b77dc7bdd7bc21e2489df
[...]
- request:
    method: post
    uri: http://152.61.4.111/ops/egi/request
    body:
      encoding: UTF-8
      string: FILE_IDS=SC%3AMOD09A1.005%3A2243827244&CLIENT_STRING=To+view+the+status+of+your+request%2C+please+see%3A+http%3A%2F%2F127.0.0.1%3A54963%2F%2Fdata%2Fretrieve%2F5332961046&INTERPOLATION=NN&FORMAT=GEO&PROJECTION=GEOGRAPHIC_MRT&CLIENT=ESI&SUBAGENT_ID=MRT&REQUEST_MODE=async&INCLUDE_META=N&PROJECTION_PARAMETERS=Datum2%3AWGS84&SUBSET_DATA_LAYERS=%2FMOD09A1&EMAIL=patrick%2Bedsc%40element84.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  recorded_at: Wed, 20 May 2015 17:21:59 GMT
  digest: post_mod09a1_esi
- request:
    method: get
    uri: http://152.61.4.111/ops/egi/request/100001
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-EDSC-REQUEST:
      - '1'
  recorded_at: Thu, 27 Oct 2016 21:32:48 GMT
  digest: get_mod09a1_esi_1
[...]
- request:
    method: post
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders.json
    body:
      encoding: UTF-8
      string: '{"order":{}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - EDSC
      Echo-ClientId:
      - EDSC
      Echo-Token:
      - edsc-access
  recorded_at: Thu, 15 Jan 2015 21:08:30 GMT
  digest: acab3c43996bb7f51d50e4301fe55418086eadbd
- request:
    method: get
    uri: https://urs.earthdata.nasa.gov/api/users/edsc?client_id=zNWlGtitQNj8NXTd71CyUQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer edsc-access
      Client-Id:
      - edsc-dev
      Echo-ClientId:
      - edsc-dev
  recorded_at: Fri, 06 Nov 2015 14:31:36 GMT
  digest: 14a0ec30b17ac928b6678e04f531f842e2a96520
- request:
    method: get
    uri: https://urs.earthdata.nasa.gov/api/users/edscbasic?client_id=zNWlGtitQNj8NXTd71CyUQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer edsc-access
      Client-Id:
      - edsc-dev
      Echo-ClientId:
      - edsc-dev
  recorded_at: Fri, 06 Nov 2015 14:31:36 GMT
  digest: edscbasic_from_urs
- request:
    method: get
    uri: https://uat.urs.earthdata.nasa.gov/api/users/edsc?client_id=iGoL4SxnweOcSyBxA5eeUA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - edsc-dev
      Echo-ClientId:
      - edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Fri, 06 Nov 2015 14:31:36 GMT
  digest: 14a0ec30b17ac928b6678e04f531f842e2a96520
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/users/4C0390AF-BEE1-32C0-4606-66CAFDD4131D/preferences.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - edsc-dev
      Echo-ClientId:
      - edsc-dev
      Echo-Token:
      - edsc-access
  recorded_at: Tue, 24 Nov 2015 19:26:28 GMT
  digest: 5465c54b75a62eac4512160fe28a6627c96aea19
[...]
- request:
    method: put
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/users/4C0390AF-BEE1-32C0-4606-66CAFDD4131D/preferences.json
    body:
      encoding: UTF-8
      string: '{"preferences":{"general_contact":{"first_name":"Earthdata","last_name":"Search","organization":"EDSC","phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order Contact"},"order_notification_level":"NONE"}}'

    headers:
      Content-Type:
      - application/json
      Client-Id:
      - edsc-dev
      Echo-ClientId:
      - edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Tue, 24 Nov 2015 19:26:38 GMT
  digest: 0a02d564986dee8b88b72b36380ff495d8d4e1c0
- request:
    method: put
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/users/4C0390AF-BEE1-32C0-4606-66CAFDD4131D/preferences.json
    body:
      encoding: UTF-8
      string: '{"preferences":{"general_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order Contact"},"order_notification_level":"NONE"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - edsc-dev
      Echo-ClientId:
      - edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Tue, 24 Nov 2015 19:26:38 GMT
  digest: edsc_access_update_preferences_none
[...]
- request:
    method: post
    uri: http://n5eil01u.ecs.nsidc.org/ops/egi/request
    body:
      encoding: UTF-8
      string: FILE_IDS=SC%3AGLAH06.034%3A52619741&CLIENT_STRING=To+view+the+status+of+your+request%2C+please+see%3A+http%3A%2F%2F127.0.0.1%3A64001%2F%2Fdata%2Fretrieve%2F0435720986&CLIENT=ESI&SUBAGENT_ID=GLAS&REQUEST_MODE=async&SUBSET_DATA_LAYERS=%2FGLAH06&BBOX=-139%2C-76%2C-100%2C-63&EMAIL=test%40email.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  recorded_at: Thu, 27 Oct 2016 17:37:05 GMT
  digest: boundingbox1_2
recorded_with: "VCR 2.6.0"
