---
http_interactions:
- request:
    method: get
    uri: https://api.echo.nasa.gov/echo-rest/calendar_events?severity=ALERT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  recorded_at: Tue, 22 Apr 2014 20:34:23 GMT
  digest: 1f91afed9d58f2fad47c150fe1b735e9828c71ca
- request:
    method: get
    uri: https://api.echo.nasa.gov/echo-rest/orders.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edscbasic
  recorded_at: Tue, 19 Aug 2014 19:21:43 GMT
  digest: 1cbd4e6a78c1b324003422421b02adfe1c27b6e4
[...]
- request:
    method: get
    uri: https://api.echo.nasa.gov/echo-rest/orders.json?id%5B%5D=B83E748F-BEEF-528A-0265-CA6DDA7A8A78
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edsc
  recorded_at: Wed, 07 May 2014 17:59:34 GMT
  digest: single_order
- request:
    method: delete
    uri: https://api.echo.nasa.gov/echo-rest/orders/E806E9C6-615E-2161-97D9-905D96D2F832
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edsc
  recorded_at: Wed, 07 May 2014 17:59:34 GMT
  digest: delete_order
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?include_facets=true&page_size=20&page_num=1&hierarchical_facets=true&keyword=trigger500%2A&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
      Echo-ClientId:
      - EDSC
  recorded_at: Thu, 15 Jan 2015 14:31:35 GMT
  digest: trigger_500
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?include_facets=true&page_size=20&page_num=1&keyword=trigger500%2A&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
      Echo-ClientId:
      - EDSC
  recorded_at: Thu, 15 Jan 2015 14:31:35 GMT
  digest: trigger_500_non_hierarchical
- request:
    method: get
    uri: https://api.echo.nasa.gov/echo-rest/users/69BEF8E4-7C1A-59C3-7C46-18D788AC64B4/preferences.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edscbasic
  recorded_at: Thu, 26 Jun 2014 19:18:07 GMT
  digest: edscbasic_prefs
- request:
    method: put
    uri: https://api.echo.nasa.gov/echo-rest/users/69BEF8E4-7C1A-59C3-7C46-18D788AC64B4/preferences.json
    body:
      encoding: UTF-8
      string: '{"preferences":{}}'
    headers:
      Content-Type:
      - application/json
      Echo-Token:
      - edscbasic
  recorded_at: Tue, 09 Sep 2014 19:12:19 GMT
  digest: edscbasic_prefs_put
[...]
- request:
    method: get
    uri: https://api.echo.nasa.gov/echo-rest/users/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edscbasic
  recorded_at: Tue, 19 Aug 2014 20:12:08 GMT
  digest: edscbasic_current
[...]
- request:
    method: put
    uri: https://api.echo.nasa.gov/echo-rest/users/4C0390AF-BEE1-32C0-4606-66CAFDD4131D/preferences.json
    body:
      encoding: UTF-8
      string: '{"preferences":{"general_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"street1":"101
        N. Columbus St.","street2":"Suite 200","city":"Alexandria","state":"VA","zip":"22314","country":"United
        States"},"phones":{"0":{"id":"F21AF1B0-35C0-261A-8DD6-17324A1B0654","number":"555-555-5555","phone_number_type":"BUSINESS"},"1":{"id":"0DDFC63B-84B4-AEBA-A705-74432B678795","number":"555-555-6666","phone_number_type":"BUSINESS_FAX"}},"role":"Order
        Contact"},"order_notification_level":"NONE"}}'
    headers:
      Content-Type:
      - application/json
      Echo-Token:
      - edsc
  recorded_at: Fri, 06 Jun 2014 01:54:08 GMT
  digest: 526d18465f10028b986afeec4cbd04dea793c924
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?include_facets=true&page_size=20&page_num=1&hierarchical_facets=true&keyword=C179002986-ORNL_DAAC%2A&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
      Echo-Token:
      - invalid
  recorded_at: Mon, 08 Sep 2014 17:55:47 GMT
  digest: invalid_collections_logged_in
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?include_facets=true&page_size=20&page_num=1&keyword=C179002986-ORNL_DAAC%2A&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
      Echo-Token:
      - invalid
  recorded_at: Mon, 08 Sep 2014 17:55:47 GMT
  digest: invalid_collections_logged_in_non_hierarchical
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?include_facets=true&page_size=20&page_num=1&hierarchical_facets=true&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
      Echo-Token:
      - invalid
  recorded_at: Wed, 21 Jan 2015 13:47:34 GMT
  digest: invalid_but_load_page
- request:
    method: get
    uri: http://n5eil01u.ecs.nsidc.org/ops/egi/request/5000000002756
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-EDSC-REQUEST:
      - '1'
  recorded_at: Wed, 20 May 2015 17:22:00 GMT
  digest: first_service_request
[...]
- request:
    method: post
    uri: http://n5eil01u.ecs.nsidc.org/ops/egi/request
    body:
      encoding: UTF-8
      string: FILE_IDS=SC%3AAE_5DSno.002%3A36009049&CLIENT_STRING=To+view+the+status+of+your+request%2C+please+see%3A+https%3A%2F%2Fsearch.earthdata.nasa.gov%2Fdata%2Fretrieve%2F6895850043&INTERPOLATION=NN&FORMAT=%26&PROJECTION=%26&CLIENT=ESI&SUBAGENT_ID=HEG&REQUEST_MODE=async&INCLUDE_META=N&SUBSET_DATA_LAYERS=%2FAE_5DSno&EMAIL=patrick%2Bedsc%40element84.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  recorded_at: Wed, 20 May 2015 17:21:59 GMT
  digest: 0074182fcbff52d0a40b77dc7bdd7bc21e2489df
recorded_with: "VCR 2.6.0"
