---
http_interactions:
- request:
    method: get
    uri: http://n5eil01u.ecs.nsidc.org/ops/egi/request/5000000002756
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-EDSC-REQUEST:
      - '1'
  recorded_at: Wed, 20 May 2015 17:22:00 GMT
  digest: 7af6dd8bf5696cb314d35a8154f3c1deedac937e
[...]
- request:
    method: post
    uri: http://n5eil01u.ecs.nsidc.org/ops/egi/request
    body:
      encoding: UTF-8
      string: FILE_IDS=SC%3AAE_5DSno.002%3A36009049%2CSC%3AAE_5DSno.002%3A35947209%2CSC%3AAE_5DSno.002%3A35949029%2CSC%3AAE_5DSno.002%3A35855069%2CSC%3AAE_5DSno.002%3A35799658%2CSC%3AAE_5DSno.002%3A35809205%2CSC%3AAE_5DSno.002%3A35726443%2CSC%3AAE_5DSno.002%3A35697931%2CSC%3AAE_5DSno.002%3A35654610%2CSC%3AAE_5DSno.002%3A35655847%2CSC%3AAE_5DSno.002%3A35604461%2CSC%3AAE_5DSno.002%3A35634912&CLIENT_STRING=To+view+the+status+of+your+request%2C+please+see%3A+https%3A%2F%2Fsearch.earthdata.nasa.gov%2Fdata%2Fretrieve%2F6895850043&INTERPOLATION=NN&FORMAT=%26&PROJECTION=%26&CLIENT=ESI&SUBAGENT_ID=HEG&REQUEST_MODE=async&INCLUDE_META=N&SUBSET_DATA_LAYERS=%2FAE_5DSno&EMAIL=patrick%2Bedsc%40element84.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  recorded_at: Wed, 20 May 2015 17:21:59 GMT
  digest: 427a02971f1985a291528e328a12ece5c9c4b070
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/calendar_events?severity=ALERT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  recorded_at: Tue, 22 Apr 2014 20:34:23 GMT
  digest: 777b0bddd5d1c7bd031ea2664fc272a5dfacf73d
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edsc
  recorded_at: Wed, 07 May 2014 17:59:34 GMT
  digest: 4d04512c3488167165a6289661768cdc98daa71f
[...]
- request:
    method: post
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders.json
    body:
      encoding: UTF-8
      string: '{"order":{}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - EDSC
      Echo-ClientId:
      - EDSC
      Echo-Token:
      - edsc-access
  recorded_at: Thu, 15 Jan 2015 21:08:30 GMT
  digest: 690cd11e77eb2ea24ba5ea1e07b7c89982067056
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders.json?id%5B%5D=B83E748F-BEEF-528A-0265-CA6DDA7A8A78
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edsc
  recorded_at: Wed, 07 May 2014 17:59:34 GMT
  digest: 4d1bb2cbc8bd2c44980bea56b87712452ee61291
[...]
- request:
    method: delete
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders/E806E9C6-615E-2161-97D9-905D96D2F832
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edsc
  recorded_at: Wed, 07 May 2014 17:59:34 GMT
  digest: cc1c3b503a5c5eb9c2130cfb382ad639408e1cb0
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/users/4C0390AF-BEE1-32C0-4606-66CAFDD4131D/preferences.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - edsc-dev
      Echo-ClientId:
      - edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Tue, 24 Nov 2015 19:26:28 GMT
  digest: d416af5825f6f148a96ed9c295505c151cb1bedc
[...]
- request:
    method: put
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/users/4C0390AF-BEE1-32C0-4606-66CAFDD4131D/preferences.json
    body:
      encoding: UTF-8
      string: '{"preferences":{"general_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"order_notification_level":"NONE"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - edsc-dev
      Echo-ClientId:
      - edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Tue, 24 Nov 2015 19:26:38 GMT
  digest: 3260835cfc4b7d71c3dfe655a06beecba7406753
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/users/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edsc
  recorded_at: Tue, 19 Aug 2014 20:12:08 GMT
  digest: abed9ce9baee76c0151654d935d15bdc09da237c
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?page_size=20&page_num=1&exclude%5Btag_key%5D=edsc.%2A&options%5Btag_key%5D%5Bpattern%5D=true&echo_collection_id%5B%5D=C1229626387-LANCEMODIS&echo_collection_id%5B%5D=C1219032686-LANCEMODIS&keyword=C179002986-ORNL_DAAC%2A&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
  recorded_at: Wed, 21 Jan 2015 13:47:34 GMT
  digest: ca1ab850d861a819887f9eb4bab49ea321fb049e
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?page_size=20&page_num=1&exclude%5Btag_key%5D=edsc.%2A&options%5Btag_key%5D%5Bpattern%5D=true&keyword=C179002986-ORNL_DAAC%2A&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
  recorded_at: Wed, 21 Jan 2015 13:47:34 GMT
  digest: a592ace06ce20a0474fc4ef69571c45817f346d3
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?page_size=20&page_num=1&include_tags=edsc.%2A%2Corg.ceos.wgiss.cwic.granules.prod&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
      Echo-Token:
      - invalid
  recorded_at: Mon, 08 Sep 2014 17:55:47 GMT
  digest: 7e969d16e88f3e06557c910f237753258ebfed3f
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?page_size=20&page_num=1&include_tags=edsc.%2A%2Corg.ceos.wgiss.cwic.granules.prod&keyword=C179002986-ORNL_DAAC%2A&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
  recorded_at: Mon, 08 Sep 2014 20:32:45 GMT
  digest: 739e23e1dc88ea7c01821401bab99391338e7e53
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?page_size=20&page_num=1&include_tags=edsc.%2A%2Corg.ceos.wgiss.cwic.granules.prod&sort_key%5B%5D=has_granules&sort_key%5B%5D=entry_title&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
      Echo-Token:
      - invalid
  recorded_at: Mon, 08 Sep 2014 17:55:47 GMT
  digest: 8cf84f5b71b7d91d3bbc4bd98905df7cf085da76
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/search/collections.json?page_size=20&page_num=1&include_tags=edsc.%2A%2Corg.ceos.wgiss.cwic.granules.prod&sort_key%5B%5D=has_granules&sort_key%5B%5D=score&keyword=trigger500%2A&include_has_granules=true&include_granule_counts=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - EDSC
      Echo-ClientId:
      - EDSC
  recorded_at: Thu, 15 Jan 2015 14:31:35 GMT
  digest: 54a27bd524df5c76dd41da00d4c334338100049b
[...]
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/calendar_events?severity=ALERT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  recorded_at: Tue, 22 Apr 2014 20:34:23 GMT
  digest: 725ff1292116edcb32a887c4bbfc85f589771210
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/users/current.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edsc-access:mUM6VJvn6dXjZfhdeSeBbA
  recorded_at: Wed, 06 Aug 2014 13:01:33 GMT
  digest: 2ea1c786953dc9a536a67a63957d74b5c7706582
- request:
    method: get
    uri: https://cmr.uat.earthdata.nasa.gov/legacy-services/rest/calendar_events?severity=ALERT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  recorded_at: Tue, 22 Apr 2014 20:34:23 GMT
  digest: d6d7a4eae8e3b6eaef1ffa33b5d8a9a01b92edf5
- request:
    method: get
    uri: https://urs.earthdata.nasa.gov/api/users/edsc?client_id=Gsk6IBbEfa98sbE5UavsZQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer edsc-access
      Client-Id:
      - edsc-dev
      Echo-ClientId:
      - edsc-dev
  recorded_at: Fri, 06 Nov 2015 14:31:36 GMT
  digest: 15a67b9247b423fadf48f859e8f5beccffcbb825
- request:
    method: get
    uri: https://urs.earthdata.nasa.gov/api/users/edscbasic?client_id=Gsk6IBbEfa98sbE5UavsZQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer edsc-access
      Client-Id:
      - edsc-dev
      Echo-ClientId:
      - edsc-dev
  recorded_at: Fri, 06 Nov 2015 14:31:36 GMT
  digest: 94818fa8630f5c02b45887296e3442b21dc12234
recorded_with: VCR 2.6.0
