---
http_interactions:
- request:
    method: post
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders.json
    body:
      encoding: UTF-8
      string: '{"order":{},"digest":"967c0aec2ee58b6e4bce3c492f165e4dac64952f"}'
    headers:
      Content-Type:
      - application/json
      Echo-Token:
      - edsc
  recorded_at: Wed, 21 Feb 2018 02:18:18 GMT
  digest: af1908464a76fca0d983f3be1e037514a1c7a468
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders.json?id%5B%5D=09EF3C26-E75B-B9B8-30F0-CF64DBD512D9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edsc
  recorded_at: Wed, 21 Feb 2018 02:15:49 GMT
  digest: fc625f6eaeaaa13fcf29583f6ea65d15dd922f9c
[...]
- request:
    method: post
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders/09EF3C26-E75B-B9B8-30F0-CF64DBD512D9/order_items/bulk_action
    body:
      encoding: UTF-8
      string: '[{"order_item":{"catalog_item_id":"G1422671947-ORNL_DAAC","quantity":1}},{"order_item":{"catalog_item_id":"G1422671841-ORNL_DAAC","quantity":1}},{"order_item":{"catalog_item_id":"G1422671850-ORNL_DAAC","quantity":1}},{"order_item":{"catalog_item_id":"G1422671865-ORNL_DAAC","quantity":1}},{"order_item":{"catalog_item_id":"G1422671681-ORNL_DAAC","quantity":1}},{"order_item":{"catalog_item_id":"G1422671795-ORNL_DAAC","quantity":1}},{"order_item":{"catalog_item_id":"G1422671733-ORNL_DAAC","quantity":1}},{"order_item":{"catalog_item_id":"G1422671915-ORNL_DAAC","quanti[...]
- request:
    method: post
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders/09EF3C26-E75B-B9B8-30F0-CF64DBD512D9/submit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Echo-Token:
      - edsc
  recorded_at: Wed, 21 Feb 2018 02:15:46 GMT
  digest: 6cd79e4aca7dc0cad45ecaabf520d430623a0a8f
- request:
    method: put
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders/09EF3C26-E75B-B9B8-30F0-CF64DBD512D9/user_information
    body:
      encoding: UTF-8
      string: '{"user_information":{"shipping_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"billing_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"order_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"user_domain":"OTHER","user_region":"USA"}}'
    headers:
      Content-Type:
      - application/json
      Echo-Token:
      - edsc
  recorded_at: Wed, 21 Feb 2018 02:15:40 GMT
  digest: ccc11d879c7e5702331babe46b17b3ccf7c74108
- request:
    method: post
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders/2EEA09A2-F0E8-1983-6850-3FFC571B2310/order_items/bulk_action
    body:
      encoding: UTF-8
      string: '[{"order_item":{"catalog_item_id":"G1046013597-LPDAAC_ECS","quantity":1,"option_selection":{"id":"C1873DC2-F1AB-D769-A5F7-B26980EFAD8C","option_definition_name":"AST_L1A","content":"\u003cecs:options
        xmlns:ecs=\"http://ecs.nasa.gov/options\" xmlns:lpdaac=\"http://lpdaac.usgs.gov/orderoptions.v1\"
        xmlns:lpdaacSchemaLocation=\"/v1/AST_04.xsd\"\u003e\u003c!--Default distribution
        method is FTP Pull --\u003e\u003cecs:distribution\u003e\u003cecs:mediatype\u003e\u003cecs:value\u003eFtpPull\u003c/ecs:value\u003e\u003c/ecs:mediatype\u003e\u003cecs:mediaformat\u003e\u003cecs:ftppull-format\u003e\u003cecs:value\u003eFILEFORMAT\u003c/ecs:value\u003e\u003c/ecs:ftppull-format\u003e\u003c/ecs:med[...]
[...]
- request:
    method: put
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders/98963F0D-2CE3-E757-5A7A-AA269FB2A7A8/user_information
    body:
      encoding: UTF-8
      string: '{"user_information":{"shipping_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"billing_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"order_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"user_domain":"OTHER","user_region":"USA"}}'
    headers:
      Content-Type:
      - application/json
      Echo-Token:
      - edsc
  recorded_at: Thu, 22 Feb 2018 15:51:18 GMT
  digest: bdec560cb402dd131f01ee9ae8829277c18c4dd4
recorded_with: VCR 2.6.0
