---
http_interactions:
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest/orders.json
    body:
      encoding: UTF-8
      string: '{"order":{},"digest":"423b4dff4b2b723a62f52dc2bb113bc802c0c22b"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - eed-edsc-dev
      Echo-ClientId:
      - eed-edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Thu, 19 May 2016 18:58:56 GMT
  digest: e753ec6897956e7482fa31e4880002db8fef76fd
[...]
- request:
    method: get
    uri: https://api.echo.nasa.gov/echo-rest/orders.json?id%5B%5D=232D1B49-2BFB-4263-ED9C-6D496BAF89EA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - eed-edsc-dev
      Echo-ClientId:
      - eed-edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Thu, 19 May 2016 18:48:35 GMT
  digest: 127265a871057eda8dd4755fc0796378c10b6c7f
[...]
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest/orders/232D1B49-2BFB-4263-ED9C-6D496BAF89EA/order_items/bulk_action
    body:
      encoding: UTF-8
      string: '[{"order_item":{"catalog_item_id":"G1046013597-LPDAAC_ECS","quantity":1,"option_selection":{"id":"BA87A7EE-0FE6-03EB-C5F3-3B494726055B","option_definition_name":"AST_07XT","content":"\u003cecs:options
        xmlns:ecs=\"http://ecs.nasa.gov/options\" xmlns:lpdaac=\"http://lpdaac.usgs.gov/orderoptions.v1\"
        xmlns:lpdaacSchemaLocation=\"/v1/AST_09.xsd\"\u003e\u003c!--Default distribution
        method is FTP Pull --\u003e\u003cecs:distribution\u003e\u003cecs:mediatype\u003e\u003cecs:value\u003eFtpPull\u003c/ecs:value\u003e\u003c/ecs:mediatype\u003e\u003cecs:mediaformat\u003e\u003cecs:ftppull-format\u003e\u003cecs:value\u003eFILEFORMAT\u003c/ecs:value\u003e\u003c/ecs:ftppull-format\u003e\u003c/ecs:med[...]
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest/orders/232D1B49-2BFB-4263-ED9C-6D496BAF89EA/submit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - eed-edsc-dev
      Echo-ClientId:
      - eed-edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Thu, 19 May 2016 18:48:35 GMT
  digest: 1886e3390849bb46397033a749ba63bc27430ace
- request:
    method: put
    uri: https://api.echo.nasa.gov/echo-rest/orders/232D1B49-2BFB-4263-ED9C-6D496BAF89EA/user_information
    body:
      encoding: UTF-8
      string: '{"user_information":{"shipping_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"billing_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"order_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"user_domain":"OTHER","user_region":"USA"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - eed-edsc-dev
      Echo-ClientId:
      - eed-edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Thu, 19 May 2016 18:48:33 GMT
  digest: 2c7a0da5ad50e569f699230e9b1b54090f990536
[...]
- request:
    method: put
    uri: https://api.echo.nasa.gov/echo-rest/orders/EB125611-B645-DD75-79EE-160AC3FBDE70/user_information
    body:
      encoding: UTF-8
      string: '{"user_information":{"shipping_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"billing_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"order_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"user_domain":"OTHER","user_region":"USA"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - eed-edsc-dev
      Echo-ClientId:
      - eed-edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Thu, 19 May 2016 18:40:51 GMT
  digest: fa24df0b4f263fede01ab4adb01212644379df0f
recorded_with: VCR 2.6.0
