---
http_interactions:
- request:
    method: post
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders.json
    body:
      encoding: UTF-8
      string: '{"order":{},"digest":"27cf990d06cec24b564f28d44e8f6557d5500664"}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - eed-edsc-dev
      Echo-ClientId:
      - eed-edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Mon, 21 Nov 2016 20:19:43 GMT
  digest: 9188ea5709e6fc89c593097075d7c9dd1899db86
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders.json?id%5B%5D=232D1B49-2BFB-4263-ED9C-6D496BAF89EA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - eed-edsc-dev
      Echo-ClientId:
      - eed-edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Thu, 19 May 2016 18:48:35 GMT
  digest: c0cfde29c262a2e61e03920ecf4a187ec5a90ae6
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders.json?id%5B%5D=98332785-1F08-E4C2-1446-BD476BFDB648&id%5B%5D=7C4B76AC-929D-0C4E-8A64-19733C02AAC8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Client-Id:
      - eed-edsc-dev
      Echo-ClientId:
      - eed-edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Mon, 21 Nov 2016 20:29:52 GMT
  digest: bd4996f586a8b785c87ef659edc9b1afd4283c4f
[...]
- request:
    method: post
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders/232D1B49-2BFB-4263-ED9C-6D496BAF89EA/order_items/bulk_action
    body:
      encoding: UTF-8
      string: "[{\"order_item\":{\"catalog_item_id\":\"G1046013597-LPDAAC_ECS\",\"quantity\":1,\"option_selection\":{\"id\":\"BA87A7EE-0FE6-03EB-C5F3-3B494726055B\",\"option_definition_name\":\"AST_07XT\",\"content\":null}}}]"
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - eed-edsc-dev
      Echo-ClientId:
      - eed-edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Thu, 19 May 2016 18:48:33 GMT
  digest: 1063f551f3c8936c567db50c1f78921f824b7561
- request:
    method: post
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders/232D1B49-2BFB-4263-ED9C-6D496BAF89EA/submit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - eed-edsc-dev
      Echo-ClientId:
      - eed-edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Thu, 19 May 2016 18:48:35 GMT
  digest: 9e171fbcf7ab3bc0ca8c30127c5c70a88a21692a
- request:
    method: put
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders/232D1B49-2BFB-4263-ED9C-6D496BAF89EA/user_information
    body:
      encoding: UTF-8
      string: '{"user_information":{"shipping_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"billing_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"order_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"user_domain":"OTHER","user_region":"USA"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - eed-edsc-dev
      Echo-ClientId:
      - eed-edsc-dev
      Echo-Token:
      - edsc
  recorded_at: Thu, 19 May 2016 18:48:33 GMT
  digest: 462b2908ffc0d78262f94009e859081dfb9b83c3
[...]
