---
http_interactions:
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest/orders.json
    body:
      encoding: UTF-8
      string: '{"order":{}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - EDSC
      Echo-ClientId:
      - EDSC
      Echo-Token:
      - edsc
  recorded_at: Thu, 15 Jan 2015 21:08:30 GMT
  digest: acab3c43996bb7f51d50e4301fe55418086eadbd
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest/orders/B83E748F-BEEF-528A-0265-CA6DDA7A8A78/order_items/bulk_action
    body:
      encoding: UTF-8
      string: '[{"order_item":{"catalog_item_id":"G1000005847-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005928-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005952-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005950-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005947-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005946-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005942-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005897-LARC_ASDC","quanti[...]
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest/orders/B83E748F-BEEF-528A-0265-CA6DDA7A8A78/order_items/bulk_action
    body:
      encoding: UTF-8
      string: '[{"order_item":{"catalog_item_id":"G1003445220-NSIDC_ECS","quantity":1,"option_selection":{"id":"9940B026-5C7C-BC3E-049B-89F6D2A35AD8","option_definition_name":"M*D29P1N
        Order Option","content":"\u003cecs:options xmlns:ecs=\"http://ecs.nasa.gov/options\"
        xmlns:hsa=\"http://subset.itsc.uah.edu/HSASubsettingCriteria\"\u003e\u003c!--
        ECS distribution options example --\u003e\u003cecs:distribution\u003e\u003cecs:mediatype\u003e\u003cecs:value\u003eFtpPull\u003c/ecs:value\u003e\u003c/ecs:mediatype\u003e\u003cecs:mediaformat\u003e\u003cecs:ftppull-format\u003e\u003cecs:value\u003eFILEFORMAT\u003c/ecs:value\u003e\u003c/ecs:ftppull-format\u003e\u003c/ecs:mediaformat\u003e\u003c/ecs:distribution\u003e\u003cecs:do-processing\u003efalse\u003c/ecs:do-proc[...]
[...]
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest/orders/B83E748F-BEEF-528A-0265-CA6DDA7A8A78/submit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - EDSC
      Echo-ClientId:
      - EDSC
      Echo-Token:
      - edsc
  recorded_at: Thu, 15 Jan 2015 21:08:46 GMT
  digest: e8a5589d2ff2055ca1341127f5c403c1363024ec
- request:
    method: put
    uri: https://api.echo.nasa.gov/echo-rest/orders/B83E748F-BEEF-528A-0265-CA6DDA7A8A78/user_information
    body:
      encoding: UTF-8
      string: '{"user_information":{"shipping_contact":{"address":{"city":"Alexandria","country":"United
        States","id":"D80DE72C-7DF9-9E25-F7B0-4928A7F8A1AB","state":"VA","street1":"101
        N. Columbus St.","street2":"Suite 200","us_format":false,"zip":"22314"},"email":"patrick+edsc@element84.com","first_name":"Earthdata","id":"E05C23B0-3193-326F-C651-7153C6A9D024","last_name":"Search","organization":"EDSC","phones":[{"id":"128956E1-6811-E516-2B84-0829DEC46C4A","number":"555-555-5555","phone_number_type":"BUSINESS"},{"id":"E1CFAD31-35D1-E6D5-5AD4-C1ECC079B632","number":"555-555-6666","phone_number_type":"BUSINESS_FAX"}],"role":"Order
        Contact"},"billing_contact":{"address":{"city":"Alexandria","country":"United
        States","id":"D80DE72C-7DF9-9E25-F7B0-4928A7F8A1AB","state":"VA","street1":"101
        N. Columbus St.","street2":"Suite 200","us_format":false,"zip":"22314"},"email":"patrick+edsc@element84.com","first_name":"Earthdata","id":"E05C23B0-3193-326F-C651-7153C6A9D024","last_name":"Search","organization":"EDSC","phones":[{"id":"128956E1-6811-E516-2B84-0829DEC46C4A","number":"555-555-5555","phone_number_type":"BUSINESS"},{"id":"E1CFAD31-35D1-E6D5-5AD4-C1ECC079B632","number":"555-555-6666","phone_number_type":"BUSINESS_FAX"}],"role":"Order
        Contact"},"order_contact":{"address":{"city":"Alexandria","country":"United
        States","id":"D80DE72C-7DF9-9E25-F7B0-4928A7F8A1AB","state":"VA","street1":"101
        N. Columbus St.","street2":"Suite 200","us_format":false,"zip":"22314"},"email":"patrick+edsc@element84.com","first_name":"Earthdata","id":"E05C23B0-3193-326F-C651-7153C6A9D024","last_name":"Search","organization":"EDSC","phones":[{"id":"128956E1-6811-E516-2B84-0829DEC46C4A","number":"555-555-5555","phone_number_type":"BUSINESS"},{"id":"E1CFAD31-35D1-E6D5-5AD4-C1ECC079B632","number":"555-555-6666","phone_number_type":"BUSINESS_FAX"}],"role":"Order
        Contact"},"user_domain":"OTHER","user_region":"USA"}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - EDSC
      Echo-ClientId:
      - EDSC
      Echo-Token:
      - edsc
  recorded_at: Thu, 15 Jan 2015 21:08:41 GMT
  digest: d4ee7b5d25a6164f380fbc2f660cf1f6f0c9bb17
recorded_with: VCR 2.6.0
