---
http_interactions:
- request:
    method: post
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders.json
    body:
      encoding: UTF-8
      string: '{"order":{},"digest":"967c0aec2ee58b6e4bce3c492f165e4dac64952f"}'
    headers:
      Content-Type:
      - application/json
      Echo-Token:
      - edsc
  recorded_at: Tue, 13 Mar 2018 03:48:05 GMT
  digest: af1908464a76fca0d983f3be1e037514a1c7a468
[...]
- request:
    method: get
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders.json?id%5B%5D=0D82D8DB-761E-682D-8BFD-CFACF4C8A53F
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edsc
  recorded_at: Tue, 13 Mar 2018 04:07:51 GMT
  digest: b4310e45ba3e6e99cbbea5b2f8d977b95e9c5cba
[...]
- request:
    method: post
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders/0D82D8DB-761E-682D-8BFD-CFACF4C8A53F/order_items/bulk_action
    body:
      encoding: UTF-8
      string: '[{"order_item":{"catalog_item_id":"G1000005847-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005928-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005952-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005950-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005947-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005946-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005942-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005897-LARC_ASDC","quanti[...]
- request:
    method: post
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders/0D82D8DB-761E-682D-8BFD-CFACF4C8A53F/submit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Echo-Token:
      - edsc
  recorded_at: Tue, 13 Mar 2018 04:07:51 GMT
  digest: 4dd4b283fc970c2d468b54aea4f225bd0ee0981e
- request:
    method: put
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders/0D82D8DB-761E-682D-8BFD-CFACF4C8A53F/user_information
    body:
      encoding: UTF-8
      string: '{"user_information":{"shipping_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"billing_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"order_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"user_domain":"OTHER","user_region":"USA"}}'
    headers:
      Content-Type:
      - application/json
      Echo-Token:
      - edsc
  recorded_at: Tue, 13 Mar 2018 04:07:46 GMT
  digest: 18a256a3f3f060d0f360aeca31c3e3e513a3dab7
[...]
- request:
    method: post
    uri: https://cmr.earthdata.nasa.gov/legacy-services/rest/orders/44B46C2F-40A2-4E1E-C2F1-2B10AECE3C1F/order_items/bulk_action
    body:
      encoding: UTF-8
      string: '[{"order_item":{"catalog_item_id":"G1219918622-LAADS","quantity":1,"option_selection":{"id":"E1F140CA-CC29-B7AD-5AA0-D7E26463BCF1","option_definition_name":"FtpPushPull","content":"\u003cprov:packageOption
        xmlns:prov=\"http://ecsodl.nasa.gov/orderoptions\"\u003e\u003c!-- Distribution
        Specification--\u003e\u003cprov:dist\u003e\u003cprov:value\u003eFtpPull\u003c/prov:value\u003e\u003c/prov:dist\u003e\u003c/prov:packageOption\u003e"}}},{"order_item":{"catalog_item_id":"G1219918515-LAADS","quantity":1,"option_selection":{"id":"E1F140CA-CC29-B7AD-5AA0-D7E26463BCF1","option_definition_name":"FtpPushPull","content":"\u003cprov:packageOption
        xmlns:prov=\"http://ecsodl.nasa.gov/orderoptions\"\u003e\u003c!-- Distribution
        Specification--\u003e\u003cprov:dist\u003e\u003cprov:value\u003eFtpPull\u003c/prov:value\u003e\u003c/prov:dist\u003e\u003c/prov:packageOption\u003e"}}}]'
    headers:
      Content-Type:
      - application/json
      Echo-Token:
      - edsc
  recorded_at: Tue, 13 Mar 2018 03:48:25 GMT
  digest: 4b3acfde061707643798eaaa42c444f5b1803b92
[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/orders.json
    body:
      encoding: UTF-8
      string: '{"order":{},"digest":"0ec74ea5b073ba6f6a27b2b2ac70718759eb4637"}'
    headers:
      Content-Type:
      - application/json
      Echo-Token:
      - edsc-access
  recorded_at: Fri, 02 Nov 2018 15:13:00 GMT
  digest: 18785b8d6a9e229639a156e4817feec01e68110f
- request:
    method: get
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/orders.json?id%5B%5D=0FF0DD45-A9A8-84E4-8592-416536818979
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Echo-Token:
      - edsc-access
  recorded_at: Fri, 02 Nov 2018 15:13:03 GMT
  digest: f8061c921970a6271680ddc5908d44c149207378
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/orders/0FF0DD45-A9A8-84E4-8592-416536818979/order_items/bulk_action
    body:
      encoding: UTF-8
      string: '[{"order_item":{"catalog_item_id":"G1200240794-DEV08","quantity":1,"option_selection":{"id":"87996097-E0B0-70DF-DED2-0D9322FB32DE","option_definition_name":"MOD13Q1.6
        Order","content":null}}},{"order_item":{"catalog_item_id":"G1200240797-DEV08","quantity":1,"option_selection":{"id":"[...]
- request:
    method: post
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/orders/0FF0DD45-A9A8-84E4-8592-416536818979/submit
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Echo-Token:
      - edsc-access
  recorded_at: Fri, 02 Nov 2018 15:13:02 GMT
  digest: 5d6bd3cbfdd24b3f96731e136ff28c314aa4476f
- request:
    method: put
    uri: https://cmr.sit.earthdata.nasa.gov/legacy-services/rest/orders/0FF0DD45-A9A8-84E4-8592-416536818979/user_information
    body:
      encoding: UTF-8
      string: '{"user_information":{"shipping_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"billing_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"order_contact":{"first_name":"Earthdata","last_name":"Search","email":"patrick+edsc@element84.com","organization":"EDSC","address":{"country":"United
        States"},"phones":{"0":{"number":"0000000000","phone_number_type":"BUSINESS"}},"role":"Order
        Contact"},"user_domain":"OTHER","user_region":"USA"}}'
    headers:
      Content-Type:
      - application/json
      Echo-Token:
      - edsc-access
  recorded_at: Fri, 02 Nov 2018 15:13:02 GMT
  digest: c8192c2f16fdffbd0e77e24e29b2c8f7cd2c976d
recorded_with: VCR 2.6.0
