---
http_interactions:
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest/orders.json
    body:
      encoding: UTF-8
      string: '{"order":{}}'
    headers:
      Content-Type:
      - application/json
      Client-Id:
      - EDSC
      Echo-ClientId:
      - EDSC
      Echo-Token:
      - edsc
  recorded_at: Thu, 15 Jan 2015 21:08:30 GMT
  digest: acab3c43996bb7f51d50e4301fe55418086eadbd
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest/orders/B83E748F-BEEF-528A-0265-CA6DDA7A8A78/order_items/bulk_action
    body:
      encoding: UTF-8
      string: '[{"order_item":{"catalog_item_id":"G1000005847-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005928-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005952-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005950-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005947-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005946-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005942-LARC_ASDC","quantity":1}},{"order_item":{"catalog_item_id":"G1000005897-LARC_ASDC","quanti[...]
- request:
    method: post
    uri: https://api.echo.nasa.gov/echo-rest/orders/B83E748F-BEEF-528A-0265-CA6DDA7A8A78/order_items/bulk_action
    body:
      encoding: UTF-8
      string: '[{"order_item":{"catalog_item_id":"G1003445220-NSIDC_ECS","quantity":1,"option_selection":{"id":"9940B026-5C7C-BC3E-049B-89F6D2A35AD8","option_definition_name":"M*D29P1N
        Order Option","content":"\u003cecs:options xmlns:ecs=\"http://ecs.nasa.gov/options\"
        xmlns:hsa=\"http://subset.itsc.uah.edu/HSASubsettingCriteria\"\u003e\u003c!--
        ECS distribution options example --\u003e\u003cecs:distribution\u003e\u003cecs:mediatype\u003e\u003cecs:value\u003eFtpPull\u003c/ecs:value\u003e\u003c/ecs:mediatype\u003e\u003cecs:mediaformat\u003e\u003cecs:ftppull-format\u003e\u003cecs:value\u003eFILEFORMAT\u003c/ecs:value\u003e\u003c/ecs:ftppull-format\u003e\u003c/ecs:mediaformat\u003e\u003c/ecs:distribution\u003e\u003cecs:do-processing\u003efalse\u003c/ecs:do-proc[...]
[...]
