@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.radio-setting-dropdown-item {
  padding: calc(bootstrap.$spacer / 4) calc(bootstrap.$spacer / 2);
  font-size: 0.75rem;

  &--in-progress {
    cursor: not-allowed;
    pointer-events: all !important;
  }

  &--is-active {
    &.dropdown-item {
      background-color: utils.$color__nasa-blue;
      color: utils.$color__spacesuit-white;

      .radio-setting-dropdown-item:hover & {
        background-color: utils.$color__nasa-blue;
        color: utils.$color__spacesuit-white;
      }
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    margin-right: calc(bootstrap.$spacer / 4);
    text-align: center;
    color: utils.$color__carbon--30;

    .radio-setting-dropdown-item:hover & {
      color: utils.$color__carbon--40;
    }

    .radio-setting-dropdown-item--is-active & {
      color: utils.$color__spacesuit-white;
    }

    .radio-setting-dropdown-item--is-active:hover & {
      color: utils.$color__spacesuit-white;
    }
  }

  &__spinner {
    margin-right: 0.25rem;
  }

  &__title {
    display: inline-block;
    vertical-align: middle;
  }
}
