.radio-setting-dropdown-item {
  padding: calc($spacer / 4) calc($spacer / 2);
  font-size: 0.75rem;

  &--in-progress {
    cursor: not-allowed;
    pointer-events: all !important;
  }

  &--is-active {
    &.dropdown-item {
      background-color: $color__nasa-blue;
      color: $color__spacesuit-white;

      .radio-setting-dropdown-item:hover & {
        background-color: $color__nasa-blue;
        color: $color__spacesuit-white;
      }
    }
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    margin-right: calc($spacer / 4);
    text-align: center;
    color: $color__carbon--30;

    .radio-setting-dropdown-item:hover & {
      color: $color__carbon--40;
    }

    .radio-setting-dropdown-item--is-active & {
      color: $color__spacesuit-white;
    }

    .radio-setting-dropdown-item--is-active:hover & {
      color: $color__spacesuit-white;
    }
  }

  &__spinner {
    margin-right: 0.25rem;
  }

  &__title {
    display: inline-block;
    vertical-align: middle;
  }
}
