@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.radio-setting-dropdown {
  &__dropdown {
    height: 100%;
  }

  &__menu {
    box-shadow: bootstrap.$box-shadow;
    overflow: hidden;

    &--has-actions {
      padding-top: 0;
    }
  }

  &__actions {
    display: flex;
    border-bottom: 1px solid utils.$color__carbon--20;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 0.25rem;
    border-right: 1px solid utils.$color__carbon--20;
    font-size: 0.75rem;
    border-radius: 0;
    background-color: utils.$color__spacesuit-white;
    color: utils.$color__carbon--50;

    &:last-child {
      border-right: 0;
    }

    &--is-active {
      color: utils.$color__carbon--80;
      background-color: utils.$color__carbon--20;
    }
  }
}
