.search-panels {
  &__portal-escape {
    color: #424242;
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 0.875rem;
  }

  &__portal-escape-link {
    text-decoration: underline;
  }

  &__note {
    display: block;
    margin-bottom: $spacer/2;
    color: $color__black--500;
    font-size: 0.875rem;
  }

  &__note-emph {
    font-weight: 500;

    &--opensearch {
      color: $color__yellow;
    }

    &--csda {
      color: $color__purple;
    }
  }

  &-actions {
    &__action {
      display: flex;
      align-items: center;
      color: $color__black--500;
      // margin-right: 1rem;
      // padding: 0;

      &:hover,
      &:active {
        color: $color__black--600;
      }

      &--subscriptions {
        .badge {
          background-color: $color__yellow;
        }
      }
    }
  }
}
