.search-panels {
  &__note {
    display: block;
    margin-bottom: calc($spacer / 2);
    color: $color__carbon--50;
    font-size: 0.875rem;
  }

  &__note-emph {
    font-weight: 500;

    &--opensearch {
      color: $color__international-orange;
    }

    &--csda {
      color: $color__purple;
    }
  }

  &__actions {
    padding: calc($spacer / 2) $spacer;
  }

  &__action {
    display: flex;
    align-items: center;
    color: $color__carbon--50;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:active {
      color: $color__carbon--60;
    }

    &--subscriptions {
      .badge {
        background-color: $color__international-orange;
      }
    }
  }

  &__focused-meta {
    margin: 0.5rem;
    background: $color__spacesuit-white;
    border-radius: 0.125rem;
    overflow: hidden;
  }
}
