.search-panels {
  &__note {
    display: block;
    margin-bottom: $spacer/2;
    color: $color__black--500;
    font-size: 0.875rem;
  }

  &__note-emph {
    font-weight: 500;

    &--opensearch {
      color: $color__yellow;
    }

    &--csda {
      color: $color__purple;
    }
  }

  &__actions {
    padding: $spacer/2 $spacer;
  }

  &__action {
    display: flex;
    align-items: center;
    color: $color__black--500;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:active {
      color: $color__black--600;
    }

    &--subscriptions {
      .badge {
        background-color: $color__yellow;
      }
    }
  }
}
