.search-panels {
  &__portal-escape {
    color: $color__black--600;
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 0.875rem;
    background-color: $color__black--100;
    border-top: 1px solid $color__black--200;
  }

  &__portal-escape-link {
    text-decoration: underline;
  }

  &__note {
    display: block;
    margin-bottom: $spacer/2;
    color: $color__black--500;
    font-size: 0.875rem;
  }

  &__note-emph {
    font-weight: 500;

    &--opensearch {
      color: $color__yellow;
    }

    &--csda {
      color: $color__purple;
    }
  }

  &__actions {
    padding: $spacer/2 $spacer;
  }

  &__action {
    display: flex;
    align-items: center;
    color: $color__black--500;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:active {
      color: $color__black--600;
    }

    &--subscriptions {
      .badge {
        background-color: $color__yellow;
      }
    }
  }
}
