<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= site_page_title('Downloads') %></title>
    <link rel="shortcut icon" href="/favicon.ico?v=1.1">
  </head>
  <body>
    <ul>
      <% @urls.each do |url| %>
      <li><a href="<%= url %>"><%= url %></a></li>
      <% end %>
    </ul>
    <% if  @errors.present? %>
      <%= @errors %>
     <% end %>
  </body>
</html>
