.admin-page {
  &__header {
    margin-bottom: 1.25rem;
    border-bottom: 1px solid $color__black--200;
  }

  &__breadcrumbs {
    background: none;
    padding: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
  }

  &__page-title {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
  }
}