.admin-retrievals-list {
  &__interactive {
    cursor: pointer;

    &:hover {
      background-color: $color__carbon--20 !important;
    }
  }

  &__table-head-cell--sortable {
    position: relative;
  }

  &__sortable-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }

  &__pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pagination {
    margin: 0 auto;
    width: auto;
    display: inline-block;

    .rc-pagination-item-active {
      background-color: $color__nasa-blue;
      border-color: $color__nasa-blue--shade;
      color: $color__spacesuit-white;
    }

    .rc-pagination-jump-next,
    .rc-pagination-jump-prev,
    .rc-pagination-next,
    .rc-pagination-prev,
    .rc-pagination-item {
      min-width: 32px;
      height: 32px;
      line-height: 32px;
      border-radius: 16px;
    }

    .rc-pagination-next,
    .rc-pagination-prev {
      border-color: transparent;
      color: $color__carbon--50;

      &.rc-pagination-disabled {
        color: $color__carbon--20;
      }

      &:hover {
        color: $color__carbon--90;

        &.rc-pagination-disabled {
          color: $color__carbon--20;
        }
      }
    }

    .rc-pagination-item {
      &:hover {
        border-color: $color__carbon--30;
        background-color: $color__carbon--20;
        color: $color__carbon--50;

        &.rc-pagination-item-active {
          background-color: $color__nasa-blue--shade;
          border-color: $color__nasa-blue--shade;
          color: $color__spacesuit-white;

          a {
            color: $color__white
          }
        }

        a {
          color: $color__carbon--50;
        }
      }
    }
  }
}
