$item-height: 3rem;

.order-status-item {
  position: relative;
  margin-bottom: 0.5rem;
  border: 1px solid $color__carbon--30;
  z-index: 0;
  background: $color__spacesuit-white;
  border-radius: $border-radius;

  &:last-child {
    border-bottom: 1px solid $color__carbon--30;
  }

  &--is-opened {
    box-shadow: 0 0 0.75rem -0.125rem rgba($color__carbon-black, 0.15);
    z-index: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $spacer;
  }

  &__heading {
    line-height: $item-height;
    padding-right: $spacer;
    align-items: center;
    height: $item-height;
    width: 50%;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 0.875rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    .order-status-item--is-opened & {
      width: auto;
    }
  }

  &__meta-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5*$spacer;
    width: 15%;
    font-size: 0.775rem;
    color: $color__carbon--60;

    &--progress {
      justify-content: flex-start;
    }
  }

  &__meta-row {
    display: flex;
    flex-direction: row;
  }

  &__meta {
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: $spacer;
    width: auto;
    font-size: 0.875rem;
    color: $color__carbon--60;
  }

  &__meta-heading {
    margin-bottom: 0.125*$spacer;
    font-size: 0.875rem;
    color: $color__carbon--40;
  }

  &__meta-body {
    margin-top: 2px;

    &--progress {
      display: flex;
      align-items: center;
      margin-top: 0rem;
    }
  }

  &__progress-meta {
    display: flex;
    flex-direction: column;
  }

  &__body-header {
    padding-top: 0;
  }

  &__body-header-primary {
    display: flex;
    flex-direction: column;
    padding: $spacer;
    padding-bottom: 0.875rem;
    padding-top: 0;
  }

  &__progress-ring {
    margin-right: calc($spacer / 4);
    height: 23px;

    .progress-ring__circle-back {
      animation: pulse 1s alternate infinite;
    }

    .order-status-item--in_progress &,
    .order-status-item--complete &,
    .order-status-item--failed &,
    .order-status-item--canceled & {
      .progress-ring__circle-back {
        animation: none;
      }
    }

    .order-status-item &,
    .order-status-item--in_progress & {
      .progress-ring__progress {
        stroke: $color__nasa-blue;
      }
    }

    .order-status-item--complete & {
      .progress-ring__progress {
        stroke: $color__active-green;
      }
    }

    .order-status-item--failed & {
      .progress-ring__progress {
        stroke: $color__nasa-red;
      }
    }
  }

  &__button {
    width: 5%;
    color: $color__carbon--40;

    &:hover {
      color: $color__carbon--50;
    }
  }

  &__stats {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 1rem;
  }

  &__status {
    line-height: 1rem;
  }

  &__percentage {
    display: inline-block;
    margin-left: calc($spacer / 4);
    font-weight: 300;
    font-size: 0.725rem;
    line-height: 1rem;
    color: $color__carbon--50;
  }

  &__orders-processed {
    display: inline-block;
    font-size: 0.725rem;
    line-height: 1rem;
    font-weight: 300;
    color: $color__carbon--50;
  }

  &__additional-info {
    max-height: 7rem;
    overflow-y: scroll;
    background-color: $color__carbon--20;
  }

  &__order-info {
    font-size: 0.875rem;
  }

  &__note {
    display: block;
    margin-bottom: calc($spacer / 2);
    color: $color__carbon--50;
    font-size: 0.875rem;
  }

  &__note-emph {
    font-weight: 500;

    &--opensearch {
      color: $color__international-orange;
    }

    &--csda {
      color: $color__purple;
    }
  }

  &__message {
    padding: 0.875rem $spacer;
    background-color: $color__pale-yellow;
    border: 1px solid $color__pale-yellow--dark;
    border-left: 0;
    border-right: 0;

    &--is-error {
      background-color: $color__nasa-red--tint;
      border-color: $color__nasa-red--tint;
    }
  }

  &__message-heading {
    margin-bottom: $spacer*0.25;
    font-size: 0.775rem;
    color: rgba($color__carbon-black, 0.5);
  }

  &__message-body {
    margin-bottom: 0;
    font-size: 0.775rem;
    color: rgba($color__carbon-black, 0.7);
  }

  &__body {
    display: none;
    flex-direction: column;

    .order-status-item--is-opened & {
      display: block;
    }
  }

  &__tabs {
    border-top: 1px solid $color__carbon--30;
    background-color: $color__carbon--20;

    .tab-content {
      display: flex;
      flex-direction: column;
      min-height: 25rem;
      max-height: 35rem;
      overflow-y: scroll;
    }

    .tab-pane {
      flex: 1;
      flex-direction: column;

      &.active {
        &.order-status-item__tab-status {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  &__tab-intro {
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 1rem;

    .order-status-item__tab-status & {
      font-size: 1.125rem;
      color: $color__carbon--50;
      max-width: 30rem;
      text-align: center;
    }
  }

  &__status-text {
    font-style: italic;
    font-size: 0.825rem;
    color: $color__carbon--50;
    display: block;
    margin-bottom: 0.5rem;
  }

  .text-window-actions {
    overflow-y: scroll;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 20rem;
  }

  &__direct-distribution-information {
    margin-bottom: 1rem;

    .link--external {
      &:after {
        color: $color__carbon--50;
      }

      &:hover:after {
        color: $color__carbon--50;
      }
    }
  }

  &__subtitle {
    color: $color__carbon--50;
    font-weight: 500;
    font-size: 0.925rem;
  }

  &__direct-distribution-item {
    display: inline-block;
    margin-right: 1rem;
    color: $color__carbon--50;
    font-weight: 500;
  }

  &__direct-distribution-item-value {
    display: block;
    font-weight: 700;
    color: $color__carbon--60;
  }
}

@keyframes pulse {
  from {
    stroke: $color__carbon--30;
  }

  to {
    stroke: $color__carbon--50;
  }
}
