.order-status-item {
  margin-bottom: $spacer;
  padding: $spacer;
  border: 1px solid $color__black--300;
  border-radius: $border-radius;

  &--in-progress {
    border-left: 4px solid $color__indigo;
  }

  &--complete {
    border-left: 4px solid $color__green;
  }

  &--failed {
    border-left: 4px solid $color__red;
  }

  &__heading {
    font-weight: 700;
    font-size: 1rem;
  }

  &__stats {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 1rem;
  }

  &__percentage {
    display: inline-block;
    margin-left: $spacer/2;
    font-weight: 300;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }
}