@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.order-status {
  &__links {
    margin-top: bootstrap.$spacer;
    padding: 0;
    list-style: none;
  }

  &__links-item {
    margin-bottom: bootstrap.$spacer;

    &:last-child {
      margin: 0;
    }
  }

  &__links-title {
    font-size: 1.25rem;
    font-weight: 700;
  }

  &__collection-link {
    color: inherit;

    &:hover,
    &:active {
      color: inherit;
    }
  }

  .well__footer {
    margin-top: 1rem;
    background-color: utils.$color__carbon--5;
    color: utils.$color__carbon--60;
    border-radius: bootstrap.$border-radius;
  }

  &__footer-link-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__footer-link-item {
    margin-bottom: calc(bootstrap.$spacer / 4);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__footer-link-icon {
    margin-right: calc(bootstrap.$spacer / 4);
  }

  &__footer-link {
    color: utils.$color__carbon--60;

    &:hover,
    &:active {
      color: utils.$color__carbon--60;
    }
  }
}
