@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

$item-height: 3rem;

.order-status-item {
  position: relative;
  margin-bottom: 0.5rem;
  border: 1px solid utils.$color__carbon--30;
  z-index: 0;
  background: utils.$color__spacesuit-white;
  border-radius: bootstrap.$border-radius;

  &:last-child {
    border-bottom: 1px solid utils.$color__carbon--30;
  }

  &--is-opened {
    z-index: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-left: bootstrap.$spacer;
  }

  &__heading {
    line-height: $item-height;
    padding-right: bootstrap.$spacer;
    align-items: center;
    height: $item-height;
    width: 50%;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: -0.015rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    .order-status-item--is-opened & {
      width: auto;
    }
  }

  &__meta-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5*bootstrap.$spacer;
    width: 15%;
    color: utils.$color__carbon--60;

    &--progress {
      justify-content: flex-start;
    }
  }

  &__meta-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
    flex-direction: row;

    @include bootstrap.media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__meta {
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: bootstrap.$spacer;
    width: auto;
    font-size: 0.875rem;
  }

  &__meta-heading {
    margin-bottom: 0.25*bootstrap.$spacer;
    font-size: 0.6875rem;
    font-weight: 500;
    font-family: bootstrap.$font-family-monospace;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }

  &__meta-body {
    margin-top: 0.25rem;

    &--progress {
      display: flex;
      align-items: flex-start;
    }
  }

  &__progress-meta {
    display: flex;
    flex-direction: column;
  }

  &__body-header-primary {
    display: flex;
    flex-direction: column;
    padding: bootstrap.$spacer*0.5 bootstrap.$spacer;
    padding-top: bootstrap.$spacer*0.5;
  }

  &__progress-ring {
    margin-right: calc(bootstrap.$spacer / 4);
    height: 23px;
    position: relative;
    top: -0.075rem;

    .progress-ring__circle-back {
      animation: pulse 1s alternate infinite;
    }

    .order-status-item--in_progress &,
    .order-status-item--complete &,
    .order-status-item--failed &,
    .order-status-item--canceled & {
      .progress-ring__circle-back {
        animation: none;
      }
    }

    .order-status-item &,
    .order-status-item--in_progress & {
      .progress-ring__progress {
        stroke: utils.$color__nasa-blue;
      }
    }

    .order-status-item--complete & {
      .progress-ring__progress {
        stroke: utils.$color__active-green;
      }
    }

    .order-status-item--failed & {
      .progress-ring__progress {
        stroke: utils.$color__nasa-red--shade;
      }
    }
  }

  &__button {
    width: 5%;
    color: utils.$color__carbon--40;

    &:hover {
      color: utils.$color__carbon--50;
    }
  }

  &__stats {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 1rem;
  }

  &__status {
    font-weight: 700;
    font-size: 0.925rem;
    letter-spacing: -0.015rem;
  }

  &__percentage {
    display: inline-block;
    margin-left: calc(bootstrap.$spacer / 4);
    font-weight: 500;
    font-size: 0.725rem;
    line-height: 1rem;
    color: utils.$color__carbon--60;
  }

  &__orders-processed,
  &__last-updated {
    margin-top: 0.325rem;
    line-height: 1rem;
  }

  &__last-updated {
    margin-top: 0.5rem;
    font-style: italic;
    font-size: 0.825rem;
    margin-top: 0.5rem;
    color: utils.$color__carbon--60;
  }

  &__additional-info {
    max-height: 7rem;
    overflow-y: scroll;
  }

  &__order-info {
    padding: bootstrap.$spacer;
    padding-top: 0;
  }

  &__note {
    display: block;
    margin-bottom: calc(bootstrap.$spacer / 2);
    color: utils.$color__carbon--50;
    font-size: 0.875rem;
  }

  &__note-emph {
    font-weight: 500;

    &--opensearch {
      color: utils.$color__international-orange;
    }

    &--csda {
      color: utils.$color__international-orange;
    }
  }

  &__message {
    padding: 0.875rem bootstrap.$spacer;
    background-color: rgba(utils.$color__international-orange, 0.25);
    border: 1px solid rgba(utils.$color__international-orange, 0.25);
    border-left: 0;
    border-right: 0;

    &--is-error {
      background-color: rgba(utils.$color__nasa-red--shade, 0.25);
      border-color: rgba(utils.$color__nasa-red--shade, 0.25);
    }
  }

  &__message-heading {
    margin-bottom: bootstrap.$spacer*0.25;
    font-size: 0.775rem;
    color: rgba(utils.$color__carbon-black, 0.5);
  }

  &__message-body {
    margin-bottom: 0;
    font-size: 0.775rem;
    color: rgba(utils.$color__carbon-black, 0.7);
  }

  &__body {
    display: none;
    flex-direction: column;

    .order-status-item--is-opened & {
      display: block;
    }
  }

  &__tabs {
    border-top: 1px solid utils.$color__carbon--30;
    background-color: utils.$color__carbon--10;

    .tab-content {
      display: flex;
      flex-direction: column;
      min-height: 25rem;
      max-height: 35rem;
      overflow-y: scroll;
    }

    .tab-pane {
      flex: 1;
      flex-direction: column;

      &.active {
        &.order-status-item__tab-status {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  &__tab-intro {
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 1rem;

    .order-status-item__tab-status & {
      font-size: 1.125rem;
      color: utils.$color__carbon--60;
      max-width: 30rem;
      text-align: center;
    }
  }

  &__status-text {
    font-style: italic;
    font-size: 0.825rem;
    color: utils.$color__carbon--60;
    display: block;
    margin-bottom: 0.5rem;
  }

  .text-window-actions {
    overflow-y: scroll;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 20rem;
  }

  &__direct-distribution-information {
    margin-bottom: 1rem;

    .link--external {
      &:after {
        color: utils.$color__carbon--50;
      }

      &:hover:after {
        color: utils.$color__carbon--50;
      }
    }
  }

  &__subtitle {
    color: utils.$color__carbon--50;
    font-weight: 500;
    font-size: 0.925rem;
  }

  &__direct-distribution-item {
    display: inline-block;
    margin-right: 1rem;
    color: utils.$color__carbon--50;
    font-weight: 500;
  }

  &__direct-distribution-item-value {
    display: block;
    font-weight: 700;
    color: utils.$color__carbon--60;
  }
}

@keyframes pulse {
  from {
    stroke: utils.$color__carbon--30;
  }

  to {
    stroke: utils.$color__carbon--50;
  }
}
