$item-height: 3rem;

.order-status-item {
  padding: 0 $spacer;
  border-top: 1px solid $color__black--300;
  border-left: 0;
  border-right: 0;

  &:last-child {
    border-bottom: 1px solid $color__black--300;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    line-height: $item-height;
    padding-right: $spacer;
    align-items: center;
    height: $item-height;
    width: 50%;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 0.875rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    .order-status-item--is-opened & {
      text-overflow: clip;
      overflow: visible;
      white-space: wrap;
    }
  }

  &__meta-column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5*$spacer;
    width: 15%;
    font-size: 0.775rem;
    color: $color__black--600;

    &--progress {
      justify-content: flex-start;
    }
  }

  &__meta {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5*$spacer;
    width: auto;
    font-size: 0.775rem;
    color: $color__black--600;
  }

  &__body-header {
    display: flex;
  }

  &__progress-ring {
    margin-right: $spacer/4;
    .order-status-item &,
    .order-status-item--in_progress & {
      .progress-ring__progress {
        stroke: $color__indigo;
      }
    }

    .order-status-item--complete & {
      .progress-ring__progress {
        stroke: $color__green;
      }
    }

    .order-status-item--failed & {
      .progress-ring__progress {
        stroke: $color__red;
      }
    }
  }

  &__button {
    width: 5%;
    color: $color__black--400;

    &:hover {
      color: $color__black--500;
    }
  }

  &__stats {
    display: inline-block;
  margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 1rem;
  }

  &__status {
    line-height: 1rem;
  }

  &__percentage {
    display: inline-block;
    margin-left: $spacer/4;
    font-weight: 300;
    font-size: 0.725rem;
    line-height: 1rem;
    color: $color__black--500;
  }

  &__orders-processed {
    display: inline-block;
    margin-left: $spacer/4;
    font-size: 0.725rem;
    line-height: 1rem;
    font-weight: 300;
    color: $color__black--500;
  }

  &__body {
    display: none;
    flex-direction: column;
    margin-bottom: $spacer;

    .order-status-item--is-opened & {
      display: block;
    }
  }

  &__tabs {
    .tab-content {
      display: flex;
      flex-direction: column;
      height: 25rem;
      min-height: 25rem;
      max-height: 25rem;
      overflow-y: scroll;
    }

    .tab-pane {
      flex: 1;
      flex-direction: column;

      &.active {
        display: flex;
      }
    }
  }

  &__tab-intro {
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__status-text {
    font-style: italic;
    font-size: 0.825rem;
    color: $color__black--500;
  }

  &__order-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    padding-top: 0;
    border-bottom: 1px solid $color__black--200;
  }

  .text-window-actions {
    overflow-y: scroll;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 20rem;
  }
}

.order-status-links-modal {
  .edsc-modal__body {
    padding-top: 3*$spacer;
  }
}

.download-links-panel {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__pre {
    margin: 0;
    padding: 0;
  }
}
