.order-status-item-body {
  &__state {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: $spacer/2;
  }

  &__state-display {
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-block;
    width: 9rem;
    margin-right: $spacer;
    padding: $spacer/2 $spacer;
    background: $color__indigo;
    border-radius: 2px;
    color: $color__white;
    text-align: center;
    text-transform: capitalize;

    &--complete {
      background-color: $color__green;
    }

    &--failed {
      background-color: $color__red;
    }
  }

  &__state-text {
    margin: 0;
    padding: 0;
  }

  &__status {
    display: inline-block;
    margin-right: $spacer/4;
    font-size: 1.125rem;
  }

  &__details {
    display: flex;
    align-items: center;
  }

  &__processed {
    font-weight: 700;
  }

  &__button {
    display: inline-block;
    margin-right: $spacer/4;
  }

  &__links-dropdown {
    .dropdown-menu {
      max-width: 30rem;
      max-height: 385px;
      padding: $spacer/2;
      overflow: hidden;
      overflow-y: scroll;
    }
  }

  &__contact {
    margin-top: $spacer;
    font-size: 0.825rem;
    color: $color__black--400;

    a {
      color: $color__black--400;

      &:hover,
      &:active {
        color: $color__black--600;
      }
    }
  }
}
