.order-status {
  &__links {
    margin-top: $spacer;
    padding: 0;
    list-style: none;
  }

  &__links-item {
    margin-bottom: $spacer;

    &:last-child {
      margin: 0;
    }
  }

  &__links-title {
    font-size: 1.25rem;
    font-weight: 700;
  }

  &__collection-link {
    color: inherit;

    &:hover,
    &:active {
      color: inherit;
    }
  }

  .well__footer {
    margin-top: 1rem;
    background-color: $color__nasa-blue;
    color: $color__spacesuit-white;
    border-radius: $border-radius;
  }

  &__footer-link-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__footer-link-item {
    margin-bottom: calc($spacer / 4);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__footer-link-icon {
    margin-right: calc($spacer / 4);
  }

  &__footer-link {
    color: $color__spacesuit-white;

    &:hover,
    &:active {
      color: $color__spacesuit-white;
    }
  }
}
