.shapefile-dropzone {
  display: none;
  z-index: 5000;

  &.dropzone--is-active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
  }

  /* Hides the default text inside the dropzone container */
  .dz-default {
    @include invisible(hidden)
  }
}