@use '../../../css/utils';

.wrapping-container {
  position: relative;
  overflow-y: hidden;
  flex-grow: 1;
  background-color: utils.$color__spacesuit-white;

  &--map-page {
    background-color: utils.$color__carbon-black;
  }
}
