.download-history {
  &__spinner {
    margin: 0 auto;
  }
}

.order-status-table {
  a {
    color: $color__blue;

    &:hover,
    &:active {
      color: $color__blue--dark;
    }
  }

  &__ago {
    white-space: nowrap;
  }

  &__remove {
    color: $color__black--300;

    &:hover,
    &:active {
      color: $color__black--600;
    }
  }
}
