.download-history {
  &__spinner {
    margin: 0 auto;
  }

  &__button {
    margin: 0 $spacer/2;
    color: $color__black--300;

    &--share {
      i {
        position: relative;
        top: 0.0625rem;
      }
    }

    &:hover {
      color: $color__black--600;
    }
  }
}

.download-history-table {
  a {
    color: $color__blue;

    &:hover,
    &:active {
      color: $color__blue--dark;
    }
  }

  &__ago {
    white-space: nowrap;
  }

  &__actions,
  &__actions-heading {
    text-align: center;
  }

  &__ago {
    white-space: nowrap;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
