.earthdataDownload {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__imageContainer{
    max-width: 100%;
    max-height: 100%;
    max-width: 50vw;
    position: fixed;
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
  }

  &__screenshot {
    height: 500px;
    width: 500px;
  }

  &__content {
    flex: 1;
    top: 50%;
    right: 0;
    width: 50%;
    padding: 0 20px;
    max-width: 100%;
    max-height: 100%;
    max-width: 50vw;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
  }

  &__header-primary {
    position: absolute;
    top: 50;
    left: 0;
  }

    &__list-group {
      text-align: left;
      font-size: larger;
      margin: 0;
    }

    &__list-item {
      text-align: left;
    }

    &__content-container {
      position: relative;
      margin-top: 100px;
      text-align: left;
      list-style-position: inside; /* Places the bullets inside the list items */
      background-color: rgba(204, 204, 204, 0.685);
      display: inline-block;
      padding: 15px;
    }

    &__header-secondary {
      position: absolute;
      top: 0;
      left: 10;
      margin: 0;
    }

    &__install_content {
      bottom: 0;
      left: 0;
      position: absolute;
    }

    &__downloaderSize {
      font-weight: 400;
    }

    &__osLinkFileExt {
      font-weight: 400;
      color: #6f6e6e;
      font-style: italic;
    }

  &__other-links{
    display: flex;
    justify-content: space-around;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 250px;
    width: 50%;
  }
}
