.earthdata-download {
  &__other-links-item-icon,
  &__repo-icon {
    position: relative;
    top: 0;
    color: $color__black--400;
    transition: all 0.2s ease-in-out;

    .earthdata-download__download-link:hover & {
      transform: scale(1.125);
      color: $color__black--500;
    }
  }

  &__other-links-item-icon {
    display: block;
    margin-bottom: 0.5rem;
    width: 1.5rem;
  }

  &__repo-icon {
    margin-right: 0.5rem;
  }

  &__feature-list-item {
    margin: 0.5rem 0;
    line-height: 1.5rem;
    vertical-align: middle;
    font-size: 1.125rem;

    &::marker {
      margin-right: 0.25rem;
      color: $color__blue;
      content: "\2713";
      font-size: 1.25rem;
    }
  }

  &__feature-list-item-text {
    position: relative;
    left: 0.5rem;
  }
}
