.edsc-table {
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: relative;

  &--portal-escape {
    color: #424242;
    margin: 0;
    padding: 15px 20px;
    border-top: 1px solid #e3e3e3;
    width: inherit;
  }

  &--portal-escape a {
    text-decoration: underline;
  }

  &__tr {
    height: 60px;
    background-color: $color__white;
    border-bottom: 1px solid $color__black--200;

    .edsc-table__td {
      background-color: $color__white;
    }

    :last-child {
      .edsc-table__td {
        border-bottom: 0;
      }
    }

    .edsc-table__table--striped & {
      background-color: $color__white;

      &--odd {
        background-color: darken($color__black--100, 1);

        .edsc-table__td {
          background-color: darken($color__black--100, 1);
        }

        .badge-light {
          background-color: $color__black--200;
        }
      }
    }
  }

  &__th,
  &__td {
    flex-shrink: 0;
    overflow: hidden;

    &--skeleton {
      border-bottom: 1px solid $color__black--200;
    }
  }

  &__td {
    display: flex !important;

    &--skeleton {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__th {
    padding: 0.125rem 0.5rem;
    font-size: 0.725rem;
    font-weight: 500;
    color: $color__black--500;
    background-color: $color__white;
  }

  &__table {
    &--sticky {
      overflow: hidden;

      .edsc-table__thead,
      .edsc-table__footer {
        position: sticky;
        z-index: 1;
        width: fit-content;
      }

      .edsc-table__thead {
        top: 0;
        z-index: 1;
      }

      .edsc-table__footer {
        bottom: 0;
      }

      .edsc-table__tbody {
        position: relative;
        z-index: 0;
      }

      .edsc-table__th:first-child,
      .edsc-table__td:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
        overflow: visible;

        &:after {
          content: "";
          width: 0.5rem;
          height: 100%;
          height: calc(100% + 1px);
          background-color: transparent;
          background-image: linear-gradient(to left, rgba($color__black--900, 0) 0%, rgba($color__black--900, 0.1) 100%);
          display: block;
          position: absolute;
          top: -1px;
          left: 100%;
          z-index: 1;
        }
      }
    }
  }
}