.edsc-modal-overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  background-color: #fff;
  z-index: 1;
  overflow: scroll;

  &__content {
    flex-grow: 1;
  }

  &__heading {
    flex-grow: 0;
  }
}