@import "static/src/css/vendor/bootstrap/vars";
@import "static/src/css/utils/variables/colors";
.edsc-modal {
  .modal-body {
    padding: 0;
  }

  &--fixed-height {
    .modal-content {
      max-height: 80vh;
      overflow: hidden;
    }

    .modal-body {
      overflow: auto;
    }

    .modal-header {
      flex-grow: 0;
      flex-shrink: 0;
    }

    .modal-footer {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  &--fixed-height-sm {
    .modal-content {
      height: 25rem;
    }
  }

  &--fixed-height-md {
    .modal-content {
      height: 60rem;
    }
  }

  &--fixed-height-lg {
    .modal-content {
      height: 80rem;
    }
  }

  &--inner-header {
    .modal-body {
      display: flex;
      flex-direction: column;
    }
  }

  &__inner-header {
    flex-grow: 0;
  }

  &__inner-loading {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background-color: $color__white;
  }

  &__inner-body {
    flex-grow: 1;
    overflow-y: auto;

    .edsc-modal--body-padding & {
      padding: $spacer;
    }
  }

  &__header {
    background-color: $color__theme--light;
    border-bottom: 0;

    &--is-empty {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1000;
      background-color: transparent;
    }
  }

  &__title {
    font-weight: 700;
    color: $color__black--600;
  }

  &__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  &__footer-meta {
    order: 1;
  }

  &__footer-actions {
    order: 0;
    display: flex;
    justify-content: flex-start;
  }

  &__action {
    margin-right: calc($spacer / 2);

    &:last-child {
      margin-right: 0;
    }
  }

  &__subtitle {
    position: absolute;
    top: 100%;
    left: 50%;
    width: auto;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border-radius: 0.25rem;
    transform: translate(-50%, 0%);
    background-color: #000;
    color: #fff;
    white-space: nowrap;
  }
}
