.edsc-modal {
  &--fixed-height {
    .modal-content {
      height: 25rem;
      max-height: 80vh;
      overflow: hidden;
    }

    .modal-body {
      overflow: scroll;
    }
  }

  &__header {
    background-color: $color__theme--light;
    border-bottom: 0;
  }

  &__title {
    font-weight: 700;
    color: $color__black--600;
  }

  &__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  &__footer-meta {
    order: 1;
  }

  &__footer-actions {
    order: 0;
    display: flex;
    justify-content: flex-start;
  }

  &__action {
    margin-right: $spacer/2;

    &:last-child {
      margin-right: 0;
    }
  }
}
