.download-files-panel {
  &__list {
    line-height: 1.625rem;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__pre {
    margin: 0;
    padding: 0;
  }
}
