.search-form {
  position: relative;
  display: flex;
  margin-right: $spacer/2;
  flex-direction: column;
  width: auto;
  z-index: 2;
  background-color: $color__black--900;

  &__primary {
    display: flex;
    align-items: stretch;
  }

  &__secondary {
    display: flex;
  }

  &__form {
    display: inline;
    vertical-align: middle;
    background-color: $color__white;
  }

  &__button {
    border: 0;
    border-radius: 0;
    background-color: $color__white;
    vertical-align: middle;

    &:focus {
      box-shadow: none;
      outline: 0;
    }

    .fa {
      margin-top: 0.3em;
    }

    &--dark {
      color: $color__white;
      background-color: $color__black--900;

      &:hover {
        color: $color__white;
      }
    }
  }

  &__label {
    margin-bottom: 0;
  }

  &__input {
    display: inline;
    width: 10em;
    padding: 0.825rem 0.925rem;
    border: none;

    @include media-breakpoint-up(xl) {
      width: 21em;
    }

    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }

  &__filter-stack {
    display: none;
  }

  &__filter-stack--visible {
    display: block;
  }

}
