<template id="tmpl_project-list">
  <ul class="project-list" data-bind="componentProjectList: true">
    <!-- ko if: $component.project.collections().length == 0 -->
    <li class="project-list-empty-notice">Your project is empty. <a href="#" data-bind="click: $component.project.backToSearch">Click here</a> to return to search and add collections to your project.</li>
    <!-- /ko -->
    <!-- ko foreach: $component.project.collections() -->
      <li class="project-list-item">
        <div class="project-list-item-content">
          <h3 class="project-list-item-title" data-bind="text: collection.truncatedTitle, attr: {title: collection.title}, click: function() {
            $('#' + collection.id + '_details').trigger('toggle-panel')
          }"></h3>
          <button class="button project-list-item-visibility" type="button" name="Show/Hide" title="Show/Hide"><i class="fa fa-eye"></i></button>
          <div class="project-list-item-stats">
            <!-- ko if: isLoadingComplete() -->
              <span class="project-list-item-stat">
                <span data-bind="text: collection.granule_hits, fadeVisible: isLoadingComplete"></span> <!--ko text: collection.granule_hits != 1 ? 'Granules' : 'Granule' --><!--/ko --></span>
              </span>
              <span class="project-list-item-stat">
                <span>Est. Size: </span><!-- ko text: collection.total_size() + ' ' + collection.unit() --><!--/ko-->
              </span>
              <div class="collection-capability" data-bind="fadeVisible: isLoadingComplete">
                <!-- ko if: collection.has_spatial_subsetting() -->
                <span data-bind="css: {enabled: spatialSubsettingEnabled()}">
                  <i class="fa fa-globe" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Spatial subsetting options available"></i>
                </span>
                <!-- /ko -->
                <!-- ko if: collection.has_variables -->
                <span data-bind="css: {enabled: variableSubsettingEnabled()}">
                  <i class="fa fa-tags" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Variable subsetting options available"></i>
                </span>
                <!-- /ko -->
                <!-- ko if: collection.has_transforms -->
                <span data-bind="css: {enabled: transformationSubsettingEnabled()}">
                  <i class="fa fa-sliders" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Data transformation options available"></i>
                </span>
                <!-- /ko -->
                <!-- ko if: collection.has_formats -->
                <span data-bind="css: {enabled: reformattingSubsettingEnabled()}">
                  <i class="fa fa-file-text-o" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Reformatting options available"></i>
                </span>
                <!-- /ko -->
                <!-- <span data-bind="css: {enabled: serviceOptions.readyToDownload}">
                  <i class="fa fa-check" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Collection is ready to download"></i>
                </span> -->
              </div>
              <div class="project-list-item-actions">
                <a class="project-list-item-action" data-toggle="modal" data-bind="click: launchEditModal, css: { enabled: isLoadingComplete()}"><i class="fa fa-cog"></i> Edit Options</a>
                <a class="project-list-item-action" title="Remove collection from the current project" data-bind="click: $root.removeProjectCollection"><i class="fa fa-times"></i> Remove</a>
              </div>
            <!--/ko-->
          </div>
        </div>
      </li>
    <!-- /ko -->
  </ul>
</template>
