<template id="tmpl_project-list">
  <ul class="project-list-list">
    <!-- ko if: $component.project.collections().length == 0 -->
    <li class="project-list-empty-notice">Your project is empty. <a href="#" data-bind="click: $component.project.backToSearch">Click here</a> to return to search and add collections to your project.</li>
    <!-- /ko -->
    <!-- ko foreach: $component.project.collections() -->
      <li class="project-list-item" data-bind="css: collection.id + '_project-list-item', style: {borderLeft: '5px solid' + $data.meta.color}, attr: {'data-short_name': collection.short_name(), 'data-version_id': collection.version_id}" >
        <div class="project-list-item-content">
          <div class="project-list-item-title-wrap" data-bind="multilineEllipsis: {text: collection.title}">
              <h3 class="project-list-item-title" data-bind="click: function(){$('#' + collection.id + '_details').trigger('toggle-panel')}"></h3>
          </div>
          <div class="dropdown project-list-item-action-list dropdown-more-actions dropdown-tooltip-left">
            <button class="button dropdown-button button-naked button-icon button-icon-ellipsis" type="button" data-tooltip="true" data-placement="left" data-toggle="dropdown" aria-expanded="false" title="More actions"><i class="fa fa-ellipsis-v"></i></button>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-fancy">
              <li>
                <div class="dropdown-fancy-content" data-bind="css: { 'dropdown-fancy-content-trim-bottom': isLoadingComplete() && collection.handoffTags().length > 0 }">
                  <ul>
                    <li class="dropdown-fancy-list-item">
                      <button class="button-naked project-list-item-toggle" type="button" name="button" data-bind="click: toggleVisibility">
                        <!-- ko if: collection.visible() -->
                          <i class="dropdown-fancy-button-icon fa fa-eye-slash"></i>
                        <!-- /ko -->
                        <!-- ko if: !collection.visible() -->
                          <i class="dropdown-fancy-button-icon fa fa-eye"></i>
                        <!-- /ko -->
                        <span class="dropdown-fancy-button-icon-text">Toggle visibility</span>
                      </button>
                    </li>
                    <li class="dropdown-fancy-list-item">
                      <button class="button-naked project-list-item-remove" type="button" name="button" data-bind="click: $root.removeProjectCollection">
                        <i class="dropdown-fancy-button-icon fa fa-times"></i>
                        <span class="dropdown-fancy-button-icon-text">Remove</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- ko if: isLoadingComplete() && collection.handoffTags().length > 0 -->
              <li>
                <div class="dropdown-fancy-header">
                  Open collection in:
                </div>
                <div class="dropdown-fancy-content">
                  <ul>
                    <li>
                      <ul class="handoff-links">
                        <!-- ko foreach: collection.handoffUrls($root.project) -->
                        <li>
                          <a class="dropdown-fancy-list-item ext analytics-smart-handoff-link" target="_blank" data-bind="text: $data.getProviderName(), attr: { href: $data.getProviderUrl() }"></a>
                        </li>
                        <!-- /ko -->
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- /ko -->
            </ul>
          </div>
          <div class="project-list-item-stats">
            <!-- ko if: !isLoadingComplete() -->
            <div class="project-list-item-loading">
              <div class="project-list-item-loading-row">
                <div class="loading-content project-list-item-loading-granules"><span class="loading-content-inner"></span></div>
                <div class="loading-content project-list-item-loading-details"><span class="loading-content-inner"></span></div>
              </div>
              <div class="project-list-item-loading-row">
                <div class="loading-content project-list-item-loading-capabilities"><span class="loading-content-inner"></span></div>
                <div class="loading-content project-list-item-loading-options"><span class="loading-content-inner"></span></div>
              </div>
            </div>
            <!-- /ko -->
            <!-- ko if: isLoadingComplete() -->
              <span class="project-list-item-stat project-list-item-stat-granules">
                <span data-bind="abbreviateNumber: collection.granule_hits , fadeVisible: isLoadingComplete"></span> <!-- ko text: collection.granule_hits() !== 1 ? 'Granules' : 'Granule' --><!--/ko -->
              </span>
              <span class="project-list-item-stat project-list-item-stat-size">
                <span>Est. Size: </span><!-- ko text: collection.total_size() + ' ' + collection.unit() --><!--/ko-->
              </span>
              <div class="project-list-item-actions">
                <div class="project-list-item-action">
                  <div class="collection-capability" data-bind="fadeVisible: isLoadingComplete">
                    <!-- ko if: collection.has_spatial_subsetting() -->
                    <span data-bind="css: {enabled: spatialSubsettingEnabled()}">
                      <i class="fa fa-globe" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Spatial subsetting options available"></i>
                    </span>
                    <!-- /ko -->
                    <!-- ko if: collection.has_variables -->
                    <span data-bind="css: {enabled: variableSubsettingEnabled()}">
                      <i class="fa fa-tags" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Variable subsetting options available"></i>
                    </span>
                    <!-- /ko -->
                    <!-- ko if: collection.has_transforms -->
                    <span data-bind="css: {enabled: transformationSubsettingEnabled()}">
                      <i class="fa fa-sliders" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Data transformation options available"></i>
                    </span>
                    <!-- /ko -->
                    <!-- ko if: collection.has_formats -->
                    <span data-bind="css: {enabled: reformattingSubsettingEnabled()}">
                      <i class="fa fa-file-text-o" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Reformatting options available"></i>
                    </span>
                    <!-- /ko -->
                    <!-- <span data-bind="css: {enabled: serviceOptions.readyToDownload}">
                      <i class="fa fa-check" aria-hidden="true" data-tooltip="true" data-placement="bottom" data-title="Collection is ready to download"></i>
                    </span> -->
                  </div>
                </div>
                <a class="project-list-item-action project-list-item-action-edit-options" data-toggle="modal" data-bind="click: launchEditModal, css: { enabled: isLoadingComplete()}, click: function(){$('#' + collection.id + '_edit-options').trigger('toggle-panel')}">
                  <!-- ko if: !serviceOptions.readyToDownload() -->
                  <i class="fa fa-exclamation-circle echoforms-error"></i>
                  <!-- /ko -->
                  <i class="fa fa-cog"></i>
                  Edit Options
                </a>
              </div>
            <!--/ko-->
          </div>
        </div>
      </li>
    <!-- /ko -->
  </ul>
</template>
