.spatial-selection-dropdown {
  display: flex;

  &__menu {
    margin-top: -0.5rem;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: $shadow__panel;
  }

  &__button {
    display: flex;
    align-items: center;
    padding-left: 0.625rem;
  }

  &__icon {
    margin-right: .35rem;
    width: 1rem;
    text-align: center;
  }
}