.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  padding: $spacer;
  background: $color__white;
  z-index: 1;
}

.header__menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__menu-item {
  padding: 0.5rem;
}

.header__menu-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

@include media-breakpoint-up(md) {
  .header__menu {
    flex-direction: row;
  }
}
