.more-actions-dropdown {
  display: flex;
  align-items: flex-start;

  &__toggle {
    &:hover,
    &:focus {
      color: $color__black--500;
    }
  }

  &__menu {
    box-shadow: $box-shadow;
  }

  &__dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
