.more-actions-dropdown-item {
  padding: calc($spacer / 4) calc($spacer / 2);
  font-size: 0.75rem;

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    margin-right: calc($spacer / 4);
    text-align: center;
    color: $color__carbon--30;

    .more-actions-dropdown-item:hover & {
      color: $color__carbon--40;
    }
  }

  &__title {
    display: inline-block;
    vertical-align: middle;
  }
}
