@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.more-actions-dropdown-item {
  padding: calc(bootstrap.$spacer / 4) calc(bootstrap.$spacer / 2);
  font-size: 0.75rem;

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    margin-right: calc(bootstrap.$spacer / 4);
    text-align: center;
    color: utils.$color__carbon--30;

    .more-actions-dropdown-item:hover & {
      color: utils.$color__carbon--40;
    }
  }

  &__title {
    display: inline-block;
    vertical-align: middle;
  }
}
