.more-actions-dropdown-item {
  padding: $spacer/4 $spacer/2;
  font-size: 0.75rem;

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    margin-right: $spacer/4;
    text-align: center;
    color: $color__black--300;

    .more-actions-dropdown-item:hover & {
      color: $color__black--400;
    }
  }

  &__title {
    display: inline-block;
    vertical-align: middle;
  }
}
