@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.datetime {
  &__buttons {
    order: 1;
  }

  &__button {
    width: 100%;
    padding: 0.3125rem;
    border-radius: bootstrap.$border-radius-sm;
    font-weight: 700;

    &:hover {
      background-color: utils.$color__carbon--20;
    }
  }

  .form-control {
    font-size: 0.85rem;
  }

  &.rdtOpen .rdtPicker {
    display: flex;
  }

  .rdtPicker {
    flex-direction: column;
    width: 13.4375rem;
    font-size: 0.8125rem;
    border: 1px solid utils.$color__carbon--20;
    border-radius: bootstrap.$border-radius;
    color: utils.$color__carbon--70;
    @include utils.carat('topleft');

    .rdtYears,
    .rdtMonths,
    .rdtDays {
      order: 0;
    }

    table {
      border: 0;
    }

    thead tr:first-child th {
      border-radius: bootstrap.$border-radius-sm;
    }

    td {
      border-radius: bootstrap.$border-radius-sm;
    }
  }
}
