.facets {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $color__white;
}

.facets__facet {
  display: block;
  color: $color__white;
}

.facets__facet-group {
  height: 0;
  overflow: hidden;
  background: $color__black--900;
}

.facets__facet-group:first-child {
  padding-top: 0.6rem;
}

.facets__facet-group--is-open {
  height: auto;
}

.facets__facet-heading {
  margin: 0;
  font-size: 1rem;
}

.facets__facet-button {
  display: flex;
  justify-content: space-between;
  padding: .6rem 1.1rem;
  color: $color__white;
  border-radius: 0;
}

.facets__facet-button:hover {
  color: $color__white;
}

.facets__facet-action {
  align-self: flex-end;
}

.facets__selected {
  padding: 0.2rem 0.4rem 0.2rem 1.1rem;
  font-size: 0.875rem;
  color: $color__black--400;
}

.facets__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.facets__item-checkbox {
  margin-right: 0.7rem;
  border-radius: 4px;
  position: relative;
  width: 1rem;
  height: 1rem;
  vertical-align: top;
  opacity: 0.3;
  flex: none;

  &:checked {
    opacity: 1;
  }
}

.facets__item-label {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.2rem 0.4rem 0.2rem 1.1rem;
  font-size: 0.9rem;
  vertical-align: middle;
  border-left: .2rem solid transparent;

  .facets__list-item--level-1 & {
    padding-left: 2rem;
  }

  .facets__list-item--level-2 & {
    padding-left: 3rem;
  }

  .facets__list-item--level-3 & {
    padding-left: 4rem;
  }

  &:hover {
    background: $color__black--700;
    border-left: .2rem solid $color__green--500;
  }
}

.facets__item-title {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.facets__item-total {
  margin-left: auto;
  padding-left: 0.125rem;
  color: $color__black--400;
  font-size: 0.825rem;
}
