@import "static/src/css/main";
.too-many-points-modal {
  &__actions {
    display: flex;
    justify-content: flex-start;
    margin-top: $spacer*2;
  }

  &__action {
    margin-right: calc($spacer / 2);
  }
}
