<!-- ko if: ui.serviceOptionsList && !ui.serviceOptionsList.isEditingAccount() -->
<!-- ko with: account -->
  <p>
    <span data-bind="text: firstName"></span> <span data-bind="text: lastName"></span> (<span data-bind="text: email"></span>)<br>
    <!-- ko if: organizationName() -->
    <span data-bind="text: organizationName"></span><br>
    <!-- /ko -->
    <span data-bind="text: address.street1"></span><br>
    <!-- ko if: address.street2() -->
    <span data-bind="text: address.street2"></span><br>
    <!-- /ko -->
    <!-- ko if: address.street3() -->
    <span data-bind="text: address.street3"></span><br>
    <!-- /ko -->
    <span data-bind="text: address.city"></span>,
    <!-- ko if: address.country() == 'United States' -->
    <span data-bind="text: address.state"></span>
    <!-- /ko -->
    <!-- ko if: address.country() != 'United States' -->
    <span data-bind="text: address.country"></span>
    <!-- /ko -->
    <span data-bind="text: address.zip"></span><br>
    <span data-bind="text: phone.number"></span>
    <!-- ko if: fax.number() -->
    (Phone)<br>
    <span data-bind="text: fax.number()"></span> (Fax)
    <!-- /ko -->
  </p>
  <p>
    <a href="#" data-bind="click: $root.ui.serviceOptionsList.editAccount">Edit</a>
  </p>
<!-- /ko -->
<!-- /ko -->
<!-- ko if: !ui.serviceOptionsList || ui.serviceOptionsList.isEditingAccount() -->
<!-- ko with: account -->

  <!-- ko if: errors() -->
  <p data-bind="foreach: errors">
    <span class="error" data-bind="text: $data"></span>
  </p>
  <!-- /ko -->

  <!-- ko if: message() -->
  <p class="confirmation-message" data-bind="text: message"></p>
  <!-- /ko -->

  <p>
    <label for="first_name">First name*</label>
    <input data-bind="value: firstName, css: { 'field-error': firstNameError() }" id="first_name" size="30" type="text">
  </p>
  <p>
    <label for="last_name">Last name*</label>
    <input data-bind="value: lastName, css: { 'field-error': lastNameError() }" id="last_name" size="30" type="text">
  </p>
  <p>
    <label for="email">Email*</label>
    <input data-bind="value: email, css: { 'field-error': emailError() }" id="email" size="30" type="text">
  </p>
  <p>
    <label for="organization_name">Organization name</label>
    <input data-bind="value: organizationName, css: { 'field-error': organizationNameError() }" id="organization_name" size="30" type="text">
  </p>

  <h4>Address</h4>

  <p>
    <label for="street1">Street</label>
    <input data-bind="value: address.street1, css: { 'field-error': address.street1Error() }" id="street1" maxlength="128" size="30" type="text">
  </p>
  <p>
    <label></label>
    <input data-bind="value: address.street2, css: { 'field-error': address.street2Error() }" id="street2" maxlength="128" size="30" type="text">
  </p>
  <p>
    <label></label>
    <input data-bind="value: address.street3, css: { 'field-error': address.street3Error() }" id="street3" maxlength="128" size="30" type="text">
  </p>
  <p>
    <label for="city">City</label>
    <input data-bind="value: address.city, css: { 'field-error': address.cityError() }" id="city" size="30" type="text">
  </p>
  <p>
    <label for="country">Country</label>
    <select data-bind="value: address.country, css: { 'field-error': address.countryError() }" id="country">
      <%= render partial: "users/country_options" %>
    </select>
  </p>
  <!-- ko if: address.country() == 'United States' -->
  <p>
    <label for="state" class="">State</label>
    <select data-bind="value: address.state, css: { 'field-error': address.stateError() }" id="state">
      <%= render partial: "users/state_options" %>
    </select>
  </p>
  <!-- /ko -->
  <p>
    <label for="zip" class="">Zip</label>
    <input data-bind="value: address.zip, css: { 'field-error': address.zipError() }" id="zip" size="30" type="text">
  </p>

  <h4>Phone</h4>

  <p>
    <label for="phone_number">Phone number</label>
    <input data-bind="value: phone.number, css: { 'field-error': phoneError() }" id="phone_number" size="30" type="text">
  </p>
  <p>
    <label for="fax_number">Fax number</label>
    <input data-bind="value: fax.number, css: { 'field-error': faxError() }" id="fax_number" size="30" type="text">
  </p>

  <p>
    <label for="notification_level">Receive delayed access notifications</label>
    <select data-bind="value: notificationLevel, css: { 'field-error': notificationLevelError() }" id="notification_level">
      <option value="VERBOSE">Always</option>
      <option value="DETAIL">When requests change state</option>
      <option value="INFO">When requests reach a completed or failed state</option>
      <option value="CRITICAL">When requests fail</option>
      <option value="NONE">Never</option>
    </select>
  </p>
  <!-- ko if: $root.ui.serviceOptionsList -->
  <p>
    <a href="#" data-bind="click: $root.ui.serviceOptionsList.cancelAccountEdit">Cancel</a>
  </p>
  <!-- /ko -->
<!-- /ko -->
<!-- /ko -->
