<!-- ko if: !ui.accountForm.isEditingNotificationPreference() -->
<!-- ko with: account -->
  <p>
    <span data-bind="text: firstName"></span> <span data-bind="text: lastName"></span> (<span data-bind="text: email"></span>)<br>
    <!-- ko if: organizationName() -->
      <span><strong>Organization: </strong> <!-- ko text: organizationName --><!-- /ko --></span><br>
    <!-- /ko -->
    <!-- ko if: country() -->
    <span><strong>Country: </strong> <!-- ko text: country --><!-- /ko --></span><br>
    <!-- /ko -->
    <!-- ko if: affiliation() -->
    <span><strong>Affiliation: </strong> <!-- ko text: affiliation --><!-- /ko --></span><br>
    <!-- /ko -->
    <!-- ko if: studyArea() -->
    <span><strong>Study Area: </strong> <!-- ko text: studyArea --><!-- /ko --></span><br>
    <!-- /ko -->
    <!-- ko if: userType() -->
    <span><strong>User Type: </strong> <!-- ko text: userType --><!-- /ko --></span><br>
    <!-- /ko -->
  </p>

  <p>
    <a href="<%="#{Rails.configuration.services['earthdata'][Rails.configuration.cmr_env]['urs_root']}/profile/edit" %>" target="_blank" class="button text-button">Edit Profile in Earthdata Login <i class="fa fa-arrow-circle-right"></i></a>
  </p>
<!-- /ko -->
<!-- /ko -->

<!-- ko if: ui.accountForm.isEditingNotificationPreference() -->
<!-- ko with: account -->

  <ul>
    <li>
      <span class="urs-profile-label">First Name</span>
      <span data-bind="text: firstName"></span>
    </li>
    <li>
      <span class="urs-profile-label">Last Name</span>
      <span data-bind="text: lastName"></span>
    </li>
    <li>
      <span class="urs-profile-label">Email</span>
      <span data-bind="text: email"></span>
    </li>
    <li>
      <span class="urs-profile-label">Organization Name</span>
      <span data-bind="text: organizationName"></span>
    </li>
    <li>
      <span class="urs-profile-label">Country</span>
      <span data-bind="text: country"></span>
    </li>
    <li>
      <span class="urs-profile-label">Affiliation</span>
      <span data-bind="text: affiliation"></span>
    </li>
    <li>
      <span class="urs-profile-label">Study Area</span>
      <span data-bind="text: studyArea"></span>
    </li>
    <li>
      <span class="urs-profile-label">User Type</span>
      <span data-bind="text: userType"></span>
    </li>
  </ul>


  <p>
    <a href="<%="#{Rails.configuration.services['earthdata'][Rails.configuration.cmr_env]['urs_root']}/profile/edit" %>" target="_blank" class="button text-button">Edit Profile in Earthdata Login <i class="fa fa-arrow-circle-right"></i></a>
  </p>

  <hr>

  <!-- ko if: message() -->
  <p class="confirmation-message" data-bind="text: message"></p>
  <!-- /ko -->

  <!-- ko if: errors() -->
  <p data-bind="foreach: errors">
    <span class="error" data-bind="text: $data"></span>
  </p>
  <!-- /ko -->

  <h3>Update Notification Preference Level</h3>

  <p>
    <label for="notificationLevel">Receive delayed access notifications</label>

    <select data-bind="value: notificationLevel" id="notificationLevel">
      <option value="VERBOSE">Always</option>
      <option value="DETAIL">When requests change state</option>
      <option value="INFO">When requests reach a completed or failed state</option>
      <option value="CRITICAL">When requests fail</option>
      <option value="NONE">Never</option>
    </select>
  </p>
<!-- /ko -->
<!-- /ko -->
