<!-- ko with: account -->
  <p>
    <label for="first_name">First name*</label>
    <input data-bind="value: firstName" id="first_name" size="30" type="text">
  </p>
  <p>
    <label for="last_name">Last name*</label>
    <input data-bind="value: lastName" id="last_name" size="30" type="text">
  </p>
  <p>
    <label for="email">Email*</label>
    <input data-bind="value: email" id="email" size="30" type="text">
  </p>
  <p>
    <label for="notification_level">Receive order notifications</label>
    <select data-bind="value: notificationLevel" id="notification_level">
      <option value="VERBOSE">Always (receive all order state changes and status)</option>
      <option value="DETAIL">When orders change to any state</option>
      <option value="INFO">When orders reach a final state</option>
      <option value="CRITICAL">When orders fail or are rejected</option>
      <option value="NONE">Never (no order emails will be sent)</option>
    </select>
  </p>
  <p>
    <label for="organization_name">Organization name</label>
    <input data-bind="value: organizationName" id="organization_name" size="30" type="text">
  </p>
      
  <h4>Phone</h4>

  <p>
    <label for="phone_number">Phone number*</label>
    <input data-bind="value: phone.number" id="phone_number" size="30" type="text">
  </p>
  <p>
    <label for="fax_number">Fax number</label>
    <input data-bind="value: fax.number" id="fax_number" size="30" type="text">
  </p>

  <h4>Address</h4>

  <p>
    <label for="street1">Street*</label>
    <input data-bind="value: address.street1" id="street1" maxlength="128" size="30" type="text">
  </p>
  <p>
    <label></label>
    <input data-bind="value: address.street2" id="street2" maxlength="128" size="30" type="text">
  </p>
  <p>
    <label></label>
    <input data-bind="value: address.street3" id="street3" maxlength="128" size="30" type="text">
  </p>
  <p>
    <label for="city">City*</label>
    <input data-bind="value: address.city" id="city" size="30" type="text">
  </p>
  <p>
    <label for="country">Country*</label>
    <select data-bind="value: address.country" id="country">
      <%= render partial: "users/country_options" %>
    </select>
  </p>
  <!-- ko if: address.country() == 'United States' -->
  <p>
    <label for="state" class="">State</label>
    <select data-bind="value: address.state" id="state">
      <%= render partial: "users/state_options" %>
    </select>
  </p>
  <!-- /ko -->
  <p>
    <label for="zip" class="">Zip</label>
    <input data-bind="value: address.zip" id="zip" size="30" type="text">
  </p>
<!-- /ko -->
