<% content_for :javascript do %>
  <%= javascript_include_tag "account" %>
<% end %>
<% content_for :toolbar_secondary do %>
  <%= render partial: 'shared/feedback' %>
  <%= render partial: 'shared/login' %>
<% end %>

<div class="accounts">
  <form data-bind="submit: ui.accountForm.saveAccountEdit" class="account-form">
    <fieldset>
      <h3>View Contact Information</h3>
      <%= render partial: 'contact_info_form' %>
      <p>
        <button>Update Notification Preference</button>
      </p>
    </fieldset>
  </form>
</div>
