<% content_for :javascript do %>
  <%= javascript_include_tag "account" %>
<% end %>
<% content_for :toolbar_secondary do %>
  <%= render partial: 'shared/feedback' %>
<!-- ko with: account -->
  <!-- ko if: user.isLoggedIn -->
    <%= render partial: 'shared/login' %>
  <!-- /ko -->
<!-- /ko -->
<% end %>

<div class="accounts">
  <form data-bind="submit: ui.accountForm.saveAccountEdit" class="account-form">
    <fieldset>
      <h3>Update Contact Information</h3>
      <%= render partial: 'contact_info_form' %>
      <p>
        <button>Update Information</button>
      </p>
    </fieldset>
  </form>
</div>
