<% content_for :javascript do %>
  <%= javascript_include_tag "create_account" %>
<% end %>
<% content_for :toolbar do %>
  <!-- ko if: user.isLoggedIn -->
    <%= render partial: 'shared/login' %>
  <!-- /ko -->
<% end %>

<!-- ko with: user -->

  <!-- ko ifnot: isLoggedIn -->
  <form data-bind="submit: createAccount" class="new-account-form">
    <fieldset>
      <legend>Create new account</legend>

      <!-- ko if: errors() -->
      <span class="error" data-bind="text: errors()"></span>
      <!-- /ko -->

      <p>
        <label for="username">Username</label>
        <input data-bind="value: username, css: { 'field-error': usernameError() }" type="text" id="username" />
      </p>
      <p>
        <label for="password">Password</label>
        <input data-bind="value: password, css: { 'field-error': passwordError() }" type="password" id="password" />
      </p>
      <p>
        <label for="password_confirmation">Password confirmation</label>
        <input data-bind="value: passwordConfirmation, css: { 'field-error': passwordConfirmationError() }" type="password" id="password_confirmation" />
      </p>

      <p>
        <label for="first_name">First name</label>
        <input data-bind="value: firstName, css: { 'field-error': firstNameError() }" type="text" id="first_name" />
      </p>
      <p>
        <label for="last_name">Last name</label>
        <input data-bind="value: lastName, css: { 'field-error': lastNameError() }" type="text" id="last_name" />
      </p>
      <p>
        <label for="email">Email</label>
        <input data-bind="value: email, css: { 'field-error': emailError() }" type="text" id="email" />
      </p>
      <p>
        <label for="user_domain">Domain</label>
        <select data-bind="value: domain, css: { 'field-error': domainError() }" id="user_domain">
          <option value="">Select a domain</option>
          <option value="GOVERNMENT">Government</option>
          <option value="K12">K-12</option>
          <option value="UNIVERSITY">University</option>
          <option value="COMMERCIAL">Commercial</option>
          <option value="OTHER">Other</option>
        </select>
      </p>
      <p>
        <label for="organization_name">Organization name</label>
        <input data-bind="value: organizationName, css: { 'field-error': organizationNameError() }" type="text" id="organization_name" />
      </p>
      <p>
        <label for="user_type">Type of user</label>
        <select data-bind="value: userType, css: { 'field-error': userTypeError() }" id="user_type">
          <option value="">Select a type</option>
          <option value="PRODUCTION_USER">Production user</option>
          <option value="SCIENCE_TEAM">Science team</option>
          <option value="QA_TESTING_USER">Qa testing user</option>
          <option value="DATA_PROVIDER_INTERNAL_USER">Data provider internal user</option>
          <option value="PUBLIC_USER">Public user</option>
        </select>
      </p>
      <p>
        <label for="primary_study_area">Primary study area</label>
        <select data-bind="value: primaryStudyArea, css: { 'field-error': primaryStudyAreaError() }" id="primary_study_area" >
          <option value="">Select a primary study area</option>
          <option value="AIR_SEA_INTERACTION">Air sea interaction</option>
          <option value="ATMOSPHERIC_AEROSOLS">Atmospheric aerosols</option>
          <option value="BIOGEOCHEMICAL_DYNAMICS">Biogeochemical dynamics</option>
          <option value="BIOLOGICAL_OCEANOGRAPHY">Biological oceanography</option>
          <option value="CLOUDS">Clouds</option>
          <option value="CRYOSPHERIC_STUDIES">Cryospheric studies</option>
          <option value="GEOPHYSICS">Geophysics</option>
          <option value="GLOBAL_BIOSPHERE">Global biosphere</option>
          <option value="HUMAN_DIMENSIONS_OF_GLOBAL_CHANGE">Human dimensions of global change</option>
          <option value="HYDROLOGIC_CYCLE">Hydrologic cycle</option>
          <option value="LAND_PROCESSES">Land processes</option>
          <option value="PHYSICAL_OCEANOGRAPHY">Physical oceanography</option>
          <option value="POLAR_PROCESSES">Polar processes</option>
          <option value="RADIATION_BUDGET">Radiation budget</option>
          <option value="SEA_ICE">Sea ice</option>
          <option value="TROPOSPHERIC_CHEMISTRY">Tropospheric chemistry</option>
          <option value="UPPER_ATMOSPHERE_COMPOSITION">Upper atmosphere composition</option>
          <option value="UPPER_ATMOSPHERE_DYNAMICS">Upper atmosphere dynamics</option>
          <option value="OTHER">Other</option>
        </select>
      </p>

      <p>
        <label for="country">Country</label>
        <select data-bind="value: country, css: { 'field-error': countryError() }" id="country">
          <%= render partial: "country_options" %>
        </select>
      </p>

      <button type="submit" class="button-light">Create Account</button>
    </fieldset>
  </form>
  <!-- /ko -->
  <!-- ko if: isLoggedIn -->
  <div>
    <p>
      User account <span data-bind="text: name"></span> has been created and you have been logged in.
    </p>
    <p>
      <a href="/search">Return to search</a>
    </p>
  </div>
  <!-- /ko -->

<!-- /ko -->
