@use 'vendor/bootstrap/configuration' as bootstrap;
@use 'utils/variables';

* > * {
  box-sizing: inherit;
}

* > a,
* > button,
* > input,
* > textarea,
.dropdown-toggle,
.btn {
  &:focus {
    box-shadow: none;
  }

  &:focus-visible {
    border-color: transparent;
    outline: 1px dashed variables.$color__nasa-blue;
    outline-offset: 0.125rem;

    &.focus-light {
      outline: 1px dashed variables.$color__spacesuit-white;
    }
  }

  &.disabled,
  &.btn:disabled {
    opacity: 0.4;
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: variables.$color__carbon-black;
}

body.is-panels-dragging {
  cursor: col-resize;
  user-select: none;
}

body.is-panels-will-minimize {
  cursor: w-resize;
}

@include bootstrap.media-breakpoint-up(lg) {
  html {
    font-size: 100%;
  }
}

// Prevent tophat from resizing on page load
body .th-wrapper {
  font-size: 1rem;
}

button {
  &:focus-visible {
    border-color: variables.$color__nasa-blue--shade;
    text-decoration: none;
    outline: 1px dashed variables.$color__nasa-blue--shade;
    outline-offset: 0.125rem;
  }
}

svg {
  max-height: 100%;
  max-width: 100%;
}

*::-webkit-scrollbar-track {
  background-color: variables.$color__carbon--10;
  padding: 2px;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: variables.$color__carbon--10;
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
  background-color: variables.$color__carbon--20;
  border-radius: 8px;
}
