* > * {
  box-sizing: inherit;
}

* > a,
* > button,
* > input,
* > textarea,
.btn {
  &:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(83,130,177, 0.3);
  }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $color__black;
}

body.is-panels-dragging {
  cursor: col-resize;
}

body.is-panels-will-minimize {
  cursor: w-resize;
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 100%;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 105%;
  }
}

@include media-breakpoint-up(xxl) {
  html {
    font-size: 115%;
  }
}

button {
  &:focus {
    border-color: $color__black--300;
    outline: 0;
    box-shadow: 0 0 0 0.2rem $color__black--200;
  }
}

