.th-wrapper {
  width: 100%;
  z-index: 1000;
  height: 34px;
}

.root {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.route-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  align-items: flex-end;

  &--dark {
    background-color: $color__black--800;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0.625rem;
    width: 100%;
    height: auto;

    @include media-breakpoint-up(md) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;

    .route-wrapper--content-page & {
      justify-content: flex-start;
      overflow-y: scroll;
    }
  }

  &__content-nav {
    padding: $spacer/2 $spacer;
    color: $color__white;
    border-bottom: 1px solid $color__black--700;
  }

  &__content-nav-link {
    color: $color__white;

    &:hover,
    &:active {
      color: $color__black--100;
    }
  }

  &__content-inner {
    width: 100%;
    max-width: 62.5rem;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  &--light {
    background: white;
  }
}
