@use 'vendor/bootstrap/configuration' as bootstrap;
@use 'utils/variables';

.route-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  height: 100%;
  // overflow: hidden;
  align-items: flex-end;
  background-color: variables.$color__spacesuit-white;

  &.route-wrapper--content-page {
    align-items: flex-start;
  }

  &__header {
    background-color: variables.$color__carbon--80;
    color: variables.$color__carbon--40;
    border-bottom: 1px solid variables.$color__carbon--70;

    .route-wrapper--light & {
      border-bottom: 1px solid variables.$color__carbon--20;
    }
  }

  &__header-primary {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding: 0.625rem;

    @include bootstrap.media-breakpoint-up(md) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    // height: 100%;
    justify-content: space-between;
    flex-direction: column;

    .route-wrapper--content-page & {
      justify-content: flex-start;
      // overflow-x: hidden;
      // overflow-y: auto;
    }

    .route-wrapper--content-page-centered & {
      justify-content: center;
    }

    &--dark {
      background: variables.$color__carbon-black;
    }

  }

  &__content-nav {
    padding: calc(bootstrap.$spacer / 2) bootstrap.$spacer;
    color: variables.$color__spacesuit-white;
  }

  &__content-nav-link {
    color: variables.$color__spacesuit-white;

    &:hover,
    &:active {
      color: variables.$color__carbon--10;
    }
  }

  &__content-inner {
    width: 100%;
    max-width: 62.5rem;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  &--light {
    background: variables.$color__spacesuit-white;
  }

  &--dark {
    background: variables.$color__carbon-black;
  }

  &--home {
    flex-direction: column;
  }

  &__page-heading {
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    font-weight: 700;
    border-bottom: 1px solid variables.$color__carbon--20;
  }
}
