@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.subscriptions-body {
  height: 100%;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__create-button {
    width: 12.375rem;
    height: 2.375rem;
  }

  &__row {
    &--intro {
      padding: 1rem;
      flex-shrink: 0;
      flex-grow: 0;
      padding-bottom: 1rem;
      border-bottom: 1px solid utils.$color__carbon--20;
      border-radius: bootstrap.$border-radius;
    }

    &--list {
      flex-shrink: 1;
      flex-grow: 1;
      overflow-x: hidden;
    }
  }

  &__form-group {
    max-width: 28rem;
  }

  &__query {
    margin-bottom: 1rem;
  }

  &__query-primary {
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 0.125rem;
    background-color: utils.$color__carbon--10;
  }

  &__query-secondary {
    margin-top: 1.5rem;
  }

  &__query-primary-heading {
    font-weight: 700;
    color: utils.$color__carbon--70;
  }

  &__query-list-heading {
    padding-bottom: 0.325rem;
    margin-bottom: 0.325rem;
    color: utils.$color__carbon--50;
    font-size: 0.875rem;
  }

  &__warning {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem 0.5rem 0.75rem;
    align-items: center;
    font-size: 0.825rem;
    color: darken(utils.$color__international-orange, 7);
    background-color: lighten(utils.$color__international-orange, 46);
    border-radius: 0.125rem;
  }

  &__warning-item {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__warning-icon {
    min-width: 1rem;
    margin-right: 0.5rem;
  }

  &__list {
    flex-shrink: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
  }

  &__list-footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__empty-list-item  {
    vertical-align: baseline;
  }
}
