.subscriptions-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid $color__black--200;

  &__name {
    margin: 0;
    font-weight: 500;
    font-size: 0.825rem;
  }

  &__query {
    display: block;
    font-size: 0.75rem;
    color: $color__black--500;
  }

  &__action {
    margin-left: 0.5rem;
  }
}