.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacer * .825 2rem;
  overflow: hidden;
  transition: top 0.2s ease-in-out;
  z-index: 1;

  &--hidden {
    top: -3em;
  }

  &--error {
    background-color: $color__nasa-red;
    color: $color__spacesuit-white;

    .banner__title {
      font-weight: 500;
      display: inline-flex;
    }

    .banner__message {
      display: flex
    }

    .banner__close {
      color: $color__spacesuit-white;
      transition: color 0.15s ease-in-out;
      display: flex;

      &:hover {
        color: $color__spacesuit-white;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: inherit;
    margin-right: 0.5rem;
  }

  &__title {
    color: $color__white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: calc($spacer / 2);
    padding: 0;
    font-size: 0.925rem;
    line-height: 1rem;
    flex-shrink: 0;
  }

  &__message {
    color: $color__white;
    font-size: 0.925rem;
    font-weight: 200;
    margin: 0;
    padding: 0;
    line-height: 1rem;
  }

  &__close {
    position: absolute;
    top: 50%;
    top: calc(50% + 1px);
    right: 0.75rem;
    color: $color__carbon--70;
    transform: translateY(-50%);

    &:hover {
     color: $color__carbon--60;
    }

    &:focus {
      border: 0;
      outline: 0;
    }
  }
}
