<a
  id="back-to-reverb-link"
  style="display: none;"
  class="toolbar-button"
  href="<%=ENV['reverb_root'] || Rails.configuration.services['edsc'][Rails.env]['reverb_root']%>"
  data-bind="visible: $root.ui.reverbRetirement.referrerIsReverb(), click: $root.ui.reverbRetirement.returnToReverb"
>
  Return to Reverb
</a>
