<a
  id="back-to-reverb-link"
  style="display: none;"
  class="toolbar-button"
  data-bind="attr: {href: $root.ui.reverbRetirement.reverbUrl()}, visible: $root.ui.reverbRetirement.referrerIsReverb(), click: function() {$root.ui.reverbRetirement.returnToReverb('toolbar link')};"
>
  Return to Reverb
</a>
