<a
  href="<%=ENV['reverb_root'] || Rails.configuration.services['edsc'][Rails.env]['reverb_root'].to_s%>"
  id="back-to-reverb-link"
  style="display: none;"
  class="toolbar-button"
  data-bind="visible: document.referrer.match('<%=ENV['reverb_root'] || Rails.configuration.services['edsc'][Rails.env]['reverb_root'].to_s%>'.replace(/https?:\/\//, ''))"
>
  !!!GO BACK TO REVERB!!!
</a>
