<a
  id="back-to-reverb-link"
  style="display: none;"
  class="toolbar-button"
  data-bind="visible: $root.ui.reverbRetirement.referrerIsReverb('toolbar link'), click: $root.ui.reverbRetirement.returnToReverb"
>
  Return to Reverb
</a>