<% if Rails.configuration.feedback_url.present? %>
  <a href="javascript:void(0)" data-bind="click: $root.ui.feedback.showFeedback.bind($data, 'General', null)" class="feedback toolbar-button" title="Leave feedback">
    <i class="fa fa-bullhorn"></i>
    Feedback
  </a>
<% end %>
