<!-- ko ifnot: user.isLoggedIn -->
<a href="#" class="button user-info sign-in" data-bind="click: user.initiateLogin" data-target="#login-modal"><i class="fa fa-lock"></i> Sign In</a>
<!-- /ko -->
<!-- ko if: user.isLoggedIn -->
<!-- ko if: $root.project -->
<div data-bind="if: project.savedProjectName" id="project-name" class="dropdown save-dropdown project-name">
  <a class="toolbar-button" data-bind="text: project.savedProjectName"></a>
</div>
<div class="dropdown save-dropdown">
  <a href="javascript:void(0)" data-toggle="dropdown" class="save toolbar-button" title="Save your session">
    <i class="fa fa-check-circle save-success"></i>
    <i class="fa fa-floppy-o save-icon"></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-right dropdown-form">
    <li>
      <input data-bind="value: project.projectName" id="save-project-name" class="save-project-name" type="text" placeholder="Name your project" />
      <button data-bind="click: project.saveProjectName" class="save-project-name-button" type="button">Save</button>
    </li>
    <!-- <li>
      View Saved Projects
    </li> -->
  </ul>
</div>
<!-- /ko -->
<div class="dropdown user-info">
  <a href="#" data-toggle="dropdown" class="toolbar-button" title="Manage user account">
    <%# Gravatar support #>
    <%# <img src="http://www.gravatar.com/avatar/b9802276d84112acceaf83c6ab10940f.png" width="42"> %>
    <i class="fa fa-user"></i>
    <i class="fa fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a href="/contact_info" class="dropdown-link dropdown-link-contact-info">Contact Information</a>
    </li>
    <li>
      <a href="/data/status" class="dropdown-link dropdown-link-contact-info">Data Status</a>
    </li>
    <li>
      <a href="/logout" class="dropdown-link dropdown-link-logout">Logout</a>
    </li>
  </ul>
</div>
<!-- /ko -->
