<!-- ko ifnot: user.isLoggedIn -->
<a href="#" class="button user-info" data-bind="click: user.initiateLogin" data-target="#login-modal"><i class="fa fa-lock"></i> Sign In</a>
<!-- /ko -->
<!-- ko if: user.isLoggedIn -->
<div class="dropdown user-info">
  <a href="#" data-toggle="dropdown" class="button dropdown-button" title="Manage user account"><i class="fa fa-user"></i><i class="fa fa-caret-down"></i></a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a href="/contact_info" class="dropdown-link dropdown-link-contact-info">Contact Information</a>
    </li>
    <li>
      <a href="/data/status" class="dropdown-link dropdown-link-contact-info">Data Status</a>
    </li>
    <li>
      <a href="/logout" class="dropdown-link dropdown-link-logout">Logout</a>
    </li>
  </ul>
</div>
<!-- /ko -->
