<% if Rails.configuration.feedback_url.present? %>
  <a href="javascript:void(0)" onclick="feedback.showForm({subject: '[METADATA]'}); return false" class="feedback button" title="Leave metadata feedback">
    <i class="fa fa-bullhorn"></i>
  </a>
<% end %>
