<!-- ko if: window.tokenExpiresIn !== null -->
<div class="dropdown save-dropdown">
  <!-- ko if: workspaceName -->
    <a href="javascript:void(0)" data-toggle="dropdown" class="save toolbar-button" title="Rename your project">
      <div class="workspace-name">
        <i class="fa fa-check-circle save-success"></i>
        <i class="fa fa-pencil save-icon"></i>
      </div>
    </a>
  <!-- /ko -->
  <!-- ko ifnot: workspaceName -->
    <a href="javascript:void(0)" data-toggle="dropdown" class="save toolbar-button" title="Save your project">
      <i class="fa fa-floppy-o save-icon"></i>
    </a>
  <!-- /ko -->
  <div class="dropdown-menu dropdown-menu-right dropdown-form save-dropdown-input-container">
    <form class="save-dropdown-form" onsubmit="$(window).trigger('edsc.save_workspace')" action="javascript:void(0);">
      <input data-bind="value: workspaceNameField" id="workspace-name" class="workspace-name save-dropdown-input" type="text" placeholder="Name your project" />
      <button class="save-workspace-name" type="submit">Save</button>
    </form>
  </div>
</div>
<!-- /ko -->
