.preferences-number-field {
  &__name {
    font-weight: bold;
  }

  &__description {
    margin-bottom: $spacer/2;
    color: $color__black--400;
    font-size: 0.875rem;
  }

  &__input {
    width: 10rem;
  }
}
