.preferences-form {
  &__submit {
    width: 5rem;
  }
}

ul.error-detail {
  list-style: none;
  padding-left: 0rem;
}

// Provided from https://www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements
//- it is a common approach used to hide information visually but keep them available to screen readers
.visually-hide-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
