@use '../../../css/vendor/bootstrap/configuration' as bootstrap;

.preferences-form {
  &__submit {
    width: 5rem;
    height: 2.375rem;
  }

  .form-group {
    margin-bottom: bootstrap.$spacer;
  }
}

ul.error-detail {
  list-style: none;
  padding-left: 0rem;
}
