@import "static/src/css/main";
.preferences-radio-field {
  &__radio {
    border: none;
    padding: none;
  }

  &__name {
    font-weight: bold;
  }

  &__description {
    margin-bottom: calc($spacer / 2);
    color: $color__black--400;
    font-size: 0.875rem;
  }
}
