@use '../../../css/utils';

.preferences {
  border-radius: 5px;
  padding: 30px;
  border-color: utils.$color__carbon--10;
  color: utils.$color__carbon--80;

  &__loading {
    min-height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
