@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.preferences-radio-field {
  &__radio {
    border: none;
    padding: none;
  }

  &__name {
    font-weight: bold;
  }

  &__description {
    margin-bottom: calc(bootstrap.$spacer / 2);
    color: utils.$color__carbon--60;
    font-size: 0.875rem;
  }
}
