.preferences-form {
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f3));
  background-image: linear-gradient(#fff, #f3f3f3);
  border-radius: 5px;
  padding: 30px;
  border-color: #e3e3e3;
  color: #333333;

  &__radio {
    border: none;
    padding: none;

    label {
      margin: 10px, 0
    }

    &__input {

    }

    &__label {
      margin-left: 10px;
    }
  }

  &__radio-name {
    font-weight: bold;
  }

  &__radio-description {
    color: $color__black--400;
    font-size: 0.875rem;
  }

  &__radio-list {

  }
}
