.collection-results-list-item {
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacer 0;
    text-align: center;
    color: $color__black--600;
  }
}