.collection-results-header {
  &__primary {
    padding: 1rem;
    font-size: 0.875rem;
  }

  &__form-group {
    align-items: center;
    margin: 0;
    margin-right: $spacer/2;
  }

  &__label-dropdown {
    padding-right: 0;
  }

  &__tip {
    color: $color__black--300;
  }

  &__tip-label {
    margin-right: $spacer/4;
  }

  &__tip-icon {
    margin: 0 $spacer/4;
    color: $color__green;
  }

  &__adv-search-btn {
    font-size: 0.875rem;

    .button__icon {
      margin-right: $spacer/2;
    }
  }

  &__meta {
    padding: 0.25rem 1rem;
    border-top: 1px solid $color__black--200;
    font-size: 0.75rem;
    color: $color__black--600;
  }
}