.collection-results-body {
  position: relative;
  height: 100%;
  width: 100%;
  position: relative;

  &__view-enter {
    display: block;
    visibility: visible;
    opacity: 0;
  }

  &__view-enter-active {
    opacity: 1;
    visibility: visible;
    transition: opacity 200ms;
  }

  &__view-enter-done {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  &__view-exit {
    opacity: 1;
    visibility: visible;
  }

  &__view-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }

  &__view-exit-done {
    opacity: 0;
    visibility: hidden;
  }

  &__portal-escape-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    padding: 0.5rem 1rem;
    padding-top: 0;
    z-index: 2;
  }

  &__portal-escape {
    display: flex;
    align-items: center;
    color: rgba($color__white, 0.85);
    margin: 0;
    padding: 0.5rem 1.25rem;
    text-align: center;
    font-size: 0.925rem;
    background-color: rgba($color__blue, 1);
    border-top: 1px solid $color__black--200;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.1);
    border: 0;

    &:hover {
      color: $color__white;
      background-color: $color__blue--dark;
    }

    .button__contents {
      display: block;
    }

    .edsc-icon {
      flex-shrink: 0;
      height: 1.125rem;
      width: 1.125rem;
      top: -0.0625rem;
    }
  }

  &__portal-escape-emphasis {
    margin-left: 0.5em;
    font-weight: 500;
    white-space: nowrap;
  }
}
