@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.collection-results-list-item {
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: bootstrap.$spacer 0;
    text-align: center;
    color: utils.$color__carbon--60;
  }
}
