.collection-results-list {
  margin: 0;
  padding: 0;

  &__loading {
    padding: $spacer*2 0;
    text-align: center;
    color: $color__black--600;
  }
}

.portal-escape {
  color: #424242;
  margin-top: 1.6em;
  padding: 15px 20px;
  border-top: 1px solid #e3e3e3; }

.portal-escape a {
  text-decoration: underline; }
