.collection-results-item {
  border-bottom: 1px solid $border-color;

  &__link {
    display: flex;
    padding: 0.625rem 1rem;
    background-color: $color__white;
    // Prevent overflow in parent container
    overflow: hidden;

    &:hover,
    &:active,
    &--active {
      cursor: pointer;
      background-color: $color__black--100;
    }
  }

  &__body {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }

  &__body-primary {
    display: flex;
    margin-bottom: 0.25rem;
  }

  &__attribution {
    display: flex;
    min-width: 0;
    line-height: 1;
    font-size: 0.725rem;
    font-weight: 500;
    color: $color__black--500;
    letter-spacing: 0.01rem;

    & > {
      :not(:last-child):after {
        content: '•';
        margin: 0 0.125rem;
      }
    }
  }

  &__attribution-wrap {
    margin-right: 0.5rem;
    max-width: 100%;
    min-width: 0;
    flex-shrink: 1;
    flex-grow: 1;
  }

  &__attribution-secondary {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    align-items: center;
  }

  &__attribution-string {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
  }

  &__thumb {
    display: none;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
    width: 4rem;
    height: 4rem;
    background: $color__black--900;
    font-size: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.175);

    .panels--sm & {
      display: flex;
    }
  }

  &__thumb-image {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    object-fit: contain;
    transition: visibility opacity 0.2s ease;

    &--is-loaded {
      visibility: visible;
      opacity: 1;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    will-change: width;
    flex-grow: 1;
    flex-basis: 100%;
    min-width: 0;
    margin-right: 0.5rem;
  }

  &__title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: $spacer * 0.25;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.325em;
    font-weight: 700;
    color: $color__black--800;

    .panels--md & {
      display: block;
      -webkit-line-clamp: initial;
      -webkit-box-orient: initial;
    }
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-bottom: 0.25rem;
  }

  &__meta-item {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    flex-shrink: 0;
    font-size: 0.825rem;
    font-weight: 500;
    color: $color__black--700;
    letter-spacing: 0.01em;
  }

  &__meta-icon {
    color: $color__blue;
    font-size: 0.75rem;

    &:hover {
      color: $color__blue--dark;
    }
  }

  &__meta-label {
    display: none;
    margin-left: 0.25rem;
  }

  &__meta-detail {
    margin-left: 0.25rem;
    padding: 0.075rem 0.5rem;
    border-radius: 1rem;
    background-color: $color__black--200;
    color: $color__black--600;
    font-size: 0.625rem;
    font-weight: 700;

    .collection-results-item__meta-item:hover & {
      background-color: $color__black--300;
      color: $color__black--900;
    }
  }

  &__desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: $spacer * 0.25;
    font-size: 0.825rem;
    color: $color__black--600;
  }

  &__actions {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;

    @media (hover: hover) {
      visibility: hidden;
      width: 0;

      .collection-results-item__link:hover &,
      .collection-results-item__link:focus &,
      .collection-results-item__link--active & {
        visibility: visible;
        width: auto;
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0.5rem 0.5rem;
    margin-right: $spacer/4;
    color: $color__black--500;
    font-size: 0.925rem;

    .panels--sm & {
      font-size: 1rem;
    }

    &:last-child {
      margin-right: 0;
    }

    .collection-results-item__link:hover &,
    .collection-results-item__link--active & {
      background-color: $color__black--200;
      color: $color__black--600;
    }

    .edsc-icon {
      height: 1.125rem;
      width: 1.125rem;
    }

    &--add {
      color: $color__green;

      .collection-results-item__link:hover &,
      .collection-results-item__link--active &  {
        color: $color__green;
      }

      &:hover {
        color: darken($color__green, 20);
      }

    }

    &--remove {
      color: $color__red;

      .collection-results-item__link:hover &,
      .collection-results-item__link--active & {
        color: $color__red;
      }

      &:hover {
        color: darken($color__red, 20);
      }
    }
  }

  &__badge {
    word-break: break-all;
    line-break: normal;
    white-space: normal;
    margin-right: $spacer/4;
    margin-bottom: $spacer/8;
    color: $color__white;
    text-transform: uppercase;

    &:hover {
      cursor: default;
    }

    .split-badge__primary{
      display: inline-block;
      text-transform: uppercase;
    }

    .split-badge__secondary {
      display: inline-block;
      text-transform: none;
    }
  }

  &__attribution-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__list-text {
    display: inline-block;

    &--tooltip {
      text-decoration:underline;
      text-decoration-style: dotted;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__attribution-list-item {
    display: flex;

    &:after {
      display: inline-block;
      content: '•';
      margin-left: 0.125rem;
      margin-right: 0.125rem;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &__icon {
    margin-right: 0.25rem;
    position: relative;
    top: -0.05rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__tooltip {
    font-size: 0.75rem;

    &--csda {
      .tooltip-inner {
        max-width: 14rem;
      }
    }
  }

  &__tooltip-feature-list {
    width: auto;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  &__tooltip-feature-icon {
    margin-right: 0.325rem;
    color: $color__black--300;
  }

  &__tooltip-secondary {
    font-size: 0.675rem;
    color: $color__black--300;
    display: block;
  }

  &__popover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: 100%;
    // max-width: 20rem;
  }

  &__popover-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__popover-secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__popover-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
    width: 7rem;
    height: 7rem;
    margin-bottom: 0.75rem;
    background: $color__black--900;
    font-size: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.175);
  }

  &__popover-thumb-image {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    object-fit: contain;
    transition: visibility opacity 0.2s ease;

    &--is-loaded {
      visibility: visible;
      opacity: 1;
      width: 100%;
      height: 100%;
    }
  }

  &__popover-desc {
    text-align: center;
    margin-bottom: 0.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 0.875rem;
    min-width: 0;
    word-break: break-word;
  }
}
