.collection-results-list {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 4.75rem;

    .panels--sm & {
      margin-bottom: 3.5rem;
    }
  }
}
