.region-search {
  &__selected-region-id {
    margin-right: $spacer/2;
    font-weight: 700;
  }

  &__selected-region-name {
    margin-right: $spacer/2;
    font-style: italic;
    color: $color__black--400;
  }
}
