.region-search {
  &__selected-region-id {
    margin-right: $spacer/2;
    font-weight: 700;
  }

  &__selected-region-name {
    margin-right: $spacer/2;
    font-style: italic;
    color: $color__black--400;
  }

  &__back-button {
    margin-bottom: 1rem;
    font-size: 0.925rem;
    color: $color__black--500;
  }

  &__results-list-meta {
    color: $color__black--500;
    font-size: 0.925rem;
    font-weight: 700;
  }

  &__results-list {
    list-style: none;
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
  }

  &__results-item {
    display: block;
    width: 100%;
    padding: $spacer/4 $spacer;
    text-align: left;

    &:nth-of-type(odd) {
      background-color: $color__black--100;
    }

    &:hover {
      cursor: pointer;
      background-color: $color__black--200;
    }
  }
}