@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.region-search {
  &__selected-region-id {
    margin-right: calc(bootstrap.$spacer / 2);
    font-weight: 700;
  }

  &__selected-region-name {
    margin-right: calc(bootstrap.$spacer / 2);
    font-style: italic;
    color: utils.$color__carbon--40;
  }
}
