.region-search-results {
  position: relative;
  flex-grow: 1;

  &__back {
    position: relative;
    z-index: 1;
  }

  &__full {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &__status {
    text-align: center;
    font-size: 0.925rem;
    max-width: 38rem;
    font-weight: 400;

    &--error {
      color: $color__red;

      .region-search-results__status-link {
        color: $color__red--dark;
      }
    }
  }

  &__status-link {
    font-weight: 500;
    text-decoration: underline;
  }

  &__selected-region-id {
    margin-right: $spacer/2;
    font-weight: 700;
  }

  &__selected-region-name {
    margin-right: $spacer/2;
    font-style: italic;
    color: $color__black--400;
    font-size: 0.875rem;
  }

  &__back-button {
    margin-bottom: 1rem;
    font-size: 0.925rem;
    color: $color__black--500;
  }

  &__list-meta {
    color: $color__black--800;
    font-size: 0.925rem;
    font-weight: 700;
  }

  &__list-intro {
    color: $color__black--500;
    font-size: 0.925rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
  }

  &__item {
    display: block;
    width: 100%;
    padding: $spacer/4 $spacer;
    text-align: left;

    &:nth-of-type(odd) {
      background-color: $color__black--100;
    }

    &:hover {
      cursor: pointer;
      background-color: $color__black--200;
    }
  }
}