@use '../../../css/utils';

.edsc-icon {
  &--more-info {
    color: utils.$color__carbon--40;
    margin-left: 0.25rem;
  }

  &--facet {
    color: $color__carbon--40;
    margin-right: 0.25rem;
  }
}
