@import "static/src/css/utils/variables/colors";
.edsc-icon {
  &--more-info {
    color: $color__black--400;
    margin-left: 0.25rem;
  }
  &--details, &--details-span {
    color: $color__black--300;
    height: 100%;
  }
}
