@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.shapefile-modal {
  &__upload-link {
    font-weight: 700;
  }

  &__hint {
    color: utils.$color__carbon--60;
    font-size: 0.825rem;
  }

  &__hint-label {
    margin-right: calc(bootstrap.$spacer / 4);
    font-weight: 700;
  }

  &__actions {
    display: flex;
    justify-content: flex-start;
    margin-top: bootstrap.$spacer*2;
  }

  &__action {
    margin-right: calc(bootstrap.$spacer / 2);
  }

  .btn-close {
    z-index: 0;
  }

  .modal-content {
    position: relative;
    padding: 0.55rem;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: calc(bootstrap.$spacer / 4);
      border: 2px dashed utils.$color__carbon--30;
      border-radius: bootstrap.$border-radius-sm;
      z-index: 0;
      transition: all 0.2s ease-in-out;

      .is-dragging & {
        border: 2px dashed utils.$color__carbon--40;
      }
    }
  }
}
