.temporal-selection {
  margin-bottom: 0.5rem;

  &--is-recurring {
    .rdtMonths {
      table:first-child {
        display: none;
      }
    }
  }

  &__input-group {
    margin-bottom: 0.5rem;
  }

  &__label {
    margin-bottom: 0.25rem;
    font-size: 0.825em;
    font-weight: 700;

    &:not(.form-check-label) {
      display: block;
    }
  }

  &__range-label {
    padding-left: 5px;
    font-size: 0.825em;
  }

  &__inputs {
    .sidebar-section & {
      > .row {
        flex-direction: column;
      }
    }
  }
}

.input-range__track,
.input-range__slider-container {
  transition: none;
}

.input-range__track--active {
  background: $color__theme--blue;
}

.input-range__slider {
  background: $color__theme--blue;
  border-color: $color__theme--blue;
}