<div class="access-error-wrap">
  <p class="access-error-code" data-bind="text: error_code"></p>
  <ul class="access-error-message-list" data-bind="foreach: error_message">
    <li data-bind="text: $data"></li>
  </ul>
  <% if Rails.configuration.feedback_url.present? %>
    <p>
      <a href="#" data-bind="click: $root.ui.feedback.submitError.bind($data, 'Data Access', $data.error_code)" class="button feedback-button">
        <i class="fa fa-exclamation-circle"></i>
        Report this error
      </a>
      <a href="javascript:history.back()"><i class="fa fa-arrow-circle-o-left"></i> Back <%= request.referer && URI(request.referer).path.include?('search') ? 'to Search Session' : '' %></a>
    </p>
  <% end %>
</div>
