<% content_for :javascript do %>
  <script>
    this.edscPageData = <%= raw @project.to_json %>;
  </script>
  <%= javascript_include_tag "data_access" %>
<% end %>

<% content_for :toolbar do %>
  <%= render partial: 'shared/login' %>
<% end %>


<div class="data-access">
  <nav>
    <a href="javascript:history.back()"><i class="edsc-icon-arrow-left"></i> Back to Search Session</a>
  </nav>
  <header>
    <h1>Data Access</h1>
    <p>Review and select service options for your data prior to download</p>
  </header>
  <div class="data-access-content">
    <ol data-bind="foreach: project.datasets">
      <li class="access-item">
        <h2 data-bind="text: dataset_id"></h2>
        <div class="access-item-details">
          <h3>Review &amp; Select Service Options</h3>
          <div class="access-item-review">
            <h4>Review</h4>
            <p><span data-bind="text: granuleHits()"></span> Granules Selected</p>
            <p><span data-bind="">##</span> Megabytes</p>
          </div>
          <div class="access-item-options">
            <h4>Service Options</h4>
          </div>
        </div>
        <div class="access-item-actions">
          <button>Back</button>
          <button>Continue</button>
        </div>
      </li>
    </ol>
  </div>
</div>
