<% content_for :javascript do %>
  <%= javascript_include_tag "data_access" %>
<% end %>

<% content_for :toolbar do %>
  <%= render partial: 'shared/login' %>
<% end %>

<div class="data-access">
  <nav class="data-access-nav">
    <a href="javascript:history.back()">
      <i class="edsc-icon-arrow-left"></i> Back to Search Session
    </a>
  </nav>
  <div class="data-access-content">
    <header>
      <h2>Data Access</h2>
      <p>Review and select service options for your data prior to download</p>
    </header>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          Dataset 1
        </div>
        <div class="panel-collapse">
          <div class="panel-body">
            <p>Granule 1</p>
            <p>Granule 2</p>
            <p>Granule 3</p>
            <p>Granule 4</p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Dataset 2
        </div>
        <div class="panel-collapse facets-list-hide">
          <div class="panel-body">
            <p>Granule 1</p>
            <p>Granule 2</p>
            <p>Granule 3</p>
            <p>Granule 4</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          Complete Request
        </div>
        <div class="panel-collapse facets-list-hide">
          <div class="panel-body">
            submit
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
