<% content_for :javascript do %>
  <%= javascript_include_tag "data_access" %>
<% end %>

<% content_for :toolbar do %>

<% end %>

<div>
  <a class="master-overlay-close master-overlay-hide-ordering" href="#" title="close"><i class="fa fa-times-circle"></i></a>
  <nav class="master-overlay-nav">
    <a class="master-overlay-hide-ordering" href="#">
      <i class="edsc-icon-arrow-left"></i> Back to Search Session
    </a>
  </nav>
  <div class="master-overlay-content">
    <header>
      <h2>Data Access</h2>
      <p>Review and select service options for your data prior to download</p>
    </header>
  </div>
</div>