.subscriptions-list-table {
  &__created-heading,
  &__updated-heading {
    width: 10rem;
  }
  
  &__actions-heading {
    width: 8rem;
  }

  &__actions {
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name,
  &__collection {
    @include media-breakpoint-up(md) {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__name {
    max-width: 8rem;

    @include media-breakpoint-up(md) {
      max-width: 16rem;
    }
  }

  &__collection {
    max-width: 8rem;

    @include media-breakpoint-up(md) {
      max-width: 16rem;
    }
  }

  &__created, &__updated {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__tooltip {
    width: 15rem;
  }
}
