.subscriptions-list {
  &__spinner {
    margin: 0 auto;
  }

  &__button {
    margin: 0 $spacer/2;
    color: $color__black--300;

    &--share {
      i {
        position: relative;
        top: 0.0625rem;
      }
    }

    &:hover {
      color: $color__black--600;
    }
  }
}

.subscriptions-list-table {
  &__actions,
  &__actions-heading {
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name,
  &__collection {
    @include media-breakpoint-up(md) {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &__name {
    max-width: 10rem;

    @include media-breakpoint-up(md) {
      max-width: 20rem;
    }
  }

  &__collection {
    max-width: 10rem;

    @include media-breakpoint-up(md) {
      max-width: 20rem;
    }
  }

  &__query {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__query-text {
    font-weight: 700;
    color: $color__blue;
    cursor: pointer;

    &:hover {
      color: $color__blue--dark;
    }
  }

  &__tooltip {
    width: 20rem;
  }

  &__tooltip-query-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__tooltip-query-heading {
    text-align: left;
    margin-bottom: 0.325rem;
    padding-bottom: 0.325rem;
    border-bottom: 1px solid rgba($color__white, 0.15);
  }

  &__tooltip-query-list-item {
    display: flex;
    margin-bottom: 0.125rem;
    text-align: left;
  }

  &__tooltip-query-list-item-heading {
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0.125rem;
    font-size: 0.75rem;
  }

  &__tooltip-query-list-item-value {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

// Provided from https://www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements
//- it is a common approach used to hide information visually but keep them available to screen readers
.visually-hide-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}