@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.subscriptions-list {
  &__subscription-group {
    margin-bottom: 3rem;
  }

  &__spinner {
    margin: 0 auto;
  }

  &__button {
    margin: 0 calc(bootstrap.$spacer / 2);
    color: utils.$color__carbon--30;
    display: inline-flex;

    &--share {
      i {
        position: relative;
        top: 0.0625rem;
      }
    }

    &:hover {
      color: utils.$color__carbon--60;
    }
  }
}
