@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: calc(bootstrap.$spacer / 2) bootstrap.$spacer;
  width: 100%;
  border: 1px solid utils.$color__carbon--20;
  border-radius: 0.125rem;
  vertical-align: middle;

  &--is-selected {
    background-color: utils.$color__carbon--10;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
  }

  &__content {
    display: inline-block;
    margin-left: calc(bootstrap.$spacer / 2);
    font-weight: 700;
    color: utils.$color__carbon--50;
    vertical-align: middle;

    .radio--is-selected & {
      color: utils.$color__carbon--60;
    }
  }
}
