<div class="modal fade collection-customization" data-bind="attr: {id: collection.id + '-edit-modal'}" role="dialog" tabindex="-1" aria-labelledby="collection-customization-modal-title">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></a>
        <h1 class="modal-title" id="collection-customization-modal-title"><i class="fa fa-cog"></i> Select Customization Options</h1>
      </div>

      <div class="modal-body">
        <div class="access-item-data-quality" data-bind="if: granuleAccessOptions().dqs && granuleAccessOptions().dqs.length > 0">
          <h4>Quality Information</h4>
          <!-- ko foreach: granuleAccessOptions().dqs -->
          <p data-bind="html: data_quality_summary_definition.summary"></p>
          <!-- /ko -->
        </div>

        <div class="access-item-options">
          <!-- ko if: serviceOptions.isLoaded() -->
            <!-- ko if: selectedAccessMethodType() -->
              <h3>Delivery Method</h3>
              <!-- <p data-bind="text: selectedAccessMethod()"></p> -->
              <div class="customization-item">
              <!-- ko if: selectedAccessMethodType() == 'opendap' -->
                <h4 class="customization-title">Customize &amp; Download</h4>
                <span class="customization-description">Select options like variables, transformations, and output formats to customize your data. The desired data files will be made available for access immediately. Files will be accessed from a list of links in the browser or by using a download script.</span>
              <!-- /ko -->
              <!-- ko if: selectedAccessMethodType() == 'service' -->
                <h4 class="customization-title">Customize &amp; Download</h4>
                <span class="customization-description">Select options like variables, transformations, and output formats to customize your data. The desired data files will be made available for access immediately. Files will be accessed from a list of links in the browser or by using a download script.</span>
              <!-- /ko -->
              <!-- ko if: selectedAccessMethodType() == 'download' -->
                <h4 class="customization-title">Direct Download</h4>
                <span class="customization-description">Direct download of <strong>all</strong> data associated with the selected granules. The desired data will be available for download immediately. Files will be accessed from a list of links displayed in the browser or by using a download script.</span>
              <!-- /ko -->
              <!-- ko if: selectedAccessMethodType() == 'order' -->
                <h4 class="customization-title">Stage for Delivery</h4>
                <span class="customization-description">Submit a request for data to be staged for delivery. Data files will be compressed in zip format and stored for retrieval via HTTP. You will receive an email from the data provider when your files are ready to download.</span>
              <!-- /ko -->
              <div class="customization-item-footer">
                <a href="#" data-bind="click: triggerEditAccessMethod">Edit Delivery Method</a>
              </div>
            </div>
            <!-- /ko-->
          <!-- /ko-->
        </div>

        <div class=" access-item-options">
            <!-- ko foreach: serviceOptions.accessMethod -->
              <div class="modal-overlay access-item-selection" data-bind="css: {'is-active' : $parent.editingAccessMethod}">
                <h3>Select Delivery Method</h3>
                <!-- ko foreach: availableMethods -->
                <label data-bind="click: $parents[1].showSpinner, css: {'active-tab': $parent.method() == $data.name}" class="input-tab">

                  <input data-bind="checked: $parent.method, attr: { value: name, id: 'access-method-' + $parents[1].collection.id + '-' + $parentContext.$index() + $index(), form: 'access-form-' + $parents[1].collection.id + '-' + $parentContext.$index(), name: $parents[1].collection.id + '-' + $parentContext.$index() +  '-access-method' }" type="radio" />
                  <!-- ko if: type == 'opendap' -->
                  <strong><span>Customize &amp; Download</span></strong>
                  <span class="access-item-description">Select options like variables, transformations, and output formats to customize your data. The desired data files will be made available for access immediately. Files will be accessed from a list of links in the browser or by using a download script.</span>
                  <!-- /ko -->
                  <!-- ko if: type == 'service' -->
                  <strong><span>Customize &amp; Download</span></strong>
                  <i class="fa fa-spinner fa-spin fa-fw" data-bind="visible: $parent.loadForm()"></i>
                  <span class="access-item-description">Select options like variables, transformations, and output formats to customize your data. The desired data files will be made available for access immediately. Files will be accessed from a list of links in the browser or by using a download script.</span>
                  <!-- /ko -->
                  <!-- ko if: type == 'download' -->
                  <strong><span>Direct Download</span></strong>
                  <span class="access-item-description">Direct download of <strong>all</strong> data associated with the selected granules. The desired data will be available for download immediately. Files will be accessed from a list of links displayed in the browser or by using a download script. </span>
                  <!-- /ko -->
                  <!-- ko if: type == 'order' -->
                  <strong><span>Stage for Delivery</span></strong>
                  <span class="access-item-description">Submit a request for data to be staged for delivery. Data files will be compressed in zip format and stored for retrieval via HTTP. You will receive an email from the data provider when your files are ready to download.</span>
                  <!-- /ko -->
                </label>
                <!-- /ko -->
              </div>

              <div class="access-form" data-bind="attr: {id: 'access-form-' + $parent.collection.id + '-' + $index()}"></div>

              <div class="access-subset-options" data-bind="if: subsetOptions">
                <div class="access-subset-options-section">
                  <h5>File format</h5>
                  <!-- ko foreach: subsetOptions().formats -->
                    <label class="radio-label">
                      <input data-bind="checked: $parent.subsetOptions().formatName, attr: { value: name, name: $index() + '-file-type' }" type="radio" />
                      <span data-bind="text: name"></span>
                    </label>
                  <!-- /ko -->
                </div>
                <!-- ko if: subsetOptions().format().canSubset -->
                  <!-- ko if: subsetOptions().config.spatial -->
                    <div class="access-subset-options-section">
                      <h5>Spatial subsetting</h5>
                      <label>
                        <input data-bind="checked: subsetOptions().subsetToSpatial" type="checkbox" />
                        <span>Subset to my spatial search area's bounding box</span>
                      </label>
                      <div class="access-subset-map" data-bind="mapdisplay: subsetOptions().config.spatial"></div>
                    </div>
                  <!-- /ko -->
                  <div class="access-subset-options-section">
                    <h5>Parameters</h5>
                    <!-- ko foreach: subsetOptions().parameters -->
                      <div class="access-parameter">
                        <label>
                          <input data-bind="checked: selected" type="checkbox" />
                          <span data-bind="text: id"></span>
                        </label>
                        <span class="description" data-bind="text: title"></span>
                      </div>
                    <!-- /ko -->
                  </div>
                <!-- /ko -->
              </div>
              <!-- /ko -->

              <!-- ko if: selectedAccessMethod() == 'OPeNDAP' -->
              <%= render partial: 'customization' %>
              <!-- /ko -->

              <!-- ko if: serviceOptions.accessMethod().length == 0 -->
                <p>Data access is not available for this collection.</p>
              <!-- /ko -->
            <!-- /ko -->
        </div>
      </div>
      <div class="modal-footer">
        <button class="button" data-dismiss="modal">Close</Button>
      </div>
    </div>
  </div>
</div>
