<section class="customization-opendap">
  <h3>Additional Options</h3>
  <div class="customization-list">
    <div class="customization-item customization-item-variables">
      <h4 class="customization-item-heading">Variable Selection</h4>
      <div class="customization-item-body">
        <span class="customization-description">Use science keywords to subset your collection granules by measurements and variables.</span>
        <!-- ko if: selectedVariables().length > 0 -->
        <span class="customization-status-text"><span data-bind="text: selectedVariables().length"></span> variables currently selected.</span>
        <!-- /ko -->
        <!-- ko if: selectedVariables().length == 0 -->
        <span class="customization-status-text">No variables selected. All variables will be included in download.</span>
        <!-- /ko -->
      </div>
      <div class="customization-item-footer">
        <button href="#" class="edit-variables button button-small" data-bind="click: $root.ui.variableSelector.displayModal">Edit Variables</button>
      </div>
    </div>
    <!-- <div class="customization-item customization-item-transfomations">
      <h4 class="customization-item-heading">Transformations</h4>
      <div class="customization-item-body">
        <span class="customization-description">Further subset your granules by a geographic area and adjust the default projections.</span>
        <span class="customization-status-text">No transformations selected. No data will be transformed.</span>
      </div>
      <div class="customization-item-footer">
        <button class="button button-small button-disabled edit-transformations">Edit Transformations</button>
      </div>
    </div>
    <div class="customization-item customization-item-output">
      <h4 class="customization-item-heading">Output Format</h4>
      <div class="customization-item-body">
        <span class="customization-description">GeoTIFF and other file output format options.</span>
        <span class="customization-status-text">No output format selected. The default for this collection will be used.</span>
      </div>
      <div class="customization-item-footer">
        <button class="button button-small button-disabled edit-output">Edit Output Format</button>
      </div>
    </div> -->
  </div>
</section>
<!-- ko if: spatialSubsettingEnabled() && expectedAccessMethod().type == 'opendap' -->
<p class="content"><span class="fa fa-globe"></span> Spatial subsetting is inherited from your search session. <a href="#" data-bind="click: project.backToSearch">Click here</a> to modify.</p>
<!-- /ko -->
<div class="modal-overlay variable-selection" id="variable-subsetting-modal" data-bind="css: {'is-active' : editingVariables}, with: $root.ui.variableSelector">
  <header class="modal-overlay-header">
    <button class="modal-overlay-back-button button-back" data-bind="click: $parent.onModalClose">
      <i class="fa fa-chevron-left"></i> Back to Edit Options
    </button>
    <div>
      <h3>Variable Selection</h3>
    </div>
  </header>
  <section data-bind="with: selectedKeyword(), visible: selectedKeyword()">
    <span class="selected-keyword">
      <a href="#" data-bind="click: $parent.clearSelections">All Leafnodes</a>
      <i class="child-spacer fa fa-chevron-circle-right"></i>
      <!-- ko if: !$parent.selectedVariable() -->
      <strong data-bind="text: $data.keyword"></strong>
      <!-- /ko -->
      <!-- ko if: $parent.selectedVariable() -->
        <a href="#" data-bind="click: $root.ui.variableSelector.clearVariable, text: $data.keyword"></a>
      <!-- /ko -->
      <span data-bind="with: $parent.selectedVariable(), visible: $parent.selectedVariable()">
        <i class="child-spacer fa fa-chevron-circle-right"></i>
        <strong data-bind="text: $data.umm().Name"></strong>
      </span>
    </span>
  </section>
  <section data-bind="css: {busy: _pending()}">
    <div class="message-container" data-bind="visible: !_pending() && variables().length == 0">
      <p>This collection doesn't have any associated variables.</p>
    </div>
    <div class="modal-overlay-content-full" data-bind="visible: !selectedKeyword()">
      <ul id="associated-variables" class="keyword-list list-alternating" data-bind="foreach: keywordMappings">
        <li class="keyword-list-item">
          <a href="#" data-bind="click: $parent.selectKeyword, text: $data.keyword"></a>
          <!-- ko if: $data.selected > 0 -->
          <span class="pill" data-bind="text: $data.selected + ' selected'"></span>
          <!-- /ko -->
        </li>
      </ul>
    </div>
    <div class="variable-list" data-bind="with: selectedKeyword(), visible: selectedKeyword()">
      <div class="collection-variable-list-item">
        <label>
          <input type="checkbox" class="select-all" data-bind="checked: $parent.hasAllKeywordsSelected()">
          <div class="collection-variable-info">
            <span>Select All Variables</span>
          </div>
        </label>
      </div>
      <div class="collection-variables" data-bind="foreach: $data.variables">
        <div class="collection-variable-list-item">
          <label data-bind="attr: { id: $data.meta()['concept-id'] }">
            <input type="checkbox" data-bind="checked: $parents[1].selectedProjectCollection().hasSelectedVariable($data), attr: {value: $data.meta()['concept-id']}">
            <div class="collection-variable-info">
              <h4 class="collection-variable-heading">
                <span class="collection-variable-name" data-bind="text: $data.umm().Name"></span>
              </h4>
              <ul class="collection-variable-meta text-info list-inline list-divided">
                <li class="collection-variable-longname" data-bind="text: $data.umm().LongName"></li>
                <li><a class="collection-variable-details-link clean underline subtle" href="#" data-bind="click: $root.ui.variableSelector.selectVariable">View Details</a></li>
              </ul>
            </div>
          </label>
        </div>
      </div>
    </div>
  </section>
  <section class="modal-overlay" data-bind="with: selectedVariable(), css: {'is-active' : selectedVariable()}">
    <div class="variable-details">
      <header class="modal-overlay-header">
        <button class="modal-overlay-back-button button-back" data-bind="click: $root.ui.variableSelector.clearVariable">
          <i class="fa fa-chevron-left"></i> Back to Variables
        </button>
        <h2 class="collection-variable-heading">
          <span class="collection-variable-name" data-bind="text: $data.umm().Name"></span>
        </h2>
      </header>
      <p class="collection-variable-longname text-info" data-bind="text: $data.umm().LongName"></p>
      <!-- ko if: $data.umm().Definition -->
      <p class="collection-variable-description" data-bind="text: $data.umm().Definition"></p>
      <!-- /ko -->
      <!-- ko if: !$data.umm().Definition -->
      <p class="collection-variable-description">No definition available for this variable.</p>
      <!-- /ko -->
    </div>
  </section>
</div>
