<h1 style="color: white;">This is project page!</h1>
<a style="color: white;
    padding: 1em;
    margin: 1em;
    float: right;
    background: purple;" href="<%= @back_path %>?<%= request.query_string %>">
  <i class="fa fa-arrow-circle-o-left"></i> Back to Search
</a>

