.saved-projects {
  &__spinner {
    margin: 0 auto;
  }

  &__share-popover {
    min-width: 230px;
    max-width: 400px;
    color: $color__black--600;
  }

  &__share-input {
    width: 100%;
  }

  &__button {
    margin: 0 $spacer/2;
    color: $color__black--300;

    &--share {
      i {
        position: relative;
        top: 0.0625rem;
      }
    }

    &:hover {
      color: $color__black--600;
    }
  }
}

.saved-projects-table {
  a {
    color: $color__blue;

    &:hover,
    &:active {
      color: $color__blue--dark;
    }
  }

  &__actions,
  &__actions-heading {
    text-align: center;
  }

  &__ago {
    white-space: nowrap;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

