.saved-projects-table {
  a {
    color: $color__black--100;

    &:hover,
    &:active {
      color: $color__black--300;
    }
  }

  &__ago {
    white-space: nowrap;
  }
}

.popover {
  min-width: 230px;
  max-width: 400px;
  color: #333;

  input {
    width: 100%;
  }
}
