.saved-projects {
  &__spinner {
    margin: 0 auto;
  }

  &__share-popover {
    min-width: 230px;
    max-width: 400px;
    color: $color__carbon--60;
  }

  &__share-input {
    width: 100%;
  }

  &__button {
    margin: 0 calc($spacer / 2);
    color: $color__carbon--30;
    display: inline-block;

    &--share {
      i {
        position: relative;
        top: 0.0625rem;
      }
    }

    &:hover {
      color: $color__carbon--60;
    }
  }
}

.saved-projects-table {
  &__actions,
  &__actions-heading {
    text-align: center;
  }

  &__ago {
    white-space: nowrap;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
