@use '../../../css/utils';

.autocomplete-suggestion {
  &__suggestions-primary {
    display: flex;
    flex-direction: column;

    margin-bottom: 0.2rem;
  }

  &__suggestions-type {
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0.675rem;
    color: utils.$color__carbon-black;
  }

  &__suggestions-value {
    line-height: 1.35;
    font-weight: 700;
  }

  &__suggestions-hierarchy {
    font-size: 0.675rem;
    color: utils.$color__carbon-black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    background-color: utils.$color__spacesuit-white;
    transition: all 0.1s ease-in-out;

    & > span {
      display: flex;
      align-items: center;
      gap: 0.125rem;
      min-width: 100%;
      position: relative;
      text-overflow: ellipsis;
      overflow: hidden;
      background-color: inherit;
    }
  }
}
