.search-tour {
  &-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.8125rem;
    letter-spacing: -1%;
  }

  &-welcome {
    color: $color__nasa-blue;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }

  &-subheading {
    font-size: 1.5625rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
    letter-spacing: -1%;
  }

  &-content, 
  &-webinar-description {
    font-size: 1rem;
    margin-bottom: 1.25rem;
    text-align: left;
  }

  &-note {
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
    text-align: left;
  }

  &-buttons {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.9375rem;
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;

    &.intro {
      width: 100%;
      justify-content: center;
      position: static;
      margin-top: 1.25rem;
    }

    &:not(.intro) {
      width: 9rem;
    }
  }

  &-info-box {
    background-color: $color__carbon--5;
    padding: 1rem 1rem 0.0625rem;
    margin-bottom: 0.9375rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    text-align: left;

    &-link {
      color: $color__carbon-black;
      text-decoration: underline;
      font-weight: bold;
    }
  }

  &-webinar {
    &-box {
      background-color: $color__carbon--5;
      padding: 0.625rem;
      margin-bottom: 1.25rem;
      border-radius: 0.375rem;
      text-decoration: none;
      color: $color__carbon-black;
      display: flex;
      align-items: center;
    }

    &-text {
      flex: 0 0 13.75rem;
      margin-right: 0.9375rem;
    }

    &-thumbnail {
      width: 100%;
      height: auto;
    }

    &-link {
      font-size: 1rem;
      font-weight: bold;
      margin-top: 0.625rem;
      margin-left: 0.625rem;
    }
  }

  &-discover-more {
    padding: 0.625rem;
    font-size: 1rem;
    font-weight: 500;
  }

  &-more-info {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.3125rem;
  }

  &-earthdata-link {
    color: $color__carbon--60;
    text-decoration: underline;
    display: inline;
  }

  &-tooltip {
    width: 25rem;
    background-color: $color__spacesuit-white;
    border-radius: 0.625rem;
    font-size: 1rem;
    text-align: center;
    position: relative;
    min-height: 12.5rem;
  }
  &-content-wrapper {
    padding-bottom: 1.25rem;
  }
}

.step-counter-text {
  font-family: $font-family-monospace;
  font-size: 0.75rem;
  margin-bottom: 0.9375rem;
  color: $color__carbon--40;
  text-align: left;
}

.text-icon {
  display: inline-block;
  vertical-align: center;
  margin-top: -0.125rem;
  height: 0.85rem;
  width: 0.85rem;
}

kbd {
  display: inline-block;
  vertical-align: center;
  font-size: 0.75em;
  padding: 0.125rem 0.1875rem;
}

.button-tour-finish {
  min-width: 5.625rem;
}
