.search-tour {
  &__heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.8125rem;
    letter-spacing: -1%;
  }

  &__welcome {
    color: $color__nasa-blue;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
  }

  &__subheading {
    font-size: 1.5625rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
    letter-spacing: -1%;
  }

  &__content, 
  &__webinar-description {
    font-size: 1rem;
    margin-bottom: 1.25rem;
    text-align: left;
  }

  &__earthdata-list {
    list-style: none;
    color: $color__carbon-black;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 0.5rem;
    }
  }

  &__note {
    font-size: 0.875rem;
    margin-bottom: 1.25rem;
    text-align: left;
  }

  &__tour-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
  }

  &__checkbox {
    height: 1.1875rem;
    width: 1.1875rem;
    vertical-align: middle;

    &__label {
      position: relative;
      top: 0.225rem;
      font-size: 0.75rem;
      margin-left: 0.5rem;
      color: $color__carbon-black;
    }
  }

  &__buttons {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.9375rem;
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;

    &.intro {
      width: 100%;
      justify-content: center;
      position: static;
      margin-top: 1.25rem;
    }

    &:not(.intro) {
      width: 9rem;
    }
  }

  &__info-box {
    background-color: $color__carbon--5;
    padding: 1rem 1rem 0.0625rem;
    margin-bottom: 0.9375rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    text-align: left;

    &__link {
      color: $color__carbon-black;
      text-decoration: underline;
      font-weight: bold;
    }
  }

  &__webinar {
    &__box {
      background-color: $color__carbon--5;
      padding: 0.625rem;
      margin-bottom: 1.25rem;
      border-radius: 0.375rem;
      text-decoration: none;
      color: $color__carbon-black;
      display: flex;
      align-items: center;
    }

    &__text {
      flex: 0 0 13.75rem;
      margin-right: 0.9375rem;
    }

    &__thumbnail {
      width: 100%;
      height: auto;
    }

    &__link {
      font-size: 1rem;
      font-weight: bold;
      margin-top: 0.625rem;
      margin-left: 0.625rem;
    }
  }

  &__discover-more {
    padding: 0.625rem;
    font-size: 1rem;
    font-weight: 500;
  }

  &__more-info {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.3125rem;
  }

  &__earthdata-link {
    display: inline;

    &:hover {
      text-decoration: none;
    }

    .external-link-icon {
      margin-left: 0.25rem;
      font-size: 0.75rem;
    }
  }

  &__tooltip {
    width: 25rem;
    background-color: $color__spacesuit-white;
    border-radius: 0.625rem;
    font-size: 1rem;
    text-align: center;
    position: relative;
    min-height: 12.5rem;
  }
  &__content-wrapper {
    padding-bottom: 1.25rem;
  }
}

.step-counter-text {
  font-family: $font-family-monospace;
  font-size: 0.75rem;
  margin-bottom: 0.9375rem;
  color: $color__carbon--40;
  text-align: left;
}

.text-icon {
  display: inline-block;
  vertical-align: center;
  margin-top: -0.125rem;
  height: 0.85rem;
  width: 0.85rem;
}

kbd {
  display: inline-block;
  vertical-align: center;
  font-size: 0.75em;
  padding: 0.125rem 0.1875rem;
}

.button-tour-finish {
  min-width: 5.625rem;
}

.target-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  left: calc(100%);
  pointer-events: none;
}
