.granule-results-browse-image-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  padding: 0.25rem;
  height: 60px;
  width: 60px;
  overflow: hidden;
  font-size: 0.5rem;
  border-bottom: 1px solid $color__black--200;

  &--image {
    background-color: #1a1a1a;
    border-bottom: 1px solid $color__black--700;
  }

  &__thumb {
    flex: 1;
    height: 100%;
    width: 100%;
  }

  &__thumb-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
