.granule-results-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    list-style: none;
  }
}
