.granule-results-item {
  margin: $spacer/2;
  width: 15.75rem;
  width: calc(50% - 1rem);
  background: $color__white;
  border: 1px solid $color__black--200;
  border-radius: $border-radius;
  box-shadow: $shadow__default;

  &__header {
    padding: $spacer/2;

    &:hover {
      cursor: pointer;
    }
  }

  &__body {
    display: flex;
  }

  &__meta {
    flex-grow: 1;
  }

  &__title {
    margin: 0;
    font-size: 0.825rem;
    font-weight: 400;
    line-height: 1.4em;
    word-wrap: break-word;

    .granule-results-item--selected & {
      color: $color__brand--blue;
    }

    &:hover {
      color: $color__brand--blue;
    }
  }

  &__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    padding: 0.25rem;
    height: 5.2rem;
    width: 5.2rem;
    background-color: $color__black--900;
    overflow: hidden;
    font-size: 0.5rem;
  }

  &__thumb-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__temporal {
    display: flex;
    flex-grow: 0;
    align-items: center;
    justify-content: space-between;
    padding: $spacer/4 $spacer/2 $spacer/4 $spacer/2;

    h5 {
      margin: 0;
      padding: 0;
      display: inline-block;
      font-size: 0.675rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    p {
      margin: 0;
      padding: 0;
      display: inline-block;
      font-size: 0.675rem;
    }

    &--start {
      background-color: rgba(39,174,96,0.1);

      h5 {
        color: #27ae60;
      }
    }

    &--end {
      background: rgba(192,57,43,0.1);

      h5 {
        color: #c0392b;
      }
    }
  }

  &__buttons {
    display: flex;
    width: auto;
    background: $color__black--100;
    border-radius: 0 0 $border-radius $border-radius;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    width: 2.25rem;
    height: 2.25rem;
    background: $color__black--100;
    color: $color__black--400;
    text-align: center;
    border: 1px solid $color__black--200;
    border-left: 0;
    border-radius: 0;
    border-bottom: none;
    vertical-align: middle;

    &:hover {
      color: $color__black--500;
      border: 1px solid lighten($color__black--300, 10%);
      border-bottom: none;
      border-left: 0;
    }

    &:focus {
      z-index: 1;
    }

    .fa {
      font-size: 0.875em;
    }

    &:first-child {
      border-radius: 0 0 0 $border-radius;
    }
  }

  &__dropdown-item {
    color: $color__black--800;
    font-size: 0.875rem;

    &:hover {
      background-color: $color__brand--blue-dark;
      color: $color__black--200;
    }
  }
}
