.granule-results-header {
  &__title-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  &__title {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0.75rem;
    font-weight: 700;
    font-size: 1.1875rem;
  }

  &__link {
    font-size: 0.925rem;
    white-space: nowrap;

    .button__icon {
      font-size: 0.925rem;
      line-height: 0.925rem;
    }
  }

  &__filters-link {
    display: flex;
    align-items: center;
  }

  &__granule-search-input {
    .form-inline & {
      width: 17.5rem;
    }
  }

  &__cwic-note {
    display: block;
    margin-bottom: $spacer/2;
    color: $color__black--400;
  }

  &__cwic-emph {
    font-weight: 700;
    color: $color__yellow;
  }

  &__granule-undo {
    padding: $spacer/8 $spacer/2;
    background-color: $color__orange;
    font-size: 0.925rem;
    color: $color__white;
    border-radius: $border-radius-sm;
  }

  &__granule-undo-button {
    margin-left: $spacer/4;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: darken($color__orange, 25);
    text-decoration: underline;

    &:hover {
      color: darken($color__orange, 35);
    }

    &:focus {
      outline: 0;
    }
  }
}
