
.granule-results-table {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  .more-actions-dropdown__menu {
    z-index: 1000;
  }

  &__tr {
    &:after {
      content: "";
      position: absolute;
      top: -1px;
      height: calc(100% + 3px);
      width: 100%;
      border: 1px solid transparent;
      z-index: -1;
      transition: all 0.2s ease-in;
      pointer-events: none;
    }

    &:after {
      top: -1px;
      height: calc(100% + 2px);
    }

    &:hover,
    &:focus {
      z-index: 3;
      cursor: pointer;
      outline: 0;

      &:after {
        border: 2px solid rgba(#5ee79b, 0.5);
        border-left: 0;
        border-right: 0;
      }

      .edsc-table__td:first-child,
      .granule-results-table__cell--granule,
      .edsc-table-cell {
        border-top: 1px solid $color__black--200 !important;
        border-bottom: 1px solid $color__black--200 !important;
      }
    }

    &--emphisized {
      z-index: 2;
      border-bottom: 0;

      &:after {
        border-top: 1px solid $color__black--300;
        border-left: 0;
        border-right: 0;
      }

      .edsc-table-cell {
        color: $color__black--600;
      }

      .edsc-table-cell,
      .granule-results-table__cell--granule {
        border-bottom: 1px solid $color__black--300 !important;
        border-left: 0;
        border-right: 0;
      }
    }

    &--deemphisized {
      z-index: 1;

      &:after {
        border-top: 1px solid $color__black--200;
        border-left: 0;
        border-right: 0;
      }

      .edsc-table-cell {
        color: $color__black--500;
      }

      .edsc-table-cell,
      .granule-results-table__cell--granule {
        border-bottom: 1px solid $color__black--300 !important;
        border-left: 0;
        border-right: 0;
      }
    }

    &--active {
      z-index: 5;

      &:after {
        z-index: 1000;
        border: 2px solid #5ee79b;
        border-left: 0;
        border-right: 0;
      }

      .edsc-table-cell {
        border: 0px !important;
        border-left: 0;
        border-right: 0;
      }

      .edsc-table__td:first-child,
      .granule-results-table__cell--granule {
        border-left: none !important;
        border-right: none !important;
      }

      &.granule-results-table__tr--emphisized {
        .edsc-table-cell {
          border: 0px !important;
          border-left: 0;
          border-right: 0;
        }

        .edsc-table__td:first-child,
        .granule-results-table__cell--granule {
          border: 0 !important;
        }
      }
    }

    &:hover {
      &:after {
        z-index: 6;
      }
    }
  }

  &__data-cell {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__cell {
    &--granule {
      position: relative;
      display: flex !important;
      flex-shrink: 0;
      height: 3.5rem;
      align-items: center;
      justify-content: space-between;
      z-index: 1;
    }
  }

  &__title-button {
    user-select: text;
    text-align: left;
  }

  &__granule-name {
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 0.675rem;
    line-height: 1.3;
    color: $color__black--600;
    cursor: pointer;
    word-break: break-word;

    .granule-results-table__tr--active & {
      color: $color__black--800;
    }

    .granule-results-table__tr--deemphisized & {
      color: $color__black--500;
    }
  }

  &__granule-actions {
    display: flex;
    flex-shrink: 0;
    margin-right: 0.125rem;
    margin-left: 0.25rem;

    .edsc-table__tr:hover & {
      display: flex;
    }
  }

  &__more-actions-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .more-actions-dropdown__toggle i {
    position: relative;
    top: 2px;
  }

  &__granule-action,
  .granule-results-data-links-button__button,
  .more-actions-dropdown__toggle {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    width: 1.75rem;
    color: $color__black--400;
    border-radius: 0;
    border: 0;

    &:hover {
      color: $color__black--600;
    }

    &:focus {
      border-color: $color__black--300;
      outline: 0;
      box-shadow: 0 0 0 0.2rem $color__black--200;
    }

    .edsc-icon {
      height: 0.75rem;
      width: 0.75rem;
    }

    &--add {
      color: $color__green;

      &:hover {
        color: $color__green--dark;
      }
    }

    &--remove {
      color: $color__red;

      &:hover {
        color: $color__red--dark;
      }

      .fa {
        position: relative;
        top: -0.05rem;
      }
    }
  }

  .edsc-table__tr {
    width: 1000px;
    height: 3.5rem;
  }

  .edsc-table__thead {
    .edsc-table__tr {
      height: auto;
    }
  }

  .edsc-table__th {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

    &:first-child {
      justify-content: flex-start;
    }
  }

  .edsc-table__td {
    height: 60px;
    z-index: 1;

    &:first-child {
      padding: 0;
      padding-left: 1rem;
      border-top: 1px solid transparent;
      border-bottom: 1px solid $color__black--200;
      z-index: 2;
    }
  }

  .edsc-table__td:first-child,
  .edsc-table__th:first-child {
    box-sizing: border-box;
  }
}
