.granule-results-header {
  &__primary {
    padding: $spacer/2 $spacer;
  }

  &__title-wrap {
    margin-bottom: $spacer/4;
  }

  &__title {
    display: inline;
    margin-right: 0.75rem;
    font-weight: 700;
    font-size: 1rem;
    vertical-align: middle;
  }

  &__title-link {
    position: relative;
    display: inline;
    white-space: nowrap;
    font-size: 0.875rem;
  }

  &__link {
    white-space: nowrap;
    font-size: 0.875rem;
  }

  &__filters-link {
    display: flex;
    align-items: center;
  }

  &__granule-search-input {
    .form-inline & {
      width: 14.5rem;
    }
  }

  &__cwic-note {
    display: block;
    margin-bottom: $spacer/2;
    color: $color__black--400;
    font-size: 0.875rem;
  }

  &__cwic-emph {
    font-weight: 700;
    color: $color__yellow;
  }

  &__granule-undo {
    padding: $spacer/8 $spacer/2;
    background-color: $color__orange;
    font-size: 0.925rem;
    color: $color__white;
    border-radius: $border-radius-sm;
  }

  &__granule-undo-button {
    margin-left: $spacer/4;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: darken($color__orange, 25);
    text-decoration: underline;

    &:hover {
      color: darken($color__orange, 35);
    }

    &:focus {
      outline: 0;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    padding: $spacer/4 $spacer;
    border-top: 1px solid $color__black--200;
    font-size: 0.75rem;
    color: $color__black--600;
  }
}
