.granule-results-focused-meta {
  position: relative;

  &__thumb-container {
    position: relative;
    height: 11rem;
    width: 11rem;
    margin: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, $color__black--100 25%, transparent 25%), linear-gradient(-45deg, $color__black--100 25%, transparent 25%), linear-gradient(45deg, transparent 75%, $color__black--100 75%), linear-gradient(-45deg, transparent 75%, $color__black--100 75%);
    background-size: 12px 12px;
    background-position: 0 0, 0 6px, 6px -6px, -6px 0px;
  }

  &__thumb {
    padding: 0.125rem;
    position: absolute;
    height: auto;
    z-index: 0;
    visibility: hidden;
    opacity: 0;

    &--is-active {
      z-index: 1;
      visibility: visible;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }

    .panels--hide-thumbnail + .panels__focused-meta & {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }

  &__full-container {
    position: relative;
    height: 33.5rem;
    width: 33.5rem;
    margin: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, $color__black--100 25%, transparent 25%), linear-gradient(-45deg, $color__black--100 25%, transparent 25%), linear-gradient(45deg, transparent 75%, $color__black--100 75%), linear-gradient(-45deg, transparent 75%, $color__black--100 75%);
    background-size: 12px 12px;
    background-position: 0 0, 0 6px, 6px -6px, -6px 0px;
  }

  &__full {
    padding: 0.125rem;
    position: absolute;
    height: auto;
    z-index: 0;
    visibility: hidden;
    image-rendering: pixelated;
    opacity: 0;

    &--is-active {
      z-index: 1;
      visibility: visible;
      opacity: 1;
    }
  }

  &__list-popover {
    max-width: initial;
  }

  &__list {
    border: none;
    max-height: 50vh;
    overflow-y: scroll;
  }

  &__list-item {
    text-align: left;
    border-right: 0;
    border-left: 0;

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__pagination {
    margin: 0 0 0 0.25rem;
    display: block;
    font-weight: 700;
  }

  &__primary-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    padding-top: 1rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    justify-content: space-between;
  }

  &__image-nav-primary,
  &__image-nav-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image-nav-primary,
  &__image-nav-secondary {
    border: 2px solid rgba($color__black--700, 0.3);
    border-radius: 0.25rem;
    background-color: rgba($color__white, 0.825);
  }

  &__image-nav-button,
  &__image-nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    width: 1.75rem;
    padding: 0;
    border: 2px solid rgba($color__black--700, 0.3);
    border-radius: 0.25rem;
    color: $color__black--700;
    background-color: rgba($color__white, 0.825);

    .granule-results-focused-meta__image-nav-primary & ,
    .granule-results-focused-meta__image-nav-secondary & {
      border: none;
      border-radius: 0;
      background-color: transparent;

      &:hover {
        color: $color__black--800;

        &:not(.granule-results-focused-meta__image-nav-item) {
          background-color: $color__black--100;
        }
      }
    }

    &__image-nav-item {
      width: auto;
    }

    &:hover {
      color: $color__black--800;
    }

    .edsc-modal & {
      width: 2.25rem;
      height: 2.25rem;
      border: 0;
    }
  }

  &__secondary-actions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    padding-bottom: 1rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    justify-content: flex-end;
    color: $color__white;
  }

  &__browse-image-modal {
    max-width: 34.125rem;

    .edsc-modal__inner-body {
      padding: 0;
      overflow: hidden;
    }
  }

  &__modal-primary-actions {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    padding-top: 0;
    color: $color__black--500;

    .btn {
      color: $color__black--500;
    }
  }

  &__modal-nav-primary,
  &__modal-nav-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.edsc-modal__granule-browse-image-modal {
  .modal-header {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  .close {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    width: 1.75rem;
    padding: 0;
    border: 2px solid rgba($color__black--700, 0.3);
    border-radius: 0.25rem;
    color: $color__black--700;
    background-color: rgba($color__white, 0.825);
  }
}