.granule-results-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacer/2 $spacer;
  border: 1px solid $color__black--200;
  border-left: 0;
  border-right: 0;

  .panels--sm & {
    flex-direction: row;
  }

  .badge {
    font-size: 0.575rem;
    padding: 0.25rem 0.35rem;
    font-weight: 400;
    text-shadow: 0 0 3px rgba($color__black, 0.4);

    .btn & {
      position: relative;
      top: -1px;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    padding-bottom: 0.5rem;
    vertical-align: middle;
    font-size: 0.875rem;

    .panels--sm & {
      width: auto;
      padding: 0;
      padding-right: 1rem;
    }
  }

  &__granule-count-wrapper {
   display: flex;
    vertical-align: middle;
    margin-right: 1rem;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__granule-count {
    flex-wrap: nowrap;
    white-space: nowrap;
    vertical-align: middle;
    margin-right: 0.5rem;
    line-height: 2;
    font-weight: 700;
    color: $color__black--700;
  }

  &__primary-actions {
    display: flex;
    align-items: center;
  }

  &__secondary-actions {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

  &__collection-actions {
    display: flex;
    align-items: center;
  }

  &__action {
    display: flex;
    align-items: center;
    color: $color__black--500;
    margin-right: 1rem;
    padding: 0;

    &:hover,
    &:active {
      color: $color__black--600;
    }

    .granule-results-actions__explore-button {
      color: $color__black--500;

      &:hover,
      &:active {
        color: $color__black--600;
      }

      &.dropdown-toggle:after {
        display: none;
      }
    }

    .button__contents {
      visibility: hidden;
      height: 0;
      width: 0;
      text-indent: -9999px;
    }

    .button__icon--push {
      margin-right: 0;
    }

    .panels--600 & {
      .button__contents {
        visibility: visible;
        height: auto;
        width: auto;
        text-indent: initial;
      }

      .button__icon--push {
        margin-right: 0.325rem;
      }
    }

    &--subscriptions {
      .badge {
        background-color: $color__yellow;
      }
    }

    &--explore {
      .edsc-icon {
        transform: scale(1.15);
      }
    }

    &--remove {
      color: $color__red;

      &:hover,
      &:active {
        color: $color__red--dark;
      }
    }
  }

  &__explore-button {
    display: flex;
    align-items: center;
    padding: 0;

    .edsc-icon {
      position: relative;
      top: -0.125rem;
    }
  }

  &__download-all {
    width: 100%;
    flex-shrink: 1;

    .panels--sm & {
      width: auto;
    }

    .panels--md & {
      flex-shrink: 0;
    }
  }

  &__download-all-button {
    white-space: nowrap;
    display: flex;
    align-items: center;

    .badge {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__project-pill-icon {
    position: relative;
    top: 0.05rem;
    padding-right: 0.25rem;
    height: 0.75rem;
    width: 0.75rem;
    vertical-align: middle;
    display: inline-block;
  }
}