.granule-results-body {
  position: relative;
  height: 100%;
  display: flex;

  &__view-enter {
    display: block;
    visibility: visible;
    opacity: 0;
  }

  &__view-enter-active {
    opacity: 1;
    visibility: visible;
    transition: opacity 200ms;
  }

  &__view-enter-done {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  &__view-exit {
    opacity: 1;
    visibility: visible;
  }

  &__view-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }

  &__view-exit-done {
    opacity: 0;
    visibility: hidden;
  }

  &__floating-footer {
    position: absolute;
    padding: 0.125rem 0.5rem;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    min-width: 7rem;
    background-color: rgba($color__black--200, 0.95);
    color: $color__black--600;
    font-size: 0.7rem;
    border-top-left-radius: 0.125rem;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: rgba($color__black--200, 1);
    }
  }

  &__floating-footer-item {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
  }

  &__search-time-value {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1.25rem;
    margin-left: 0.25rem;
  }
}
