@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.secondary-toolbar {
  display: flex;
  padding: 0.625rem;
  justify-content: flex-end;
  border-bottom: 1px solid utils.$color__carbon--20;

  &--map-overlay {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom: 0;
  }

  @include bootstrap.media-breakpoint-up(md) {
    margin-left: auto;
  }

  .button,
  .dropdown {
    display: flex;
    flex-shrink: 1;
    white-space: nowrap;
  }

  &--map-overlay > {
    .button,
    .dropdown > .dropdown-toggle {
      box-shadow: none;
      border: 2px solid rgba(utils.$color__carbon--80, 0.3);
      background-clip: padding-box;

      &:hover,
      &:focus {
        border: 2px solid rgba(utils.$color__carbon--80, 0.3);
      }
    }

    // Bootstrap outline overrides for the dropdown-toggle
    .show > .btn-light.dropdown-toggle,
    .btn-light.dropdown-toggle:focus,
    .btn-light.dropdown-toggle:active,
    .show > .btn-light.dropdown-toggle:focus,
    .show > .btn-light.dropdown-toggle:active,
    .btn-light:not(:disabled):not(.disabled):active:focus {
      border: 2px solid rgba(utils.$color__carbon--80, 0.3);
    }
  }

  // Bootstrap outline overrides for the dropdown-toggle
  .show > .btn-light.dropdown-toggle,
  .btn-light.dropdown-toggle:focus,
  .btn-light.dropdown-toggle:active,
  .show > .btn-light.dropdown-toggle:focus,
  .show > .btn-light.dropdown-toggle:active,
  .btn-light:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }

  .button {
    align-items: center;
  }

  &__project-name-dropdown {
    margin-right: 0.5rem;

    .dropdown-menu {
      padding: calc(bootstrap.$spacer / 2);
    }
  }

  &__start-tour-name-dropdown {
    margin-right: 0.5rem;
  }

  &__start-tour-button,
  &__project-name-dropdown-toggle {
    &:after {
      display: none;
    }
  }

  &__back,
  &__login,
  &__project {
    align-items: center;
    justify-content: center;
  }

  &__back,
  &__project {
    margin-right: 0.5rem;
  }

  &__project-name-form {
    .input-group {
      width: 12.5rem;
    }
  }

  &__username {
    margin-right: 0.25rem;
  }

  &__project-name-dropdown-toggle {
    &:after {
      display: none;
    }
    margin-left: 0.5rem;
  }
}
