.secondary-toolbar {
  display: flex;
  padding: 0.625rem;
  // align-items: stretch;
  justify-content: flex-end;
  // background: $color__spacesuit-white;
  border-bottom: 1px solid $color__carbon--20;

  &--map-overlay {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    margin-left: auto;
  }

  .button,
  .dropdown {
    display: flex;
    flex-shrink: 1;
    // flex-grow: 1;
    white-space: nowrap;
  }

  &--map-overlay {
    .button {
      border-radius: 0.25rem;
      border: 2px solid rgba($color__carbon--80, 0.3);
      // outline: 2px solid $color__carbon--80;
      background-clip: padding-box;
      
      &:hover {
        border: 2px solid rgba($color__carbon--80, 0.3);
      }
    }
  }

  // &__map-page {
  //   border-radius: 0.25rem;
  //   border: 2px solid rgba($color__carbon--80, 0.3);
  //   // outline: 2px solid $color__carbon--80;
  //   background-clip: padding-box;
  // }


  .button {
    align-items: center;
  }

  &__project-name-dropdown {
    margin-right: 0.5rem;
    .dropdown-menu {
      padding: calc($spacer / 2);
    }
  }

  &__start-tour-button,
  &__project-name-dropdown-toggle {
    &:after {
      display: none;
    }
  }

  &__back,
  &__login,
  &__project {
    align-items: center;
    justify-content: center;
  }

  &__back,
  &__project {
    margin-right: 0.5rem;
  }

  &__project-name-form {
    .input-group {
      width: 12.5rem;
    }
  }

  &__dropdown-text {
    margin-right: 0.25rem;
  }

  &__project-name-dropdown-toggle {
    &:after {
      display: none;
    }
    margin-left: 0.5rem;
  }
}
