.secondary-toolbar {
  display: flex;
  position: relative;
  z-index: 2;

  @include media-breakpoint-up(md) {
    margin-left: auto;
  }

  .button {
    flex-shrink: 0;
    flex-grow: 0;
    white-space: nowrap;
    margin-right: $spacer/2;
  }
}
