defaults: &defaults
#### Change these values ####
  # Username and password of the application configured in URS
  # urs_username is the Earthdata Login application's UID
  # urs_password is the Earthdata Login application's password
  urs_username: "<urs_username>"
  urs_password: "<urs_password>"

  # Domain as configured in the URS application.  The configured application must be in the ECHO group.
  # This value must be saved in the "Redirect URL's" in the Earthdata Login application
  urs_callback_url: "http://<urs_domain>/urs_callback"

  # Earthdata Login Client IDs. Refer this page on how to create an application:
  # https://developer.earthdata.nasa.gov/urs/urs-integration/how-to-register-an-application
  urs_client_id_prod: "<urs_client_id_in_prod>"
  urs_client_id_uat: "<urs_client_id_in_uat>"
  urs_client_id_sit: "<urs_client_id_in_sit>"

  # Root URL for an ogre shapefile conversion service (See: http://ogre.adc4gis.com/)
  ogre_url: "<ogre_url>"

  # Root URL for CLAVIN-based spatial and temporal extractor.
  # Optional -- uncomment next line to enable
  # nlp_parser_url: "<edsc_nlp_url>"

  # A random key used to sign cookies, at least 30 characters.  Generate with the following command:
  # $ hexdump -n 128 -v -e '/1 "%02X"' -e '/128 "\n"' /dev/urandom  | tr '[:upper:]' '[:lower:]'
  # Note: this key is not used in development or test modes where it defaults to a string of 0's instead
  secret_key_base: "<secret_key_base>"
####

development:
  <<: *defaults

test:
  <<: *defaults
  # These need not be changed to run tests.  Change to real token values when generating fixtures.
  test_urs_edsc_access_token: "edsc-access"
  test_urs_edsc_refresh_token: "edsc-refresh"
  test_urs_expired_access_token: "expired-access"
  test_urs_expired_refresh_token: "expired-refresh"
  test_urs_edscbasic_access_token: "edscbasic-access"
  test_urs_edscbasic_refresh_token: "edscbasic-refresh"
