@use '../../../css/utils';

.edsc-map-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;
  background-color: transparent;
  right: 0.75rem;
  bottom: 5.5rem;
  gap: 1rem;

  button {
    margin: 0;

    &:first-of-type {
      border-radius: 2px 2px 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 2px 2px;
    }

    &:not(:first-of-type):not(:last-of-type) {
      border-radius: 0;
    }
  }
}

.edsc-map-scale-imperial,
.edsc-map-scale-metric,
.edsc-map-legend {
  position: absolute;
  z-index: 10;
  right: 0.75rem;
  color: utils.$color__spacesuit-white;
  background-color: utils.$color__carbon--70;
  text-shadow: utils.$shadow__panel-dark;
  border: none;
}

.edsc-map-legend {
  background-color: transparent;
  top: 45px;
}

.edsc-map-scale-imperial {
  bottom: 30px;
  border-top: 2px solid utils.$color__spacesuit-white;
  border-left: 2px solid utils.$color__spacesuit-white;
}

.edsc-map-scale-metric {
  bottom: 53px;
  border-bottom: 2px solid utils.$color__spacesuit-white;
  border-left: 2px solid utils.$color__spacesuit-white;
}

.edsc-map-projection-switcher {
  &__button {
    background-image: url('~Images/projection-sprite.png');
    background-size: 90px 30px;
    background-repeat: no-repeat;

    &--arctic {
      background-position: -57px -1px;
    }

    &--geo {
      background-position: -29px -1px;
    }

    &--antarctic {
      background-position: -1px -1px;
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('~Images/projection-sprite@2x.png');
    }
  }
}

.ol-attribution {
  font-family: Avenir Next W00, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #323232;
  background-color: #ffffff;
  font-size: 12px;
}

.ol-control {
  button {
    width: 1.75rem;
    height: 1.75rem;
    background-color: none;
    border: none;
  }
}

.ol-viewport {
  .legend {
    &__bar {
      margin: 0.125rem;
      display: block;
      height: 1rem;
      width: 15rem;
      border-radius: 0.125rem;
      opacity: 0;
      visibility: visible;
      transition: opacity 0.2s ease;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &:hover {
        cursor: crosshair;
      }
    }

    &--is-colormap-rendered .legend__bar {
      visibility: visible;
      opacity: 1;
    }
  }
}

.edsc-map__focused-granule-overlay {
  &__granule-label {
    color: utils.$color__spacesuit-white;
    text-shadow: 1px 1px 1px utils.$color__carbon-black;

    &__remove {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 1.25rem;
      width: 1.25rem;
      margin: 0.5rem auto;
      border: 0;
      outline: 0;
      background-color: rgba(utils.$color__carbon--40, 0.5);
      color: utils.$color__spacesuit-white;
      border-radius: 50%;

      &:hover,
      &:focus {
        background-color: utils.$color__nasa-red;
      }
    }
  }
}
