@use '../../../css/utils';

.geojson-svg {
  stroke-width: 1;
  stroke: utils.$color__international-orange;
  fill-opacity: 0;

  &:hover {
    fill: utils.$color__active-green;
    stroke: utils.$color__active-green;
    fill-opacity: .5;
  }
}
