@import "leaflet-0.7/leaflet.css.scss";
@import "leaflet.draw-0.2.2/leaflet.draw.css.scss";

.leaflet-container {
  background-color: #000;
  // Leaflet sets this to -1, presumably for layering.  It breaks horribly on our page layout,
  // rendering below all containers
  z-index: 0 !important;
}

.projection-geo .projection-only-arctic,
.projection-geo .projection-only-antarctic,
.projection-arctic .projection-only-geo,
.projection-arctic .projection-only-antarctic,
.projection-antarctic .projection-only-geo,
.projection-antarctic .projection-only-arctic {
  display: none;
}
