@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.text-window-actions {
  position: relative;
  background-color: utils.$color__carbon--5;
  border: 1px solid utils.$color__carbon--10;
  padding: bootstrap.$spacer;
  padding-top: 3*bootstrap.$spacer;
  overflow: hidden;

  &__actions {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding: calc(bootstrap.$spacer / 2);
    border-bottom: 1px solid utils.$color__carbon--20;
    background-color: utils.$color__carbon--10;
    z-index: 1;
  }

  &__copied-success {
    display: none;
  }

  &__body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: bootstrap.$spacer;
    padding-top: bootstrap.$spacer*3.5;
    overflow-y: scroll;
  }

  &__modal-body {
    padding: bootstrap.$spacer;
    padding-top: bootstrap.$spacer*3.5;

    &--no-actions {
      padding-top: bootstrap.$spacer*1.5;
    }
  }

  &__modal-container {
    background: utils.$color__nasa-red;
    height: 4rem;
    width: 4rem;
    border-radius: 4em;
    text-align: center;
  }

  &__modal-icon {
    margin-top: .85rem;
    color: utils.$color__spacesuit-white;
  }

  &__modal-blurb {
    max-width: 25rem;
  }
}
