.header {
  color: $color__white;
  padding: 1rem 1.5rem 0.5rem 0.75rem;
}

.header__site-logo {
  display: flex;
  align-items: flex-end;
  background-image: url('../../../../assets/images/app-logo.png');
  background-size: 3.125rem 2.5rem;
  background-repeat: no-repeat;
  background-position: 0 center;
  transition: background 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-image: url('../../../../assets/images/app-logo_hover.png');
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('../../../../assets/images/app-logo_2x.png');

    &:hover {
      background-image: url('../../../../assets/images/app-logo_hover_2x.png');
    }
  }
}

.header__site-name {
  display: inline-block;
  margin-right: 0.5rem;
  margin-left: 3.3rem;
  color: $color__white;

  &:hover {
    text-decoration: none;
    color: $color__white;
  }
}

.header__site-name-ent {
  display: block;
}

.header__site-name-ent--e {
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.header__site-name-ent--s {
  font-size: 1.7rem;
  font-weight: 100;
  letter-spacing: 0.02rem;
  line-height: 1.8rem;
}

.header__site-env {
  padding: 0.3rem 0.4rem;
  font-size: 0.725rem;
  background: $color__brand--blue;
  border-radius: 0.125rem;
}
