.collection-details {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__meta {
    display: block;
    margin: 0 -1rem;
    padding: 0.25rem 2rem;
    color: $color__black--700;
    font-size: 0.75rem;
    border-bottom: 1px solid $color__black--200;
  }

  &__list-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    overflow-y: scroll;
  }

  &__list {
    flex-grow: 0;
    flex-shrink: 1;
    margin-bottom: 0;
    list-style: none;
    padding: 0;
  }

  &__item {
    position: relative;
    top: -2px;
  }

  &__item-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    font-size: 0.775rem;
    line-height: 1.125;
    cursor: pointer;
    border: 2px solid transparent;
    border-left: 0;
    border-right: 0;

    .panels--sm & {
      justify-content: flex-start;
    }

    &:hover,
    &:focus {
      background-color: darken($color__black--100, 1);
      border: 2px solid rgba(#5ee79b, 0.5);
      border-left: 0;
      border-right: 0;
      outline: 0;
      z-index: 0;

      .collection-details__item:first-child &,
      .collection-details__item:last-child & {
        border: 2px solid rgba(#5ee79b, 0.5);
        border-left: 0;
        border-right: 0;
      }
    }

    .collection-details__item:nth-of-type(even) & {
      background-color: darken($color__black--100, 1);
    }

    .collection-details__item:last-child & {
      border-bottom: 1px solid $color__black--200;
    }

    .collection-details__item--focused & {
      background-color: darken($color__black--100, 1);
      border: 2px solid #5ee79b;
      border-bottom: 2px solid #5ee79b;
      border-left: 0;
      border-right: 0;
      z-index: 1;

      &:focus {
        border: 2px solid #5ee79b;
        border-bottom: 2px solid #5ee79b;
        border-left: 0;
        border-right: 0;
      }
    }
  }

  &__item-title {
    word-break: break-all;
    line-height: 1.5;
    color: $color__black--800;

    .panels--sm & {
      min-width: 23rem;
    }
  }

  &__item-actions {
    flex-shrink: 0;

    .panels--sm & {
      margin-left: 1.5rem;
    }
  }

  &__item-action {
    color: $color__black--400;

    &:hover {
      color: $color__black--500;
    }

    &--remove {
      color: $color__red;

      &:hover {
        color: $color__red--dark;
      }
    }
  }

  &__more-granules {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem 2rem 1rem;
  }

  &__more-granules-button {
    font-size: 0.875rem;

    &:hover {
      .button__contents {
        color: $color__blue--dark;
      }
    }
  }
}