.project-panel-section {
  padding: $spacer;
  max-width: 35rem;

  &--is-faded {
    opacity: 0.35;
  }

  &--is-nested {
    border: 1px solid $color__black--200;
    border-left: 3px solid $color__blue--dark;
    border-radius: 0.125rem;
    background-color: $color__black--100;
    margin-bottom: 1rem;
  }

  &--is-step {
    margin-left: $spacer*2;
  }

  &__heading {
    position: relative;
    font-size: 0.925rem;
    font-weight: 700;
    color: $color__black--900;
    vertical-align: middle;

    .project-panel-section--is-nested & {
      font-size: 0.825rem;
    }
  }

  &__intro {
    .project-panel-section--is-nested & {
      font-size: 0.825rem;
    }
  }

  &__warning {
    .project-panel-section--is-nested & {
      margin-top: 1rem;
      margin-bottom: 0;
      font-size: 0.825rem;
    }
  }

  &__step {
    position: absolute;
    left: -1.75rem;
    height: 1.25rem;
    width: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    background-color: $color__blue--dark;
    border-radius: 100%;
    color: $color__white;
    font-size: 0.75rem;
    vertical-align: middle;
    transform: translateY(-0.0625rem);
  }

  p {
    margin-bottom: 0.925rem;
  }
}
