@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.project-panels {
  &__note {
    display: block;
    margin-bottom: calc(bootstrap.$spacer / 2);
    color: utils.$color__carbon--50;
    font-size: 0.875rem;
  }

  &__note-emph {
    font-weight: 500;

    &--opensearch {
      color: utils.$color__international-orange;
    }

    &--csda {
      color: utils.$color__international-orange;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    vertical-align: middle;
    padding: calc(bootstrap.$spacer / 2) bootstrap.$spacer;
  }

  &__action {
    margin-left: calc(bootstrap.$spacer / 2);
  }

  &__collection-status {
    display: inline-block;
    margin-right: calc(bootstrap.$spacer / 2);
    font-size: 1.125rem;
    vertical-align: middle;

    &--valid {
      color: utils.$color__active-green;
    }

    &--invalid {
      color: utils.$color__nasa-red;
    }
  }

  &__collection-count {
    display: inline-block;
    margin-right: calc(bootstrap.$spacer / 2);
    color: utils.$color__carbon--40;
    vertical-align: middle;
  }
}
