.variable-tree-panel {
  &__tree-switcher {
    display: flex;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
    font-size: 0.875rem;
  }

  &__tree-switcher-buttons {
    background-color: $color__black--200;
    margin-left: 0.5rem;
    border-radius: .125rem;
  }

  &__tree-switcher-button {
    text-align: left;
    background-color: transparent;
    margin: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    color: $color__black--500;
    &:disabled {
      background-color: $color__black--100;
      color: $color__black--700;
      opacity: 1;
      cursor: pointer;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    position: relative;
    display: flex;
    &:nth-child(odd) {
      background-color: $color__black--100;
    }
  }

  &__selected-count {
    position: absolute;
    top: 50%;
    right: $spacer;
    padding: 0 0.5rem;
    background-color: $color__blue--dark;
    font-size: 0.75rem;
    color: $color__white;
    transform: translateY(-50%);
    border-radius: 0.75rem;
    .variable-tree-panel__button:hover {
      background-color: darken($color__blue--dark, 50%);
    }
  }
}