.variable-details-panel {
  &__heading {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__longname {
    margin-bottom: $spacer;
    font-style: italic;
    color: $color__black--500;
    font-weight: 400;
  }
}
