.variables-panel {
  &__header {
    padding: $spacer/2 $spacer;
    background-color: $color__black--100;
  }

  &__header-button {
    margin-right: $spacer/2;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .925rem;
  }

  &__header-spacer {
    margin-right: $spacer/2;
    color: $color__black--300;
  }

  &__selected-keyword {
    font-weight: 700;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item-input {
    margin-right: $spacer/2;
  }

  &__list-item-label {
    margin: 0;
    padding: $spacer/2 $spacer;
    display: flex;
    cursor: pointer;

    &:nth-child(even) {
      background-color: $color__black--100;
    }

    &:hover {
      color: $color__black--700;
      background-color: $color__black--200;
    }
  }

  &__list-item-heading {
    margin-bottom: $spacer/4;
    font-size: 0.925rem;
    line-height: 0.925rem;
  }

  &__list-item-info {
    line-height: 0.925rem;
  }

  &__list-item-details {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.925rem;
    color: $color__black--400;
  }

  &__list-item-details-link {
    font-size: 0.925rem;
    color: $color__black--400;
    text-decoration: underline;
    line-height: 0.925rem;

    &:hover {
      color: $color__black--500;
    }
  }

  &__list-item-longname {
    margin-bottom: $spacer/4;
    font-style: italic;
    line-height: 1.25rem;
  }
}
