@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.variable-details-panel {
  &__heading {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__longname {
    margin-bottom: bootstrap.$spacer;
    font-style: italic;
    color: utils.$color__carbon--50;
    font-weight: 400;
  }
}
