.variable-tree-panel {
  &__tree-switcher {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    padding-left: 0.5rem;

    &__buttons {
      background-color: $gray-400;
      margin-left: 0.5rem;
      border-radius: .125rem;
    }

    &__button {
      font-size: 0.75rem;
      color: $gray-600;
      text-align: left;
      background-color: $gray-400;
      margin: 0.25rem;

      &:disabled {
        background-color: $gray-100;
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    position: relative;
    display: flex;

    &:nth-child(odd) {
      background-color: $color__black--100;
    }
  }

  &__button

  &__selected-count {
    position: absolute;
    top: 50%;
    right: $spacer;
    padding: 0 0.5rem;
    background-color: $color__brand--blue-dark;
    font-size: 0.75rem;
    color: $color__white;
    transform: translateY(-50%);
    border-radius: 0.75rem;

    .variable-tree-panel__button:hover {
      background-color: darken($color__brand--blue-dark, 50%);
    }
  }
}
