.variable-tree-panel {
  &__tree-switcher {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    align-items: center;
    font-size: 0.875rem;
  }

  &__tree-switcher-buttons {
    display: flex;
    margin-left: 0.5rem;
    border-radius: .125rem;
  }

  &__tree-switcher-button {
    margin-right: 0.5rem;
    color: $color__carbon--50;
    background-color: $color__carbon--10;

    &:hover,
    &:focus {
      background-color: $color__carbon--20;
    }

    &--is-active {
      background-color: $color__carbon--20;
      color: $color__carbon--70;

      &:hover,
      &:focus {
        background-color: $color__carbon--20;
        color: $color__carbon--70;
      }
    }
  }

  &__no-variables {
    margin-left: 2rem;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item {
    position: relative;
    display: flex;
    &:nth-child(odd) {
      background-color: $color__carbon--10;
    }
  }

  &__selected-count {
    position: absolute;
    top: 50%;
    right: $spacer;
    padding: 0 0.5rem;
    background-color: $color__nasa-blue--shade;
    font-size: 0.75rem;
    color: $color__spacesuit-white;
    transform: translateY(-50%);
    border-radius: 0.75rem;
    .variable-tree-panel__button:hover {
      background-color: darken($color__nasa-blue--shade, 50%);
    }
  }
}
