@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.home {
  &__hero {
    height: calc(100vh - 15rem);
    min-height: 40rem;
    max-height: 65rem;
    text-shadow:
      0 0 0.5rem utils.$color__carbon-black,
      0 0 2rem utils.$color__carbon-black;
    background-color: utils.$color__carbon-black;
  }

  &__hero-image {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    inset: 0;

    &::before {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(20, 9, 9, 0.4);
      mix-blend-mode: multiply;
    }
  }

  &__hero-image img {
    inset: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__hero-input-icon {
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    color: utils.$color__carbon--40;
    pointer-events: none;
  }


  &__hero-input-wrapper {
    max-width: 60rem;
    align-self: center;
  }

  &__hero-input {
    padding-left: 2.5rem;

    &:focus {
      outline: 0;
      box-shadow: none;
    }
  }

  &__hero-submit-button {
    background-color: utils.$color__nasa-red;
    border: 0;
    width: 6.25rem;

    &:hover,
    &:focus,
    &:active {
      background-color: utils.$color__nasa-red--shade !important; // !important is needed to override the bootstrap active color
      border: 0;
    }

    &:disabled {
      background-color: utils.$color__nasa-red;
      border: 0;
      opacity: 1 !important; // !important is needed to override the bootstrap opacity
    }
  }

  &__hero-image-link {
    right: 0.75rem;
    bottom: 0.75rem;
  }

  &__hero-image-popover {
    &.bs-popover-top .popover-arrow:after {
      border-top-color: utils.$color__carbon-black;
    }

    &.bs-popover-end .popover-arrow:after {
      border-right-color: utils.$color__carbon-black;
    }

    &.bs-popover-bottom .popover-arrow:after {
      border-bottom-color: utils.$color__carbon-black;
    }

    &.bs-popover-start .popover-arrow:after {
      border-left-color: utils.$color__carbon-black;
    }
  }

  &__hero-image-tooltip .tooltip-inner {
    text-align: left;
  }

  &__grid {
    --bs-columns: 2;
    --bs-gap: 1rem;

    @include bootstrap.media-breakpoint-up(lg) {
      --bs-columns: 5;
      --bs-gap: 1rem;
    }
  }

  &__container {
    @include bootstrap.media-breakpoint-up(xxl) {
      max-width: 1200px;
    }
  }

  &__new-badge {
    background-color: utils.$color__nasa-blue;
    border-radius: 0.25rem;
    color: white;
    font-weight: bold;
    margin-right: 0.5rem; 
    padding: 0.5rem;
  }
}
