// Environment-specific styles.  These are almost always a bad idea.  Document what you're doing.

.env-test:not(.offline-page) {
  // Set the page width to a fixed value.  The default width is too narrow and pushes the toolbar buttons
  // down, causing some specs to fail because of capybara-webkit issues with element stacking
  width: 1280px;

  // The test environment has no tophat and a narrow screen width, so we need this to avoid drawing
  // notifications over the toolbar and triggering boatloads of ClickFailed events
  padding-top: 3em;

  // With our styles, capybara-screenshot shows the page with the bare minimum height of something
  // like 200px, not enough to see anything.  This forces it to use a taller height.
  .wrap { min-height: 800px; }

  // Disable CSS transitions to avoid waiting for animations no one will see
  * { transition: none !important; }

  // Fixes ClickFailed errors in the collapsed view caused by capybara's placement of the scrollbar
  // on the right, contrary to the LTR declaration
  .is-master-overlay-minimized .master-overlay-main {
    width: 287px !important;
  }
}
