// Environment-specific styles.  These are almost always a bad idea.  Document what you're doing.

.env-test:not(.offline-page) {

  // Disable CSS transitions to avoid waiting for animations no one will see
  * { transition: none !important; }

  // Fixes ClickFailed errors in the collapsed view caused by capybara's placement of the scrollbar
  // on the right, contrary to the LTR declaration
  .is-master-overlay-minimized .master-overlay-main {
    width: 287px !important;
  }

  i.fa {
    min-width: 12px;
    min-height: 12px;
  }
}
