.access-form-loading {
  opacity: 0;
  animation: 0.2s 0s fadein;
  animation-fill-mode: forwards;

  .loading-content {
    height: 45px;
    margin-bottom: 5px;
  }

  .loading-content-inner {
    width: 20em;
  }
}

.access-form-loading-access-method {
  height: 45px;
  width: 300px;
}

.access-form-loading-one {
  height: 1.5em;
  width: 320px;
}

.access-form-loading-two {
  height: 1.5em;
  width: 280px;
}

.access-form-loading-three {
  height: 1.5em;
  width: 300px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
