// The .tt- prefix is used by the typeahead plugin.  This file
// overrides several of the styles it uses

.tt-query {
  // Overrides style set by typeahead plugin via Javascript
  vertical-align: baseline !important;
}

.tt-dropdown-menu {
  z-index: 50000;
  background-color: #333;
  width: 450px;
  border: 1px solid #000;
  border-top: 0;

  // Overrides style set by typeahead plugin via Javascript
  left: 20px !important;
}

.tt-suggestion {
  padding:.5em;

  &:hover {
    background-color: #444;
  }
}
