// The .tt- prefix is used by the typeahead plugin.  This file
// overrides several of the styles it uses

.tt-input {
  // Overrides style set by typeahead plugin via Javascript
  vertical-align: baseline !important;
}

.tt-dropdown-menu {
  z-index: 90;
  background-color: #333;
  width: 540px;
  border: 1px solid #000;
  border-top: 0;
  color: #fff;
  // Overrides style set by typeahead plugin via Javascript
  left: 0px !important;
  top: 50px !important;
}

.tt-suggestion {
  padding:.5em;
  cursor: pointer;
}

.tt-cursor {
  background-color: #444;
}


.toolbar {
  .tt-query, .tt-hint, .tt-input {
    padding: .5em;
    margin: 0;
    width: $toolbar-search-field-width;
    font-size: 1.2em;
  }
}
