.banner {
  position: absolute;
  z-index: 1001;
  top: 26px;
  left: 0;
  right: 0;
  font-size: 1.5em;
  padding: .8em 1em;
  overflow: hidden;
  @include transition(top 0.2s ease-in-out);
  text-align: center;
}

.banner-message {
  border: 0 solid #9ecdeb;
  border-top: 3px solid #9ecdeb;
  background-color: #c8e3f4;
  color: #1f6d9e;
  i {
    color: #1f6d9e;
  }
}

.banner-outage {
  border: 0 solid #e4b9b9;
  border-top: 3px solid #e4b9b9;
  background-color: #f2dede;
  color: #963b3b;
  i {
    color: #963b3b;
  }
}

.banner-alert {
  border: 0 solid #ffee94;
  border-top: 3px solid #ffee94;
  background-color: #fff6c7;
  color: #c7a700;
  i {
    color: #c7a700;
  }
}

.banner-hidden {
  top: -3em;
}

.banner-title {
  font-size: 1em;
  display: inline;
}

.banner-text {
  display: inline;
}

.banner-error {
  background-color: #c0392b;
  color: #fff;

  .banner-text a {
    color: #fff;
    text-decoration: underline;
  }

  a.banner-close {
    color: #fff;

    &:hover {
      color: #aaa;
    }
  }
}

a.banner-close {
  float:right;
  font-size:1.2em;
  color: #333;

  &:hover {
    color: #444;
  }
}
