.banner {
  position: absolute;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.2em;
  padding: .5em 1em;
  background: #f39c12;
  overflow: hidden;
  box-shadow:         0 0 5px black;
  @include transition(top 0.3s ease-in-out);
}

.banner-hidden {
  top: -3em;
}

.banner-title {
  font-size: 1em;
  display: inline;
}

.banner-message {
  display: inline;
}

.banner-error {
  background-color: #c0392b;
  color: #fff;

  .banner-message a {
    color: #fff;
    text-decoration: underline;
  }

  a.banner-close {
    color: #fff;

    &:hover {
      color: #aaa;
    }
  }
}

a.banner-close {
  float:right;
  font-size:1.2em;
  color: #333;

  &:hover {
    color: #444;
  }
}

a.banner-show-events {
  &:link, &:visited {
    display: block;
    float: left;
    margin: 1.2em 1.1em 1.1em 0;
    @include transition(opacity 0.2s ease-in-out);
    opacity: 0.4;
  }

  &:hover {
    opacity: 1;
  }
}
