.banner {
  position: absolute;
  z-index: 1001;
  top: 26px;
  left: 0;
  right: 0;
  font-size: 1.5em;
  padding: .8em 1em;
  overflow: hidden;
  @include transition(top 0.2s ease-in-out);
  text-align: center;
}

.banner-hidden {
  top: -3em;
}

.banner-title {
  font-size: 1em;
  display: inline;
}

.banner-text {
  display: inline;
}

.banner-error {
  background-color: #c0392b;
  color: #fff;

  .banner-text a {
    color: #fff;
    text-decoration: underline;
  }

  a.banner-close {
    color: #fff;

    &:hover {
      color: #aaa;
    }
  }
}

a.banner-close {
  float:right;
  font-size:1.2em;
  color: #333;

  &:hover {
    color: #444;
  }
}
