.banner {
  position: absolute;
  z-index: 1001;
  top: 26px;
  left: 0;
  right: 0;
  font-size: 1.5em;
  padding: .8em 1em;
  overflow: hidden;
  @include transition(top 0.2s ease-in-out);
  text-align: center;
}

.banner-hidden {
  top: -3em;
}

.banner-title {
  font-size: 1em;
  display: inline;
}

.banner-text {
  display: inline;
}

.banner-error {
  background-color: #c0392b;
  color: #fff;

  .banner-text a {
    color: #fff;
    text-decoration: underline;
  }

  a.banner-close {
    color: #fff;
    color: rgba(255,255,255,0.7);
    transition: color 0.15s ease-in-out;

    &:hover {
      color: #fff;
      color: rgba(255,255,255,1);
    }
  }
}

a.banner-close {
  float:right;
  font-size:1.2em;
  color: #333;

  &:hover {
    color: #444;
  }
}

.banner--info {
  position: relative;
  z-index: 10;
  padding: 0.75em 1em;
  text-align: center;
  border: 0px solid #e4b9b9;
  border-top: 3px solid #e4b9b9;
  background-color: #f2dede;
  color: #963b3b;
  font-weight: 500;
  font-size: 0.925em;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
}

.banner__message {
  margin: 0;
}
