@mixin light-button {
  background: #ddd;
  color: #000;
  border: 1px solid transparent;

  &.button-disabled {
    color: #aaa;
    cursor: default;
  }

  &.button-disabled:hover {
    background: #ddd;
    border: 1px solid transparent;
  }

  &.button-active {
    background: #888;
    border: 1px solid #444;
    color: #fff;
    text-shadow: 1px 1px 1px $button-dark-text-shadow;
  }

  &:hover, .button-active:hover {
    background: #aaa;
    border: 1px solid #888;
  }
}

@mixin dark-button {
  @include linear-gradient($button-dark-top-gradient, $button-dark-bottom-gradient);
  color: #fff;
  box-shadow: 0 0 3px #424242;
  border: 1px solid $button-dark-text-shadow;
  text-shadow: 1px 1px 1px $button-dark-text-shadow;

  &:hover {
    color: #fff;
    @include linear-gradient($button-dark-hover-gradient, $button-dark-bottom-gradient);
  }

  &.low-priority {
    background: none;
    border-color: $button-dark-lp-border;
  }
}

.button, input[type="button"], input[type="reset"], input[type="submit"] {
  text-decoration: none;
  display: inline-block;
  padding: 6px 12px;
  border-radius: 3px;
  outline: none;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.icon-button {
  width: 36px;
  height: 32px;
  text-align: center;
}

.toolbar {
  .button, input[type="button"], input[type="reset"], input[type="submit"] {
    @include dark-button;
  }
}

.text-button {
  @include dark-button;
}

.dropdown-value {
  display: inline-block;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.button-row {
  margin: 10px 0 0 0;
}