@mixin light-button {
  background: #1c1c1c;
  color: #bdc3c7;
  border: 1px solid #424242;

  &.button-disabled {
    color: #aaa;
    cursor: default;
  }

  &.button-disabled:hover {
    background: #ddd;
    border: 1px solid transparent;
  }

  &.button-active {
    border: 1px solid #2980b9;
    background: #2980b9;
    color: #fff;
  }

  &:hover {
    background: #111;
    border: 1px solid #2980b9;
    color: #2980b9;
  }

  &.button-active:hover {
    background: #2980b9;
    color: #fff;
  }

  &.button-highlighted {
    box-shadow: 0 0 5px #3498db;
    border-color: #3498db;
  }
}

@mixin dark-button {
  @include linear-gradient($button-dark-top-gradient, $button-dark-bottom-gradient);
  color: #fff;
  border: none;
  text-shadow: 1px 1px 1px $button-dark-text-shadow;

  &:hover {
    color: #fff;
    @include linear-gradient($button-dark-hover-gradient, $button-dark-bottom-gradient);
  }

  &.low-priority {
    background: none;
    border-color: $button-dark-lp-border;
  }
}

@mixin dark-outline-button {
  border: 2px solid $button-dark-top-gradient;
  background: transparent;
  color: $button-dark-top-gradient;
  text-shadow: none;
  font-weight: bold;

  &:hover {
    background: #f3f3f3;
  }
}

@mixin dark-menu-button {
  border: 1px solid rgba(10,10,10,.2);
  background: darken($ocean-blue, 10%);
  color: #fff;
  text-shadow: none;

  &:hover {
    background: darken($ocean-blue, 6%);
  }
}

.button, input[type="button"], input[type="reset"], input[type="submit"], button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 12px;
  border-radius: 3px;
  outline: none;
  color: #fff;

  &:hover, &:focus {
    text-decoration: none;
  }
}

.icon-button {
  width: 36px;
  height: 36px;
  text-align: center;

  &:hover {
    color: #fff;
  }
}

.toolbar {
  .button, input[type="button"], input[type="reset"], input[type="submit"] {
    @include dark-menu-button;
  }
}

a.text-button {
  color: #fff;
  @include dark-button;
}

.dropdown-value {
  display: inline-block;
}

.button-row {
  margin: 10px 0 0 0;
}

.button-control {
  font-size: .9em;
  border: 1px solid #bdc3c7;
  padding: 3px 8px;
  border-radius: 3px;

  &:hover {
    background: #ecf0f1;
  }
}

button {
  @include dark-button;
}

button:disabled {
  @include linear-gradient(#cbcbcb, #cbcbcb);
  box-shadow: none;
  text-shadow: none;
  color: #888;
  border-color: #888;
}

.btn-group {
  float: right;
  min-height: 3em;
}

.button-small {
  font-size: .8em;
  padding: 6px 10px;

  &.button-outline {
    @include dark-outline-button;
    padding: 4px 8px;
  }

  &.button-float-right {
    float: right;
  }

  &.button-outline-light {
    @include light-button;
    font-weight: bold;
  }
}

.whats-cwic {
  @include light-button;
  color: #fff;
  font-size: .8em;
  padding: 10px 11px;
  margin-left: 2px;
  line-height: 3em;

  &:hover {
    color: #2980b9;
    text-decoration: none;
  }
}

.choice {
  width: 50%;
  text-align: center;
}

.modal-body .choice {
  padding: .5em 0;
}

.choice-1 {
  float: left;
}
.choice-2 {
  float: right;
}

.modal-footer {
  clear: both;
}

$feedback-button-color: #315781;
$feedback-button-hover-color: lighten($feedback-button-color, 10%);

.master-overlay-info a.feedback-button, a.feedback-button, a.back-error-button {
  float: none;
  background: $feedback-button-color;
  color: #fff !important;
  font-weight: normal;
  text-shadow: none;
  padding: .2em .6em;
  margin-left: .5em;
  text-decoration: none !important;

  &:hover {
    background: $feedback-button-hover-color;
  }
}
