$steel-blue:    rgb(68,   85, 101);
$midnight-blue: rgb(44,   62,  80);

.details /*.tab-content*/ {
  a {
    text-decoration: underline;
    white-space: nowrap;
  }

  .master-overlay-back {
    text-decoration: none;
  }

  header {

    h4 {
      float: left;
      width: 66%;
    }

    .cta-buttons {
      float: right;
      margin: 15px 20px 0 0;
    }
  }


}

.spatial-bounding {
  padding: 10px;
  font-size: 0.8em;
  background: #3B4856;
  color: #fff;
}

.version-label {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  background: #7f33a0;
  border-radius: 4px;
  font-size: 0.6em;
  font-weight: normal;
  padding: 3px 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.short-name-label {
  display: inline-block;
  vertical-align: middle;
  background: #ecf0f1;
  border-radius: 4px;
  font-size: 0.6em;
  font-weight: normal;
  padding: 3px 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.cwic-label {
  display: inline-block;
  vertical-align: middle;
  background: #ccaa00;
  border-radius: 4px;
  font-weight: normal;
  padding: 1px 5px 0px;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #fff;
}

.data-center-role-label {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  background: #2980b9;
  border-radius: 4px;
  font-size: 0.7em;
  font-weight: normal;
  padding: 3px 10px;
}

a.endpoint-label {
  display: inline-block;
  vertical-align: middle;
  background: #293646;
  border-radius: 4px;
  font-size: .9em;
  font-weight: bolder;
  padding: 1px 5px 0;
  color: #fff;
  text-decoration: none;
}

.long-paragraph {
  font-size: .8em;
  min-height: 20px;
  height: auto;
  max-height: 142px;
  overflow: hidden;
  margin: 12px 0;
  white-space: pre-line;
}

.expanded {
  height: auto;
  max-height: 3000px;
}

.description-toggle:hover {
  color: #1f1f1f;
}

.description-toggle {
  background-color: transparent;
  color: #999;
  font-size: 0.6em;
  text-align: center;
  margin-bottom: .5em;
}

.arrow-tag-group {
  height: 1em;
  display: inline-block;
  margin-right: 10px;
}

.arrow-tag-group-list {
  list-style: none;
  display: inline-block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;

}

.arrow-tag-group-item {
  display: inline;
  float: left;
  background: $steel-blue;
  text-align: center;
  padding: 2px 3px 0 15px;
  position: relative;
  font-size: 12px;
  line-height: 1.7em;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.arrow-tag-group-item:after {
  content: "";
  border-top: 11px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid $steel-blue;
  position: absolute; right: -10px; top: 0;
  z-index: 1;
}

.arrow-tag-group-item:before {
  content: "";
  border-top: 12px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 10px solid $steel-blue;
  position: absolute; left: 0; top: 0;
  background-color: $steel-blue;
}

.arrow-tag-group-item:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: 10px;
  background: $midnight-blue;
}

.arrow-tag-group-item:first-child:before {
  display: none;
}

.arrow-tag-group-item:first-child:after {
  border-left: 10px solid #293746;
}

.arrow-tag-group-item:last-child {
  padding-right: 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background: lighten($steel-blue, 10%);
}

.arrow-tag-group-item:last-child:before {
  background: lighten($steel-blue, 10%);
}

.arrow-tag-group-item:last-child:after {
  display: none;
  border-left: 10px solid lighten($steel-blue, 10%);
}

.col-sm-12 dt {
  margin-bottom: 3px;
}

.contact-content {
  margin-bottom: .8em;
}

.field-title {
  font-size: .8em;
}

.field-content-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 12px;

  li {
    margin-bottom: 10px;
  }
}

.flex-column.data-centers {
  dd {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 5px;
  }

  li {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.contact-mechanisms {
  width: 100%;

  dt {
    display: inline-block;
    width: 25%; // 'TDD/TTY Phone' is the widest contact type.
  }

  dd {
    display: inline-block;
    width: 70%;
    font-weight: normal;
    margin-bottom: 0;
  }
}

.field-content-item {
  width: 550px;
  padding: 0 15px 6px;
  font-size: .9em;
}

.doi-badge {
  font-weight: normal;
  font-size: 0.8em;
  display: inline-block;
  border-radius: 4px;
  padding: 0 0 0 0.6em;
  padding-right: 0;
  background: #2980b9;
  color: #fff;
  line-height: 0.6em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  @include transition(background 0.2s linear);
  margin-bottom: 10px;

  span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: rgba(0,0,0,0.4);
    padding: 0.6em 0.6em 0.6em 0.6em;
    margin-left: 0.2em;
    display: inline-block;
  }

}
