.data-access {
  height: 100%;
  color: $overlay-heading-font-color;
  padding-bottom: 70px;

  h1 {
    border-bottom: 1px solid #333;
    padding: 0 0 .2em 0;
  }

  a {
    color: #fff;
    i {
      padding-right: 5px;
    }
  }

  a:hover {
    color: #aaa;
  }

  .granule-list {
    div {
      height: 200px;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      border: 1px solid #e3e3e3;
      padding: 10px;
      margin: 1em 0 0 0;
    }

    a {
      color: #424242;
    }

    h5 {
      margin: 0;
    }

    span {
      font-size: .9em;
    }

    li {
      margin: 0 0 .5em 0;
    }
  }

  .remove-access-item {
    color: #e74c3c;
    float: right;
  }

  > header {
    margin: 1em auto;
    padding: 0;
    max-width: 1000px;
  }

  > section, > .data-access-content, > .access-item-submission {
    margin: 1em auto;
    padding: 1em 0;
    max-width: 1000px;
  }

  > section:last-child {
    border-bottom-width: 0px;
  }

  .link {
    text-decoration: underline;
  }

  ol.data-access-content {
    list-style: none;
    counter-reset: accesslist;
    padding: 0;

    li {
      position: relative;
    }

    li.access-item:before {
      counter-increment: accesslist;
      content: counter(accesslist);
      display: block;
      color: #e9e9e9;
      font-size: 3em;
      position: absolute;
      top: 1px;
      left: -70px;
      line-height: 1em;
      text-align: right;
      padding: 10px 19px;
      font-weight: bold;
      background: #27ae60;
      border-right: 5px solid #219753;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      text-shadow: 1px 1px #219753;
    }
  }

  button.low-priority {
    @include linear-gradient(#888, #666);
    box-shadow: none;
    border: 1px solid #666;
    padding: 7px 13px;

    &:hover {
      @include linear-gradient(#828282, #626262);
    }
  }
}

.data-access-retrieve {
  > header, > section, > .data-access-content {
  }
}

.data-access-container {
  padding: 1.5em;
  margin: 0 auto;
  background-color: #f3f3f3;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  max-width: 1000px;
  color: #424242;

  a:link, a:visited {
    color: inherit;
  }

  a.button {
    color: #fff;
  }

  h2 {
    border-bottom: 1px solid #bbb;
  }
}

section.data-access-next {
  padding: 1.5em;
  margin: 0 auto;
  margin-top: 0;
  background-color: #27ae60;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top: 5px solid #249b56;
  max-width: 1000px;
  color: #f3f3f3;
  a {
    color: #f3f3f3;
  }
}

.access-item-data-quality {
  a {
    color: rgb(51, 75, 102);
    text-decoration: underline;
  }
}


.data-access-collections-config {
  color: #333;

  h3 {
    color: #fff;
    background-color: rgb(51, 75, 102);
    margin-bottom: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
  }

  h4 {
    color: rgb(51, 75, 102);
    font-size: 1.2em;
    padding-bottom: .2em;
    border-bottom: 1px solid #ccc;
    margin: 1em 0 1em 0;
  }
}

.data-access-collections-list {
  list-style-type: disc;
  padding-left: 2em;
}

.data-access-collection {
  margin: 2em 0;
}

.data-access-collection-name {
  font-size:1.2em;
  font-weight: bold;
  margin: .5em 0;
}

.data-access-collection-actions {
  margin: .5em 0;
}

.data-access-nav {
  padding: 1em;
  border-bottom: 1px solid #333;
}

.data-access-next {
  li {
    margin-bottom: .5em;
  }
}

.access-item {
  padding: 1em;
  margin-bottom: 1em;
  background-color: #cbcbcb;
  border-radius: 2px;
}

.access-item-body.hidden {
  display: none;
}

.access-item-details {
  background-color: #fff;
  border: 1px solid #999;
  margin: 1em 0;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  border-radius: 4px;

  &.panel-body {
    padding: 0 0 10px 0;
  }

  > * {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.access-item-actions {
  text-align: right;
  margin-top: 1em;
}

.add-access-item {
  margin-top: 1em;
}

.access-item-submission {
  text-align: right;
}

.access-item-selection {
  padding: .5em 0;
  border-top: 1px solid #ccc;

  &:first-child {
    border-top: 0px;
  }
}

.summary-label {
  display: inline-block;
  vertical-align: middle;
  background: #ecf0f1;
  border: 1px solid #e3e6e7;
  padding: 3px 10px;
  border-radius: 4px;
}

.summary-data {
  font-weight: bold;
  color: rgb(141, 155, 172);
  display: inline-block;
  vertical-align: middle;
  font-size: 3.4em;
  line-height: 1em;
  width: 5em;
  text-align: right;
  padding-right: .25em;
}

.summary-caveat {
  font-size: .8em;
  color: #b94a48;
}

.access-method-label {
  width: 14em;
  text-align: left;
  padding-right: .5em;
  display: inline-block;
  vertical-align: middle;
  color: #7f8c8d;
  font-weight: bold;
}

.access-method-options {
  display: inline-block;
  vertical-align: middle;
}

.access-method-radio-label {
  padding-left: .5em;
}

.access-form {
  padding: 0 1em;

  > .echoforms-control-ui {
    padding-top: 0;
  }
}

.data-retrievals {
  width: 1000px;

  tr {
    border-bottom: 1px solid #444;

    &.odd {
      background: #333;
    }
  }

  th, td {
    padding: .5em 0 .5em .5em;
    text-align: left;
  }
}

.data-retrieval-time-ago {
  white-space: nowrap;
}

.order-state {
  background: #34495e;
  padding: .3em .6em;
  border-radius: 2px;
  color: #fff;
  text-transform: capitalize;

  &.closed, &.complete {
    background: #27ae60;
  }

  &.failed, &.canceled, &.cancelling, &.submit_rejected, &.submit_failed, &.quote_rejected, &.quote_failed, &.not_validated {
    background: #e74c3c;
  }
}

.access-subset-options {
  padding: 1em;

  h5 {
    font-size: 1em;
    margin: .1em -1em;
  }

  .radio-label {
    padding-right: 1em;
  }
}

.access-subset-options-section {
  padding: .5em 0;
}

.access-parameter {
  padding: .2em 0;

  > .description {
    font-size: .8em;
    display: block;
    font-style: italic;
  }
}

.access-subset-map {
  width: 360px;
  height: 180px;
  @include retina-image(plate_carree_earth, 360px 180px, png, null, '@2x', true);
  position: relative;

  > .access-mbr {
    position: absolute;
    background-color: rgba(238, 153, 0, .5);
    border: 2px solid rgb(238, 153, 0);
  }
}

.data-access-services-buttons {
  margin-top: 5px;
}

.data-access-services-links {
  margin-left: 30px;
}

.progress-bar {
  background-color: #2c3e50;
}

.modal-body p {
  margin: 0 0 1.5em 0;
}

.dl-horizontal {

  margin-top: 0;
  margin-bottom: 20px;

  dt {
    float: left;
    width: 220px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dd {
    margin-left: 240px;
    margin-bottom: 15px;
  }
}
