.toolbar {
  a:link, a:visited {
    color: #fff;
  }

  a.logo{
    margin: 10px 0 0 10px;
  }

  a.sign-in {
    margin: 10px;
  }
}

.dropdown {
  display: inline-block;
  position: relative;

  &.save-dropdown {
    float: left;
    display: block;
  }

  .dropdown-menu {
    position: absolute;
    z-index: 81;
    margin: 0;
    background: darken($ocean-blue, 15%);
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .dropdown-form {
    width: 280px;
  }

  .dropdown-form li {
    padding: 10px 15px;
  }
}

.dropdown-backdrop {
  display: none;
}

ul.dropdown-menu {
  @include linear-gradient($button-dark-bottom-gradient, $dropdown-highlight);

  a.dropdown-link:hover {
    background: $dropdown-highlight;
  }

  > li > a.dropdown-link:hover {
    color: #ddd;
  }
}

.temporal-dropdown {
  width: 420px;
}

.save-project-name {
  display: inline-block;
  width: 180px;
}

input.day-of-year-input {
  width: 100px;
}

.day-of-year-picker {
  clear: both;
  margin-left: 8px;
}

.temporal-error {
  background: #c0392b;
  padding: 5px;
  margin: 2px 0 2px 0;
  display: none;
}

.temporal-filter {
  margin: 0;
  padding: 15px;
  clear: both;

  label {
    font-weight: bold;
    min-width: inherit;
  }

  .datetime-field {
    display: inline-block;
    margin: 0 0 5px 0;

    input[type="text"] {
      margin: 0 3px 0 3px;
      width: 185px;
    }
  }
}

// Override default Slider CSS
.range-slider {
  margin: 10px 0 20px 0;

  .slider.slider-horizontal input {
    width: 380px;
  }

  .slider.slider-horizontal .slider-track {
  }
}

.datepicker-temporal-recurring .datepicker-months {
  th {
    display: none;
  }
  td {
    width: 205px;
  }
}

.toolbar {
  .fa {
    padding: 0;
  }

  .fa-caret-down {
    padding-left: 5px;
    color: rgba(255,255,255,.4);
    @include transition(all 0.2s ease-in-out);
  }
}

.toolbar-secondary {
  a.toolbar-button {
    font-size: 1.4em;
    padding: 15px 20px;
    border-left: 1px solid rgba(255,255,255,.1);
    display: block;
    float: left;
    color: rgba(255,255,255,.4);
    @include transition(all 0.2s ease-in-out);
    outline: none;
    text-decoration: none;

    &:hover {
      color: rgba(255,255,255,1);
      .fa-caret-down {
        color: rgba(255,255,255,1);
      }
    }
  }

  a.feedback {
    font-size: 1em;
    line-height: 2em;
  }

  span.toolbar-text {
    display: block;
    float: left;
    color: rgba(255,255,255,.4);
  }

  i.save-success, i.after-save {
    display: none;
    float: left;
    padding: 5px;
    color: #2ecc71;
  }

  .workspace-name-button {
    padding: 20px;
    display: block;
    float: left;
    color: rgba(255,255,255,.4);
    @include transition(all 0.2s ease-in-out);
    outline: none;
    text-decoration: none;
    text-align: right;

    &:hover {
      background: #263646;
      color: rgba(255,255,255,1);
      .fa-caret-down {
        color: rgba(255,255,255,1);
      }
    }
  }

  /*
  img {
    padding: 2px;
    background: #263646;
    border-radius: 30px;
  }
  */
}
