.toolbar {
  a:link, a:visited {
    color: #424242;
  }

  a.logo{
    margin: 10px 0 0 10px;
  }
}

.dropdown {
  display: inline-block;
  position: relative;

  .dropdown-menu {
    position: absolute;
    z-index: 81;
    margin: 0;
    background: #fff;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &.download-dropdown {
      margin-bottom: 4em;
      max-height: 385px;
      overflow: hidden;
      overflow-y: scroll;
    }
  }

  .dropdown-form {
    width: 280px;
  }

  .dropdown-form li {
    padding: 10px 15px;
  }
}

.dropdown-backdrop {
  display: none;
}

ul.dropdown-menu {
  @include linear-gradient($button-dark, $dropdown-highlight);

  a.dropdown-link:hover {
    background: $dropdown-highlight;
  }

  > li > a.dropdown-link:hover {
    color: #ddd;
  }
}

.detail-dropdown {

  .button {
    @include dark-button;
    font-style: normal;
    line-height: 1.428571429em; // Bootstrap value.  Weird.
    text-decoration: none;
  }
}

.temporal-dropdown {
  width: 420px;
}

.save-project-name {
  display: inline-block;
  width: 180px;
}

input.day-of-year-input {
  width: 100px;
}

.day-of-year-picker {
  clear: both;
  margin-left: 8px;
}

.temporal-error {
  background: #c0392b;
  padding: 5px;
  margin: 2px 0 2px 0;
  display: none;
}

.temporal-filter {
  margin: 0;
  padding: 15px;
  clear: both;

  label {
    font-weight: bold;
    min-width: inherit;
  }

  .datetime-field {
    display: inline-block;
    margin: 0 0 5px 0;

    input[type="text"] {
      margin: 0 3px 0 3px;
      width: 185px;
    }
  }
}

// Override default Slider CSS
.range-slider {
  margin: 10px 0 20px 0;

  .slider.slider-horizontal input {
    width: 380px;
  }

  .slider.slider-horizontal .slider-track {
  }
}

.datepicker-temporal-recurring .datepicker-months {
  th {
    display: none;
  }
  td {
    width: 205px;
  }
}

.toolbar {
  .fa {
    padding: 0;
  }

  .fa-caret-down {
    opacity: 0.3;
    padding-left: 5px;
    @include transition(all 0.2s ease-in-out);
  }
}

.toolbar-secondary {
  a.toolbar-button {
    color: #424242;
    background: rgba(255,255,255,.85);
    border-radius: 2px;
    font-size: 1em;
    padding: 11px 14px;
    margin-left: 8px;
    display: block;
    float: left;
    @include transition(all 0.2s ease-in-out);
    outline: none;
    text-decoration: none;
    border: none;

    &:hover {
      background: rgba(255,255,255,1);
    }
  }

  span.toolbar-text {
    font-weight: bold;
  }

  i.save-success, i.after-save {
    display: none;
    color: #2ecc71;
  }
}

.projects-page {
  .toolbar-secondary {
    a.toolbar-button {
      @include gradient-animation(#fff, #ddd, #fff, #fff, .2s);
      border: 1px solid #e3e3e3;
      color: #424242;
      border-radius: 5px;
      font-size: 1em;
      padding: 5px 14px;
      margin-left: 8px;
      display: block;
      float: left;
      outline: none;
      text-decoration: none;
      margin-top: 6px;

      &:before {
        border-radius: 5px;
      }
    }
  }
}

.download-dropdown-header {
  padding: 0.5em 1.125em 0;
  font-size: 0.85em;
  font-weight: 700;

  p {
    margin: 0;
  }
}

.download-dropdown-header-secondary {
  font-weight: 400;
  font-style: italic;
}

.download-dropdown-content {
  padding: 0.5em 1em 0.5em;
  color: #888;

  ul > li {
    color: #424242;

    &:hover {
      color: #888;
    }
  }


}
