.toolbar {
  a:link, a:visited {
    color: #fff;
  }
}

.dropdown {
  display: inline-block;
  position: relative;

  .dropdown-menu {
    position: absolute;
    z-index: 70;
    margin: 1px 0 0 0;
    border: none;
    border-top-left-radius: 0;
  }
}

.dropdown-menu {
  @include linear-gradient($button-dark-bottom-gradient, $dropdown-highlight);

  a.dropdown-link:hover {
    background: $dropdown-highlight;
  }

  > li > a.dropdown-link:hover {
    color: #ddd;
  }
}

.temporal-dropdown {
  width: 380px;
}

.xdsoft_datetimepicker, .xdsoft_timepicker {
  z-index:1001;
}

.xdsoft_label.xdsoft_month {
  margin-left: 1px;
}

// Hide jquery.datetimepicker's year field
.recurring-datetimepicker .xdsoft_year {
  display: none;
}

input.day-of-year-input {
  width: 100px;
}

.day-of-year-picker {
  margin-left: 8px;
}

.temporal-error {
  background: #c0392b;
  padding: 5px;
  margin: 2px 0 2px 0;
  display: none;
}

.temporal-filter {
  margin: 0;
  padding: 15px;
  clear: both;

  label {
    font-weight: bold;
    min-width: inherit;
  }

  .datetime-field {
    display: inline-block;
    margin: 0 0 5px 0;

    input[type="text"] {
      margin: 0 3px 0 3px;
      width: 166px;
  }
  }
}

// Override default Slider CSS
.range-slider {
  margin: 10px 0 20px 0;

  .slider.slider-horizontal input {
    width: 330px;
  }

  .slider.slider-horizontal .slider-track {
  }
}

.user-info {

  .dropdown-button i {
    background: #315880;
    padding: 5px 7px;
    border-radius: 30px;
  }
}
