#edsc {
  h1.echoforms-label {
    padding: 0.2em;
    background-color: transparent;
    font-size: 1.125em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  h1.echoforms-label:empty {
    display: none;
  }

  .echoforms-control-ui {
    padding: 0;
    border-left-color: transparent;
  }

  .echoforms-control-group {
    border-width: 0px;

    .image-map {
      display: none;
    }
  }

  #bands-filter {
    margin-bottom: 10px;
    width: 350px;
  }

  #bands-count {
    margin-bottom: 0.25em;
  }

  #selected-bands-count {
    background-color: rgba(119, 119, 119, 0.21);
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
  }
}
