#edsc {
  h1.echoforms-label {
    padding: .2em;
    background-color: transparent;
    font-size: 1.2em;
  }

  .echoforms-control-ui {
    padding: 0;
    border-left-color: transparent;
  }

  .echoforms-control-group {
    border-width: 0px;
  }
}