@font-face {
	font-family: 'edsc';
	src:font-url('edsc.eot?tgmgm2');
	src:font-url('edsc.eot?#iefixtgmgm2') format('embedded-opentype'),
		font-url('edsc.woff?tgmgm2') format('woff'),
		font-url('edsc.ttf?tgmgm2') format('truetype'),
		font-url('edsc.svg?tgmgm2#edsc') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="edsc-icon-"], [class*=" edsc-icon-"] {
	font-family: 'edsc';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.edsc-icon-globe-grid:before {
	content: "\e604";
}
.edsc-icon-rect-open:before {
	content: "\e603";
}
.edsc-icon-poly-open:before {
	content: "\e602";
}
.edsc-icon-rect:before {
	content: "\e600";
}
.edsc-icon-poly:before {
	content: "\e601";
}
