@font-face {
	font-family: 'edsc';
	src:asset-url('edsc.eot');
	src:asset-url('edsc.eot?#iefix') format('embedded-opentype'),
		asset-url('edsc.ttf') format('truetype'),
		asset-url('edsc.woff') format('woff'),
		asset-url('edsc.svg#edsc') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="edsc-icon-"], [class*=" edsc-icon-"] {
	font-family: 'edsc';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
  display:inline-block;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* This is meant to match the corresponding FontAwesome class */
.edsc-icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.edsc-icon-rect:before {
	content: "\e600";
}
.edsc-icon-poly:before {
	content: "\e601";
}
.edsc-icon-poly-open:before {
	content: "\e602";
}
.edsc-icon-rect-open:before {
	content: "\e603";
}
.edsc-icon-cog:before {
	content: "\e605";
}
.edsc-icon-rocket:before {
	content: "\e606";
}
.edsc-icon-lock:before {
	content: "\e607";
}
.edsc-icon-bookmark:before {
	content: "\e608";
}
.edsc-icon-download:before {
	content: "\e609";
}
.edsc-icon-location:before {
	content: "\e60a";
}
.edsc-icon-stack:before {
	content: "\e604";
}