.facets-item {
  -js-display: flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-size: 0.9em;
  cursor: pointer;
  padding: .2em .4em .2em 1.1em;
  margin: 0;
  vertical-align: middle;
  overflow: hidden;
  color: #ffffff;
  border-left: .2em solid transparent;

  &:hover {
    border-left-color: #30AB62;
    background-color: #2c2d2e;

    .facets-light & {
      background-color: #f1f1f1;
      color: #2b2b2b;
    }
  }

  &:first-child {
    padding-top: .6em;
  }

  &:last-child {
    padding-bottom: .3em;
  }

  .facets-term {

  }

  input[type="checkbox"] {
    cursor: pointer;
    margin-right: .7em;
    border-radius: 4px;
    position: relative;
    width: 1em;
    height: 1em;
    vertical-align: top;
    opacity: .3;
    flex: none;
  }

  input[type="checkbox"]:checked {
    opacity: 1;
  }

  input[type="checkbox"]:focus {
    outline: 0 none;
    box-shadow: none;
  }

  .facets-light & {
    color: #424242;
  }

  .facets-modal & {
    padding-right: 15px;
  }
}

.cwic-facet {
  & > i {
    margin-right: .2em;
  }
}

.facet-item-collection-count {
  font-size: .9em;
  padding-left: .2em;
  color: #949597;
  display: block;
}

.features-facet {
  line-height: 18px;
  margin: 0;
}

.facets-item.selected {
  cursor: pointer;

  i.fa-times {
    display: inline;
    padding: 3px;

    &:hover {
      color: darken(#fff, 15%);
    }
  }

  .fa-chevron-left {
    font-size: 0.8em;
    margin-right: 3px;
  }
}

.facets-list-hide {
  height: 0px;

  .panel-body.facets {
    display: none;
  }
}

.facets-list-show {
  height: auto;
}

// Overwrite default bootstrap values
.panel-body {
  background-color: #121315;
  color: #fff;
  padding: 0;
}

.panel-body-header {
  min-height: 2.15em;
  margin: 0;
  padding: 0.4em 0.4em 0.4em 1.35em;
  color: #8c8c8c;
  margin: 0;
  font-size: 0.825em;

  a {
    color: #8c8c8c;

    &:hover {
      color: #797979;
    }
  }
}

.panel-body-view-all {
  float: right;
  font-weight: 700;
  color: #8c8c8c;
}

.panel-default {
  border: 0px;
  margin-top: 0px;
}

.panel-default > .panel-heading {
  background-color: #1c1c1c;
  color: #fff;
  padding: 0;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background: #222;
  }
}

.master-overlay-content-panel-group {
  margin-bottom: 0;
  padding-top: 0.5em;
}

.master-overlay-content-panel {
  background-color: $master-overlay-parent-bg-color;
  margin-top: 0;
}

.facet-group-title {
  font-size: 1em;
  font-weight: 400;
  padding: .6em 1.1em;
  color: #fff;
  a {
    text-decoration: none;
  }
}

.facet-item-term {
  font-size: 1em;
  font-weight: 300;
}

.selected-facets-heading {
  @include background-image(linear-gradient(#191A1B, #101112));
  color: #fff;
  padding: 0.6em 0.5em;
  text-decoration: none;
  cursor: default;
}

.facet-badge {
  display: block;
  border-radius: 2px;
  margin-left: 2px;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.facet-circle-icon {
  display: block;
  border-radius: 50%;
  margin-left: 2px;
  width: 10px;
  height: 10px;
}

.facet-title {
  -ms-flex: 1;
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  color: #ffffff;

  .facets-light & {
    color: #424242;
  }
}

.facets-item.facets-term {
  padding-left: 1.8em;
}

.facets-item.facets-var1 {
  padding-left: 2.6em;
}

.facets-item.facets-var2 {
  padding-left: 3.4em;
}

.facets-item.facets-var3 {
  padding-left: 4.2em;
}

.facets-modal {
  padding-bottom: 15px;
}

.facets-modal-divider {
  padding: 15px;
  font-size: 1.25em;
  font-weight: bold;
}
