$master-overlay-parent-bg-color: transparentize(#111, .1);

.facets-item {
  font-size: .8em;
  cursor: pointer;
}

// Overwrite default bootstrap values
.panel-body {
  background-color: #fff;
  color: #000;
}

.panel-heading {
  padding: 5px 10px;
}

.panel-default {
  border: 0px;
}

.panel-default>.panel-heading {
  background-color: #2c3e50;
  color: #fff;
}

.panel {
  background-color: $master-overlay-parent-bg-color;
  margin-right: 5px;
}

.panel-title {
  font-size: 0.8em;
}
