$facet-text-width: $facet-overlay-width - 72px;
$facet-indicator-offset: -$facet-text-width - 24px;

.facets-item {
  font-size: 0.8em;
  cursor: pointer;
  padding: 9px 5px 9px 24px;
  margin: 0;
  vertical-align: middle;
  border-bottom: 1px solid #474A4C;
  overflow: hidden;
  color: #ffffff;

  &:first-child {
    border-top: 1px solid #474A4C;
  }

  i.fa-times {
    display: none;
  }

  .active-indicator {
    border-left: 5px solid transparent;
    z-index: 1000;
    padding: 10px 0 14px 7px;
    margin-left: $facet-indicator-offset;
  }

  &:hover {
    .active-indicator {
      border-color: #30AB62;
    }
  }
}

.cwic-facet {
  font-size: 0.8em;
  cursor: pointer;
  padding: 9px 5px 9px 24px;
  margin: 0;
  vertical-align: middle;
  border-bottom: 1px solid #474A4C;
  overflow: hidden;
  color: #ffffff;

  i.fa-square-o {
    display: inline;
    float: left;
    padding-top: 3px;
    padding-right: 5px;
    margin-left: -12px;
  }

  i.fa-check-square-o {
    display: inline;
    float: left;
    padding-top: 3px;
    padding-right: 5px;
    margin-left: -12px;
  }
}

.facet-item-collection-count {
  font-size: .9em;
  padding: 2px 2px;
  color: #949597;
  float: right;
}

.features-facet {
  line-height: 18px;
  margin: 0;
}

.facets-item.selected {
  cursor: pointer;

  .active-indicator {
    border-color: #30AB62;
  }

  i.fa-times {
    display: inline;
    float: right;
    padding: 3px;
  }
}

.facets-list-hide {
  height: 0px;

  .panel-body.facets {
    display: none;
  }
}

.facets-list-show {
  height: auto;
}

// Overwrite default bootstrap values
.panel-body {
  background-color: #2A2C2E;
  color: #424242;
  padding: 0;
}

.panel-default {
  border: 0px;
  margin-top: 0px;
}

.panel-default>.panel-heading {
  @include background-image(linear-gradient(#191A1B, #101112));
  color: #fff;
  padding: 0;
  text-decoration: none;
  border-left: 5px solid transparent;
  cursor: pointer;
  border-radius: 0;

  &:hover {
    background: #222;
  }
}

.master-overlay-content.panel-group {
  padding: .5em 0 1em 0;
  .panel {
    background-color: $master-overlay-parent-bg-color;
    margin-top: 0;
  }
}

.facet-title {
  font-size: 0.9em;
  font-weight: 500;
  padding: .6em .5em;
  a {
    text-decoration: none;
  }
}

.facet-item-term {
  font-size: 1em;
  font-weight: 300;
}

.selected-facets-heading {
  @include background-image(linear-gradient(#191A1B, #101112));
  color: #fff;
  padding: 0.6em 0.5em;
  text-decoration: none;
  cursor: default;
}

.facet-badge {
  display: block;
  float: right;
  border-radius: 2px;
  margin-left: 2px;
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
}

.facet-term {
  width: $facet-text-width;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  color: #ffffff;
}

.facets-item.facets-child {
  background-color: #404346;

  .facet-term {
    padding-left: 20px;
  }
}
