form {
  p {
    margin: 15px 0 15px 0;
  }
}

.datetime-field {
  margin: 15px 0 15px 0;
}

input[type="text"], input[type="search"], input[type="password"], textarea {
  padding: 5px;
  outline: none;
  min-width: 150px;
  color: #424242;
}

textarea {
  min-width: 300px;
  min-height: 200px;
  font-size: 1em;
  padding: 5px;
}

label {
  display: inline-block;
  min-width: 100px;
}

fieldset {
  @include linear-gradient(#fff, #f3f3f3);
  border-radius: 5px;
  padding: 1em;
  border-color: #e3e3e3;

  legend {
    background: #fff;
    font-weight: bold;
    padding: .1em .4em;
  }
}

#login-modal {

  input {
    width: 300px;
  }
}

.accounts {
  max-width: 1000px;
  margin: 1em auto;
}

.account-form {
  margin-bottom: 43px;

  a:link, a:visited {
    color: #2980b9;
    text-decoration: underline;
  }

  label {
    display: inline-block;
    min-width: 200px;
  }

  .field-error {
    box-shadow: 0 0 5px #c0392b;
    border-color: #c0392b;
  }
}

.required label:after {
  content:'*';
}

.data-access-content .account-form {
  margin-bottom: 0;
}

.confirmation {
  @include linear-gradient(#fff, #f3f3f3);
  border-radius: 5px;
  padding: 1em;
  border-color: #e3e3e3;
}
