$granule-ids-input-width: 350px;
.master-overlay-secondary-content {
  color: #C9C9C9;

  dl {
    background: #292929;
    padding: 20px 0 20px 20px;
    margin: 0;
  }

  dt {
    margin: 0 0 5px 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
  }

  dd {
    margin: 0 0 25px 0;
    padding: 0;
  }

  .multiple-granule-id-search {
    margin-bottom: 20px;
  }

  .granule-id-search {
    width: 200%;
    left: 0%;

    section {
      width: 50%;
      float: left;
      position: relative;

      transition-property: left;
      transition-duration: 0.3s;

      p {
        width: 80%;
        margin-bottom: 1em;
      }

      .instructions {
        font-size: .8em;
      }
    }
  }

  .search-multiple {
    section { left: -50%; }
  }

  .search-single {
    section {
      left: 0%;
      height: 4em;
    }
  }
}

.granule-filter-actions {
  padding: 10px 20px;

  .low-priority {
    box-shadow: none;
    text-shadow: none;
    @include light-button;
  }
}

.button-row.hidden {
  display: none;
}

.granule-temporal-filter {
  padding: 0;
}

.granule-filter-attribute {
  margin-bottom: 1em;

  input[placeholder] {
    width: 30em;
  }

  label {
    padding-right: 1em;
  }
}

.granule-filter-attribute-label {
  font-weight: bold;
  display:block;
}

.granule-filter-attribute-help {
  font-size: .9em;
  font-style: italic;
}

.master-overlay-info .granule-sort {
  margin: 0 10px 0 0;
  padding: 0;
  font-size: .8em;
}

.master-overlay-info .granule-id-search {
  margin: 0;
  font-size: .8em;

  input[type='text']{
    padding: 3px 6px;
    font-size: .9em;
    min-width: 300px;
  }
}

.master-overlay-info-tooltip-big {
  .tooltip {
    width: $granule-ids-input-width;
    font-size: .8em;
  }

  .tooltip-inner {
    white-space: pre-wrap;
    text-align: left;
    max-width: $granule-ids-input-width;
  }
}

#granule-id-field {
  width: 100%;
}

.undo {
  display: inline-block;
  margin: 0;
  padding: .1em .5em;
  color: #fff;
  background: #f39c12;
  font-size: .9em;
  border-radius: 3px;

  a {
    text-decoration: underline;
  }
}
