.master-overlay-secondary-content {
  color: #C9C9C9;

  dt {
    border-bottom: 2px solid #888;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
  }

  dd {
    padding: 5px;
  }
}
