.landing-toolbar-container {
  padding-top: 8px;
  float: left;
}

.landing-area {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #246 asset-url('africa-green-line.jpg') no-repeat 0 0;
  background-size: cover;
  z-index: 80;
  background

  .toolbar {
    background: transparent;
    border: 0;
  }
}

.landing-dialog {
  width: 700px;
  margin: 10em auto 0;
  color: #fff;
  background-color: transparentize(#111, .2);
  border-radius: 6px;
  box-shadow: 0 0 20px 0 transparentize(#111, .3);

  .show-tour {
    float: right;
    color: #fff;
    text-decoration: underline;

    &:hover {
      color: #aaa;
    }
  }

}

.landing-dialog-toolbar {
  height: 58px;
  padding: .5em 0;
  background: transparent;
  margin-left: .5em;
}

.landing-dialog-header, .noscript, .old-ie {
  padding: 1em 1.5em;

  h2 {
    font-weight: normal;
    margin: 0 0 .2em 0;
    font-size: 2.2em;
    text-shadow: 1px 1px 1px #111;
  }
}

.landing-dialog-actions {
  margin-top: 2em;
  border-top: 1px solid #424242;
  padding: 1.5em 1.5em 1em 1.5em;

  a {
    margin-right: 1em;
    float: left;
  }

  p {
    font-size: .9em;
    line-height: 40px;
  }
}

.lt-ie9 .landing-dialog {
  background-color: #111;
}

.lt-ie9 .old-ie {
  height: 290px;
  padding: 20px;
  font-size: 12px;
}

 .lt-ie9 .landing-dialog-header,
 .lt-ie9 .landing-dialog-toolbar,
 .lt-ie9 .landing-dialog-actions {
  display: none;
}

 .no-js .landing-dialog-header,
 .no-js .landing-dialog-toolbar,
 .no-js .landing-toolbar-content,
 .no-js .landing-dialog-actions {
  display: none;
}

.old-ie {
  display: none;
  height: 290px;

  h1 {
    font-size: 1.3em;
    margin-bottom: 0.5em;
  }

  p {
    margin-bottom: 1em;
  }
}

.lt-ie9 .old-ie {
  display: block;
}

.noscript {
  display: none;
}

.no-js .noscript {
  display: block;
}

.old-ie li {
  float: left;
  background-image: image-url('browsers/background_browser.gif');
  background-attachment: scroll;
  background-color: transparent;
  cursor: pointer;
  width: 120px;
  height: 122px;
  margin: 0px 10px 10px 10px;
  background-repeat: no-repeat no-repeat;

  div.icon {
    width: 100px;
    height: 100px;
    margin: 1px auto;
    background-attachment: scroll;
    background-color: transparent;
    background-position: 0% 0%;
    background-repeat: no-repeat no-repeat;
  }

  div.icon.chrome {
    background-image: image-url('browsers/browser_chrome.gif');
  }

  div.icon.firefox {
    background-image: image-url('browsers/browser_firefox.gif');
  }

  div.icon.safari {
    background-image: image-url('browsers/browser_safari.gif');
  }

  div.icon.opera {
    background-image: image-url('browsers/browser_opera.gif');
  }

  div.icon.ie {
    background-image: image-url('browsers/browser_ie.gif');
  }

  div.name {
    color: rgb(128, 128, 128);
    font-size: 0.8em;
    height: 18px;
    line-height: 17px;
    margin: 1px auto;
    width: 118px;
    text-align: center;
  }
}
