html, body {
  height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  background-color: #222;
}

.th-wrapper {
  -ms-flex: 0 0 auto;
  flex-basis: auto;
}

.main-wrapper {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex: 1 1 auto;
  flex-basis: auto;
  overflow: hidden;
}

.main-footer {
  -ms-flex: 0 0 auto;
  flex-basis: auto;
  background: $footer-background;
  color: #fff;
}

.main-content {
  height: 100%;
  width: 100%;
}

.main-content-scrollable {
  height: 100%;
  overflow-y: scroll;
}

.toolbar {
  background: transparent;
  padding-top: $tophat-clearance;
  position: absolute;
  z-index: 110;
  left: $toolbar-logo-container-width;
  width: 630px;
  transition: left 0.2s ease-in-out;

  p {
    margin: 0;
  }

  input:focus {
    outline: none;
  }

  form {
    display: inline-block;
  }

  .master-overlay-no-facet & {
    left: 0;
  }
}

nav.main-nav {
  background: #2c3e50;
  border-bottom: 1px solid #242424;

  a {
    display: inline-block;
    padding: .5em 1em .5em;
  }

  a:link, a:visited {
    color: #fff;
  }
  a:hover {
    color: #eee;
    text-decoration: underline;
  }
}

.toolbar-secondary {
  margin-right: 10px;
  z-index: 110;
  margin-top: 10px;
  position: absolute;
  right: 0;
}

body > footer {
  z-index: 1000;
  width: 100%;
}

.footer-content {
  height: 35px;
  font-size: .7em;

  p {
    padding: 9px 20px 0 20px;
  }

  .version {
    background: $button-dark-hover;
    padding: 2px 8px;
    border-radius: 2px;
    text-shadow: 1px 1px 1px $toolbar-background-bottom;
  }

  a:link, a:visited {
    color: #92bfec;
  }

  .accessibility {
    float: right;

    a {
      text-decoration: underline;
      color: white;
    }
  }
}

.panel-list-meta.busy {
  background: asset-url('spinner.gif') no-repeat left top;
}

.busy {
  background: asset-url('spinner.gif') no-repeat center top;
  padding-top: 16px;
}

button.busy, button.busy:disabled {
  background: asset-url('spinner.gif') no-repeat center top;
  box-shadow: none;
  text-shadow: none;
  color: #888;
  border-color: #888;
}

h3.busy {
  background-position: right 10px center;
}

.panel-list-load-more {
  color: #424242;
  text-align: center;
}

.search {
  background: #282828;
  color: #fff;
  margin: 100px auto 0 auto;
  width: 500px;
  padding: 1em;
  border-radius: 5px;
  opacity: .9;
}

.modal-header {
  background: #f3f3f3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-footer {
  margin: 0;
}

/*
Helper Classes
-------------------------------------
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

#timeline {
  display: none;
}
