html, body {
  height: 100%;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 16px;
  background-color: #222;
  padding-top: 25px;
}

// Fixes to rendering glitches caused by tophat loading after page render
#earthdata-tophat {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
}

.wrap {
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: -25px 0px -10px 0px;
  display: flex;
  // So we don't have to look at a blank map
  //background: asset-url('ssm.jpg') no-repeat center;
}

.search-page {
  .main-content {
    position: fixed;
  }

  footer {
    position: absolute;
    bottom: 0;
  }
}

footer, .toolbar {
  background: $toolbar-background;
  color: #fff;
}

.main-content {
  height: 100%;
  // 86px = header-height.  35px = footer-height.
  // Using sass variables breaks this expression
  height: calc(100% - 86px - 35px);
  height: -moz-calc(100% - 86px - 35px);
  height: -webkit-calc(100% - 86px - 35px);
  width: 100%;
  // So we don't have to look at a blank map
  //background: asset-url('ssm.jpg') no-repeat center;
}

header#main-toolbar {
  background: none;
  position: absolute;
  z-index: 400;
  padding: 32px 74px 68px 21px;
}

.toolbar {
  @include linear-gradient($ocean-blue, darken($ocean-blue, 5%));
  padding: 25px 0 60px 0;
  height: 58px;
  border-bottom: 1px solid #242424;

  p {
    margin: 0;
  }

  input:focus {
    outline: none;
  }

  form {
    display: inline-block;
  }
}

nav.main-nav {
  background: #2c3e50;
  border-bottom: 1px solid #242424;

  a {
    display: inline-block;
    padding: .5em 1em .5em;
  }

  a:link, a:visited {
    color: #fff;
  }
  a:hover {
    color: #eee;
    text-decoration: underline;
  }
}

.toolbar-secondary {
  float: right;
}

body > footer {
  z-index: 1000;
  width: 100%;
}

.footer-content {
  height: 35px;
  font-size: .7em;

  p {
    padding: 9px 20px 0 20px;
  }

  .version {
    background: $button-dark-bottom-gradient;
    padding: 2px 8px;
    border-radius: 2px;
    text-shadow: 1px 1px 1px $toolbar-background-bottom;
  }

  a:link, a:visited {
    color: #92bfec;
  }

  .accessibility {
    float: right;

    a {
      text-decoration: underline;
      color: white;
    }
  }
}

.panel-list-meta.busy {
  background: asset-url('spinner.gif') no-repeat left top;
}

.busy {
  background: asset-url('spinner.gif') no-repeat center top;
  padding-top: 16px;
}

button.busy, button.busy:disabled {
  background: asset-url('spinner.gif') no-repeat center top;
  box-shadow: none;
  text-shadow: none;
  color: #888;
  border-color: #888;
}

h3.busy {
  background-position: right 10px center;
}

.panel-list-load-more {
  text-align: center;
}

.search {
  background: #282828;
  color: #fff;
  margin: 100px auto 0 auto;
  width: 500px;
  padding: 1em;
  border-radius: 5px;
  opacity: .9;
}

.modal-header {
  background: #f3f3f3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-footer {
  margin: 0;
  height: 78px;
}

/*
Helper Classes
-------------------------------------
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

#timeline {
  display: none;
}

.drawer-content {
  flex: 1;
}

#collections-overlay {
  width: 280px;
}
