// Leaflet override
.leaflet-left .leaflet-control {
	margin: $search-container-clearance 0 0 15px;
	padding: 3px;
	background: rgba(0,0,0,0.4);
}

// Leaflet override
.leaflet-right .leaflet-control {
	clear: none;
}

.legend-bar {
  display: block;
  height: 1.5em;
  width: 20em;
	border: 1px solid rgba(0,0,0,0.5);
}

.legend-name {
  display: none;
}

.legend-labels {
	display: flex;
	justify-content: space-between;
  text-align: center;
	color: #fff;
	text-shadow: 0 0 5px black;
}

.legend-label-min {
	position: relative;
	left: 2px;
}

.legend-label-max {
	position: relative;
	right: 2px;
}

.legend-focus {
	display: flex;
  justify-content: center;
	color: #fff;
	text-shadow: 0 0 5px black;
}

.legend-focus-color {
	margin-right: 3px;
  width: 1.3em;
  height: 1.3em;
  vertical-align: middle;
  border: 1px solid rgba(0,0,0,0.5);
  background: #f00;
  display: inline-block;
}
