// The main search page has a master-detail type view, where both master and
// detail lay on top of the map.  This module describes the master overlay.

// The container for the entire overlay
.master-overlay {
  color: #fff;

  a {
    color: #fff;
  }

  // Non-scrollable header area
  header {
    margin: 1em 1em 0;
    color: $overlay-heading-font-color;

    h2 {
      font-size: 1.4em;
      margin: 0;
      font-weight: 200;
    }

    &.with-options {
      margin: .4em 1em .5em 1em;

      h2 {
        padding: 10px 0 10px 0;
      }

      .actions {
        margin-top: .5em;
      }
    }
  }
}

.master-overlay-hide-self {
  display: none;
}

.master-overlay-nav {
  padding: 1em;
  border-bottom: 1px solid #333;
}

// A parent panel for the overlday.  For instance, collection facets are a parent
// panel to collection search results
.master-overlay-parent {
  top: 110px;
  background-color: $master-overlay-parent-bg-color;
  width: $facet-overlay-width;
  left: 0;

  header {
    margin: 1em 1em 0 .5em;

    h2 {
      color: #FFFFFF;
      margin: 0;
      font-size: 1em;
      font-weight: bold;
    }
  }
}

// The main section in the overlay.  Collection results, pinned collections, whatnot.
.master-overlay-main {
  top: 110px;
  background-color: $master-overlay-main-bg-color;
  width: 40%;
  left: $facet-overlay-width;
  overflow: hidden;
}

// The secondary section in the overlay. Granule filters
.master-overlay-secondary {
  background-color: $master-overlay-main-bg-color;
  left: 40%;
  right: 0%;
  overflow: hidden;
  z-index: 60;
  position: absolute;
  height: 100%;
  transition-property: right, left;
  transition-duration: 0.3s;

  .message {
    margin-top: 1em;
  }
}

.master-overlay-main-content {
  width: 400%;
  left: 0%;

  section {
    height: 100%;
    width: 25%;
    float: left;
    position: relative;
  }

  dt {
    margin: 0;
    font-size: .8em;
  }

  dd {
    -webkit-margin-start: 0px;
    margin-left: 0;
  }

  .tab-content {
    padding-bottom: 0;
  }
}

.master-overlay-parent, .master-overlay-main, .master-overlay-main-content {
  z-index: 60;

  transition-property: left, width;
  transition-duration: 0.3s;
}

.master-overlay-parent, .master-overlay-main {
  box-shadow: 5px 0px 2px 0px rgba(0,0,0,0.4);
}

.master-overlay-parent {
  z-index: 62;
}

.master-overlay-main {
  z-index: 61;
}

.master-overlay-minimized {
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 50;
  opacity: 0;
  @include transition(opacity 0.3s ease-in-out);
}

.is-hidden .master-overlay-minimized {
  opacity: 1;
}

.master-overlay-info {
  margin: 0;
  color: $overlay-heading-font-color;


  p.button-details {
    span {
      display: block;
      position: relative;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    a {
      position: relative;
      z-index:1;
    }
    height: 36px;
  }

  p {
    margin: 1em 1em 0;
  }

  .button {
    @include dark-button;
    float: right;
    font-style: normal;
    line-height: 1.428571429em; // Bootstrap value.  Weird.

    &.low-priority {
      box-shadow: none;
      text-shadow: none;
      @include light-button;
    }
  }

  em {
    font-weight: bold;
  }
}

.is-master-overlay-maximized #collection-results .master-overlay-info {
  height: 71px;
}

.master-overlay-global-actions {
  padding: 0;
  border: 1px solid transparent;
  border-radius: 3px;

  .button {
    @include light-button;
    padding: 6px 6px;
  }

  .retrieve {
    background: #27ae60;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      background: #219853;
      border-color: #219853;
      color: #fff;
    }
  }
}

.master-overlay-forward {
  cursor: pointer;
}

#project-collections-list {
  margin-top: 0;
}

// Scrollable content area
.master-overlay-content {
  padding: .5em 1em 1em 1em;
  height: 80%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  dl {
    margin: 0;
    padding: 0;
  }
}

.master-overlay-minimize, .master-overlay-maximize {
  font-size: 1.3em;
  position: absolute;
  right: .5em;
  top: .5em;
  display: block;
  &:hover {
    color: #aaa;
  }
}

.master-overlay-close {
  position: absolute;
  right: 1em;
  top: 1em;
  display: block;
}

a.master-overlay-close {
  color: rgba(255, 255, 255, .3);
  @include transition (color 0.15s ease-in-out);
}

a.master-overlay-back, a.master-overlay-show-parent {
  background: $button-dark-bottom-gradient;
  padding: 8px 10px 8px 5px;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,.4);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 1px;
  border-top-left-radius: 1px;
  margin-left: 25px;
  @include transition(all 0.2s ease-in-out);
}

a.master-overlay-back:before, a.master-overlay-show-parent:before {
  content:"";
  position: absolute;
  float: left;
  left: 24px;
  top: 10px;
  width:0;
  height:0;
  border-color: transparent $button-dark-bottom-gradient transparent transparent;
  border-style: solid;
  border-width: 17px 17px 17px 0;
  @include transition(all 0.2s ease-in-out);
}

a.master-overlay-back:hover, a.master-overlay-show-parent:hover {
  background: #2b4c6f;
}

a.master-overlay-back:hover:before, a.master-overlay-show-parent:hover:before {
  border-color:transparent #2b4c6f transparent transparent;
}

.master-overlay-when-parent-hidden, .master-overlay-when-min {
  display: none;
}

.is-master-overlay-minimized-desired.is-master-overlay-maximized {
  .master-overlay-has-min {
    visibility: hidden; // Avoids glitches during animation transitions
  }
}

.is-master-overlay-minimized {
  .master-overlay-when-max { display: none; }
  .master-overlay-when-min { display: block; }
  .master-overlay-main {
    width: $collapsed-overlay-width;
    header {
      margin: 1em .5em 0;
      h2 {
        font-size: 1.1em;
      }
    }
    .master-overlay-content {
      padding: .5em 0 1em;
//      direction:rtl; // Puts the scrollbar on the left hand side
//      > * {
//        direction:ltr;
//      }
      width: $collapsed-overlay-width + 30px;
    }
    .master-overlay-info {
      height: 32px;
      .button-details {
        text-align: right;
        padding-top: 4px;
        margin-top: 0;
      }
      .button {
        float: none;
        font-size: .8em;
        padding: 4px 6px;
      }
    }
  }
}

.is-master-overlay-parent-hidden .master-overlay-when-parent-hidden {
  display: block;
}

.is-master-overlay-parent-hidden {
  .master-overlay-parent { left:-$facet-overlay-width; }
  .master-overlay-main   { left:0%; }
}

.is-master-overlay-secondary-hidden {
  .master-overlay-secondary { right: -60%; left: 100% !important; }
}

.master-overlay-main-content {
  &[data-level="1"] { left:-100%; }
  &[data-level="2"] { left:-200%; }
  &[data-level="3"] { left:-300%; }
  &[data-level="4"] { left:-400%; }
}

.is-hidden {
  .master-overlay-parent { left:-60%; }
  .master-overlay-main   { left: -40%; }
  .master-overlay-secondary { right: -60%; left: 100% !important; }
}

.master-overlay-help p {
  margin-bottom: 1em;
}

$browser-split: 1550px;
$parent-split: 1200px;

$main-width: $browser-split * 0.4;
$parent-width: $parent-split * 0.21;

@media (min-width: $browser-split) {
  .master-overlay-main {
    width: $main-width;
  }

  .master-overlay-secondary {
    left: $main-width + $parent-width;
  }

  .is-master-overlay-parent-hidden .master-overlay-secondary {
    left: $main-width;
  }
}

.details-content {
  white-space: pre;
  font-family: monospace;
  font-size: smaller;
}

.master-overlay-info .panel-list-meta, .panel-list-meta {
  text-align:right;
  padding: 0 1.25em;
  margin: 1em .5em 0 0;
  font-size: .8em;
  color: #666;
  line-height: 1.5;
}

.master-overlay-parent .panel-list-meta {
  margin-top: 0;
}

.master-overlay-parent .feedback-button {
  display: block;
  text-align: center;
  margin: 0 !important;
}

.row {
  -js-display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.flex-column {
  -ms-flex: 1 1 270px;
  flex: 1 1 270px; //mini-map width is 270px
  dd {
    font-size: 0.9em;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
}
