@import "bourbon";
// The main search page has a master-detail type view, where both master and
// detail lay on top of the map.  This module describes the master overlay.

$master-overlay-parent-bg-color: transparentize(#111, .1);
$master-overlay-parent-on-main-bg-color: transparentize(#111, .2); // Used when drawing parent overlapping main
$master-overlay-main-bg-color: transparentize(#333, .1);
$overlay-heading-font-color: #c9c9c9;


// The container for the entire overlay
.master-overlay {
  color: #fff;
}

// A parent panel for the overlday.  For instance, dataset facets are a parent
// panel to dataset search results
.master-overlay-parent {
  background-color: $master-overlay-parent-bg-color;
  width: 20%;
  left: 0;
}

// The main section in the overlay.  Dataset results, pinned datasets, whatnot.
.master-overlay-main {
  background-color: $master-overlay-main-bg-color;
  width: 40%;
  left: 20%;
}

.master-overlay-parent, .master-overlay-main {
  z-index: 100;
  position: absolute;
  height: 100%;
  transition-property: left;
  transition-duration: 0.3s;
}

// Non-scrollable header area
.master-overlay header {
  margin: 1em;

  h2 {
    font-weight: normal;
    color: $overlay-heading-font-color;
    font-size: 1.2em;
  }
}

.master-overlay-main header {
  margin-left:2em;
}

// Scrollable content area
.master-overlay-content {
  margin: 1em;
  height: 85%;
  overflow-y: scroll;
}

.master-overlay-close {
  float: right;
  display: block;
}

// DELETE ME After icons are added for close button
.master-overlay-close {
  text-decoration: none;
  font-weight: bold;
  // color: rgb(63, 97, 132);
  color: rgba(255, 255, 255, .3);
  @include transition (color 0.2s ease-in-out);

  &:hover {
    color: rgba(255, 255, 255, .8);
  }
}

.master-overlay-parent .master-overlay-close {
}

.is-master-overlay-parent-hidden .master-overlay-parent {
  left:-20%;
}

.is-master-overlay-parent-hidden .master-overlay-main {
  left:0%;
}

.is-hidden .master-overlay-parent {
  left:-60%;
}

.is-hidden .master-overlay-main {
  left:-40%;
}
