// The main search page has a master-detail type view, where both master and
// detail lay on top of the map.  This module describes the master overlay.

// The container for the entire overlay
.master-overlay {
  color: #fff;

  a {
  }

  // Non-scrollable header area
  header {
    background: $master-overlay-info-bg-color;
    margin: 0;
    color: $overlay-heading-font-color;

    .collection-title-filters {
      border-right: 1px solid #e3e3e3;
      width: 72%;
      box-shadow: 5px 8px 15px rgba(0,0,0,0.05);
      min-height: 95px;
    }

    #datasource-caveats {
      padding: 0 20px;
      color: #aaa;
    }

    h2 {
      font-size: 1.2em;
      margin: 0;
      padding: 10px 20px;
      font-weight: bold;

      &.loading {
        padding: 0;
      }

      .collection-title-link {
        font-size: 0.8em;
        font-weight: normal;
        display: inline-block;
        margin-left: 5px;
        vertical-align: text-top;
        text-decoration: underline;
      }
    }

    h4 {
      margin: 0;
      padding: 1em 0.5em;
    }

    &.with-options {
      margin: 0;
      border-bottom: 1px solid #e3e3e3;

      > * {
        display: inline-block;
      }

      h2 {
        padding: 15px 15px 5px 20px;
      }

      .actions {
        margin: 0;
        padding: 10px;
      }
    }

    &.tab {
      background: $master-overlay-tab-color asset-url('drag.png') no-repeat center 5px;
      display: inline-block;
      margin: 0;
      padding: 10px 20px;

      &:hover {
        cursor: row-resize;
      }

      h2 {
        display: inline-block;
        padding: 0;
      }
    }
  }
}

.master-overlay-hide-self {
  display: none;
}

.master-overlay-nav {
  padding: 12px 20px 10px 20px;
  background: $master-overlay-tab-color asset-url('drag.png') no-repeat center 5px;
  display: inline-block;
  font-size: 1.2em;

  &:hover {
    cursor: row-resize;
  }
}

// A parent panel for the overlday.  For instance, collection facets are a parent
// panel to collection search results
.master-overlay-parent {
  background-color: $master-overlay-parent-bg-color;
  width: $facet-overlay-width;
  left: 0;

  a {
    color: #fff;
  }

  header {
    margin: 0 1em 0 .5em;
    background: inherit;

    h2 {
      color: #FFFFFF;
      margin: 0;
      font-size: 1em;
      font-weight: bold;
    }

    h2.facet-title {
      padding: 0 0 10px 10px;
    }
  }

}

// The main section in the overlay.  Collection results, pinned collections, whatnot.
.master-overlay-main {
  background-color: $master-overlay-main-bg-color;
  width: 100%;
  overflow: hidden;
  top: 50%;
  height: 50%;
  z-index: 60;
  position: absolute;
  transition-property: left, width;
  transition-duration: 0.3s;

  .master-overlay-content {
    background: rgba(236, 240, 241,1.0);
  }

  .tab-pane {

    width: 100%;
    .master-overlay-content {
      background: none;
    }
  }
}

// The secondary section in the overlay. Granule filters
.master-overlay-secondary {
  background-color: $master-overlay-parent-bg-color;
  left: 40%;
  /* JS: Temporary, ugly fix to prevent overlap */
  top: 100px;
  overflow: hidden;
  z-index: 180;
  position: absolute;
  height: 90%;
  transition-property: right, left;
  transition-duration: 0.3s;

  header, nav {
    background: transparent;
    color: #fff;
  }

  nav {
    font-size: 1em;
    font-weight: bold;
  }

  .message {
    margin-top: 1em;
  }

  a.master-overlay-close {
    font-size: 1.4em;
    padding: 10px;

    &:hover {
      color: #828282;
    }
  }
}

.master-overlay-main-content {
  width: 400%;
  left: 0;

  section {
    height: 100%;
    width: 25%;
    float: left;
    position: relative;
    padding-left: $facet-overlay-width;

    &.master-overlay-no-min {
      background-image: asset-url('ecf0f1.png');
      background-repeat: repeat-x;
      background-position: 0 60px;
      padding-left: 0;

      h4 {
        padding-left: 25px;
        font-size: 1.2em;
        font-weight: normal;
      }
    }
  }

  dt {
    margin: 0;
    font-size: .8em;
  }

  dd {
    -webkit-margin-start: 0px;
    margin-left: 0;
  }

  .nav-tabs {
    background: #eee;
    color: #424242;
    margin: 0;
  }

  .tab-content {
    padding: 20px;
    background: $master-overlay-info-bg-color;
    color: #424242;
  }
}

.master-overlay-parent {
  z-index: 60;
  position: absolute;
  height: 100%;
  transition-property: left, width;
  transition-duration: 0.3s;
}

.master-overlay-main-content {
  position: absolute;
  transition-property: left, width;
  transition-duration: 0.3s;
}

.master-overlay-parent {
  box-shadow: 5px 0px 2px 0px rgba(0,0,0,0.2);
}

.master-overlay-parent {
  z-index: 130;
}

.master-overlay-main {
  z-index: 120;
}

.master-overlay-minimized {
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 50;
  opacity: 0;
  @include transition(opacity 0.3s ease-in-out);
}

.is-hidden .master-overlay-minimized {
  opacity: 1;
}

.master-overlay-info {
  background: $master-overlay-info-bg-color;
  margin: 0;
  padding: 0px 20px 0 20px;
  color: $overlay-heading-font-color;

  > * {
    display: inline-block;
  }

  .granule-filter-link {
    text-decoration: underline;
    font-size: 0.9em;
    margin-left: 5px;
  }

  .collection-filters {
    display: block;
    margin-bottom: 5px;
  }

  .collection-filter-item {
    margin-right: 15px;
  }

  p.button-details {
    color: #aaa;

    .add-project-example {
      color: #27ae60;
    }

    span {
      display: block;
      position: relative;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    a {
      position: relative;
      z-index:1;
    }
  }

  p {
    margin: 0;
  }

  .button {
    @include dark-button;
    font-style: normal;
    line-height: 1.428571429em; // Bootstrap value.  Weird.
    text-decoration: none;

    &.low-priority {
      box-shadow: none;
      text-shadow: none;
      @include light-button;
    }
  }

  em {
    font-weight: bold;
  }
}

.is-master-overlay-maximized #collection-results .master-overlay-info {
  padding: 20px;
}

.master-overlay-global-actions {
  display: inline-block;
  vertical-align: top;
  width: 26%;

  .add-to-project, .remove-from-project {
    font-size: 0.8em;
    margin-top: 3px;
    float: right;
  }

  .remove-from-project {
    color: #c0392b;
  }

  .global-action-link {
    font-size: 0.8em;
  }

  .button {
    margin-top: 8px;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 8px 10px;
  }

  .retrieve {
    background: #27ae60;
    border: none;
    color: #fff;
    @include transition(background 0.2s ease-in-out);

    &:hover {
      background: #219853;
      border-color: #219853;
      color: #fff;
    }
  }
}

.master-overlay-forward {
  cursor: pointer;
}

#project-collections-list {
  margin-top: 0;
}

// Scrollable content area
.master-overlay-content {
  padding: 0;
  height: 80%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  dl {
    margin: 0;
    padding: 0;
  }

  .card-row {
    padding-bottom: 130px;
  }

  .card {
    -ms-flex: 0 1 320px;
    flex: 0 1 320px;
    background: #ecf0f1;
    border: 1px solid darken(#ecf0f1, 5%);
    border-radius: 5px;
    padding: 12px;
    margin: 0px 10px 10px 0;
    min-height: 100px;
    font-size: 0.9em;

    h5 {
      margin: 0 0 5px 0;
      padding: 0;
      font-weight: bold;
      font-size: 1em;
    }

    ul {
      margin: 0;
    }

    p {
      margin: 5px 0;
    }
  }
}

.master-overlay-minimize, .master-overlay-maximize {
  font-size: 1.3em;
  display: inline-block;
  margin-left: 5px;
  &:link {
    color: #e3e3e3;
  }
  &:hover {
    color: #aaa;
  }
}

.master-overlay-close {
  float: right;
}

a.master-overlay-close {
  color: rgba(255, 255, 255, .3);
  @include transition (color 0.15s ease-in-out);
}

a.master-overlay-back {
  color: #2980b9;
}

a.master-overlay-show-parent {

}

.master-overlay-when-parent-hidden, .master-overlay-when-min {
  display: none;
}

.is-master-overlay-minimized-desired.is-master-overlay-maximized {
  .master-overlay-has-min {
    visibility: hidden; // Avoids glitches during animation transitions
  }
}

.is-master-overlay-minimized {
  .master-overlay-when-max { display: none; }
  .master-overlay-when-min { display: inline-block; }
  .master-overlay-main {
    // JS: I know, I know... This needs to override any interact.js actions
    top: 92% !important;
  }
}

.is-master-overlay-parent-hidden .master-overlay-when-parent-hidden {
  display: inline-block;
}

.is-master-overlay-parent-hidden {
  .master-overlay-parent                { left:-$facet-overlay-width; }
  .master-overlay-main                  { left:0%; }
  .master-overlay-main-content section  { padding-left: 0; }
}

.is-master-overlay-secondary-hidden {
  .master-overlay-secondary { right: -60%; left: 100% !important; }
}

.master-overlay-main-content {
  &[data-level="1"] { left:-100%; }
  &[data-level="2"] { left:-200%; }
  &[data-level="3"] { left:-300%; }
  &[data-level="4"] { left:-400%; }
}

.is-hidden {
  .master-overlay-parent { left:-60%; }
  .master-overlay-main   { left: -40%; }
  .master-overlay-secondary { right: -60%; left: 100% !important; }
}

.master-overlay-help p {
  margin: 0 50px 10px 15px;
  color: #424242;
}

.details-content {
  white-space: pre;
  font-family: monospace;
  font-size: smaller;
}

#granule-search {
  width: 700px;
}

.master-overlay-info .panel-list-meta, .panel-list-meta {
  display: inline-block;
  float: right;
}

.master-overlay-parent .panel-list-meta {
  margin-top: 0;
}

.master-overlay-parent .feedback-button {
  display: block;
  text-align: center;
  margin: 0 !important;
}

.row {
  -js-display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex-column {
  flex: 1 0 auto;
  width: 270px;
  dd {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
}

.flex-column-aside {
  margin-right: 20px;
  width: 360px;
}

.flex-column-sk {
  margin-right: 20px;
  flex: 3 0 300px;

}

.master-overlay-content .flex-column {
  padding-right: 1em;
}

$browser-split: 1550px;
$parent-split: 1200px;

$main-width: $browser-split * 0.4;
$parent-width: $parent-split * 0.21;

@media (min-width: $browser-split) {
  .master-overlay-main {
  }

  .master-overlay-secondary {
    left: $main-width + $parent-width;
  }

  .is-master-overlay-parent-hidden .master-overlay-secondary {
    left: $main-width;
  }
}

@media (max-width: $parent-split) {
  .button-details {
    overflow: hidden;
    font-size: 0.8em;
  }

  .master-overlay-info .panel-list-meta {
    float: none;
  }
}
