// The main search page has a master-detail type view, where both master and
// detail lay on top of the map.  This module describes the master overlay.

// The container for the entire overlay
.master-overlay {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  // Non-scrollable header area
  .master-overlay-header {
    background: $master-overlay-info-bg-color;
    margin: 0;
    color: $overlay-heading-font-color;

    #datasource-caveats {
      margin-bottom: 5px;
      color: #aaa;
    }

    h2 {
      .collection-title-link {
        font-size: 0.8em;
        font-weight: normal;
        display: inline-block;
        margin-left: 5px;
        vertical-align: text-top;
        text-decoration: underline;
      }
    }

    &.with-options {
      margin: 0;
      border-bottom: 1px solid #e3e3e3;

      > * {
        display: inline-block;
      }

      h2 {
        padding: 15px 15px 5px 20px;
      }

      .actions {
        margin: 0;
        padding: 10px;
      }
    }
  }
}

.master-overlay-header-heading {
  margin: 0;
}

.master-overlay-header-granule-panel {
  border-bottom: 1px solid #e3e3e3;
}

.master-overlay-header-title {
  font-size: 19px;
  margin-bottom: 5px;
}

.master-overlay-header-row {
  margin-top: 15px;
}

.master-overlay-header-row-item {
  display: inline-block;
}

.master-overlay-nav {
  position: absolute;
  top: -48px;
  left: 0;
}

.master-overlay-tab {
  background: $master-overlay-tab-color asset-url('drag.png') no-repeat center 5px;
  display: block;
  top: 0;
  float: left;
  margin-right: 3px;
  padding: 10px 20px;
  height: 48px;

  &.is-interactive {
    .master-overlay-tab-handle {
      position: absolute;
      top: 0;
      left: 0;
      height: 10px;
      width: 100%;
      cursor: row-resize;
    }
  }

  .is-master-overlay-parent-hidden & {
    left: 62px;
  }
}

.master-overlay-tab-title {
  display: inline-block;
  padding: 0;
  font-size: 19px;
}

.master-overlay-hide-self {
  display: none;
}

// The main section in the overlay.  Collection results, pinned collections, whatnot.
.master-overlay-main {
  flex-grow: 1;
  height: 50%;
  width: 400%;
  background-color: $master-overlay-main-bg-color;
  z-index: 60;
  transition-property: left, width;
  transition-duration: 0.3s;
  will-change: left, width;

  .master-overlay-content {
    background: rgba(236, 240, 241,1.0);
  }

  .master-overlay-content-light {
    background: #fff;
  }

  .master-overlay-content-padding {
    padding: 0 20px 20px;
  }

  .tab-pane {

    width: 100%;
    .master-overlay-content {
      background: none;
    }
  }
}

// The secondary section in the overlay. Granule filters
.master-overlay-secondary {
  width: 700px;
  background-color: $master-overlay-parent-bg-color;
  right: 0;
  overflow: hidden;
  z-index: 180;
  position: absolute;
  height: 100%;
  transition-property: right, left;
  transition-duration: 0.3s;

  header, nav {
    background: transparent;
    color: #fff;
  }

  nav {
    font-size: 1em;
    font-weight: bold;
  }

  .message {
    margin-top: 1em;
  }

  a.master-overlay-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4em;
    padding: 10px;

    &:hover {
      color: #828282;
    }
  }
}

.master-overlay-secondary-content {
  height: 100%;
}

.master-overlay-secondary-granule-search {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.master-overlay-secondary-header {
  position: relative;
  padding: 12px 20px 10px 20px;
}

.master-overlay-secondary-heading {
  font-weight: 700;
}

.master-overlay-secondary-title {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.2em;
}

.master-overlay-main-content {
  position: relative;
  height: 100%;
  width: 400%;
  background-color: #fff;
  transition-property: left;
  transition-duration: 0.3s;

  section {
    height: 100%;
    width: 25%;
    float: left;
    position: relative;

    &.master-overlay-no-min {
      padding-left: 0;

      h4 {
        font-size: 1.2em;
        font-weight: normal;
      }
    }
  }

  dt {
    margin: 0;
    font-size: .8em;
  }

  dd {
    -webkit-margin-start: 0px;
    margin-left: 0;
  }

  .nav-tabs {
    background: #eee;
    color: #424242;
    margin: 0;
  }

  .tab-content {
    padding: 20px;
    background: $master-overlay-info-bg-color;
    color: #424242;
  }
}

.master-overlay-main-content {
  transition-property: left, width;
  transition-duration: 0.3s;
}

.master-overlay-content-wrapper {
  display: flex;
  flex-direction: column;
}

.master-overlay-main {
  z-index: 120;
}

.master-overlay-minimized {
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 50;
  opacity: 0;
  @include transition(opacity 0.3s ease-in-out);
}

.is-hidden .master-overlay-minimized {
  opacity: 1;
}

.master-overlay-info {
  display: flex;
  flex-shrink: 0;
  background: $master-overlay-info-bg-color;
  margin: 0;
  color: $overlay-heading-font-color;

  .granule-filter-link {
    text-decoration: underline;
    font-size: 0.9em;
    margin-left: 5px;
  }

  .collection-filters {
    display: block;
    margin-bottom: 5px;
  }

  .collection-filter-item {
    margin-right: 15px;
  }

  p.button-details {
    color: #aaa;

    .add-project-example {
      color: #27ae60;
    }

    span {
      display: block;
      position: relative;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    a {
      position: relative;
      z-index:1;
    }
  }

  p {
    margin: 0;
  }

  .button {
    @include dark-button;
    font-style: normal;
    line-height: 1.428571429em; // Bootstrap value.  Weird.
    text-decoration: none;

    &.low-priority {
      box-shadow: none;
      text-shadow: none;
      @include light-button;
    }
  }

  em {
    font-weight: bold;
  }
}

.master-overlay-info-panel {
  padding: 20px;

  #granule-list & {
    padding: 15px 20px 10px;
  }
}

.master-overlay-info-granule-panel {
  flex-grow: 1;
  width: 72%;
  border-right: 1px solid #e3e3e3;
  box-shadow: 5px 8px 15px rgba(0,0,0,0.05);
  min-height: 95px;
}

.master-overlay-info-collection-panel {
  flex-grow: 1;
}

.master-overlay-info-collection-header {
  display: flex;
  align-items: center;
}

.master-overlay-info-collection-name {
  margin-top: 7px;
}

.master-overlay-info-collection-loading {
  font-size: 1.2em;
}

.master-overlay-global-actions {
  display: inline-block;
  vertical-align: top;
  width: 28%;

  .add-to-project, .remove-from-project {
    font-size: 0.8em;
    margin-top: 3px;
    float: right;
  }

  .remove-from-project {
    color: #c0392b;
  }

  .global-action-link {
    font-size: 0.8em;
  }

  .button {
    margin-top: 8px;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding: 8px 10px;
  }

  .retrieve {
    background: #27ae60;
    border: none;
    color: #fff;
    @include transition(background 0.2s ease-in-out);
    line-height: normal; // Temporary override of master-overlay-info-granule-panel value

    &:hover {
      background: #219853;
      border-color: #219853;
      color: #fff;
    }
  }
}

.master-overlay-forward {
  cursor: pointer;
}

// Scrollable content area
.master-overlay-content {
  -ms-flex: 1 1 auto;
  flex-grow: 1;
  padding: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  a {
    color: #fff;
  }

  dl {
    margin: 0;
    padding: 0;
  }

  .card {
    -ms-flex: 0 1 320px;
    flex: 0 1 320px;
    background: #ecf0f1;
    border: 1px solid darken(#ecf0f1, 5%);
    border-radius: 5px;
    padding: 12px;
    margin: 0px 10px 10px 0;
    min-height: 100px;
    font-size: 0.9em;

    h5 {
      margin: 0 0 5px 0;
      padding: 0;
      font-weight: bold;
      font-size: 1em;
    }

    ul {
      margin: 0;
    }

    p {
      margin: 5px 0;
    }
  }
}

.master-overlay-content-light {
  background: white;
  border-right: 1px solid #ddd;

  a {
    color: inherit;
  }
}

.master-overlay-minimize, .master-overlay-maximize {
  font-size: 1.3em;
  display: inline-block;
  margin-left: 5px;
  &:link {
    color: #e3e3e3;
  }
  &:hover {
    color: #aaa;
  }
}

a.master-overlay-back {
  color: #2980b9;
}

a.master-overlay-show-parent {

}

.master-overlay-when-parent-hidden, .master-overlay-when-min {
  display: none;
}

.is-master-overlay-minimized-desired.is-master-overlay-maximized {
  .master-overlay-has-min {
    visibility: hidden; // Avoids glitches during animation transitions
  }
}

.is-master-overlay-minimized {
  .master-overlay-when-max { display: none; }
  .master-overlay-when-min { display: inline-block; }
  .master-overlay-main {
    // JS: I know, I know... This needs to override any interact.js actions
    height: 10px !important;
  }
}

.is-master-overlay-parent-hidden .master-overlay-when-parent-hidden {
  display: inline-block;
}

.is-master-overlay-parent-hidden {
  .master-overlay-parent                { width: 0; }
  .master-overlay-main                  { left:0%; }
  .master-overlay-main-content section  { padding-left: 0; }
}

.is-master-overlay-secondary-hidden {
  .master-overlay-secondary { right: -60%; left: 100% !important; }
}

.master-overlay-main-content {
  will-change: transform;
  transition: transform .3s ease-in-out;

  &[data-level="1"] { transform: translateX(-25%); }
  &[data-level="2"] { transform: translateX(-50%); }
  &[data-level="3"] { transform: translateX(-75%); }
  &[data-level="4"] { transform: translateX(-100%); }
}

.is-hidden {
  .master-overlay-parent { left:-60%; }
  .master-overlay-main   { left: -40%; }
  .master-overlay-secondary { right: -60%; left: 100% !important; }
}

.master-overlay-help p {
  margin: 0 50px 10px 15px;
  color: #424242;
}

.details-content {
  white-space: pre;
  font-family: monospace;
  font-size: smaller;
}

.master-overlay-info .panel-list-meta, .panel-list-meta {
  display: inline-block;
  float: right;
}

.master-overlay-parent .panel-list-meta {
  margin-top: 0;
}

.master-overlay-parent .feedback-button {
  display: block;
  text-align: center;
  margin: 0 !important;
}

.row {
  -js-display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex-column {
  flex: 1 0 auto;
  width: 270px;
  dd {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 10px;
    word-wrap: break-word;
  }
}

.flex-column-aside {
  margin-right: 20px;
  width: 360px;
}

.flex-column-sk {
  margin-right: 20px;
  flex: 3 0 300px;

}

.master-overlay-content .flex-column {
  padding-right: 1em;
}

$browser-split: 1550px;
$parent-split: 1200px;

$main-width: $browser-split * 0.4;
$parent-width: $parent-split * 0.21;

@media (max-width: $parent-split) {
  .button-details {
    overflow: hidden;
    font-size: 0.8em;
  }

  .master-overlay-info .panel-list-meta {
    float: none;
  }
}
