
@media (max-width: 1075px) {

	.toolbar {
	  .tt-query, .tt-hint, .tt-input {
	    width: $toolbar-search-field-sm-width;
	    @include transition(width 0.5s ease-in-out);
	  }
	}
}

/* Toolbar button breakpoint */
@media (max-width: 1265px) {

	.toolbar {
	  .dropdown-value, .button-value {
			display: none;
	  }
	}
}

@media (max-width: 1349px) {
	.truncate {
		max-width: 60px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (min-width: 1350px) and (max-width: 1440px) {
	.truncate {
		max-width: 130px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
