.modal-dialog,
.modal-tall {
  /* 80% of window height */
  height: 80%;
}

.modal-content-full {
  height: 100%;
}

.modal.variables, .modal.customize-data {

  .modal-body {
    padding: 0;

    p {
      margin: 0;
      padding: 20px;
      border-bottom: 1px solid #e3e3e3;
    }

    label {
      font-weight: bold;
    }

    select {
      float: right;
    }
  }
}

.modal-title {
  font-size: 1em;

  .fa {
    color: #e1e1e1;
  }
}

.modal-header {
  position: relative;
}

.modal-close {
  position: absolute;
  right: 1em;
  top: 50%;
  font-size: 1.25em;
  transform: translateY(-50%);

  .modal-header & {
    margin-top: 0.05em;
  }
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: scroll;

  &.busy {
    background-position: center center;
  }

  .modal-has-content-header & {
    /* 100% = dialog height, 175px = header + footer + content-header */
    max-height: calc(100% - 175px);
    min-height: calc(100% - 175px);
  }

  .modal-content-full & {
    height: calc(100% - 120px);
  }

  .modal-has-content-header .modal-content-full & {
    height: calc(100% - 175px);
  }

  .modal-overlay-is-active & {
    overflow: hidden;
  }
}

.modal-body-overlay {
  position: absolute;
  top: 53px;
  left: 0;
  right: 0;
  bottom: 0;
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: scroll;

  .modal-has-content-header & {
    top: 108px;
    /* 100% = dialog height, 175px = header + footer + content-header */
    max-height: calc(100% - 175px);
    min-height: calc(100% - 175px);
  }

  .modal-content-full & {
    height: calc(100% - 120px);
  }

  .modal-has-content-header .modal-content-full & {
    height: calc(100% - 175px);
  }
}

.modal-body-trim {
  padding: 0;
}

.modal-body-welcome {
  background: asset-url('edsc-small-screen.png') no-repeat left;
  padding-left: 245px;

  p {
    padding: 0;
    margin: 0;
  }
}

.modal-body-related-urls {

  h4 {
    margin: 20px 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid $light-grey;
  }

  ul {
    padding: 0;
    margin: 5px 0 0 0;
  }

  p {
    margin: 0 0 10px 0;
  }

}

.modal-dialog {
  width: 800px;
  max-height: 720px;
  margin-top: 120px;
}

.modal-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 15px;
  overflow-y: scroll;

  &.is-active {
    display: block;
  }
}

.modal-overlay-header {
  position: relative;
  padding-top: 3em;
}

.modal-overlay-back-button {
  position: absolute;
  top: 0;
  left: 0;
}

.modal-overlay-content-full {
  margin: 0 -15px;
}

.modal-footer {
  padding: 15px;

  p {
    padding: 5px;
  }

  .button {
    text-shadow: none;
  }
}

.modal-footer-status {
  margin-top: 0.17em;
  font-weight: 700;
  font-size: 1.25em;
  color: #424242;
}

.modal-content-header {
  height: 55px;
  width: 100%;
  padding: 1em;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.modal-content-header-dark {
  background: lighten($light-grey, 5%);
}

.modal-content-header-label {
  color: #888;
  margin-right: 0.5em;
}

.modal-content-header-alpha {
  display: inline-block;
  color: #888;
}

.modal-content-header-alpha-item {
  padding: 0.1em;
  font-weight: bold;
  cursor: not-allowed;
}

.modal-content-header-alpha-item-link {
  cursor: pointer;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: #1d6492;
  }
}
