.modal-dialog,
.modal-tall {
  /* 80% of window height */
  height: 80%;
}

.modal.variables, .modal.customize-data {

  .modal-body {
    padding: 0;

    p {
      margin: 0;
      padding: 20px;
      border-bottom: 1px solid #e3e3e3;
    }

    label {
      font-weight: bold;
    }

    select {
      float: right;
    }
  }
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: scroll;

  ul {
    list-style: none;
    padding: 0 30px;
  }
}

.modal-body-welcome {
  background: asset-url('edsc-small-screen.png') no-repeat left;
  padding-left: 245px;

  p {
    padding: 0;
    margin: 0;
  }
}

.modal-body-related-urls {

  h4 {
    margin: 20px 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid $light-grey;
  }

  ul {
    padding: 0;
    margin: 5px 0 0 0;
  }

  p {
    margin: 0 0 10px 0;
  }

}

.modal-dialog {
  width: 800px;
  margin-top: 120px;
}

.modal-footer {
  padding: 15px;
  height: inherit;

  p {
    padding: 5px;
  }

  .button {
    text-shadow: none;

    &.secondary {
      @include gradient-animation(#fff, #ddd, #fff, #fff, .2s);
      border: 1px solid #e3e3e3;
      padding: 7px 10px;
      color: #424242;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
