.modal-dialog,
.modal-tall {
  /* 80% of window height */
  height: 80%;
}

.modal.variables, .modal.customize-data {

  .add-measurement {
    float: right;
  }

  .modal-body {
    padding: 0;

    p {
      margin: 0;
      padding: 20px;

      &.customize-block {
        border-bottom: 1px solid #e3e3e3;
      }

      &.select-all {

        padding-bottom: 0;

        label {
          font-weight: normal;
          font-style: italic;
        }
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 20px;

      &.active-filters {
        padding: 0;

        li {
          padding: 20px;
          border-bottom: 1px solid #e3e3e3;
        }
      }
    }

    label {
      font-weight: bold;
    }

    select {
      float: right;
    }

    input[type="checkbox"] {
      margin-right: 6px;
    }
  }

  .modal-dialog {
    width: 800px;
    margin-top: 120px;
  }
}

.modal-body {
  /* 100% = dialog height, 120px = header + footer */
  max-height: calc(100% - 120px);
  overflow-y: scroll;

  ul {
    list-style: circle;
    padding: 0 30px;
  }
}
