$panel-list-item-height: 81px;
$panel-list-thumbnail-size: $panel-list-item-height;
$panel-list-thumbnail-container-size: $panel-list-thumbnail-size + 4px;

.panel-list {

  .button {
    @include list-panel-button;
    font-size: 1.2em;
    padding: 7px 10px;
  }
}

.panel-list-list {
  margin-top: 0;
  background: $master-overlay-info-bg-color;
}

.panel-list-item, .panel-list-list > .sortable-placeholder {
  color: #424242;
  background-color: #fff;
  border-top: 1px solid #e3e3e3;
  margin: 0;
  min-height: $panel-list-thumbnail-size + 30px;
  padding: 10px 10px 10px 14px;
  font-size: .8em;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(odd) {
    background: #f4f7fa;
  }

  &.master-overlay-forward:hover {
    background-color: #eee;
  }

  h3 {
    font-size: 1em;
    word-wrap: break-word;
    padding: 8px 0;
    margin: 0;
  }
}

.granule-list {

  .master-overlay-info {
    padding: 10px 20px;
  }

  .panel-list-list {
    padding: 10px;
    background: #ecf0f1;
  }

  .panel-list-thumbnail-container {
    border: none;
    margin: 0;
  }

  .panel-list-item {
    width: 268px;
    float: left;
    margin: 6px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.03);
    padding: 0;
  }

  .panel-list-item:nth-child(odd) {
    background: #fff;
  }

  .button {
    @include list-panel-button;
    float: left;
    border-left: 0;
    border-radius: 0;
  }

  .granule-temporal-range {


    p {
      margin: 0;
      padding: 3px 10px;
    }

    .temporal-start {
      background: rgba(39, 174, 96,0.1);
    }

    .temporal-end {
      background: rgba(192, 57, 43,0.1);
      border-bottom: 1px solid rgba(192, 57, 43,0.2);
    }
  }

  h3 {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 8px;
  }
}

.panel-list-item > p {
  margin-left: $panel-list-thumbnail-container-size;
  display: table;
}

// Drag handles instead of borders
.panel-list-item[draggable=true] {
  border-left: 0;
}

.panel-list-drag-handle {
  float: left;
  border: 2px solid #424242;
  border-top: 0;
  border-bottom: 0;
  cursor: move;
  height: $panel-list-item-height + 12px;
  width: 8px;
  margin: -6px 12px -6px -8px;
}

.panel-list-list > .sortable-placeholder {
  border: 3px dashed #424242;
}

.empty-button {
  visibility: hidden;
}

.panel-list-focused {
  cursor: pointer;

  h3 {
    background: rgba(52, 152, 219,1.0);
    color: #fff;
  }
}

.panel-list-info-container {
  display: inline-block;
  width: 80%;
}

.panel-list-item-actions-container {
  display: inline-block;
  vertical-align: top;
  float: right;
}

.panel-list-item-actions {

  &.granule-item-actions {
    float: left;
  }
}

.panel-list-thumbnail-container {
  display: block;
  float: left;
  position:relative;
  width: $panel-list-thumbnail-container-size;
  height: $panel-list-thumbnail-container-size;
  background-color: #222;
  border: 1px solid rgb(235, 235, 235);
  text-align: center;
  line-height: $panel-list-thumbnail-size - 1px;
  margin-right: 8px;
}

.panel-list-thumbnail-onerror {
  display: block;
  float: left;
  position:relative;
  margin-right: .5em;
  width: $panel-list-thumbnail-size + 10px;
  height: $panel-list-thumbnail-size + 10px;
  background-color: #222;
  border: 5px solid #323232;
  text-align: center;
  overflow: hidden;
}

.panel-list-thumbnail {
  max-width: $panel-list-item-height;
  max-height: $panel-list-item-height;
}

.panel-list-thumbnail-placeholder {
  color: #999;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 4px 4px 4px;
  @include linear-gradient(#1c1c1c, #181818);
  border: 5px solid #111;
  line-height: 1.2em;

  i {
    font-size: 1.8em;
    margin-bottom: 5px;
    opacity: .3;
  }
}

.panel-list-badges {

  a {
    color: #fff;
  }

  .tooltip {
    width: $facet-overlay-width;
  }

  .tooltip.right .tooltip-arrow {
    border-right-color: #263c50;
  }

  .tooltip-inner {
    max-width: $facet-overlay-width;
    background-color: #263c50;
  }

}

.badge {
  display: inline-block;
  color: #fff;
  font-size: 9px;
  line-height: 12px;
  font-weight: bold;
  padding: 3px 6px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}

.facets-list-hide .badge {
  display: none;
}

.facets .badge {
  margin: 0 .5em 0 0;
}

.badge-gibs {
  background-color: $gibs;
  &:before {
    content: "Map Imagery";
  }
}

.circle-badge-gibs {
  background-color: $gibs;
}

.badge-subsetting {
  background-color: $subsetting;
  &:before {
    content: "Subsetting";
  }
}

.circle-badge-subsetting {
  background-color: $subsetting;
}

.badge-nrt {
  background-color: $nrt;
  &:before {
    content: "NRT";
  }
  // @include retina-image(nrt, 22px 22px, png, null, '@2x', true);
}

.circle-badge-nrt {
  background-color: $nrt;
}

.badge-cwic {
  background-color: $cwic;
  &:before {
    content: "CWIC";
  }
  // @include retina-image(nrt, 22px 22px, png, null, '@2x', true);
}

.panel-header-toggle {
  line-height: 1.5em;
}

.panel-list-muted {
  font-size: .9em;
  padding: 0;
  color: #7f8c8d;
}

.panel-list-details {
  background: rgba(0,0,0,0.3);
  font-size: 9px;
  line-height: 12px;
  font-weight: bold;
  padding: 3px 6px;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  display: inline-block;
  color: #fff;
}

.panel-list-comparison-details {
  font-size: .9em;
}

.granule-item-actions {

}

.panel-list-item:after {
    content: "";
    display: block;
    clear: right;
}

#granule-list:focus, #granule-list.has-focus {
  .panel-list-selected {
    h3 {
      background: rgba(52, 152, 219,1.0);
      color: #fff;
    }
  }
}

.panel-list-selected {

  h3 {
    background: rgba(52, 152, 219,1.0);
    color: #fff;
  }

  .panel-list-when-selected {
    visibility: visible;
  }
}

.panel-list-when-selected {
  visibility: hidden;
}

.panel-list a.panel-list-remove {
  float: right;
  @include transition(color 0.3s ease-in-out);
  font-size: 1.6em;
  line-height: 1em;
  padding-left: 2px;
  &:hover {
    color: #e74c3c;
  }
}

.panel-list-title {
  font-size: 1.1em;
  padding: 0 .5em .2em;
  color: #c9c9c9
}

.portal-escape {
  color: #424242;
  margin-top: 1.6em;
  padding: 15px 20px;
  border-top: 1px solid #e3e3e3;
}

.portal-escape a {
  text-decoration: underline;
}
