$panel-list-item-height: 81px;
$panel-list-thumbnail-size: $panel-list-item-height;
$panel-list-thumbnail-container-size: $panel-list-thumbnail-size + 4px;

.panel-list {
  .button {
    font-size: 1em;
    padding: 4px 8px;
    display: block;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    color: #424242;
    margin-bottom: 2px;

    &.primary {
      background: #27ae60;
      color: #fff;
    }

    &.button-active {
      background: #c0392b;
      color: #fff;
    }
  }
}

.panel-list .ccols {
  margin-bottom: 1em;
}

.panel-list-list {
  margin-top: 0;
}

.panel-list-item, .panel-list-list > .sortable-placeholder {
  color: #424242;
  background-color: #fff;
  border-top: 1px solid #e3e3e3;
  margin: 0;
  min-height: $panel-list-thumbnail-size + 30px;
  padding: 15px 15px 15px 20px;
  font-size: .8em;
  display: flex;


  &:first-child {
    margin-top: 0;
  }

  &:nth-child(odd) {
    background: #f4f7fa;
  }

  &.master-overlay-forward:hover {
    background-color: darken(#f4f7fa, 2%);
  }

  h3 {
    overflow: hidden;
    font-size: 1.4em;
  }
}

#granule-list {
  background: #f4f4f4;

  .panel-list-item {
    float: left;
    padding: 10px;
    margin: 10px;
    width: 15%;
  }
}

// Drag handles instead of borders
.panel-list-item[draggable=true] {
  border-left: 0;
}

.panel-list-drag-handle {
  float: left;
  border: 2px solid #424242;
  border-top: 0;
  border-bottom: 0;
  cursor: move;
  height: $panel-list-item-height + 12px;
  width: 8px;
  margin: -6px 12px -6px -8px;
}

.panel-list-list > .sortable-placeholder {
  border: 3px dashed #424242;
}

.empty-button {
  visibility: hidden;
}

.panel-list-focused {
  border-left-color: #525252;
  background-color: #393939;
  cursor: pointer;
}

.panel-list-thumbnail-container {
  width: 100px;
}

.panel-list-thumbnail-onerror {
  display: block;
  float: left;
  position:relative;
  margin-right: .5em;
  width: $panel-list-thumbnail-size + 10px;
  height: $panel-list-thumbnail-size + 10px;
  background-color: #222;
  border: 5px solid #323232;
  text-align: center;
  overflow: hidden;
}

.panel-list-thumbnail {
  max-width: $panel-list-item-height;
  max-height: $panel-list-item-height;
}

.panel-list-thumbnail-placeholder {
  color: #999;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 4px 4px 4px;
  @include linear-gradient(#1c1c1c, #181818);
  border: 5px solid #111;
  line-height: 1.2em;

  i {
    font-size: 1.8em;
    margin-bottom: 5px;
    opacity: .3;
  }
}

.panel-list-badges {
  .tooltip {
    width: $facet-overlay-width;
  }

  .tooltip.right .tooltip-arrow {
    border-right-color: #263c50;
  }

  .tooltip-inner {
    max-width: $facet-overlay-width;
    background-color: #263c50;
  }

}

.badge {
  color: #fff;
  float: left;
}

.facets-list-hide .badge {
  display: none;
}

.facets .badge {
  margin: 0 .5em 0 0;
}

.badge-nrt, .badge-gibs, .badge-subsetting {
  background-color: #2ECC71;
  color: #fff;
  text-shadow: .5px .5px .5px rgba(0,0,0,0.2);
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 22px;
  padding: 0 10px;
  text-transform: uppercase;
  &:before {
    content: "Near-real Time Data";
  }
  // @include retina-image(nrt, 22px 22px, png, null, '@2x', true);
}

.badge-gibs {
  background: #e67e22;
  &:before {
    content: "Map Imagery";
  }
}

.badge-subsetting {
  background: #3498db;
  &:before {
    content: "Subsetting";
  }
}

.badge-cwic {
  border-radius: 2px;
  background-color: #ccaa00;
  color: #fff;
  text-shadow: .5px .5px .5px darken(#ccaa00, 20%);
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  line-height: 22px;
  font-family: FontAwesome;
  &:before {
    content: "\f0ac";
  }
  // @include retina-image(nrt, 22px 22px, png, null, '@2x', true);
}

.panel-header-toggle {
  color: #888;
  line-height: 1.5em;
}

.panel-list-muted {
  font-size: .9em;
  padding: 0;
  color: #7f8c8d;
}

.panel-list-details {
  font-size: 10px;
  text-align: center;
  line-height: 22px;
  padding: 0 10px;
  display: inline-block;
}

.panel-list-comparison-details {
  font-size: 1em;
}

.panel-list-granule-description {
}

.panel-list-details-container {
  flex: 1 1 600px;
  margin-right: 20px;
}

.panel-list-item-actions-container {
  width: 140px;
}

.granule-item-actions {
  @media (min-width: 1150px) {

  }
}

.panel-list-item:after {
    content: "";
    display: block;
    clear: right;
}

#granule-list:focus, #granule-list.has-focus {
  .panel-list-selected {
    border-left-color: #2980b9;
  }
}

.panel-list-selected {
  border-left-color: desaturate(#2980b9, 50%);
  background: #494949;

  .panel-list-when-selected {
    visibility: visible;
  }
}

.panel-list-when-selected {
  visibility: hidden;
}

.panel-list a.panel-list-remove {
  float: right;
  color: #fff;
  color: rgba(255,255,255, 0.2);
  @include transition(color 0.3s ease-in-out);

  &:hover {
    color: #e74c3c;
  }
}

.panel-list-title {
  font-size: 1.1em;
  padding: 0 .5em .2em;
}

.portal-escape {
  color: #c9c9c9;
  margin-top: 2em;
  padding: 1em .5em .5em;
  border-top: 1px solid #888;
}

.portal-escape a {
  color: #c9c9c9;
  text-decoration: underline;
  &:link, &:visited {
    color: #c9c9c9;
  }
}
