$panel-list-item-height: 85px;
$panel-list-thumbnail-size: $panel-list-item-height;

.panel-list {
  margin-bottom: $panel-list-item-height + 5px;

  .button {
    @include light-button;
    font-size: 1.2em;
    padding: 7px 10px;
  }
}

.panel-list-list {
  margin-top: 0;
}

.panel-list-item {
  color: #fff;
  background-color: #222;
  border-left: 10px solid #323232;
  margin: 0 0 1px 0;
  height: $panel-list-thumbnail-size + 20px;
  padding: 10px 10px 10px 14px;
  font-size: .8em;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    border-left-color: #7f8c8d;
    background-color: #262626;
  }

  h3 {
    overflow: hidden;
  }
}

.empty-button {
  visibility: hidden;
}

.panel-list-item-with-thumb {
  padding-left: $panel-list-thumbnail-size + 4px;
}

.panel-list-focused {
  border-color: #00f;
  background-color: #ddf;
}

.panel-list-thumbnail-container {
  display: block;
  float: left;
  position:relative;
  margin-left: -($panel-list-thumbnail-size - 4px);
  margin-right: .5em;
}

.panel-list-thumbnail {
  height: $panel-list-thumbnail-size;
  width: $panel-list-thumbnail-size;
  border: 5px solid #323232;
}

.panel-list-thumbnail-placeholder {
  color: #bbb;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  padding: 12px 4px 4px 4px;
  background: #e3e3e3;
  border: 5px solid #111;
  line-height: 1.2em;
}

.panel-list-meta {
  text-align:right;
  padding: 0;
  margin: 0;
  font-size: .8em;
  color: #666;
  line-height: 1.5;
}

.badge {
  position: absolute;
  top: 0;
  display: block;
  @include retina-image(gibs, 50px 50px, png, null, true);
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
}

.panel-list-muted {
  font-size: .9em;
  padding: 0;
  color: #7f8c8d;
}

.panel-list-details {
  font-size: .8em;
  background: #111;
  border-radius: 5px;
  padding: 4px 8px;
  display: inline;
  color: #fff;
}

.panel-list-item-actions {
  position: absolute;
  padding: 1em;
  right: 0;
  bottom: 0;
}

.panel-list-selected {
  padding-left: 10px;
  border-left: 5px solid #00f;

  .panel-list-when-selected {
    visibility: visible;
  }
}

.panel-list-selected.panel-list-item-with-thumb {
  padding-left: $panel-list-thumbnail-size;
}

.panel-list-when-selected {
  visibility: hidden;
}

.panel-list a.panel-list-remove {
  float: right;
  color: #000;
  font-size: 1.5em;

  &:hover {
    color: #800;
  }
}