$panel-list-item-height: 81px;
$panel-list-thumbnail-size: $panel-list-item-height;
$panel-list-thumbnail-container-size: $panel-list-thumbnail-size + 4px;

.panel-list {

  .button {
    @include list-panel-button;
    font-size: 1.2em;
    padding: 7px 10px;
  }
}

.panel-list-list {
  margin-top: 0;
  background: $master-overlay-info-bg-color;
}

.panel-list-item, .panel-list-list > .sortable-placeholder {
  color: #424242;
  background-color: #fff;
  border-top: 1px solid #e3e3e3;
  margin: 0;
  min-height: $panel-list-thumbnail-size + 30px;
  padding: 10px 10px 10px 14px;
  font-size: .8em;
  position: relative;

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(odd) {
    background: #f4f7fa;
  }

  &.master-overlay-forward:hover {
    background-color: #eee;
  }

  h3 {
    font-size: 1em;
    word-wrap: break-word;
    padding: 8px 0;
    margin: 0;
  }
}

.granule-match-stats {
  color: lighten($overlay-heading-font-color, 15%);
  font-size: 0.8em;
  margin: 10px 20px 0 20px;
  padding: 0;
}

.granule-list {

  .master-overlay-info {
    padding: 10px 20px;
  }

  .panel-list-list {
    padding: 0 10px 10px 10px;
    background: #ecf0f1;
  }

  .panel-list-thumbnail-container {
    border: none;
    margin: 0;
  }

  .panel-list-item {
    width: 268px;
    float: left;
    margin: 6px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.03);
    padding: 0;
  }

  .panel-list-item:nth-child(odd) {
    background: #fff;
  }

  .button {
    @include list-panel-button;
    float: left;
    border-left: 0;
    border-radius: 0;
  }

  .granule-temporal-range {

    .temporal-start {
      background: rgba(39, 174, 96,0.1);
      overflow: hidden;
    }

    .temporal-end {
      background: rgba(192, 57, 43,0.1);
      border-bottom: 1px solid rgba(192, 57, 43,0.2);
      overflow: hidden;
    }

    .temporal-start h5, .temporal-start p {
      margin: 0px;
      padding: 4.1px 9px;
      display: inline-block;
      font-size: .9em;
    }

    .temporal-start h5 {
      color: rgba(39, 174, 96,1);
      width: 50px;
    }

    .temporal-start p {
      float: right;
    }

    .temporal-end h5, .temporal-end p {
      margin: 0px;
      padding: 4.1px 9px;
      display: inline-block;
      font-size: .9em;
    }

    .temporal-end h5 {
      color: rgba(192, 57, 43,1);
      width: 50px;
    }

    .temporal-end p {
      float: right;
      wrap-option: none;
    }
  }

  h3 {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 8px;
    font-weight: normal;
  }
}

.panel-list-item > p {
  margin-left: $panel-list-thumbnail-container-size;
  display: table;
}

// Drag handles instead of borders
.panel-list-item[draggable=true] {
  border-left: 0;
}

.panel-list-drag-handle {
  float: left;
  border: 2px solid #424242;
  border-top: 0;
  border-bottom: 0;
  cursor: move;
  height: $panel-list-item-height + 12px;
  width: 8px;
  margin: -6px 12px -6px -8px;
}

.panel-list-list > .sortable-placeholder {
  border: 3px dashed #424242;
}

.empty-button {
  visibility: hidden;
}

.panel-list-focused {
  cursor: pointer;

  h3 {
    color: rgba(52, 152, 219,1.0);
  }
}

.panel-list-info-container {
  display: inline-block;
  width: 80%;
}

.panel-list-item-actions-container {
  display: inline-block;
  vertical-align: top;
  float: right;
}

.panel-list-item-actions {

  &.granule-item-actions {
    float: left;
  }

  ul.dropdown-menu {
    background-color: #fff;
    background-image: none;

    a.dropdown-link:hover {
      background: $dropdown-highlight;
    }

    > li > a.dropdown-link:hover {
      color: #ddd;
    }
  }
}

.panel-list-thumbnail-container {
  display: block;
  float: left;
  position:relative;
  width: $panel-list-thumbnail-container-size;
  height: $panel-list-thumbnail-container-size;
  background-color: #222;
  border: 1px solid rgb(235, 235, 235);
  text-align: center;
  line-height: $panel-list-thumbnail-size - 1px;
  margin-right: 8px;
}

.panel-list-thumbnail-onerror {
  display: block;
  float: left;
  position:relative;
  margin-right: .5em;
  width: $panel-list-thumbnail-size + 10px;
  height: $panel-list-thumbnail-size + 10px;
  background-color: #222;
  border: 5px solid #323232;
  text-align: center;
  overflow: hidden;
}

.panel-list-thumbnail {
  max-width: $panel-list-item-height;
  max-height: $panel-list-item-height;
}

.panel-list-thumbnail-placeholder {
  color: #999;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 4px 4px 4px;
  @include linear-gradient(#1c1c1c, #181818);
  border: 5px solid #111;
  line-height: 1.2em;

  i {
    font-size: 1.8em;
    margin-bottom: 5px;
    opacity: .3;
  }
}

.panel-list-badges {

  display: flex;
  margin: 0.5em 0 0 0;

  a {
    color: #fff;
  }

  .tooltip {
    width: $facet-overlay-width;
    text-transform: none;
  }

  .tooltip.right .tooltip-arrow {
    border-right-color: #263c50;
  }

  .tooltip.top .tooltip-arrow {
    border-top-color: #263c50;
  }

  .tooltip-inner {
    max-width: $facet-overlay-width;
    background-color: #263c50;
  }

}

.badge {
  display: flex;
  margin-right: 0.25em;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.badge-content {
  padding: 5px 8px;
  color: #fff;
  font-size: 11px;
  line-height: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;

  .badge-meta & {
    text-transform: none;
  }
}

.badge-gibs {
  background-color: $gibs;
}

.badge-customizable {
  background-color: $customizable;
}

.badge-nrt {
  background-color: $nrt;
  // @include retina-image(nrt, 22px 22px, png, null, '@2x', true);
}

.badge-cwic {
  background-color: $cwic;
  // @include retina-image(nrt, 22px 22px, png, null, '@2x', true);
}

.badge-content-secondary {
    background: rgba(0, 0, 0, 0.23)
}

.fa.badge-content-icon {
  font-size: 12px;
  line-height: 12px;
  margin: 0 1px;

  &.fa-file-text-o {
    margin-left: 2px;
  }
}

.facets-list-hide .badge {
  display: none;
}

.facets .badge {
  margin: 0 .5em 0 0;
}

.circle-badge-gibs {
  background-color: $gibs;
}

.circle-badge-customizable {
  background-color: $customizable;
}

.circle-badge-nrt {
  background-color: $nrt;
}

.panel-header-toggle {
  line-height: 1.5em;
}

.panel-list-muted {
  font-size: .9em;
  padding: 0;
  color: #7f8c8d;
}

.panel-list-comparison-details {
  font-size: .9em;
}

.panel-list-item:after {
    content: "";
    display: block;
    clear: right;
}

#granule-list:focus, #granule-list.has-focus {
  .panel-list-selected {
    h3 {
      color: rgba(52, 152, 219,1.0);
    }
  }
}

.panel-list-selected {

  h3 {
    color: rgba(52, 152, 219,1.0);
  }

  .panel-list-when-selected {
    visibility: visible;
  }
}

.panel-list-when-selected {
  visibility: hidden;
}

.panel-list a.panel-list-remove {
  float: right;
  @include transition(color 0.3s ease-in-out);
  font-size: 1.6em;
  line-height: 1em;
  padding-left: 2px;
  &:hover {
    color: #e74c3c;
  }
}

.panel-list-title {
  font-size: 1.1em;
  padding: 0 .5em .2em;
  color: #c9c9c9
}

.portal-escape {
  color: #424242;
  margin-top: 1.6em;
  padding: 15px 20px;
  border-top: 1px solid #e3e3e3;
}

.portal-escape a {
  text-decoration: underline;
}
