.panel-item-section:first-child {
  margin-top: 4em;
}

.panel-item-section:not(:first-child) {
  margin-top: 2em;
}

.panel-item-section-padded {
  padding: 15px;
}

.panel-item-section-title {
  color: #555;
  margin-bottom: 0.75em;
}

.panel-item-heading {
  margin: 0 0 0.325em 0;
}

.panel-item-content {
  font-size: 0.875em;
}

.panel-item-content-emphasis {
  font-weight: 700;
  font-style: italic;
  color: #7f7f7f;
}

.panel-item-action-button {
  font-size: 0.875em;
  color: #428bca;

  &:hover {
    color: #2980b9;
  }
}
