.panel-item-section:not(:first-child) {
  margin-top: 2em;
}

.panel-item-section-padded {
  padding: 15px;
}

.panel-item-section-has-back-button {
  padding-top: 55px;
}

.panel-item-section-title {
  margin-bottom: 0.75em;
  font-size: 16px;
  color: #333;
}

.panel-item-heading {
  margin: 0 0 0.325em 0;
}

.panel-item-content {
  font-size: 0.875em;
}

.panel-item-action {
  margin-top: 10px;
}

.panel-item-content-emphasis {
  font-weight: 700;
  font-style: italic;
  color: #7f7f7f;
}

.panel-item-action-button {
  font-size: 0.875em;
  color: #428bca;

  &:hover {
    color: #2980b9;
  }
}
