.projects-page {
  .wrap {
    border-top: 5px solid $ocean-blue;
  }
}

.project {

  min-height: calc(100vh - 67px);
  display: flex;

  .project-info-sidebar {
    color: #fff;
    width: 300px;
    padding: 0;
    box-shadow: 5px 0 0 rgba(0,0,0,0.1);
    z-index: 1;

    header {
      padding: 0 20px;
    }
  }

  .project-info-details {
    min-height: calc(100vh - 226px);
    padding: 0 20px;
  }
 
  .project-details {
    font-size: .9em;
    margin-left: 3px;
  }

  .project-details-row {
    padding: 0.15em 0;
  }

  .collection-constraint-details {
    padding: 5px 10px;
  }

  .bounding-box {
    width: 260px;
    background: #121212;
    padding: 5px;

    .fa {
      font-size: .8em
    }   
  }

  .project-info-actions {
    background: lighten(#000, 10%);
    color: #fff;
    height: 65px;
  }

  .project-collections {
    background: $light-grey;
    flex: 1;

    h2 {
      font-size: 1.8em;
      font-weight: 200;
      max-width: calc(100% - 380px);
      display: inline-block;
      vertical-align: middle;
    }

    h2, ul {
      margin: 0;
      background: #fff;
      padding: 20px;
    }

    ul {
      border-bottom: 1px solid #ccc;
    }

    .project-collection-cards {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 20px 0 0 20px;
      min-height: calc(100vh - 300px);
      background: #f4f4f4;
    }

    .collection-card {
      flex: 0 0 350px;
      height: 210px;
      border: 1px solid #ddd;
      margin: 0 20px 20px 0;
      background: #ebebeb;
      border-radius: 5px;
      overflow: hidden;
      @include transition(all 0.1s linear);

      &:hover {
        border: 1px solid rgba($ocean-blue, 0.3);
      }

      .modal-header {
        background-color: #fff;

        h1 {
          padding-left: 10px;
        }

        .close {
          background-color: #fff;
          background-image: none;
          float: right;
          color: #e1e1e1;
          font-size: 1.8em;
          text-shadow: none;
        }
      }

      .modal-body {
        max-height: 500px;
      }

      .collection-card-content {
        height: 151px;
        background: #fff;
        padding: 10px;
        border-bottom: 1px solid #ccc;

        h3 {
          font-size: 0.9em;
          min-height: 60px;
        }

        .collection-extra {
          margin-top: 15px;

          .label-primary {
            font-size: 1.6em;
            font-weight: bold;
            display: inline;
          }

          .label-secondary {
            font-size: .9em;
            color: #a1a1a1;
          }

          .collection-capability {
            color: #c9c9c9;
            display: inline;
            font-size: 1em;
            padding-left: 10px;
            cursor: default;

            span {
              margin: 0 2px;
            }

            .enabled {
              color: #359ad9
            }
          }
        }
      }

      .action-container {
        background-color: #ededed;

        .action-button {
          @include gradient-animation(#fff, #ddd, #fff, #fff, .2s);
          display: inline-block;
          border: 1px solid #e3e3e3;
          color: #424242;
          border-radius: 5px;
          font-size: 1em;
          padding: 5px 14px;
          margin-left: 8px;
          outline: none;
          text-decoration: none;
          margin-top: 12px;
          cursor: pointer;

          &:before {
            border-radius: 5px;
          }
        }
      }
    }

    .project-stats {
      height: 86px;
      background: #fff;
      border-bottom: 1px solid #ccc;

      li {
        display: inline-block;
        font-size: 2em;
        padding-right: 40px;
        color: darken($light-grey, 20%);
      }

      .value {
        font-weight: bold;
        color: $overlay-heading-font-color;
      }

      .info {
        text-decoration: none;
        color: darken($light-grey, 20%);
        font-size: large;
        vertical-align: middle;
        @include transition(color 0.1s linear);

        &:hover {
          color: darken($light-grey, 40%);
        }
      }

      .tooltip {
        width: 400px;
      }

      .tooltip-inner {
        white-space: pre-wrap;
        text-align: left;
        max-width: 400px;
      }
    }
  }

  .project-collection-notes {
    background: darken($light-grey, 5%);
    color: $overlay-heading-font-color;
    height: 65px;
  }

  i.save-success, i.after-save {
    display: none;
    color: #2ecc71;
  }

  .save-project {
    float: right;
  }

  .dropdown {
    .save-dropdown {
      vertical-align: middle;
      padding-bottom: 0;
    }

    ul {
      padding: 0;
    }
  }

  .save-icon {
    color: #a1a1a1;
    font-size: 18px;
  }

  .project-title-container {
    background: #fff;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
  }
}
