// Card colors
$card-background: rgba(235,235,235,1);


.projects-page {
  .wrap {
    border-top: 5px solid $ocean-blue;
  }
}

.project {

  min-height: calc(100vh - 67px);
  display: flex;

  .action-container {
    background-color: #ededed;
  }

  .action-button {
    @include gradient-animation(#fff, #efefef, #fff, #fff, .2s);
    display: inline-block;
    border: 1px solid #e3e3e3;
    color: #424242;
    border-radius: 3px;
    font-size: 1em;
    padding: 6px 14px;
    margin-left: 8px;
    outline: none;
    text-decoration: none;
    margin-top: 8px;
    cursor: pointer;

    &:before {
      border-radius: 3px;
    }
  }

  .action-button.customize {
    min-width: 120px;
    text-align: center;
  }

  .action-button.remove {
    margin-right: 8px;
    float: right;

    .fa {
      color: #c0392b;
    }
  }

  .project-info-sidebar {
    color: #fff;
    width: 300px;
    padding: 0;
    box-shadow: 5px 0 0 rgba(0,0,0,0.1);
    z-index: 1;

    header {
      padding: 0 20px;
    }

    footer {
      text-align: center;
      padding: 10px 20px;
    }
  }

  .project-info-details {
    min-height: calc(100vh - 226px);
    padding: 0 20px;

    h3, ul {
      color: #eee;
      margin-top: 5px;
      margin-left: 5px;
    }

    li span {
      font-weight: bold;
    }

    > ul > li {
      font-size: 0.8em;
      border-top: 1px solid #424242;
      padding: 5px;
    }
  }

  .project-details {
    font-size: .9em;
    margin-left: 3px;
  }

  .project-details-row {
    padding: 0.15em 0;
  }

  .collection-constraint-details {
    padding: 5px 10px;
  }

  .bounding-box {
    width: 260px;
    background: #121212;
    padding: 5px;
    margin-bottom: 10px;

    .fa {
      font-size: .8em
    }
  }

  .project-info-actions {
    background: lighten(#000, 10%);
    color: #fff;
    height: 65px;
  }


  .project-download-tooltip {
    display: inline-block;
    width: 100%;
  }

  .project-download-tooltip-disabled {
    cursor: not-allowed;
  }

  .project-collections {
    background: $light-grey;
    flex: 1;

    h2 {
      font-size: 1.8em;
      font-weight: 200;
      display: inline-block;
      vertical-align: middle;
    }

    .project-panel {
      margin: 0;
      background: #fff;
      padding: 20px;
    }

    .project-collection-cards {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      padding: 20px 0 0 20px;
      min-height: calc(100vh - 300px);
      background: #f4f4f4;
    }

    .collection-card {
      flex: 0 0 350px;
      height: 210px;
      border: 1px solid darken($light-grey, 5%);
      box-shadow: 0 0 15px rgba(0,0,0,0.04);
      margin: 0 20px 20px 0;
      background: $card-background;
      border-radius: 5px;
      overflow: hidden;
      @include transition(all 0.15s linear);

      &:hover {
        border: 1px solid darken($light-grey, 10%);
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
      }

      .collection-card-content {
        height: 155px;
        background: #fff;
        padding: 15px;
        border-bottom: 1px solid #ccc;

        h3 {
          font-size: 0.9em;
          min-height: 60px;
        }

        .collection-extra {
          margin-top: 15px;

          .label-primary {
            display: inline;
            font-size: 1.6em;
            font-weight: bold;
          }

          .label-secondary {
            margin: 0;
          }

          .collection-capability {
            color: #c9c9c9;
            display: inline-block;
            font-size: 1em;
            padding-left: 5px;
            cursor: default;

            span {
              margin: 0 2px;
            }

            .enabled {
              color: #359ad9
            }
          }

          .collection-capability-loading-granules {
            margin-top: 1.65em;
            margin-bottom: 0.7em;
            height: 1.35em;
            width: 10em;

            .loading-content-inner {
              width: 20em
            }
          }

          .collection-capability-loading-details {
            width: 70%;
            height: 0.65em;
            margin-bottom: 0;

            .loading-content-inner {
              width: 20em
            }
          }
        }
      }
    }

    .project-stats {
      height: 86px;
      background: #fff;
      border-bottom: 1px solid #ccc;

      li {
        display: inline-block;
        font-size: 2em;
        padding-right: 40px;
        color: darken($light-grey, 20%);
      }

      .value {
        font-weight: bold;
        color: $overlay-heading-font-color;
      }

      .info {
        text-decoration: none;
        color: darken($light-grey, 20%);
        font-size: large;
        vertical-align: middle;
        @include transition(color 0.1s linear);

        &:hover {
          color: darken($light-grey, 40%);
        }
      }

      .tooltip {
        width: 400px;
      }

      .tooltip-inner {
        white-space: pre-wrap;
        text-align: left;
        max-width: 400px;
      }
    }
  }

  .project-collection-notes {
    background: darken($light-grey, 5%);
    color: $overlay-heading-font-color;
    height: 65px;
  }

  .save-pending,
  .save-success,
  .after-save {
    display: none;
  }

  .save-pending {
    color: #b3b3b3;

    .fa-spinner {
      @include animation(spinner 2s linear infinite);
    }
  }

  .save-success {
    color: #2ecc71;
  }

  .save-project {
    float: right;
  }

  .dropdown {
    .save-dropdown {
      vertical-align: middle;
      padding-bottom: 0;
    }

    ul {
      padding: 0;
    }
  }

  .save-dropdown-input-container {
    width: 257px;
    padding: 5px;
    top: 30px;
    right: -3px;
  }

  .save-dropdown-form {
    display: flex;
  }

  .save-dropdown-input {
    flex-grow: 1;
    margin-right: 5px;
  }

  .save-icon {
    color: #a1a1a1;
    font-size: 18px;
  }

  .project-title-container {
    background: #fff;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
  }

  .project-header {
    display: flex;
    align-items: center;
  }

  .project-title {

    .editable-text-wrapper {
      margin-right: 1em;
    }

    .editable-text-content {
      margin-bottom: 0;
      margin-right: 0.25em;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid #ededed;
      }
    }

    .editable-text-input {
      min-width: 1em;
      max-width: 15em;
      padding: 0;
      font-size: 1.8em;
      font-weight: 200;
      border: none;
      border-bottom: 2px solid $ocean-blue;
    }

    .editable-text-button-edit {
      width: 2em;
      height: 2em;
      background-color: #fff;
      border-radius: 50%;
      color: #ababab;
      background-image: none;
      text-shadow: none;
      text-align: center;

      &:hover {
        background-color: #ececec;
        color: #949393;
      }

      .fa-pencil {
        position: relative;
        top: -3px;
        left: -2px;
      }
    }

    .editable-text-button-cancel {
      font-weight: normal;
    }
  }

  /* Project Modals */
  .modal-header {
    background-color: #fff;
    padding-left: 25px;
    padding-right: 25px;
  }

  .modal-body {

    .panel-list-thumbnail-container {
      border: 0;
      margin: 0 15px 0 0;
    }

    .granule-text-container {
      padding: 15px 25px;

      h5 {
        font-size: 1.1em;
        margin: 0;
        color: #424242;
      }

      span {
        font-size: 1em;
        color: #aaa;
      }

      .modal-item-actions {
        float: right;
        margin-top: -25px;

        a {
          color: #e1e1e1;
          font-size: 1.8em;

          &:hover {
            color: #9c9c9c;
          }
        }
      }
    }

    .access-form {
      border: 0;
      background: inherit;
      font-size: .9em;

      .echoforms-control {
        padding: .7em 0 .5em 0;
      }

      .jstree-node {
        border: none;
        height: inherit;
        background: inherit;
      }

      .jstree-children {
        border: none;
      }
    }
  }

  .modal-footer {
    text-align: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    p {
      margin: 5px 0 0 0;
      padding: 0;
      display: inline-block;
    }

    .action-container {
      text-align: right;
      background: #fff;

      .action-button {
        margin-top: 0;
      }
    }
  }

  .collection-customization {
    .modal-body {
      background: #f2f2f2;
      padding: 30px;
      padding-bottom: 20px;
    }

    p.content {
      padding: 15px 25px 0;
      text-align: center;
      color: darken($light-grey, 30%);
    }

    p.content .fa {
      padding-right: 3px;
    }

    .customization-options {
      display: flex;

      .fa {
        color: #e1e1e1;
        font-size: 4em;
        margin-bottom: 10px;
        text-align: center;
      }

      .customization-column {
        padding: 0 25px;
        flex-direction: column;
        flex: 1;
        display: flex;
        margin-bottom: 20px;

        p {
          margin: 1em 0;
        }

        .action-container {
          margin-top: auto;

          .action-button {
            margin: 0;
            display: block;
            text-align: center;
            font-weight: bold;
          }
        }
      }
    }
  }

  .keyword-list {
    margin: 0;
    padding: 0;
  }

  .keyword-list-item {
    height: auto;
    padding: 10px 20px;
  }

  .variable-selection {
    .message-container p {
      margin: .75em;
      font-weight: bold;
    }

    .variable-list {
      padding: 10px 15px;
    }

    .variable-detail {
      position: absolute;
    }

    .selected-keyword {
      display: block;
      font-size: 1em;
      text-transform: uppercase;
    }

    .child-spacer {
      padding: 0 5px;
      color: darken($light-grey, 10%);
    }

    .pill {
      background-color: #2980b9;
      color: #fff;
      border-radius: 10px;
      padding: 2px 10px;
      font-size: .8em;
      float: right;
    }
  }

  .collection-variable-list-item {
    padding: 5px 0;
  }

  .collection-variable-info {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
  }

  .collection-variable-heading {
    display: inline-block;
    margin: 0;
  }

  .collection-variable-longname {
    font-style: italic;
  }

  .collection-variable-meta {
    margin: 0;
  }

  .variable-details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 15px;

    .collection-variable-heading {
      display: block;
      margin-top: 2em;
    }

    .collection-variable-longname {
      margin-bottom: 0.75em;
    }
  }

  .selected-collection-variables {
    margin-top: 0;
    margin-bottom: 0;
  }

  #project-empty-notice {
    display: none;
    font-size: 1.3em;
    font-style: italic;
    color: darken($light-grey, 20%);
    margin: 0 auto;
    padding-top: 3em;
  }
}

@include keyframes(spinner) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}
