$panel-list-item-height: 81px;
$panel-list-thumbnail-size: $panel-list-item-height;
$panel-list-thumbnail-container-size: $panel-list-thumbnail-size + 4px;

.project-granules-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.project-granules-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    background: #eee;
  }
}

.project-granules-list-item-main {
  display: flex;
  align-items: center;
}

.project-granules-list-item-content {
  padding: 0.675em;
}

.project-granules-list-item-actions {
  padding: 0.675em;

  a {
    color: #7F7F7F;
  }
  a:hover {
    color: #525252;
  }
}

.project-granules-list-item-thumb-link {
  width: $panel-list-thumbnail-container-size;
  height: $panel-list-thumbnail-container-size;
  background-color: #222;
  border: 1px solid rgb(235, 235, 235);
  text-align: center;
}

.project-granules-list-item-thumb {
  max-width: $panel-list-item-height;
  max-height: $panel-list-item-height;
}

.project-granules-list-item-title {
  margin: 0;
}

.project-granules-list-item-temporal {
  margin-top: 0.425em;
  font-size: 0.875em;
  color: #7F7F7F;
}
