// Card colors
$card-background: rgba(235,235,235,1);

.project {
  .map {
    background: #000000;
  }

  .master-overlay-main {
    display: none;
  }

  .action-container {
    background-color: #ededed;
  }

  .action-button {
    @include gradient-animation(#fff, #efefef, #fff, #fff, .2s);
    display: inline-block;
    border: 1px solid #e3e3e3;
    color: #424242;
    border-radius: 3px;
    font-size: 1em;
    padding: 6px 14px;
    margin-left: 8px;
    outline: none;
    text-decoration: none;
    margin-top: 8px;
    cursor: pointer;

    &:before {
      border-radius: 3px;
    }
  }

  .action-button.customize {
    min-width: 120px;
    text-align: center;
  }

  .action-button.remove {
    margin-right: 8px;
    float: right;

    .fa {
      color: #c0392b;
    }
  }

  .project-info-sidebar {
    color: #fff;
    width: 300px;
    padding: 0;
    box-shadow: 5px 0 0 rgba(0,0,0,0.1);
    z-index: 1;

    header {
      padding: 0 20px;
    }

    footer {
      text-align: center;
      padding: 10px 20px;
    }
  }

  .project-info-details {
    min-height: calc(100vh - 226px);
    padding: 0 20px;

    h3, ul {
      color: #eee;
      margin-top: 5px;
      margin-left: 5px;
    }

    li span {
      font-weight: bold;
    }

    > ul > li {
      font-size: 0.8em;
      border-top: 1px solid #424242;
      padding: 5px;
    }
  }

  .project-details {
    font-size: .9em;
    margin-left: 3px;
  }

  .project-details-row {
    padding: 0.15em 0;
  }

  .collection-constraint-details {
    padding: 5px 10px;
  }

  .bounding-box {
    width: 260px;
    background: #121212;
    padding: 5px;
    margin-bottom: 10px;

    .fa {
      font-size: .8em
    }
  }

  .project-collections {
    background: $light-grey;
    flex: 1;

    h2 {
      font-size: 1.8em;
      font-weight: 200;
      max-width: calc(100% - 380px);
      display: inline-block;
      vertical-align: middle;
    }

    .project-panel {
      margin: 0;
      background: #fff;
      padding: 20px;
    }
  }

  .project-collection-notes {
    background: darken($light-grey, 5%);
    color: $overlay-heading-font-color;
    height: 65px;
  }

  i.save-success, i.after-save {
    display: none;
    color: #2ecc71;
  }

  .save-project {
    float: right;
  }

  .dropdown {
    .save-dropdown {
      vertical-align: middle;
      padding-bottom: 0;
    }
  }

  .save-icon {
    color: #a1a1a1;
    font-size: 18px;
  }

  .project-title-container {
    background: #fff;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
  }

  /* Project Modals */
  .modal-header {
    background-color: #fff;
    padding-left: 25px;
    padding-right: 25px;
  }

  .panel-list-thumbnail-container {
    border: 0;
    margin: 0 15px 0 0;
  }

  .granule-text-container {
    padding: 15px 25px;

    h5 {
      font-size: 1.1em;
      margin: 0;
      color: #424242;
    }

    span {
      font-size: 1em;
      color: #aaa;
    }

    .modal-item-actions {
      float: right;
      margin-top: -25px;

      a {
        color: #e1e1e1;
        font-size: 1.8em;

        &:hover {
          color: #9c9c9c;
        }
      }
    }
  }

  .access-form {
    border: 0;
    background: inherit;
    font-size: .9em;

    .echoforms-control {
      padding: .7em 0 .5em 0;
    }

    .jstree-node {
      border: none;
      height: inherit;
      background: inherit;
    }

    .jstree-children {
      border: none;
    }
  }

  .modal-footer {
    text-align: left;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    p {
      margin: 5px 0 0 0;
      padding: 0;
      display: inline-block;
    }

    .action-container {
      text-align: right;
      background: #fff;

      .action-button {
        margin-top: 0;
      }
    }
  }

  .keyword-list {
    margin: 0;
    padding: 0;
  }

  .keyword-list-item {
    position: relative;
    height: auto;
    font-size: 0.875em;
    border: 0;
  }

  .keyword-list-item-link {
    display: block;
    color: #525252;
    padding: 10px 15px;

    &:hover {
      background: #e4e3e3;
    }
  }
}
