.radio-list {
    width: 300px;

    .tooltip {
        width: 350px;
        text-align: left;
    }

    .tooltip-inner {
        max-width: 350px;
        text-align: left;
    }
}

.radio-list__item {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2 ease;
    background: #FFF;

    &:hover {
        border: 1px solid #E2E2E2;
    }
}

.radio-list__item--active {
    background: #EFEFEF;
    border: 1px solid #E2E2E2;

    .radio-list__item-title {
        color: #5B5B5B;
    }
}

.radio-list__item-input {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 5px;
}

.radio-list__item-title {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    color: #7F7F7F;
}

.fa.radio-list__item-title-tooltip {
    display: inline-block;
    vertical-align: middle;
    margin-top: 1px;
    font-size: 0.825em;
    line-height: 1em;
    color: #AFAEAE;
}