//
// Global EDSC UI Settings
// These rules are inheritied by all module stylesheets
//

// Layout Dimensions
// ========================================

$toolbar-search-field-width: 375px;
$toolbar-search-field-sm-width: 250px;


// Colors
// ========================================

// Buttons
$button-dark-bottom-gradient: #315880;
$button-dark-hover-gradient: #4a739b;
$button-dark-top-gradient: #5382b1;
$button-dark-text-shadow: #315880;
$button-dark-lp-border: #fff;

$dropdown-highlight: #264463;

// Toolbar and Footer
$toolbar-background: #2c3e50;
$toolbar-background-bottom: #283949;
$toolbar-accent-border: #21303f;

// Master Overlay
$master-overlay-parent-bg-color: transparentize(#111, .2);
$master-overlay-parent-on-main-bg-color: transparentize(#111, .3); // Used when drawing parent overlapping main
$master-overlay-main-bg-color: transparentize(#111, .1);
$overlay-heading-font-color: #c9c9c9;