//
// Global EDSC UI Settings
// These rules are inheritied by all module stylesheets
//

// Layout Dimensions
// ========================================

$toolbar-search-field-width: 325px;
$toolbar-search-field-sm-width: 200px;

$toolbar-logo-width: 172px;
$toolbar-logo-container-width: 295px;
$search-container-clearance: 180px;


// Colors
// ========================================

// EUI
$ocean-blue: rgb(34, 118, 172);
$light-grey: rgb(235, 235, 235);

// Buttons
$button-dark-hover: #315880;
$button-dark: #5382b1;
$button-dark-text-shadow: #315880;
$button-dark-lp-border: #fff;
$button-disabled: #95a5a6;

$dropdown-highlight: $ocean-blue;

// Badges
$nrt: #01cf6b;
$gibs: #ec8101;
$customizable: #1b97e1;
$cwic: #ccaa00;

// Toolbar
$toolbar-background: #fff;
$toolbar-background-bottom: #283949;
$toolbar-accent-border: #236d9e;

// Footer
$footer-background: rgba(41, 128, 185,1.0);

// Tophat height
$tophat-clearance: 10px;

// Master Overlay
$master-overlay-parent-bg-color: #191A1B;
$master-overlay-parent-on-main-bg-color: transparentize(#111, .3); // Used when drawing parent overlapping main
$master-overlay-main-bg-color: transparent;
$master-overlay-info-bg-color: #fff;
$master-overlay-tab-color: #fff;
$overlay-heading-font-color: #424242;

// Facet Overlay
$facet-overlay-width: 300px;

// Collapsed Overlay
$collapsed-overlay-width: 450px;

// Order Status Badges
$status-badge-default: #34495e;
$status-badge-success: #27ae60;
$status-badge-failure: #e74c3c;
