//
// Global EDSC UI Settings
// These rules are inheritied by all module stylesheets
//

// Layout Dimensions
// ========================================

$toolbar-search-field-width: 300px;
$toolbar-search-field-sm-width: 200px;

$toolbar-logo-width: 172px;
$toolbar-logo-container-width: 275px;


// Colors
// ========================================

// EUI
$ocean-blue: rgb(34, 118, 172);
$light-grey: rgb(235, 235, 235);

// Buttons
$button-dark-bottom-gradient: #315880;
$button-dark-hover-gradient: #4a739b;
$button-dark-top-gradient: #5382b1;
$button-dark-text-shadow: #315880;
$button-dark-lp-border: #fff;

$dropdown-highlight: $ocean-blue;

// Toolbar
$toolbar-background: #fff;
$toolbar-background-bottom: #283949;
$toolbar-accent-border: #236d9e;

// Footer
$footer-background: rgba(41, 128, 185,1.0);

// Tophat height
$tophat-clearance: 30px;

// Master Overlay
$master-overlay-parent-bg-color: #191A1B;
$master-overlay-parent-on-main-bg-color: transparentize(#111, .3); // Used when drawing parent overlapping main
$master-overlay-main-bg-color: transparent;
$master-overlay-info-bg-color: #fff;
$master-overlay-tab-color: #fff;
$overlay-heading-font-color: #424242;

// Facet Overlay
$facet-overlay-width: 280px;

// Collapsed Overlay
$collapsed-overlay-width: 450px;
