.timeline {
  height: 100px;
  min-height: 100px;
  position: relative;
  border-top: 1px solid #727272;
  box-shadow: 0 -10px 15px 0 rgba(0,0,0,.3);
  display: none;

  .busy {
    background-position: 0 bottom;
    padding: 0;
  }

}

.timeline.hasfocus {
  outline: none;
}

.timeline-tools {
  position: absolute;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3em;
  background-color: #2a2a2a;
  text-align: center;
  height: 100%;
  box-shadow: 5px 0 5px 0 rgba(0,0,0,.7);
  border-top: 1px solid #000;

  h1 {
    font-size: .7em;
    padding: .2em 0;
    margin: 0;
    text-transform: uppercase;
  }

  a {
    display: block;
    font-size: 1.6em;
    color: #7a7a7a;
    line-height: 1em;
    margin-top: 5px;

    &:hover {
      color: #aaa;
    }
  }
}

.timeline-min-zoom a.timeline-zoom-in,
.timeline-max-zoom a.timeline-zoom-out {
  color: #555;
  cursor: default;
}

.timeline-display {
  background-color: #1a1a1a;
  display: block;
  position: absolute;
  left:0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  cursor: move;
  border-bottom: 1px solid #727272;

  text {
    fill: #fff;
  }
}

.timeline-shadow {
  fill: #222;
  fill-opacity: .5;
}


.timeline-timeline {
  stroke: #a5a5a5;
  stroke-width: 2;
}

.timeline-tick {
  stroke: #3d3d3d;
}

.timeline-interval-start {
  stroke: #a5a5a5;
}

.timeline-data rect {
  fill: #25c85b;

  &.timeline-imprecise {
    fill-opacity: .5;
  }
}

.timeline-tick-crossing {
  stroke: #1a1a1a;
  fill: #fff;
  stroke-width: 2;
}

.timeline-dataset {
  font-size: 14px;
  font-weight: bold;
}

.timeline-display-top {
  fill: #2a2a2a;
  cursor: pointer;
}

.timeline-axis-label {
  font-size: 12px;
}

.timeline-axis-super-label {
  font-weight: bold;
}

.timeline-axis-sub-label {
  font-weight: bold;
}

.timeline-selection {
  fill: #c74105;
  stroke: #c74105;
}

.timeline-selection path {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.timeline-selection-region {
  fill-opacity: .5;
  stroke-width: 0;
}

.timeline-date-label:not(.timeline-nofocus) {
  cursor: pointer;

  &:hover {
    rect {
      fill: #2a2a2a;
    }

    text {
      fill: #3498db;
    }
  }
}

.timeline-nofocus {
  cursor: not-allowed;
}

.timeline-unfocused {
  pointer-events: none;
  fill: #000;
  fill-opacity: .5;
  stroke: desaturate(#3498db, 50%);
}

.timeline.hasfocus .timeline-unfocused {
  stroke: #3498db;
}
