.filter-stack {
  background: #111;

  a {
    float: right;
    padding-left: 12px;
  }
}

#temporal-query {
  color: #fff;
  z-index: 59;
  padding: 10px 15px;
  font-size: 1em;
}

#temporal-query p {
  margin: 0;
}

.manual-coord-entry {
  color: #fff;
  z-index: 59;
  padding: 10px 15px;
  font-size: 1em;

  label {
    min-width: 50px;
    padding-right: 5px;
    display: block;
    font-weight: bold;
  }

  input {
    min-width: 180px;
    padding: 2px 5px;
    border-radius: 3px;
    border: none;
    background: #424242;
    color: #e3e3e3;
    font-weight: normal;
  }
}

.toolbar a.toggle-filter-stack {
  background: #111;
  color: #fff;
  float: right;
}

.leaflet-top.leaflet-right {
  top: 80px;
  z-index: 100;
}

.leaflet-bar.projection-switcher a {
  @include retina-image(projection-sprite, 90px 30px, png, null, '@2x', true);

  &.projection-switcher-arctic {
    background-position: -59px -2px;
  }

  &.projection-switcher-geo {
    background-position: -31px -2px;
  }

  &.projection-switcher-antarctic {
    background-position: -3px -2px;
  }
}
