.filter-stack {
  background: #111;

  a {
    float: right;
    padding-left: 12px;
  }
}

#temporal-query {
  color: #fff;
  z-index: 59;
  padding: 10px 15px;
  font-size: 1em;
}

#temporal-query p {
  margin: 0;
}

.manual-coord-entry {
  color: #fff;
  z-index: 59;
  padding: 10px 15px;
  font-size: 1em;

  label {
    min-width: 50px;
    padding-right: 5px;
    display: block;
    font-weight: bold;
  }

  input {
    min-width: 180px;
    padding: 2px 5px;
    border-radius: 3px;
    border: none;
    background: #424242;
    color: #e3e3e3;
    font-weight: normal;
  }
}

/* Horizontal map toolbars */
.leaflet-bar a {
  float: left;

  &:first-child {
    border-bottom-left-radius: 4px;
    border-top-right-radius: 0;
  }

  &.leaflet-draw-edit-edit {
    float: right;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:last-child {
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #ccc;
  }

  &.leaflet-draw-edit-remove {
    float: right;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.leaflet-draw-section {
  margin-bottom: 36px;
  padding-left: 30px;
  float: right;
  margin: 0 0 0 10px;
  padding: 0;
}

.leaflet-draw-actions-top {
  margin-top: 0;
}

.leaflet-right .leaflet-draw-actions {
  top: auto !important;
  left: -115px;
}

.leaflet-draw-toolbar {
	margin-top: 0
}

.toolbar a.toggle-filter-stack {
  background: #111;
  color: #fff;
  float: right;
}

.leaflet-top.leaflet-right {
  top: 49%;
  z-index: 130;
}

.is-master-overlay-minimized {
  .leaflet-top.leaflet-right {
    top: 95%;
  }
}

.leaflet-control-layers {
  border-radius: 4px;
}

.leaflet-retina .leaflet-control-layers-toggle, .leaflet-control-layers-toggle {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  background-size: 16px 16px;
}

.leaflet-bar.projection-switcher a {
  @include retina-image(projection-sprite, 90px 30px, png, null, '@2x', true);

  &.projection-switcher-arctic {
    background-position: -59px -2px;
  }

  &.projection-switcher-geo {
    background-position: -31px -2px;
  }

  &.projection-switcher-antarctic {
    background-position: -3px -2px;
  }
}
