.popover.tour {
	.popover-title {
		font-weight: bold;
		font-size: 1.2em;
		padding: 10px 20px;
	}

	.popover-content {
		padding: 20px;

        td {
          vertical-align: top;
        }

		ul {
			margin: 0 0 10px 0;
		}

		p {
			margin-bottom: 10px;
		}
	}
}

.leaflet-control-layers-toggle-demo {
  background-image: image-url("leaflet-1.3.4/layers.png");
  background-size: 16px;
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
}


/* ================================================================== */
/* Unordered List with Icons For Map Tools Tour Section
/* ================================================================== */

.bullet-list {
  list-style-type: disc;
}

.tour-list {
  margin-left: 15px;
}

.tour-list-title {
	font-weight: 700;
}

.icon-list li {
  padding-left:20px;
}

.leaflet-draw-list i {
  background-image: image-url("leaflet.draw-0.2.2/spritesheet-2x.png");
  background-size: 270px 30px;
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  margin-left: -25px;
  margin-top: -3px;

}

.icon-leaflet-draw-edit-remove {
  background-position: -182px -2px;
}

.icon-leaflet-draw-edit-edit {
  background-position: -152px -2px;
}

.icon-leaflet-draw-draw-marker {
  background-position: -122px -2px;
}

.icon-leaflet-draw-draw-polygon {
  background-position: -31px -2px;
}

.icon-leaflet-draw-draw-rectangle {
  background-position: -62px -2px;
}

.icon-leaflet-draw-draw-circle {
  background-position: -92px -2px;
}

.projection-draw-list i {
  background-image: image-url("projection-sprite@2x.png");
  background-size: 90px 30px;
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  margin-top: -3px;
  margin-left: -25px;
}

.icon-projection-draw-arctic {
  background-position: 32px -2px;
}

.icon-projection-draw-geographic {
  background-position: -30px -2px;
}

.icon-projection-draw-antarctic {
  background-position: -92px -2px;
}

.zoom-draw-list i {
  position: absolute;
  margin-top: 3px;
  margin-left: -20px;
}

.icon-map-layers {
  background-image: image_url("leaflet-1.3.4/layers-2x.png");
  background-size: 15px 15px;
  content: '';
  width: 15px;
  height: 16px;
  position: absolute;
  margin-top: 2px;
  margin-left: -19px;
}

.toolbar-draw-list i {
  position: absolute;
  margin-top: 3px;
  margin-left: -18px;
}
