a:link, a:visited {
  color: #2980b9;

  &.close {
    color: #ccc;
  }

  &.close:hover {
    color: #999;
  }

  &.modal-close {
    color: #888;
    float: right;
  }

  &.modal-close:hover {
    color: #444;
  }

  &.clean {
    color: inherit;
    text-decoration: none;
  }

  &.underline {
    text-decoration: underline;
  }

  &.subtle {
    &:hover {
      color: #333
    }
  }

  &.ext {

    &:after {
      display: inline-block;
      padding-left: 0.3em;
      font-size: 0.9em;
      font-family: "EUI-Icon-Library";
      content: "\f111";
    }
  }
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0 0 .2em 0;
}

hgroup {

  & > h1 {
    margin-bottom: 0;
  }

  & > h2 {
    color: #999;
    font-weight: normal;
  }
}

header {
  h1 {
    margin: $tophat-clearance 0 0 0;
    width: $toolbar-logo-container-width;
    height: 80px;

    >a {
      margin-top: 10px;
    }
  }

  .site-logo-org {
    font-family: 'Open Sans', sans-serif;
    content: 'Earthdata';
    display: block;
    font-size: .475em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
  }

  .site-logo {
    color: #fff;
    height: 40px;
    float: left;
    line-height: 1.1em;
    font-weight: 300;
    font-size: 0.8em;
    @include transition(background 0.2s ease-in-out);
  }

  .nasa-logo {
    @include retina-image('app-logo', $toolbar-logo-width 40px, png, null, '_2x', true);
    height: 40px;
    width: 40px;
    margin-left: 0;
    float: left;
    background-repeat: no-repeat;
    text-indent: inherit;
    padding-left: 56px;
    padding-top: 10px;
    line-height: 1.1em;
    font-weight: 300;
    font-size: 0.8em;
    @include transition(background 0.2s ease-in-out);
  }

  .nasa-logo:hover {
    @include retina-image('app-logo_hover', $toolbar-logo-width 40px, png, null, '_2x', true);
  }

  .portal-logo {
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-size: auto 50px;
    height: 50px;
    text-indent: inherit;
    margin: 5px 5px 0 0;
    @include transition(background 0.2s ease-in-out);

    img {
      display: block;
      height: 50px;
    }
  }

  .version-badge {
    color: #fff;
    font-size: 0.4em;
    float: left;
    background: $ocean-blue;
    padding: 0.2em 0.6em;
    margin: 26px 5px 0;
    border-radius: 2px;
    text-shadow: 1px 1px rgba(0,0,0,0.4);
  }
}

ul {
  // Expect many more lists without bullets than lists with
  list-style: none;
  padding: 0;
}

.list-inline {
  & > li {
   display: inline-block;
  }
}

.list-divided {
  padding: 0.2em 0;
  line-height: 1.2em;

  & > li:not(:first-child) {
    margin-left: 0.425em;
    padding-left: 0.85em;
    border-left: 1px solid #c7c7c7;
  }
}

.list-alternating {
  padding: 0;

  & > li {
    border-bottom: 1px solid #ddd;

    &:nth-child(odd) {
      background: #f3f3f3;
    }
  }
}

// Image replacement
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.error {
  background: #c0392b;
  color: #fff;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0;
  white-space: pre-wrap;
  max-width: 200px;
}

.confirmation-message {
  background: #27ae60;
  color: #fff;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.info-alert {
  background: #3c5e87;
  color: #fff;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.message {
  padding: 1em;
  color: #fff;
  background: #323232;
  border-left: 10px solid #27ae60;

  &.message-warning {
    background: #f39c12;
    border-left: 10px solid #dc7921;
  }

  a:link, a:visited {
    font-weight: bold;
    text-decoration: underline;
  }
}

span.instructions {
  font-size: .9em;
  color: #999;
}

.truncate {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-info {
  font-size: .9em;
  color: #a1a1a1;
}
