.variable-selection {

  .message-container p {
    margin: .75em;
    font-weight: bold;
  }

  .variable-list {
    padding: 10px 0;
  }

  .variable-detail {
    position: absolute;
  }

  .selected-keyword {
    display: block;
    padding: 10px 15px;
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    background: #f3f3f3;
  }

  .child-spacer {
    padding: 0 5px;
    color: darken($light-grey, 10%);
  }

  .pill {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    background-color: #2980b9;
    color: #fff;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: .8em;
  }
}

.variable-selection-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding-bottom: 70px;
}

.collection-variable-list-item-label {
  display: flex;
  padding: 5px 15px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}

.collection-variable-list-item-input {
  margin-top: 1px;
}

.collection-variable-info {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
  font-size: 0.875em;
}

.collection-variable-heading {
  display: inline-block;
  margin: 0;
  line-height: 0.875em;
}

.collection-variable-longname {
  font-style: italic;
}

.collection-variable-meta {
  margin: 0;
}

.variable-details {

  .collection-variable-heading {
    display: block;
  }

  .collection-variable-longname {
    margin-bottom: 0.75em;
  }
}

.selected-collection-variables {
  margin-top: 0;
  margin-bottom: 0;
}
