.app-logo {
  color: $color__white;
  display: flex;
  align-items: center;

  &:hover {
    .app-logo__site-meatball {
      background-image: url('~Images/app-logo_hover.png');
    }
  }

  &__site-logo {
    padding: 0 0 0 1.3rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .route-wrapper--content-page & {
      padding-top: 1rem;
    }
  }

  &__site-meatball {
    display: flex;
    align-items: flex-end;
    background-image: url('~Images/app-logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 center;
    margin-right: 0.5rem;
    transition: background 0.2s ease-in-out;
    cursor: pointer;
    width: 30px;
    height: 24px;
    flex-shrink: 0;

    &:hover {
      background-image: url('~Images/app-logo_hover.png');
    }

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url('~Images/app-logo_2x.png');

      &:hover {
        background-image: url('~Images/app-logo_hover_2x.png');
      }
    }

    .route-wrapper--light & {
      background-image: url('~Images/app-logo_hover.png');

      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url('~Images/app-logo_hover_2x.png');
      }
    }
  }

  &__site-name {
    display: inline-block;
    color: $color__white;
    font-size: 1.125rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 300;

    &:hover {
      text-decoration: none;
      color: $color__white;
    }

    .route-wrapper--light & {
      color: $color__black--800;

      &:hover {
        color: $color__black--800;
      }
    }
  }

  &__site-name-ent--e {
    margin-right: 0.125rem;
    color: rgba($color__white, 0.8)
  }

  &__site-name-ent--s {
    font-weight: 500;
    letter-spacing: 0.06rem;
  }

  &__site-env {
    position: absolute;
    right: 0;
    color: white;
    padding: 0.2rem 0.3rem;
    font-size: 0.625rem;
    background: $color__blue;
    border-radius: 0 0 0 0.125rem;
  }

  &__portal-logo {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 24px;
    max-width: 57px;
    text-indent: inherit;
    margin: 0;
    margin-right: $spacer*0.75;
    transition: background 0.2s ease-in-out;
    flex-shrink: 0;

    img {
      display: block;
      height: 24px;
    }
  }

  &__header-site-area-link {
    display: block;
    position: relative;
    align-self: center;
    margin-left: 0.5rem;
  }

  &__header-site-area-title {
    margin: 0;
    font-weight: 500;
    font-size: 1.125rem;
    color: $color__blue;
  }
}
