@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.panel-group-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  padding: 0;
  border-bottom: 1px solid utils.$color__carbon--20;
  background-color: utils.$color__spacesuit-white;

  &__breadcrumbs {
    display: flex;
    width: 100%;
    border-bottom: 1px solid utils.$color__carbon--20;
    padding: 0.325rem 1rem;
    font-size: 0.825rem;
  }

  &__breadcrumb {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 0.875rem;
    flex-shrink: 0;
    flex-grow: 0;

    &--shrink {
      flex-grow: 0;
      flex-shrink: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    &.btn {
      text-align: start;
    }
  }

  &__breadcrumb-divider {
    position: relative;
    top: 0.025rem;
    padding: 0 0.25rem;
    font-weight: 700;
    font-size: 0.875rem;
    color: utils.$color__carbon--30;
  }

  &__heading {
    margin: 0;
    display: inline;
    font-weight: 700;
    font-size: 1rem;
    vertical-align: middle;
    flex-grow: 1;
    margin: 0.5*bootstrap.$spacer bootstrap.$spacer;

    &--skeleton {
      margin-top: 0.75*bootstrap.$spacer
    }
  }

  &__heading-wrap {
    align-items: center;
    display: flex;
    width: 100%;
  }

  &__more-actions {
    padding: 0.25*bootstrap.$spacer 0.5*bootstrap.$spacer;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__heading-meta {
    height: auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    font-size: 0.725rem;
    border-top: 1px solid utils.$color__carbon--20;

    .panels--md & {
      font-size: 0.825rem;
    }
  }

  &__heading-meta-text {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 500;
  }

  &__heading-meta-primary {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0.625rem 0.5rem 0.625rem  1rem;
    color: utils.$color__carbon--80;
  }

  &__heading-meta-secondary {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 0 0 0 0.75*bootstrap.$spacer;
  }

  &__setting-dropdown {
    height: 100%;
    border-left: 1px solid utils.$color__carbon--30;
    transition: 0.2s ease-in-out;

    &:hover {
      background-color: utils.$color__carbon--10;

      .custom-toggle__icon {
        color: utils.$color__carbon--50;
      }
    }

    .custom-toggle {
      padding: 0 0.75*bootstrap.$spacer;
      height: 100%;
    }

    .custom-toggle__icon {
      flex-shrink: 0;
      font-size: 1rem;
      height: 0.925rem;
      width: 0.925rem;
      transition: 0.2s ease-in-out;

      &.fa-list {
        height: 0.925rem;
      }
    }

    .panels--sm & {
      .radio-setting-dropdown__label {
        display: none;
      }

      // When the panel space is not available hide the icons
      .custom-toggle__icon {
        display: none !important;
      }
    }
  }

  &__heading-secondary {
    display: block;
    margin-bottom: calc(bootstrap.$spacer / 4);
    font-size: 0.825rem;
    color: utils.$color__carbon--90;
  }

  &__heading-primary {
    display: inline;
    vertical-align: middle;
    margin-right: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    color: utils.$color__carbon--70;
    line-height: 1;
  }

  &__heading-badge {
    display: inline;
    vertical-align: middle;
  }


  &__heading-primary-link {
    position: relative;
    display: inline;
    white-space: nowrap;
    padding: 0;
    font-size: 0.875rem;
    vertical-align: middle;
    color: utils.$color__nasa-blue;
  }

  &__heading-primary-link:hover {
    color: utils.$color__nasa-blue;
  }

  &__spinner-export {
    margin: 0 0.75*bootstrap.$spacer;
    border-left: 1px solid utils.$color__carbon--30;
    height: 2rem;
  }
}
