.panel-section {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: $color__white;
  transform: translateX(-100%);
  z-index: 0;
  transition: all 0.3s ease-out;
  transition-delay: 0.2s;

  &--is-open {
    transform: translateX(0%);
  }

  &--is-active {
    z-index: 1;
  }

  > * {
    will-change: opacity;
    transition: opacity 0.1s ease-out;
    opacity: 0;
  }

  .panels--is-active & {
    > * {
      opacity: 1;
    }
  }
}