.panel-group {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: $color__white;
  z-index: 0;
  opacity: 0;

  &--is-active {
    z-index: 1;
  }

  &--is-open {
    opacity: 1;

    .panels--will-minimize & {
      opacity: 0.25;
    }

    .panels--is-minimized & {
      opacity: 0;
    }
  }
}
