.arrow-tags {
  margin: 0;
  margin-bottom: $spacer/4;
  padding: 0;
  list-style: none;

  &__list-item {
    position: relative;
    display: inline-block;
    height: 1.4rem;
    padding: 0 0.5rem 0 1rem;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1.4rem;
    word-wrap: none;
    text-transform: uppercase;
    background-color: #445565;
    vertical-align: bottom;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0.7rem;
      padding: 0 0.75rem 0 0.5rem;
      border: 0.7rem solid transparent;
      border-left-color: $color__white;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 100%;
      width: 0.7rem;
      padding: 0 0.75rem 0 0.75rem;
      border: 0.7rem solid transparent;
      border-left-color: #445565;
      z-index: 1;
    }

    &:first-child {
      padding-left: 0.5rem;
      background-color: #2c3e50;
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;

      &:before {
        display: none;
      }

      &:after {
        border-left-color: #2c3e50;
      }
    }

    &:last-child {
      background-color: #596f83;
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;

       &:after {
         display: none;
       }
    }
  }
}