@use '../../../css/utils';

.timeline {
  position: relative;
  z-index: 3;

  // TODO: These overrides should not be necessary and should be fixed in EDSC-4473
  .edsc-timeline-primary-section__title {
    color: utils.$color__spacesuit-white;
    line-height: 1;
    font-size: 1rem;
    font-weight: 400;
  }

  // TODO: These overrides should not be necessary and should be fixed in EDSC-4473
  .edsc-timeline-primary-section__entry {
    text-shadow:
      1px 1px 0 rgba(utils.$color__carbon-black, 0.75),
      0 0 0.75rem rgba(utils.$color__carbon-black, 0.75);
  }

  &__container {
    display: flex;

    .timeline--is-hidden & {
      display: none;
    }
  }

  &__toggle-button {
    color: utils.$color__carbon--30;

    &:hover,
    &:active {
      color: utils.$color__carbon--5;
      background-color: utils.$color__carbon--90;
    }

    &--open {
      position: absolute;
      bottom: 0;
      z-index: 3;
      background-color: utils.$color__carbon--90;
      font-size: 0.825rem;
      border-radius: 0;
      border-top-right-radius: 0.25rem;
    }

    &--close {
      border-right: 1px solid utils.$color__carbon--70;
      padding: 0.125rem;
      background-color: utils.$color__carbon--90;
      border-top: 1px solid utils.$color__carbon--80;
    }
  }
}
