.collection-results {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;

  &__list {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  &__item {
    display: flex;
    padding: $spacer;
    border-bottom: 1px solid $border-color;
  }

  &__item-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
    width: 85px;
    height: 85px;
    margin-right: $spacer;
    background: $color__black--900;
  }

  &__item-title {
    margin-top: $spacer * 0.25;
    margin-bottom: $spacer * 0.75;
    font-size: 0.8rem;
    font-weight: 700;
  }

  &__item-title-link {
    color: $color__black--900;

    &:hover {
      color: $color__black--900;
    }
  }

  &__item-desc {
    margin-bottom: $spacer * 0.25;
    font-size: 0.75rem;
    color: $color__black--600;
  }

  &__item-attribution {
    background-color: $color__black--400;
    color: $color__white;
  }
}
