.well {
  width: 100%;
  overflow: hidden;
  color: $color__black--800;

  &__main {
    padding: $spacer*1.5;
  }

  &__heading {
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__introduction {
    margin-bottom: 1.5rem;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  &__section {
    margin-bottom: $spacer*1.5;
  }

  &__footer {
    padding: $spacer*1.5;
  }
}