@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.well {
  width: 100%;
  overflow: hidden;
  color: utils.$color__carbon--80;

  &__main {
    padding: bootstrap.$spacer*1.5;
  }

  &__heading {
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__introduction {
    margin-bottom: 1.5rem;

    a {
      color: inherit;
    }
  }

  &__section {
    margin-bottom: bootstrap.$spacer*1.5;
  }

  &__footer {
    padding: bootstrap.$spacer*1.5;
  }
}
