.eddLandingPage {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: center;

  &__imageContainer{
    max-width: 100%;
    max-height: 100%;
    max-width: 50vw;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }

  &__screenshot {
    // float: left;
    height: 500px;
    width: 500px;
  }

  &__appContent{
    flex: 1;
    top: 50%;
    right: 0;
    width: 50%;
    padding: 0 20px;
    max-width: 100%;
    max-height: 100%;
    max-width: 50vw;
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
  }

  &__header-primary {
    position: absolute;
    top: 50;
    left: 0;
  }
  
    &__list-group {
      text-align: left;
      font-size: larger;
      margin: 0;
      padding: 0;
    }

    &__list-item {
      text-align: left;
    }

    &__container {
      position: relative;
      margin-top: 100px;
      text-align: left;
      list-style-position: inside; /* Places the bullets inside the list items */
      position: relative;
      background-color: rgba(204, 204, 204, 0.685);
      display: inline-block;
      padding: 15px;
    }

    &__header {
      position: absolute;
      top: 0;
      left: 10;
      margin: 0;
    }

    &__install_content {
      bottom: 0;
      left: 0;
      position: absolute;
    }

    &__downloaderSize {
      font-weight: 400;
    }

    &__osLinkFileExt {
      font-weight: 400;
      color: #6f6e6e;
      font-style: italic;
    }


  &__other-links{
    display: flex;
    align-items: center; // Vertically centers the items
    justify-content: space-between; // Distributes items evenly along the main axis
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 100px;
    padding: 20px;

  }

  eddLandingPage__repo {
    text-align: center;
    padding: 10px;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    align-items: flex-end;
    
  }

  &__repo{
    position: fixed;
    left: 0;
    margin-bottom: 100;
    bottom: 0;
    width: 10%;
  }

}
