#ornl-daac-logo {
  background-image: url('/images/portals/ornl/ornl-daac-logo-mono.png');

  &:hover {
    background-image: url('/images/portals/ornl/ornl-daac-logo-color.png');
  }

  img {
    visibility: hidden;
  }
}
