.master-overlay-panel {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  z-index: -1;
}

.master-overlay-panel-group-header {
  position: relative;
  padding: 95px 15px 15px;
  border-bottom: 1px solid #ddd;
}

.master-overlay-panel-group-heading {
  margin: 0;
}

.master-overlay-panel-group-heading-primary {
  display: block;
  font-weight: normal;
  font-size: 18px;
}

.master-overlay-panel-group-heading-secondary {
  display: block;
  font-weight: bold;
  font-size: 14px;
}

.master-overlay-panel-group-close {
  position: absolute;
  top: 25px;
  right: 5px;
  background: none;
  font-size: 20px;
  color: #999;

  &:hover {
    background: none;
    color: #666;
  }
}

.master-overlay-panel-group-back {
  position: absolute;
  top: 36px;
  left: 15px;
}

.master-overlay-panel-group {
  overflow: hidden;
  position: absolute;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100%;
  transform: translateX(-100%);
  box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.0);
  transition: all 0.2s ease-in-out;
}

.master-overlay-panel-panels {
  position: relative;
  flex-grow: 1;
}

.master-overlay-panel-group-active {
  box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.15);
  transform: translateX(0);
}

.master-overlay-panel-item {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  transform: translateX(-100%);
  opacity: 0.35;
  transition: all 0.2s ease-in-out;

  .master-overlay-panel-group-active & {
    opacity: 1;
  }
}

.master-overlay-panel-item-active {
  transform: translateX(0);
}

.master-overlay-panel-item-content {
  display: none;
  padding: 15px;

  .master-overlay-panel-initialized & {
    display: block;
  }
}
