.contact-info-form {
  border-radius: 5px;
  padding: 30px;
  border-color: #e3e3e3;
  color: #333333;

  &__list {
    list-style: none;
    padding: 0;

    &__item {
      margin: 10px, 0;
      display: list-item;
    }
  }

  &__label {
    display: inline-block;
    min-width: 200px;
    font-weight: bold;
  }
}
