.button {
  vertical-align: middle;

  &:disabled {
    cursor: not-allowed;
  }

  &--naked {
    padding: 0;
  }

  &--full {
    width: 100%;
  }

  &--link {
    padding: 0;
    display: inline;
    vertical-align: inherit;
    border: 0;
    line-height: 1em;
  }

  &__contents {
    vertical-align: initial;
    display: inherit;
    line-height: 1.5em;
    display: inline-flex;
    align-items: center;

    .button--link & {
      vertical-align: baseline;
      line-height: 1;
    }

    .button--svg & {
      vertical-align: top;
      line-height: 1em;
    }
  }

  &__icon {
    position: relative;
    display: inline-block;
    line-height: 1.5em;

    .button--naked & {
      vertical-align: text-bottom;
    }

    .button--icon-right & {
      margin-left: $spacer/2;
      margin-right: 0;
    }

    &--push {
      margin-right: 0.325rem;
    }

    .button--link & {
      display: inline;
      vertical-align: bottom;
      line-height: 1em;
      margin-right: $spacer/4;
    }

    .button--svg & {
      line-height: 1em;
    }
  }

  &__badge {
    margin-left: $spacer/3;
    background-color: rgba($color__black, 0.5);
    border-radius: 1em;
    vertical-align: middle;
  }
}
