@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.project-collections {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  background-color: utils.$color__spacesuit-white;

  &__download-button {
    height: 2.375rem;
  }

  &__footer {
    flex-shrink: 0;
    padding: calc(bootstrap.$spacer / 2);
    border-top: 1px solid bootstrap.$border-color;
    border-right: 1px solid bootstrap.$border-color;
  }

  &__footer-message {
    margin-bottom: calc(bootstrap.$spacer / 2);
    font-size: 0.825rem;
    color: utils.$color__carbon--60;
  }

  .simplebar-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
