.footer-link {
  &__info-bit {
    margin-left: 0.55rem;
    color: $color__blue--light;
    vertical-align: middle;

    &:before {
      display: inline-block;
      transform: translate(-0.275rem,-.165rem) scale(0.5);
      content: '\f111';
      font-family: 'FontAwesome';
      color: $color__white;
      font-size: 3px;
    }
  }

  &__info-bit--clean {
    margin-left: 0;

    &:before {
      display: none;
    }
  }

  &__info-bit--emph {
    color: $color__white;
  }

  &__info-link {
    white-space:nowrap;
    color: $color__blue--light;

    &__info-bit--emph & {
      color: $color__white;
    }

    &:hover {
      color: $color__blue--light;
      text-decoration: none;

      &__info-bit--emph & {
        color: $color__white;
      }
    }
  }

  &__info-link--underline {
    text-decoration: underline;
  }
}
