.footer-link {
  &__info-bit {
    margin-left: 0.55rem;
    color: $color__spacesuit-white;
    vertical-align: middle;

    &:before {
      display: inline-block;
      transform: translate(-0.275rem,-.165rem) scale(0.5);
      content: '\f111';
      font-family: 'FontAwesome';
      color: $color__spacesuit-white;
      font-size: 3px;
    }
  }

  &__info-bit--clean {
    margin-left: 0;

    &:before {
      display: none;
    }
  }

  &__info-bit--emph {
    color: $color__spacesuit-white;
    text-decoration-color: $color__spacesuit-white;
  }

  &__info-link {
    white-space:nowrap;
    color: $color__spacesuit-white;

    .footer-link__info-bit--emph & {
      color: $color__spacesuit-white;
      text-decoration-color: $color__spacesuit-white;

      &:hover {
        color: $color__spacesuit-white;
        text-decoration-color: $color__spacesuit-white;
      }
    }

    &:hover {
      color: $color__spacesuit-white;
      text-decoration: none;

      &__info-bit--emph & {
        color: $color__spacesuit-white;
      }
    }
  }
}
