<section id="base_css">
<div style="background-color: #fff; width: 1000px; margin: 1em auto; padding: 1em;">
  <h1>Base CSS</h1>
  <section id="headings">
    <h2>Headings</h2>
    <div class="docs-example">
      <h1>h1. Heading 1</h1>
      <h2>h2. Heading 2</h2>
      <h3>h3. Heading 3</h3>
      <h4>h4. Heading 4</h4>
      <h5>h5. Heading 5</h5>
      <h6>h6. Heading 6</h6>
      <hgroup>
        <h1>hgroup h1. Heading 1</h1>
        <h2>hgroup h2. Heading 2</h2>
      </hgroup>
    </div>
  </section>
  <!-- These are intentionally hidden.  They're styled by CSS reset. -->
  <section id="unused-defaults" style="display:none">
    <audio>This is an &lt;audio&gt;</audio>
    <video>This is an &lt;audio&gt;</video>
    <canvas>This is a &lt;canvas&gt;</canvas>
    <svg></svg>
  </section>
  <section id="defaults">
    <h2>Default styles</h2>
    <div class="docs-example">
      <article>This is an &lt;article&gt;</article>
      <aside>This is an &lt;aside&gt;</aside>
      <details>This is a &lt;details&gt;</details>
      <figure>
        This is a &lt;figure&gt;
        <figcaption>And this is its &lt;figcaption&gt;</figcaption>
      </figure>
      <footer>This is a &lt;footer&gt;</footer>
      <header>This is a &lt;header&gt;</header>
      <main>This is a &lt;main&gt;</main>
      <nav>This is a &lt;nav&gt;</nav>
      <summary>This is a &lt;summary&gt;</summary>
      <div hidden="hidden">This is hidden</div>
      <form>
        <fieldset>
          <legend>This is a legend in a form fieldset</legend>
          <button>This is a &lt;button&gt;</button><br>
          <button disabled="disabled">This is a disabled &lt;button&gt;</button><br>
          This is an &lt;input&gt;: <input><br>
          This is a disabled &lt;input&gt;: <input disabled="disabled"><br>
          This is an &lt;input&gt; button: <input type="button"><br>
          This is a reset: <input type="reset"><br>
          This is a submit: <input type="submit"><br>
          This is a search input: <input type="search"><br>
          This is a checkbox: <input type="checkbox"><br>
          This is a password input: <input type="password"><br>
          This is a text input: <input type="text"><br>
          This is a radio: <input type="radio"><br>
          <label>this is a label</label><br>
          <select>
            <optgroup>
              <option>This is a &lt;select&gt; option</option>
            </optgroup>
          </select><br>
          <textarea>This is a &lt;textarea&gt;</textarea><br>
        </fieldset>
        <p>This is a paragraph within a form</p>
      </form>
      <a>This is an &lt;a&gt;</a>
      <abbr title="This is the abbr title">This is an &lt;abbr&gt;</abbr>
      <b>This is a &lt;b&gt;</b>
      <strong>This is a &lt;strong&gt;</strong>
      <blockquote>This is a &lt;blockquote&gt;</blockquote>
      <dfn>This is a &lt;dfn&gt;</dfn>
      This is a &lt;hr&gt;:<hr>
      <mark>This is a &lt;mark&gt;</mark>
      <code>This is a &lt;code&gt;</code>
      <kbd>This is a &lt;kbd&gt;</kbd>
      <samp>This is a &lt;samp&gt;</samp>
      <q>This is a &lt;q&gt;</q>
      <small>This is a &lt;small&gt;</small>
      <sub>This is a &lt;sub&gt;</sub>
      <sup>This is a &lt;sup&gt;</sup>
      <dl>
        <dt>This is a &lt;dt&gt;</dt>
        <dd>This is a &lt;dt&gt;</dd>
      </dl>
      <menu>This is a &lt;menu&gt;</menu>
      <ol>
        <li>This is an ordered list item</li>
        <li>This is another ordered list item</li>
      </ol>
      <ul>
        <li>This is an unordered list item</li>
        <li>This is another unordered list item</li>
      </ul>
      <nav>
        <ol>
          <li>This is an ordered list item in a nav</li>
          <li>This is another ordered list item in a nav</li>
        </ol>
        <ul>
          <li>This is an unordered list item in a nav</li>
          <li>This is another unordered list item in a nav</li>
        </ul>
      </nav>
      <table>
        <tr><th>This is a header in a table</th></tr>
        <tr><td>This is a cell in a table</td></tr>
      </table>
      <img alt="This is an image">
      <template>This is a template</template>
      This is a progress element: <progress></progress>
    </div>
  </section>
  <section id="body_text">
    <h2>Body text</h2>
    <div class="docs-example">
      <p>
        It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'! I am the Doctor, and you are the Daleks! Aw, you're all Mr. Grumpy Face today. They're not aliens, they're Earth&hellip;liens! Bow ties are cool! Come on Amy, I'm a normal bloke, tell me what normal blokes do! Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you?
      </p>
    </div>
    <pre class="docs-example-pretty">
      &lt;p&gt;&hellip;&lt;/p&gt;
    </pre>
  </section>
</div>
</section>
