<div class="banner banner-error">
  <a class="banner-close" href="#" title="close"><i class="fa fa-times-circle"></i></a>
  <h1 class="banner-title">Banner title</h1>
  <p class="banner-message">Banner message <a href="#">With a link</a></p>
</div>

<div style="background-color: #fff; width: 1000px; margin: 1em auto; padding: 1em;">
<h1>General Styles</h1>

<h2>Icons</h2>
<ul>
  <li><i class=" edsc-icon-rect"></i> Rectangle</li>
  <li><i class="edsc-icon-poly"></i> Polygon</li>
  <li><i class="edsc-icon-poly-open"></i> Open polygon</li>
  <li><i class="edsc-icon-rect-open"></i> Open rectangle</li>
  <li><i class="edsc-icon-globe-grid"></i> Globe</li>
</ul>

<h2>Button Styles</h2>
<h3>Normal</h3>
<a href="#" class="button text-button">Normal Button</a>
<a href="#" class="button text-button button-active">Active Button</a>
<a href="#" class="button text-button button-highlighted">Highlighted Button</a>
<a href="#" class="button text-button button-disabled">Disabled Button</a>
<h3>Low Priority Buttons</h3>
<a href="#" class="button text-button low-priority">Normal Button</a>
<a href="#" class="button text-button low-priority button-active">Active Button</a>
<a href="#" class="button text-button low-priority button-highlighted">Highlighted Button</a>
<a href="#" class="button text-button low-priority button-disabled">Disabled Button</a>
<h3>Small Buttons</h3>
<a href="#" class="button text-button button-small">Normal Button</a>
<a href="#" class="button text-button button-small button-active">Active Button</a>
<a href="#" class="button text-button button-small button-highlighted">Highlighted Button</a>
<a href="#" class="button text-button button-small button-disabled">Disabled Button</a>
<h3>Outline Buttons</h3>
<a href="#" class="button text-button button-small button-outline button-outline-light">Normal Button</a>
<a href="#" class="button text-button button-small button-outline button-outline-light button-active">Active Button</a>
<a href="#" class="button text-button button-small button-outline button-outline-light button-highlighted">Highlighted Button</a>
<a href="#" class="button text-button button-small button-outline button-outline-light button-disabled">Disabled Button</a>
<h3>Icon Buttons</h3>
<a href="#" class="button icon-button" title="Normal button"><i class="edsc-icon-poly"></i></a>
<a href="#" class="button icon-button button-disabled" title="Disabled button"><i class="edsc-icon-poly"></i></a>
<a href="#" class="button icon-button button-active" title="Active button"><i class="edsc-icon-poly"></i></a>
<a href="#" class="button icon-button button-highlighted" title="Highlighted button"><i class="edsc-icon-poly"></i></a>

<h2>Order States</h2>
<span class="order-state processing">processing</span>
<span class="order-state validated">validated</span>
<span class="order-state quoted">quoted</span>
<br>
<br>
<span class="order-state canceled">canceled</span>
<span class="order-state cancelling">cancelling</span>
<span class="order-state submit_rejected">submit_rejected</span>
<span class="order-state submit_failed">submit_failed</span>
<span class="order-state quote_rejected">quote_rejected</span>
<span class="order-state quote_failed">quote_failed</span>
<span class="order-state not_validated">not_validated</span>

</div>
