<script>
// Hidden by default
document.body.parentNode.className = '';
</script>

<div class="is-landing">
  <div class="landing-area landing-visible">
    <div class="landing-dialog">
      <div class="landing-dialog-header">
        <a href="#" class="show-tour">Site tour link</a>
        <h2>Landing header</h2>
        <p>Landing body</p>
      </div>
      <div class="landing-dialog-toolbar toolbar">
      Toolbar
      </div>
      <div class="landing-dialog-actions">
        <a href="#collections-overlay" class="button text-button">Action</a>
        <p>Action description</p>
      </div>
    </div>
  </div>
</div>
