<% content_for :toolbar_secondary do %>
<a class="button" href="#">Secondary</a>
<% end %>

<% content_for :toolbar do %>
<div class="landing-toolbar-container">
<input class="tt-query">
<input type="button" value="Button">
<input type="submit" value="Submit">
<input type="reset" value="Reset">
<a class="button" href="#">Link Button</a>
<a class="button low-priority" href="#">Low Priority Button</a>
</div>
<% end %>
