.granule-results-highlights {
  &__count {
    padding: 0.25rem 0.75rem;
    color: $color__carbon--70;
    font-size: 0.75rem;
    background-color: $color__carbon--10;
    border-bottom: 1px solid $color__carbon--20;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    border-bottom: 1px solid $color__carbon--20;
    color: $color__carbon--70;
  }

  &__item-header {
    padding: 0.75rem 0.75rem 0.5rem;
  }

  &__item-title {
    margin: 0;
    font-size: 0.825rem;
    word-break: break-all;
  }

  &__temporal-row {
    padding: 0.25rem 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    color: $color__carbon--70;
    background-color: rgba($color__active-green, 0.2);

    &--start {
      background-color: rgba(39, 174, 96, 0.1);

      h5 {
        color: $color__active-green;
      }
    }

    &--end {
      background: rgba(192, 57, 43, 0.1);

      h5 {
        color: $color__nasa-red;
      }
    }
  }

  &__temporal-label {
    margin: 0;
    font-size: 0.725rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color__carbon--50;
  }

  &__temporal-value {
    margin: 0;
    font-size: 0.75rem;
  }

  &__footer {
    padding: 0.325rem;
    text-align: center;
  }
}
