@import "static/src/css/main";
.granule-results-highlights {
  &__count {
    padding: 0.25rem 0.75rem;
    color: $color__black--700;
    font-size: 0.75rem;
    background-color: $color__black--100;
    border-bottom: 1px solid $color__black--200;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    border-bottom: 1px solid $color__black--200;
    color: $color__black--700;
  }

  &__item-header {
    padding: 0.75rem 0.75rem 0.5rem;
  }

  &__item-title {
    margin: 0;
    font-size: 0.825rem;
    word-break: break-all;
  }

  &__temporal-row {
    padding: 0.25rem 0.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.75rem;
    color: $color__black--700;
    background-color: rgba($color__green, 0.2);

    &--start {
      background-color: rgba(39, 174, 96, 0.1);

      h5 {
        color: #27ae60;
      }
    }

    &--end {
      background: rgba(192, 57, 43, 0.1);

      h5 {
        color: #c0392b;
      }
    }
  }

  &__temporal-label {
    margin: 0;
    font-size: 0.725rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color__black--500;
  }

  &__temporal-value {
    margin: 0;
    font-size: 0.75rem;
  }

  &__footer {
    padding: 0.325rem;
    text-align: center;
  }
}
