.secondary-overlay-panel {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $color__black--800;
  color: $color__black--200;
  box-shadow: 0 0 1rem rgba($color__black--900, 0.35);
  z-index: 2;
  transform: translateX(100%);
  transition: all 0.2s ease-in-out;

  @include media-breakpoint-up(sm) {
    width: 30rem;
  }

  @include media-breakpoint-up(md) {
    width: 43.75rem;
  }

  &--is-open{
    transform: translateX(0%);
  }

  h1, h2, h3, h4, h5, h6 {
    color: $color__black--100;
  }

  &__header {
    padding: $spacer;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $spacer/4;
  }

  &__close-button {
    font-size: 1.25rem;
    line-height: 1rem;
    color: $color__black--300;
  }

  &__body {
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    padding: $spacer;
    background-color: $color__black--700;
  }

  &__footer {
    padding: $spacer/2 $spacer;
  }
}