.customizable-icons {
  border-bottom: 1px solid $border-color;

  &__icon {
    margin-right: 0.25rem;
    position: relative;
    top: -0.05rem;

    &:last-child {
      margin-right: 0;
    }
  }


  // TODO these get removed or moved over
  &__tooltip {
    font-size: 0.75rem;
  }

  &__tooltip-feature-list {
    width: auto;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  &__tooltip-feature-icon {
    margin-right: 0.325rem;
    color: $color__carbon--30;
  }
}
