.granule-details-header {
  &__primary {
    padding: 0.5rem 1rem;
  }

  &__title {
    display: inline;
    margin-right: 0.75rem;
    font-weight: 700;
    font-size: 1rem;
    vertical-align: middle;
    word-break: break-all;
  }
}