.granule-details-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $color__black--100;

  .nav-tabs {
    font-size: 0.925rem;
    background-color: $color__black--100;

    .nav-link:not(.active):hover {
      border: 1px solid transparent;
    }

    .nav-link.active {
      color: $color__black--700;
      background-color: $color__white;
      border-bottom-color: transparent;
    }
  }

  .tab-content {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    background-color: $color__white;
    overflow-y: scroll;
    overflow-x: scroll;
  }

  .tab-content > .active {
    position: relative;
    display: flex;
    width: 100%;
  }

  .tab-pane {
    padding: $spacer;
  }
}
