@use '../../../css/vendor/bootstrap/configuration' as bootstrap;

.order-progress-list {
  list-style: none;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
  margin-top: bootstrap.$spacer;
  padding: 0;
}
