@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.order-progress-item {
  margin-bottom: bootstrap.$spacer*1.5;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header-primary {
    display: flex;
    align-items: center;
  }

  &__processed {
    margin-right: calc(bootstrap.$spacer / 4);
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-bottom: 0;
    font-size: 0.825rem;
    color: utils.$color__carbon--50;
  }

  &__bar {
    margin-top: calc(bootstrap.$spacer / 2);

    .progress-bar {
      background-color: utils.$color__nasa-blue;
      border: 1px solid darken(utils.$color__nasa-blue, 20)
    }
  }

  &__badge {
    margin-left: calc(bootstrap.$spacer / 2);
    color: utils.$color__spacesuit-white;
    background-color: utils.$color__nasa-blue;

    &--complete {
      background-color: utils.$color__active-green;
    }

    &--failed {
      background-color: utils.$color__nasa-red--shade;
    }
  }
}
