.order-progress-item {
  margin-bottom: $spacer*1.5;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header-primary {
    display: flex;
    align-items: center;
  }

  &__processed {
    margin-right: $spacer/4;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-bottom: 0;
    font-size: 0.825rem;
    color: $color__black--500;
  }

  &__bar {
    margin-top: $spacer/2;

    .progress-bar {
      background-color: $color__indigo;
      border: 1px solid darken($color__indigo, 20)
    }
  }

  &__badge {
    margin-left: $spacer/2;
    color: $color__white;
    background-color: $color__indigo;

    &--complete {
      background-color: $color__green;
    }

    &--failed {
      background-color: $color__red;
    }
  }
}