.order-progress-item {
  margin-bottom: $spacer*1.5;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header-primary {
    display: flex;
    align-items: center;
  }

  &__processed {
    margin-right: calc($spacer / 4);
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__title {
    margin-bottom: 0;
    font-size: 0.825rem;
    color: $color__carbon--50;
  }

  &__bar {
    margin-top: calc($spacer / 2);

    .progress-bar {
      background-color: $color__nasa-blue;
      border: 1px solid darken($color__nasa-blue, 20)
    }
  }

  &__badge {
    margin-left: calc($spacer / 2);
    color: $color__spacesuit-white;
    background-color: $color__nasa-blue;

    &--complete {
      background-color: $color__active-green;
    }

    &--failed {
      background-color: $color__nasa-red;
    }
  }
}
