.data-quality-summary {
  &__panel {
    background-color: $color__pale-yellow;
    border-bottom: 1px solid $color__pale-yellow--dark;

    .collapse-panel__button {
      width: 100%;
      padding: $spacer/2 $spacer;
      background-color: transparent;
      font-size: 0.825rem;
      font-weight: 300;
      border: none;
      color: rgba($color__black, 0.75);

      &:hover {
        background-color: $color__pale-yellow--dark;
      }

      &:focus {
        outline: 3px solid $color__pale-yellow--dark;
      }
    }

    .collapse-panel__button-primary {
      display: flex;
      align-items: center;
    }

    .collapse-panel__button-secondary {
      color: rgba($color__black, 0.4)
    }

    .collapse-panel__panel {
      position: absolute;
      width: 100%;
      max-height: 100px;
      overflow-x: scroll;
      background-color: $color__pale-yellow;
      border-bottom: 1px solid $color__pale-yellow--dark;
      padding: $spacer/2 $spacer;
      font-size: 0.825rem;
      font-weight: 300;

      @media (min-height: 700px) {
        max-height: 300px;
      }

      @media (min-height: 800px) {
        max-height: 400px;
      }
    }
  }

  &__icon {
    margin-right: 0.5rem;
    color: rgba($color__black, 0.75);    width: 0.725rem;
    height: 0.725rem;
  }
}
