.access-method {
  &__radio-tooltip.fa {
    margin-left: calc($spacer / 4);
    font-size: 0.875rem;
    color: $color__carbon--40;
  }

  &__section-intro,
  p.access-method__section-intro {
    margin-bottom: calc($spacer / 2)
  }

  &__section-status {
    font-weight: 700;
    font-style: italic;
    color: $color__carbon--40;
  }

  &__echoform-loading {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__harmony-method-info {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  &__documentation-icon {
    margin-right:   calc($spacer / 3);
    margin-bottom: calc($spacer / 4);
  }

  &__external-link-icon {
    margin-left:   calc($spacer / 3);
    margin-bottom:   calc($spacer / 3);
  }
}

.harmony-select-trigger {
  position: relative;
  width: 24.5rem;
  border-radius: $border-radius;
  border: 1px solid $color__carbon--20;
  padding-left: $spacer;
  padding-right: $spacer*2;
  font-size: 0.81rem;
  line-height: 1;
  height: 2.1rem;
  background-color: $color__spacesuit-white;
  margin-bottom: calc($spacer / 2);
  margin-left: $spacer;

  &:hover {
    background-color: $color__carbon--10;
  }
}

.harmony-select-icon {
  position: absolute;
  top: 0.6rem;
  right: 0.75rem;
}

.harmony-select-trigger > span:first-child {
  position: relative;
  display: inline-block;
  width: 21.375rem;
  top: 0.05rem;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.harmony-select-content {
  overflow: hidden;
  background-color: $color__spacesuit-white;
  border-radius: $border-radius;
  box-shadow: 0rem 0.7rem 2rem -0.5rem rgba($color__carbon--80, 0.4);
  z-index: 100;
  width: 27.125rem;
}

.harmony-select-viewport {
  padding: 0;
  max-height: 17.5rem; // Enough for three services if they have short descriptions
}

.harmony-select-item {
  line-height: 1;
  display: flex;
  align-items: center;
  height: auto;
  position: relative;
  user-select: none;
}

.harmony-select-item[data-highlighted] {
  outline: none;
  background-color: $color__carbon--10;
}

.harmony-scroll-area-root {
  --scrollbar-size: 0.625rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.harmony-scroll-area-viewport {
  width: 100%;
  height: 100%;
}

.harmony-scroll-area-scrollbar {
  padding: 0.125rem;
  width: var(--scrollbar-size);
}

.harmony-scroll-area-thumb {
  background: $color__carbon--30;
  border-radius: $border-radius;
  position: relative;
  flex: 1;
}
