$trigger-width: 400px;

.SelectTrigger {
  width: $trigger-width;
  border-radius: 4px;
  border: 1px solid $color__black--200;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: $color__white;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  &:hover {
    background-color: $color__black--100;
  }
}

.SelectIcon {
  float: right;
}

.SelectTrigger > span:first-child {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(#{$trigger-width} - 50px);
}

.SelectContent {
  overflow: hidden;
  background-color: $color__white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  z-index: 100;
  width: 434px;
}

.SelectViewport {
  padding: 0px;
  max-height: 275px; // Enough for three services if they have short descriptions
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: auto;
  position: relative;
  user-select: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: $color__black--200;
}

/* scroll area */

.ScrollAreaRoot {
  width: 100%;
  height: 100%;
  --scrollbar-size: 10px;
  overflow: hidden;
}

.ScrollAreaViewport {
  width: 100%;
  height: 100%;
}

.ScrollAreaScrollbar {
  display: flex;
  user-select: none;
  padding: 2px;
  &[data-orientation='vertical'] {
    width: var(--scrollbar-size);
  }
}

.ScrollAreaThumb {
  background: $color__black--300;
  border-radius: 3px;
  position: relative;
  flex: 1;
}
