@import '@radix-ui/colors/black-alpha.css';

/* reset */
button {
  all: unset;
}

.SelectTrigger {
  display: box;
  align-items: center;
  justify-content: left;
  width: 400px;
  border-radius: 4px;
  border: 1px solid #dcdee0; /* color__black--200 */
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 35px;
  gap: 5px;
  background-color: white;
  margin-bottom: 0.5rem;
}
.SelectTrigger:hover {
  background-color: #f3f3f3; /* $color__black--100 */
}

.SelectIcon {
  float: right;
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  z-index: 100;
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: auto;
  position: relative;
  user-select: none;
}

.SelectItem[data-highlighted] {
  outline: none;
  background-color: #f3f3f3; /* $color__black--100 */
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  cursor: default;
}
