$trigger-width: 24.5rem;

.select-trigger {
  width: $trigger-width;
  border-radius: $border-radius;
  border: 1px solid $color__black--200;
  padding: 0 $spacer;
  font-size: 0.81rem;
  line-height: 1;
  height: 2.1rem;
  background-color: $color__white;
  margin-bottom: $spacer/2;
  margin-left: $spacer;

  &:hover {
    background-color: $color__black--100;
  }
}

.select-icon {
  float: right;
}

.select-trigger > span:first-child {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(#{$trigger-width} - 3.125rem);
}

.select-content {
  overflow: hidden;
  background-color: $color__white;
  border-radius: $border-radius;
  box-shadow: 0rem 0.7rem 2rem -0.5rem rgba($color__black--800, 0.4);
  z-index: 100;
  width: 27.125rem;
}

.select-viewport {
  padding: 0;
  max-height: 17.5rem; // Enough for three services if they have short descriptions
}

.select-item {
  line-height: 1;
  display: flex;
  align-items: center;
  height: auto;
  position: relative;
  user-select: none;
}

.select-item[data-highlighted] {
  outline: none;
  background-color: $color__black--100;
}

/* scroll area */

.scroll-area-root {
  --scrollbar-size: 0.625rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scroll-area-viewport {
  width: 100%;
  height: 100%;
}

.scroll-area-scrollbar {
  padding: 0.125rem;

  &[data-orientation='vertical'] {
    width: var(--scrollbar-size);
  }
}

.scroll-area-thumb {
  background: $color__black--300;
  border-radius: $border-radius;
  position: relative;
  flex: 1;
}
