.nowrap {
    text-wrap: nowrap;
  }
  
  .mb-3 {
    white-space: nowrap;
  }

.swodlr-advanced-options-container {
    display: flex;
  }
  
  .swodlr-advanced-options-item {
    flex: 1;
  }

  .table td, .table th {
    padding: .625rem;
  }

  .swodlr-tooltip {
    width: 20rem;
  }