.swodlr-form {

&__advanced-options-container {
    display: flex;
  }
  
  &__advanced-options-item {
    flex-grow: 0;
    flex-shrink: 0;
    z-index: 1;
    position: relative;

    .collapse-panel__button {
      width: 100%;
      padding: $spacer;
      border: 0;
      border-top: 1px solid $color__black--200;
      background: none;
      outline: none;
      color: $color__black--500;
      text-align: left;
      padding: 0.825rem;


      &:hover {
        color: $color__black--600;
      }
    }

    .collapse-panel__panel {
      border-top: 1px solid $color__black--200;
    }
  }

  &__table-td {
    white-space: nowrap;
    padding: 0.25rem 0.625rem !important;
  }

  &__table-th {
    border: 0 !important;
    white-space: nowrap;
    padding: 0 .625rem !important;
  }

  &__table-td-granule-id {
    font-size: 0.825rem;
    padding: 0 .625rem !important;
  }

  &__tooltip {
    width: 20rem;
  }

  &__info-icon {
    vertical-align: baseline;
    padding-left: 0 !important;
  }

  &__col {
    padding-right: 3rem;
  }

  &__form-group {
    display: flex;
    align-items: baseline;
    gap: 0.825rem;
    white-space: nowrap;
  }

  &__card-body { 
    padding: 0.5rem;
    padding-top: 1.5rem;
  }

  &__raster-resolution-drp-down{
    width: 60%;
  }
  
  &__granule-extent {
    white-space: nowrap;
  }

  &__sample-grid {
    white-space: nowrap;
  }
}
