.granule-filters-header {
  &__primary {
    margin-left: $spacer/2;
    display: inline-block;
    font-size: 1rem;
  }

  &__secondary {
    display: block;
    font-size: 1.125rem;
    font-weight: 700;
  }
}
