.granule-filters-item {
  padding: 0.5*$spacer;
  border-bottom: 1px solid $color__black--700;

  &__heading {
    font-size: 0.825rem;;
    font-weight: 700;
  }

  &__description {
    font-size: 0.825rem;
    margin-bottom: $spacer/2;
  }

  .form-group {
    margin: 0;
  }
}
