@use '../../../css/vendor/bootstrap/configuration' as bootstrap;
@use '../../../css/utils';

.granule-filters-form {
  &__item {
    display: flex;
    align-items: center;
  }

  &__item-button {
    margin-left: calc(bootstrap.$spacer / 2);
    padding: 0.075rem 0.425rem;
    background-color: utils.$color__nasa-blue--shade;
    border-color: utils.$color__nasa-blue--shade;

    &:hover {
      background-color: darken(utils.$color__nasa-blue--shade, 5);
      border-color: darken(utils.$color__nasa-blue--shade, 5);
    }
  }

  ::placeholder {
    color: utils.$color__carbon--30;
    opacity: 1;
  }

  &__item-meta {
    font-size: 0.775rem;
    margin-bottom: 0;
  }

  &__readable-granule-name-tooltip-title {
    color: utils.$color__carbon--30;
    font-size: 0.825rem;
  }

  &__readable-granule-name-tooltip-list {
    list-style-position: inside;
    padding-left: 0.5rem;
  }
}
